.accordion {
	--bs-accordion-color: var(--bs-ql-info-600);
	--bs-accordion-bg: var(--bs-white);
	--bs-accordion-border-color: var(--bs-ql-info-200);
	--bs-accordion-btn-color: var(--bs-accordion-color);
	--bs-accordion-btn-bg: var(--bs-accordion-bg);
	--bs-accordion-active-color: var(--bs-ql-info-700);
	--bs-accordion-active-bg: var(--bs-body-bg);
}
.accordion {
	.accordion-button {
		// align-items: center;
		&::after {
			content: $accordion-button-icon;
			font-family: "icons";
			font-size: $accordion-icon-width;
			line-height: 1;
			color: var(--bs-ql-info-600);
			width: $accordion-icon-width;
			height: $accordion-icon-width;
		}
	}
}
.qela-accordion {
	&.accordion-flush {
		.accordion-item {
			border-radius: 0;
			border: none;
			overflow: visible;
			&:not(:last-child) {
				margin-bottom: rem(2);
			}
		}
		.accordion-button {
			border-radius: 0;
			&:hover {
				z-index: 3;
			}
			&:not(.collapsed) {
				border-radius: 0;
			}
		}
	}
	.accordion-item {
		border-top: 1px solid var(--bs-accordion-border-color);
		overflow: hidden;
		border-radius: 8px;
		&:not(:last-child) {
			margin-bottom: 0.25rem;
		}

		&.success {
			border-top: 1px solid var(--bs-ql-success-300);
			border-color: var(--bs-ql-success-300);

			.accordion-button {
				color: var(--bs-ql-success-600);
				gap: 0.5rem;

				&::after {
					color: var(--bs-ql-success-600);
				}

				[class*="ic-"] {
					display: block;
					color: var(--bs-success);
				}

				@media (any-hover: hover) {
					&:hover {
						color: var(--bs-ql-success-600);

						&::after {
							color: var(--bs-ql-success-600);
						}
					}
				}
				&:focus {
				}
			}
		}
	}

	.accordion-button {
		border-radius: 7px;
		font-weight: 500;
		position: relative;
		// align-items: flex-start;
		gap: 8px;
		&::after {
			transition: all 0.25s ease 0s;
		}
		&:focus {
			color: var(--bs-ql-info-700);
			&::after {
				color: var(--bs-ql-info-600);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: var(--bs-secondary);
				&::after {
					color: var(--bs-secondary);
				}
			}
		}
		&:not(.collapsed) {
			border-radius: 7px 7px 0 0;
			box-shadow: none;
		}
		[class*="ic-"] {
			display: none;

			&::before {
				font-size: 1rem;
			}
		}
		.badge {
			position: absolute;
			left: 9px;
			top: 0;
			transform: translateY(-50%);
			z-index: 3;
		}
	}

	.accordion-body {
	}

	&.small {
		.accordion-button {
			font-size: rem(14);
			padding: rem(8) rem(8) rem(8) rem(16);
			&::after {
				font-size: rem(16);
				width: rem(16);
				height: rem(16);
			}
		}
	}
	.qela-tab {
		.nav-tabs {
			flex: 1 1 auto;
			border: none;
			padding: 0;
		}
	}
}
.qela-accordion-shop {
	--bs-accordion-btn-icon-width: 1.5rem;
	--bs-accordion-bg: transparent;
	--bs-accordion-body-padding-y: 0;
	--bs-accordion-body-padding-x: 0;
	&.accordion-flush {
		.accordion-item {
			&:not(:last-child) {
				margin-bottom: 0;
			}
		}
	}
	.accordion-button {
		&:not(.collapsed) {
			.qela-btn-ic {
				transform: rotate(-180deg);
			}
		}

		&::after {
			display: none;
			background: none;
		}
		i {
			&:first-child {
				&::before {
					font-size: rem(24);
				}
			}
		}
		.qela-btn-ic {
			transition: transform 0.25s ease 0s;
			&::before {
				font-size: rem(24);
			}
		}
	}
	.accordion-item {
		&:last-child {
			.accordion-body {
				> div {
					&:last-child {
						border-radius: 0 0 6px 6px;
					}
				}
			}
		}
	}

	.drag {
		border-bottom: 1px solid var(--bs-ql-info-300);
		border-top: 1px solid var(--bs-ql-info-300);
		box-shadow: 0 4px 34px 0 color-mix(in srgb, var(--bs-black), transparent 85%);
		opacity: 0.5;
		transition: all 0.2s ease 0s;
	}
}
