.qela-alert {
	position: relative;
	letter-spacing: 0.2px;
	border-width: 1px;
	border-style: solid;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 16px;
	line-height: 130%;
	&.alert {
		--bs-alert-color: var(--bs-ql-info-900);
		span {
			&[class*="ic-"] {
				position: absolute;
				left: 1rem;
				top: 1rem;
			}
		}
	}
	&.alert-secondary {
		background-color: var(--bs-ql-secondary-200);
		border-color: var(--bs-ql-secondary-400);
	}
	&.alert-danger {
		background-color: var(--bs-ql-danger-200);
		border-color: var(--bs-ql-danger-400);
	}

	&.alert-warning {
		background-color: var(--bs-ql-warning-200);
		border-color: var(--bs-ql-warning-400);
	}
	&.alert-info {
		background-color: var(--bs-ql-info-100);
		border-color: var(--bs-ql-info-400);
	}
	&.alert-success {
		background-color: var(--bs-ql-success-100);
		border-color: var(--bs-ql-success-400);
	}
	.btn-close {
		position: absolute;
		top: 16px;
		right: 16px;
		font-size: 1rem;
		opacity: 1;
		&.small {
			padding: 0;
		}
	}
}
