.qela-organization {
	border-bottom: 1px solid var(--bs-ql-info-400);
	padding: 1.5rem 0;

	&.row {
		justify-content: space-between;
		align-items: end;
	}

	.qela-avatar {
		border: 0;
		margin-right: 1.5rem;

		&.white {
			background-color: var(--bs-white);
			border-width: 1px;
		}
	}

	.col-btns {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;

		> * {
			&:not(:last-child) {
				margin-bottom: 0.5rem;
			}
		}
	}
}

.qela-map-items {
	> .row {
		padding: rem(8) rem(16);

		[class^="col"],
		[class*="col"] {
			&:first-child {
				margin-right: rem(8);
			}
		}
	}

	.btns-inline {
		gap: 0.5rem;
	}

	.form-label {
		color: var(--bs-ql-info-600);
		margin-bottom: 0;
	}
}
.qela-vote {
	display: flex;
	align-items: center;
	gap: rem(8);
	border: 1px solid var(--bs-ql-info-400);
	border-radius: 0.5rem;
	background-color: var(--bs-white);
	padding: 0.5rem 0.5rem 0.5rem 1rem;
	text-decoration: none;
}

.qela-item {
	display: flex;
	align-items: flex-start;
	gap: rem(24);
	background-color: var(--bs-white);
	padding: rem(24);
	border-radius: 8px;
	border: 1px solid var(--bs-ql-info-200);
	height: 100%;
}
.qela-members {
	display: flex;
	align-items: center;
	padding: rem(8);
	background-color: var(--bs-ql-info-100);
	border-radius: 6px;
	gap: 8px;
	* {
		&:first-child {
			flex: 0 0 65px;
		}
	}
	i {
		border-left: 1px solid var(--bs-ql-info-300);
		&::before {
			font-size: rem(32);
			margin-left: rem(8);
		}
	}
}
