{% macro alerts(props) %}
	<!-- =========== {{props.class}} =========== -->
	<div class="alert alert-{{props.class}} qela-alert fade show" role="alert">
		<span class="{{props.ic}}"></span>
		<div class="mt-2px">{{props.text}}</div>
		{% if props.link.text %}
			<a href="#" class="d-block mt-2px {{props.link.color}}">{{props.link.text}}</a>
		{% endif %}
		{% if props.btn %}
			<button type="button" class="btn btn-outline-{{props.class}}">{{props.btn}}</button>
		{% endif %}
		{% if props.btnClose %}
			<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
		{% endif %}
	</div>
{% endmacro %}