.btn {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 4px;
	--bs-btn-border-color: transparent;
	--ql-btn-icon-color: var(--bs-btn-color);
	&:disabled,
	&.disabled {
		--bs-btn-disabled-border-color: transparent;
	}

	&[class*="ic-"] {
		&:before {
			font-size: 18px;
			transition: all 0.3s ease 0s;
			color: var(--ql-btn-icon-color);
		}
	}

	&.ico {
		padding: 9px;

		&[aria-expanded="true"] {
			&:before {
				transform: rotate(-180deg);
			}
		}
	}

	&.ico-left {
		padding-left: 8px;
	}

	&.ico-right {
		padding-right: 8px;
		flex-direction: row-reverse;
	}

	&.custom {
		padding: 8px;
		border-radius: 10px;
		font-weight: 400;
	}
	&.current {
		&::after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			border: 2px solid var(--bs-secondary);
			border-radius: 8px;
			width: calc(100% + 12px);
			height: calc(100% + 12px);
		}
	}
}
.btn-md {
	font-size: rem(14);
	font-weight: 400;
	padding: rem(9.5) rem(8);
	gap: rem(4);
	line-height: 124%;
	&[class^="ic-"],
	&[class*="ic-"] {
		&:before {
			font-size: rem(16);
		}
	}
}
.btn-sm {
	gap: rem(4);
	font-weight: 400;
	&[class^="ic-"],
	&[class*="ic-"] {
		&:before {
			font-size: rem(16);
		}
	}
	i {
		&::before {
			font-size: rem(16);
		}
	}
	&.ico {
		padding: rem(7);
	}
}

.btn-primary {
	--bs-btn-color: var(--bs-ql-info-900);
	&:hover {
		--bs-btn-hover-color: var(--bs-ql-info-900);
		--bs-btn-hover-bg: var(--bs-ql-primary-600);
		--bs-btn-hover-border-color: var(--bs-ql-primary-600);
	}
	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-info-100);
		--bs-btn-disabled-bg: var(--bs-ql-info-500);
		--ql-btn-icon-color: var(--bs-ql-info-100);
	}
}

.btn-secondary {
	--bs-btn-color: var(--bs-white);
	--bs-btn-bg: var(--bs-secondary);
	--bs-btn-border-color: var(--bs-secondary);
	&:hover {
		--bs-btn-hover-color: var(--bs-white);
		--bs-btn-hover-bg: var(--bs-ql-secondary-600);
		--bs-btn-hover-border-color: var(--bs-ql-secondary-600);
	}

	&:active {
		--bs-btn-active-color: var(--bs-white);
	}
	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-white);
		--bs-btn-disabled-bg: var(--bs-ql-secondary-300);
	}
}

.btn-success {
	--bs-btn-color: var(--bs-ql-success-900);
	--bs-btn-bg: var(--bs-ql-success-100);
	--bs-btn-border-color: var(--bs-ql-success-100);
	--ql-btn-icon-color: var(--bs-ql-success-700);
	&:hover {
		--bs-btn-hover-color: var(--bs-ql-success-700);
		--bs-btn-hover-bg: var(--bs-ql-success-200);
		--bs-btn-hover-border-color: var(--bs-ql-success-200);
	}

	&:active {
		--bs-btn-active-color: var(--bs-success);
		--bs-btn-active-bg: var(--bs-ql-success-200);
		--bs-btn-active-border-color: var(--bs-ql-success-200);
		--ql-btn-icon-color: var(--bs-success);
	}
	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-success-300);
		--bs-btn-disabled-bg: var(--bs-ql-success-100);
		--ql-btn-icon-color: var(--bs-ql-success-300);
	}
}

.btn-danger {
	--bs-btn-color: var(--bs-ql-danger-900);
	--bs-btn-bg: var(--bs-ql-danger-100);
	--bs-btn-border-color: var(--bs-ql-danger-100);
	--ql-btn-icon-color: var(--bs-danger);

	&:hover {
		--bs-btn-hover-color: var(--bs-danger);
		--bs-btn-hover-bg: var(--bs-ql-danger-200);
		--bs-btn-hover-border-color: var(--bs-ql-danger-200);
	}

	&:active {
		--bs-btn-active-color: var(--bs-ql-danger-700);
		--bs-btn-active-bg: var(--bs-ql-danger-300);
		--bs-btn-active-border-color: var(--bs-ql-danger-300);
		--ql-btn-icon-color: var(--bs-ql-danger-700);
	}
	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-danger-300);
		--bs-btn-disabled-bg: var(--bs-ql-danger-100);
		--ql-btn-icon-color: var(--bs-ql-danger-300);
	}
}

.btn-warning {
	--bs-btn-color: var(--bs-ql-warning-900);
	--bs-btn-bg: var(--bs-ql-warning-100);
	--bs-btn-border-color: var(--bs-ql-warning-100);
	--ql-btn-icon-color: var(--bs-ql-warning-700);
	&:hover {
		--bs-btn-hover-color: var(--bs-warning);
		--bs-btn-hover-bg: var(--bs-ql-warning-200);
		--bs-btn-hover-border-color: var(--bs-ql-warning-200);
		--ql-btn-icon-color: var(--bs-warning);
	}

	&:active {
		--bs-btn-active-color: var(--bs-warning);
		--bs-btn-active-bg: var(--bs-ql-warning-300);
		--bs-btn-active-border-color: var(--bs-ql-warning-300);
		--ql-btn-icon-color: var(--bs-warning);
	}

	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-warning-300);
		--bs-btn-disabled-bg: var(--bs-ql-warning-100);
		--ql-btn-icon-color: var(--bs-ql-warning-300);
	}
}

.btn-info {
	--bs-btn-color: var(--bs-ql-info-900);
	--bs-btn-bg: var(--bs-ql-info-100);
	--bs-btn-border-color: var(--bs-ql-info-100);
	--ql-btn-icon-color: var(--bs-ql-info-900);

	&:hover {
		--bs-btn-hover-color: var(--bs-ql-info-900);
		--bs-btn-hover-bg: var(--bs-ql-info-200);
		--bs-btn-hover-border-color: var(--bs-ql-info-200);
	}

	&:active {
		--bs-btn-active-bg: var(--bs-ql-info-300);
		--bs-btn-active-border-color: var(--bs-ql-info-300);
	}

	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-info-500);
		--bs-btn-disabled-bg: var(--bs-ql-info-100);
		--ql-btn-icon-color: var(--bs-ql-info-500);
	}
}

.btn-custom {
	padding: 0;

	&.ico-right {
		padding-right: 1.5rem;

		&::before {
			font-size: 18px;
			padding: 1.5px;
			background-color: var(--bs-primary);
			border-radius: 50%;
			right: 0;
			margin-left: 2px;
		}
	}

	&:hover {
		color: var(--bs-secondary);
	}

	&:active {
		border-color: transparent !important;
		background-color: transparent !important;
		color: var(--bs-black) !important;
	}

	&:disabled,
	&.disabled {
		background-color: transparent;

		&.ico-right {
			&::before {
			}
		}
	}
}

.btn-link {
	font-weight: 500;
	--bs-link-color: var(--bs-secondary);
	--bs-link-hover-color: var(--bs-ql-secondary-700);
	&:disabled,
	&.disabled {
		background-color: transparent;
		--bs-link-color: var(--bs-info);
		--bs-link-hover-color: var(--bs-info);
	}
}

[class^="btn-outline-"],
[class*="btn-outline-"] {
	--bs-btn-bg: var(--bs-white);
	&:disabled,
	&.disabled {
		--bs-btn-disabled-bg: var(--bs-white);
	}
}

.btn-outline-primary {
	--bs-btn-color: var(--bs-ql-info-900);
	--bs-btn-border-color: var(--bs-primary);
	--ql-btn-icon-color: var(--bs-ql-info-900);
	&:hover {
		--bs-btn-hover-bg: var(--bs-primary);
	}

	&:active {
		--bs-btn-active-border-color: var(--bs-ql-info-700);
	}

	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-info);
		--ql-btn-icon-color: var(--bs-info);
		--bs-btn-disabled-border-color: var(--bs-ql-info-300);
	}
}

.btn-outline-secondary {
	--bs-btn-color: var(--bs-ql-secondary-700);
	--bs-btn-border-color: var(--bs-ql-secondary-700);
	--ql-btn-icon-color: var(--bs-ql-secondary-700);

	&:hover {
		--bs-btn-hover-color: var(--bs-white);
		--bs-btn-hover-bg: var(--bs-secondary);
		--bs-btn-hover-border-color: var(--bs-secondary);
		--ql-btn-icon-color: var(--bs-white);
	}

	&:active {
		--bs-btn-active-color: var(--bs-white);
		--bs-btn-active-bg: var(--bs-ql-secondary-600);
		--bs-btn-active-border-color: var(--bs-ql-secondary-600);
	}
	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-secondary-400);
		--ql-btn-icon-color: var(--bs-ql-secondary-400);
		--bs-btn-disabled-border-color: var(--bs-ql-secondary-200);
	}
}

.btn-outline-success {
	--bs-btn-color: var(--bs-ql-success-900);
	--bs-btn-border-color: var(--bs-ql-success-700);
	--ql-btn-icon-color: var(--bs-ql-success-700);
	&:hover {
		--bs-btn-hover-color: var(--bs-ql-success-700);
		--bs-btn-hover-bg: var(--bs-ql-success-200);
		--bs-btn-hover-border-color: var(--bs-ql-success-200);
	}

	&:active {
		--bs-btn-active-color: var(--bs-ql-success-700);
		--bs-btn-active-bg: var(--bs-ql-success-300);
		--bs-btn-active-border-color: var(--bs-ql-success-300);
	}

	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-success-400);
		--ql-btn-icon-color: var(--bs-ql-success-400);
		--bs-btn-disabled-border-color: var(--bs-ql-success-200);
	}
}

.btn-outline-danger {
	--bs-btn-color: var(--bs-ql-danger-800);
	--bs-btn-border-color: var(--bs-danger);
	--ql-btn-icon-color: var(--bs-danger);

	&:hover {
		--bs-btn-hover-color: var(--bs-danger);
		--bs-btn-hover-bg: var(--bs-ql-danger-200);
		--bs-btn-hover-border-color: var(--bs-ql-danger-200);
	}

	&:active {
		--bs-btn-active-color: var(--bs-danger);
		--bs-btn-active-bg: var(--bs-ql-danger-300);
		--bs-btn-active-border-color: var(--bs-ql-danger-300);
	}
	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-danger-300);
		--ql-btn-icon-color: var(--bs-ql-danger-300);
		--bs-btn-disabled-border-color: var(--bs-ql-danger-200);
	}
}

.btn-outline-warning {
	--bs-btn-color: var(--bs-ql-warning-900);
	--bs-btn-border-color: var(--bs-ql-warning-600);
	--ql-btn-icon-color: var(--bs-ql-warning-600);

	&:hover {
		--bs-btn-hover-color: var(--bs-warning);
		--ql-btn-icon-color: var(--bs-warning);
		--bs-btn-hover-bg: var(--bs-ql-warning-200);
		--bs-btn-hover-border-color: var(--bs-ql-warning-200);
	}

	&:active {
		--bs-btn-active-color: var(--bs-warning);
		--bs-btn-active-bg: var(--bs-ql-warning-300);
		--bs-btn-active-border-color: var(--bs-ql-warning-300);
	}
	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-warning-400);
		--ql-btn-icon-color: var(--bs-ql-warning-400);
		--bs-btn-disabled-border-color: var(--bs-ql-warning-200);
	}
}

.btn-outline-info {
	--bs-btn-color: var(--bs-ql-info-900);
	--bs-btn-border-color: var(--bs-ql-info-600);
	--ql-btn-icon-color: var(--bs-ql-info-900);
	&:hover {
		--bs-btn-hover-color: var(--bs-ql-info-900);
		--ql-btn-icon-color: var(--bs-ql-info-900);
		--bs-btn-hover-bg: var(--bs-ql-info-200);
		--bs-btn-hover-border-color: var(--bs-ql-info-200);
	}
	&:active {
		--bs-btn-active-bg: var(--bs-ql-info-300);
		--bs-btn-active-border-color: var(--bs-ql-info-300);
	}
	&:disabled,
	&.disabled {
		--bs-btn-disabled-color: var(--bs-ql-info-400);
		--ql-btn-icon-color: var(--bs-ql-info-400);
		--bs-btn-disabled-border-color: var(--bs-ql-info-200);
	}
}

.qela-btn-group {
	&.btn-group {
		display: inline-flex;
		align-items: center;
		gap: rem(2);
		.btn {
			border-color: transparent;
			background-color: transparent;
			padding: rem(6);
			margin: 0 !important;

			@media (any-hover: hover) {
				&:hover {
					color: var(--bs-ql-info-700);
					&::before {
						color: var(--bs-ql-info-700);
					}
				}
			}

			&.danger {
				color: var(--bs-danger);

				@media (any-hover: hover) {
					&:hover {
						color: var(--bs-ql-danger-700);
						&::before {
							color: var(--bs-ql-danger-700);
						}
					}
				}
			}

			::before {
				font-size: 18px;
			}
		}
	}
}

.btn-group,
.btn-group-vertical {
	.btn-outline-info {
		color: var(--bs-ql-info-600);
		border-color: var(--bs-ql-info-400);
	}
}

.btn-close {
	background-color: transparent;
	border-radius: 50%;
	padding: 7px;
	width: auto;
	height: auto;
	&::before {
		font-size: 18px;
	}

	&:disabled {
		color: var(--bs-info);
	}

	&.small {
		width: auto;
		height: auto;
		padding: 0px;

		&::before {
			font-size: 24px;
		}
	}
}

.qela-btn-tooltip {
	border: none;
	--ql-btn-icon-color: var(--bs-secondary);
	padding: 0;
	border-radius: 50%;
	&:hover {
		--bs-btn-hover-color: var(--bs-ql-secondary-700);
		--ql-btn-icon-color: var(--bs-ql-secondary-700);
	}

	&:active {
		--bs-btn-active-color: var(--bs-ql-secondary-600);
		--ql-btn-icon-color: var(--bs-ql-secondary-600);
	}

	&.btn[class^="ic-"]:before,
	&.btn[class*="ic-"]:before {
		font-size: rem(24);
		line-height: 1;

		cursor: pointer;
	}
	&.btn-sm[class^="ic-"]:before,
	&.btn-sm[class*="ic-"]:before {
		font-size: rem(16);
	}
	&.secondary {
		--ql-btn-icon-color: var(--bs-ql-secondary-600);
		--bs-btn-bg: var(--bs-ql-secondary-100);
		&:hover {
			background-color: var(--bs-ql-secondary-200);
		}
		&:active {
			background-color: var(--bs-ql-secondary-300);
		}
	}
	&.success {
		--ql-btn-icon-color: var(--bs-ql-success-600);
		--bs-btn-bg: var(--bs-ql-success-100);
		&:hover {
			background-color: var(--bs-ql-success-200);
		}
		&:active {
			background-color: var(--bs-ql-success-300);
		}
	}
	&.warning {
		--ql-btn-icon-color: var(--bs-ql-warning-600);
		--bs-btn-bg: var(--bs-ql-warning-100);
		&:hover {
			background-color: var(--bs-ql-warning-200);
		}
		&:active {
			background-color: var(--bs-ql-warning-300);
		}
	}
}

.qela-btn-menu {
	position: absolute;
	left: calc(100% - 15px);
	top: 50%;
	transform: translateY(-50%);
	z-index: 1000;
	color: var(--bs-info);
	border-radius: 18px;
	padding: rem(3) rem(6);
	line-height: 1;
	background-color: var(--bs-white);
	border: 1px solid var(--bs-white);
	transition: border-color 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			border-color: var(--bs-ql-info-400);
		}
	}

	&::before {
		transition:
			transform 0.3s ease 0s,
			color 0.2s;
		font-size: rem(16);
		color: var(--bs-info);
		@media (max-width: 1439.98px) {
			transform: rotate(180deg);
		}
	}

	&.close {
		&::before {
			transform: rotate(180deg);
			@media (max-width: 1439.98px) {
				transform: rotate(0deg);
			}
		}
	}
}

// .qela-btn-close {
//     background-color: transparent;
//     z-index: 4;
//     top: 4px;
//     right: 4px;
//     display: none;

//     @include media-breakpoint-down(md) {
//         display: block;
//     }

//     &::before {
//         font-size: 28px;
//     }
// }

.qela-btn-map {
	border-color: transparent;
	position: absolute;
	right: 0;
	top: 60px;
	z-index: 2;

	.btn {
		background: color-mix(in srgb, var(--bs-black), transparent 40%);
		color: var(--bs-white);
		transition: background 0.3s ease 0s;
		padding: 10px;

		&:not(:first-child) {
			margin-top: 0;
		}

		&:first-child {
			border-top-right-radius: 0;
		}

		&:last-child {
			border-bottom-right-radius: 0;
		}

		@media (any-hover: hover) {
			&:hover {
				background: var(--bs-black);
			}
		}
	}
}

.qela-btn-slide {
	> :not(.btn-check:first-child) + .btn {
		margin-left: 0;
	}

	.btn {
		padding: rem(4) rem(2);
		background-color: color-mix(in srgb, var(--bs-black), transparent 20%);
		--bs-btn-border-width: 0;
		--bs-btn-border-radius: 0.75rem;

		transition-duration: 0.2s;
		&::before {
			color: var(--bs-info);
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: var(--bs-white);
				}
			}
		}

		&:disabled {
			background-color: color-mix(in srgb, var(--bs-black), transparent 50%);
			&::before {
				color: var(--bs-ql-info-400);
			}
		}

		&:focus {
			background-color: color-mix(in srgb, var(--bs-black), transparent 20%);
			&::before {
				color: var(--bs-info);
			}
		}

		&[class^="ic-"],
		&[class*="ic-"] {
			&:before {
				font-size: 24px;
			}
		}
	}
}
.qela-btn-intro {
	width: 100%;
	height: 80px;
}
.btn-apple,
.btn-google {
	padding: 0;
	height: 31px;
	&:active {
		border-color: transparent !important;
	}
	img {
		width: 100%;
	}
}
.qela-btn-ic {
	background-color: transparent;
	border: none;
	padding: 0;
	color: var(--bs-ql-secondary-700);
	transition: color 0.25s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			opacity: 0.85;
		}
	}
	&:disabled {
		color: var(--bs-ql-info-600) !important;
	}
	&.btn-info {
		color: var(--bs-ql-info-600);
		@media (any-hover: hover) {
			&:hover {
				color: var(--bs-ql-info-800);
			}
		}
		&:disabled {
			color: var(--bs-ql-info-400) !important;
		}
	}
	&.btn-dark {
		color: var(--bs-black);
		@media (any-hover: hover) {
			&:hover {
				color: var(--bs-ql-info-800);
			}
		}
		&:disabled {
			color: var(--bs-ql-info-600) !important;
		}
	}
}
.btns-center {
	display: flex;
	justify-content: center;
	padding-top: 1.5rem;

	@include media-breakpoint-down(xl) {
		flex-wrap: wrap;
		gap: 0.25rem;
	}

	button {
		&:not(:first-child) {
			margin-left: 0.25rem;
		}
	}
}

.btns-inline {
	display: flex;
	gap: 0.25rem;
	flex-wrap: wrap;
}
