.form-check {
	vertical-align: baseline;
	&.qela-sm {
		font-size: 14px;
		padding-left: 1.25rem;
		.form-check-input {
			margin-left: -1.25rem;
		}
	}
	.invalid-feedback {
		font-size: 0.875rem;
	}

	.qela-btn-tooltip {
		margin-bottom: $form-check-margin-bottom;
	}
}

.form-check-input {
	&:hover {
		border-color: $gray-900;
	}

	&:disabled {
		border-color: $gray-500;

		& ~ .form-check-label {
			color: $gray-500;
		}
	}

	&:checked {
		background-color: var(--bs-ql-secondary-500);
		border-color: var(--bs-ql-secondary-500);
		&:hover {
			border-color: var(--bs-ql-secondary-700);
			background-color: var(--bs-ql-secondary-700);
		}

		&:disabled {
			border-color: var(--bs-ql-secondary-400);
			background-color: var(--bs-ql-secondary-400);

			&:hover {
				border-color: var(--bs-ql-secondary-400);
				background-color: var(--bs-ql-secondary-400);
			}
		}
	}

	&.is-invalid {
		&:focus {
			box-shadow: none;
		}

		&:hover {
			border-color: $danger-600;
		}

		&:checked {
			&:hover {
				border-color: $danger-600;
				background-color: $danger-600;
			}
		}
	}
}

[type="radio"] {
	&:checked {
		background-size: 140%;
		border-width: 2px;
		background-color: transparent;
		&.is-invalid {
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{rgba($danger-500, 0.99)}'/></svg>");
		}
		&:disabled {
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{rgba($gray-500, 0.99)}'/></svg>");
		}
		&:hover {
			background-color: transparent;
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{$secondary-700}'/></svg>");
			&.is-invalid {
				border-color: $danger-600;
				background-color: $white;
				background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='2' fill='#{rgba($danger-600, 0.99)}'/></svg>");
			}
			&:disabled {
				background-color: $white;
			}
		}
	}
}

.form-check-label {
	transition: color 0.3s ease 0s;

	@media (any-hover: hover) {
		&:hover {
			color: $gray-900;
		}
	}
}

.form-switch {
	padding-left: 0;
	display: inline-flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
	align-items: center;
	gap: rem(8);

	.form-check-input {
		width: 3.2em;
		margin-left: 0;
		height: 1.75rem;
		background-color: $info-300;
		border: none;
		background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3.5' fill='#{rgba($white, 0.99)}'/></svg>");
		border-radius: 1em;
		float: none;
		transition:
			background-color 0.2s ease 0s,
			background-position 0.2s linear 0s;
		&:hover {
			background-color: $info-400;
		}

		&:disabled {
			background-color: $info-300;
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3.5' fill='#{rgba($info-100, 0.99)}'/></svg>");
		}

		&:checked {
			background-color: var(--bs-secondary);
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3.5' fill='#{rgba($white, 0.99)}'/></svg>");

			&:hover {
				background-color: var(--bs-ql-secondary-700);
			}

			&:disabled {
				background-color: $info-300;
				background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3.5' fill='#{rgba($info-100, 0.99)}'/></svg>");
			}
		}

		&:focus {
			background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3.5' fill='#{rgba($white, 0.99)}'/></svg>");
		}
	}
	&.form-switch-sm {
		.form-check-input {
			width: 2.125em;
			height: 1.25rem;
		}
	}
}
