@use "../vars" as ql;
.dp__main {
	font-family: ql.$font-family-base;
	position: relative;
	// &.small {
	// 	.dp__input {
	// 		height: 34px;
	// 	}
	// }
}

.dp__input_readonly {
}

.dp__input {
	height: 38px;
	border-radius: ql.$border-radius;
	color: var(--bs-ql-input-color);
	border-color: var(--bs-ql-input-border-color);

	&:hover {
		border-color: var(--bs-ql-input-hover-border-color);
	}

	&::placeholder {
		color: var(--bs-ql-input-placeholder-color);
	}

	&:disabled {
		color: var(--bs-ql-input-disabled-color);
		background-color: var(--bs-ql-input-disabled-bg-color);
		border-color: var(--bs-ql-input-disabled-border-color);
		&::placeholder {
			color: var(--bs-ql-input-disabled-color);
		}

		@media (any-hover: hover) {
			&:hover {
				border-color: var(--bs-ql-input-disabled-border-color);
			}
		}
	}
}

.dp__input:hover:not(.dp__input_focus) {
	--dp-border-color-hover: var(--bs-ql-input-hover-border-color);
}
.dp__input_icon_pad {
	padding: 0 rem(16);
}

.dp__input_reg {
}

.dp__input_icon {
	display: none;
}

.dp__clear_icon {
	display: none;
}
.dp--menu-wrapper {
	min-width: 340px;
	z-index: 5;
}
.dp__menu {
	--dp-menu-min-width: 100%;
	border-radius: 17px;
	// min-width: 300px;
	font-family: ql.$font-family-base;
	font-size: rem(12);
	overflow: hidden;
}

.dp__month_year_row {
	padding: rem(8);
	height: 50px;
}

.dp__btn {
	border: none;
	background-color: transparent;
}

.dp__month_year_select {
	font-weight: 600;
	font-size: rem(18);
	line-height: 120%;
	color: var(--bs-black);

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--bs-ql-secondary-100);
		}
	}
}

.dp__inner_nav {
	background: var(--bs-white);
	border-radius: 6px;
	padding: rem(7);

	&:hover {
		background-color: var(--bs-ql-secondary-100);
	}
}

.dp__icon {
	fill: var(--bs-ql-info-600);
	width: 18px;
	height: 18px;
}

.dp__calendar_header_separator {
	display: none;
}

.dp__calendar {
	padding-left: rem(5);

	&.dp__calendar_next {
		padding-left: 0;
		padding-right: rem(5);
	}
}

.dp__calendar_header {
	margin-bottom: rem(8);
	margin-top: rem(8);
}

.dp__calendar_header_item {
	font-size: rem(12);
	line-height: 16px;
	// height: 32px;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	letter-spacing: 0.4px;
	color: var(--bs-info);
	font-weight: 400;
}

.dp__cell_offset {
	color: var(--bs-info);
}

.dp__cell_inner {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	padding: 0;
	font-weight: 500;
	font-size: rem(12);
	line-height: 16px;
	letter-spacing: 0.4px;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--bs-ql-secondary-100);
		}
	}
}

.dp__range_end,
.dp__range_start,
.dp__active_date {
	background-color: var(--bs-secondary);

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--bs-secondary);
		}
	}
}

.dp__overlay_cell_active {
	background-color: var(--bs-secondary);
}

.dp__today {
	border: 2px solid var(--bs-secondary);
}

.dp__button {
	border-top: var(--bs-ql-info-300);
	border-top: 1px solid var(--bs-ql-info-300);

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--bs-ql-secondary-100);
		}
	}
}

.dp__button svg {
	height: 24px;
}

.dp__icon {
	fill: ql.$black;
}

.dp__action_row {
	border-radius: 0 0 17px 17px;
	border-top: 1px solid var(--bs-ql-info-300);
}

.dp__selection_preview {
	font-size: rem(16);
	line-height: 100%;
	letter-spacing: 0.4px;
	color: ql.$black;
	width: 70%;
}

.dp__action {
	font-weight: 500;
	font-size: rem(14);
	line-height: 100%;
	color: ql.$purple;
}

.dp__action_button {
	color: var(--bs-secondary);
	font-weight: 500;
	font-size: rem(14);
	padding: rem(4) rem(16);
	height: 100%;
	transition: color 0.3s ease 0s;
	border: none;
	background-color: transparent;

	@media (any-hover: hover) {
		&:hover {
			color: var(--bs-ql-secondary-600);
		}
	}
}
.dp__action_select {
	--dp-primary-color: transparent;
	--dp-primary-text-color: var(--bs-ql-secondary-700);
}
.is-invalid {
	.dp__input {
		color: var(--bs-info);
		border-color: var(--bs-ql-input-ivalid-border-color);

		@media (any-hover: hover) {
			&:hover {
				border-color: var(--bs-ql-input-ivalid-border-color);
			}
		}

		&:focus {
			@media (any-hover: hover) {
				&:hover {
					border-color: var(--bs-ql-input-ivalid-border-color);
				}
			}
		}

		&:disabled {
			&::placeholder {
				color: var(--bs-ql-input-disabled-colo);
			}

			@media (any-hover: hover) {
				&:hover {
					border-color: var(--bs-ql-input-disabled-colo);
				}
			}
		}
	}
}
.dp--clear-btn {
	display: none;
}
