input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}
.form-control {
	--input-number-width: 56px;
	min-height: 38px;
	@media (any-hover: hover) {
		&:hover {
			border-color: $secondary;

			&:focus {
				border-color: $secondary;
			}
		}
	}

	&:disabled {
		@media (any-hover: hover) {
			&:hover {
				border-color: $gray-400;
			}
		}
	}

	&.is-invalid {
		background-image: none;
		padding-right: 1rem;

		&:hover {
			border-color: $danger;
		}

		& ~ .btn-input {
			&:hover {
				color: $black;
				border-color: $gray-400;
			}

			&:active {
				color: $black !important;
				border-color: $gray-400 !important;
			}
		}

		& ~ .helper-text {
			display: none;
		}
	}
}
// start search
.qela-search {
	position: relative;
	.form-control {
		padding-left: rem(36);
		padding-right: rem(32);
		border-radius: rem(30);
	}
	button {
		padding: 0;
		border: none;
		background-color: transparent;
		color: $gray-500;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		&:first-child {
			left: 12px;
		}
		&:last-child {
			right: 12px;
		}
		&::before {
			font-size: 20px;
		}
	}
}
// end search

.form-control-sm {
	min-height: 31px;
}
.input-group
	> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(
		.invalid-feedback
	) {
	margin-left: 0px;
}
.input-group {
	&.is-invalid {
		.invalid-feedback {
			display: block;
		}
	}
}
.input-group-sm {
	.form-control {
		min-height: 31px;
		padding: rem(5) rem(8);
	}
	.qela-input-inner {
		&.right {
			.form-control {
				padding-right: rem(30);
			}
		}
		.btn {
			&::before {
				font-size: 16px;
			}
		}
	}
}

.qela-input-inner {
	width: 100%;
	position: relative;
	&.right {
		.form-control {
			padding-right: rem(36);
		}
		.btn {
			right: 12px;
		}
	}
	.form-control {
		@media (any-hover: hover) {
			&:hover {
				~ .btn {
					&:not(:disabled) {
						&::before {
							color: $black;
						}
					}
				}
			}
		}
		&:focus {
			~ .btn {
				&:not(:disabled) {
					&::before {
						color: $black;
					}
				}
			}
		}
		&:disabled {
			~ .btn {
				&::before {
					color: $black;
				}
			}
		}
	}
	.btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		border: none !important;
		background-color: transparent;
		padding: 0;
		&::before {
			color: $gray-600;
			font-size: 20px;
		}

		&:hover {
			background: transparent;
			border-color: none;
			&::before {
				color: $black;
			}
		}

		&:active {
			color: $black !important;
			background: transparent !important;
			border-color: none;
			&::before {
				color: $black;
			}
		}

		&:disabled {
			&::before {
				color: $gray-600;
			}
		}
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

textarea {
	color: $info-700;
}

.helper-text {
	display: block;
	color: $gray-600;
	margin-top: 4px;
	width: 100%;
	font-size: rem(14);
}

.invalid-feedback {
	font-size: $font-size-sm;
}

.btn-input {
	padding: 4px 8px;
	border-color: $gray-400;
	background: $white;

	&::before {
		font-size: 18px;
	}

	&:hover {
		background: $white;
		border-color: $gray-600;
		color: $gray-600;
	}

	&:active {
		color: $gray-600 !important;
		border-color: $gray-600 !important;
		background: $white !important;
	}

	&:disabled {
		border-color: $gray-400;
	}
}

.has-validation {
	&.is-invalid {
		& ~ .helper-text {
			display: none;
		}
	}
}

.required {
	&.form-label::after {
		content: "*";
		color: $danger;
		padding-left: 4px;
	}
}

.qela-form-labels {
	display: flex;
	justify-content: space-between;

	> div {
		display: flex;
		align-items: baseline;
		margin-right: rem(8);
		.qela-btn-tooltip {
			margin-left: rem(8);
			margin-bottom: rem(8);
			margin-top: rem(8);
		}
	}

	.form-label {
		&:last-child {
			color: $gray-700;
			font-weight: 400;
		}
	}
}

.form-range {
	&:disabled {
		&::-webkit-slider-runnable-track {
			background: $input-disabled-bg;
		}

		&::-moz-range-track {
			background: $input-disabled-bg;
		}

		&::-ms-track {
			background: $input-disabled-bg;
		}

		&::-ms-fill-lower {
			background: $input-disabled-bg;
		}

		&::-ms-fill-upper {
			background: $input-disabled-bg;
		}
	}
}

.qela-file {
	font-size: 14px;

	label {
		height: 140px;
		width: 100%;
		background-color: $input-bg;
		padding: 0.75rem $input-padding-x;
		border-radius: $input-border-radius;
		border: $input-border-width solid $input-border-color;
		margin: 0;
		transition: border-color 0.2s ease 0s;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.form-control {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		font-size: 0;
		z-index: 1;

		&:hover {
			& ~ label {
				border-color: $gray-600;
			}
		}

		&:focus {
			& ~ label {
				border-color: $input-focus-border-color;
				box-shadow: $input-focus-box-shadow;
			}
		}

		&:disabled {
			cursor: auto;

			& ~ label {
				color: $input-disabled-color;
				background-color: $input-disabled-bg;
				border-color: $input-disabled-border-color;
				opacity: 1;
			}
		}

		&.is-invalid {
			& ~ label {
				border-color: $danger;
			}

			&:focus {
				& ~ label {
					box-shadow: 0 0 0 0.125rem rgba($danger, 0.3);
				}
			}
		}
	}

	&.has-validation {
		.helper-text {
			display: none;
		}

		.invalid-feedback {
			display: block;
		}
	}

	&.filled {
		display: none;

		& ~ .qela-preview {
			display: flex;
		}
	}

	&.small {
		font-size: 14px;

		div {
			&:first-child {
				position: relative;
				display: inline-block;
			}
		}

		label {
			flex-direction: row;
			background-color: $body-bg;
			height: auto;
			width: auto;
			gap: 0.25rem;
			padding: 0.25rem 0.5rem;
		}

		[class^="ic-"],
		[class*="ic-"] {
			color: $black;
		}

		small {
			font-weight: 500;
			color: $black;
		}
	}

	&.add-img {
		label {
			padding: 0;
			border: none;
			background-color: transparent;
			border-radius: 50%;
			height: auto;
		}

		.qela-avatar {
			margin-right: 0;
			background-color: $white;
			border: 1px solid $gray-200;
		}
	}
}

.qela-preview {
	display: none;
	gap: 0.5rem;
	font-size: 14px;

	@include media-breakpoint-down(sm) {
		flex-direction: column;
	}

	> div {
		height: 70px;

		&:first-child {
			display: flex;
			background-color: $white;
			border-radius: 0.375rem;
			overflow: hidden;
			border: 1px solid $gray-400;

			[class*="ic-"] {
				width: 70px;
				height: 100%;
				border-right: 1px solid $gray-400;
				font-size: 24px;
				color: $gray-400;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			img {
				aspect-ratio: 1/1;
				max-width: 100%;
				object-fit: cover;
			}
		}
	}

	.btn {
		&.ico-left {
			padding-top: 7.5px;
			padding-bottom: 7.5px;
		}
	}
}

.qela-input-group {
	.form-control {
		text-align: right;
		background:
			url("../img/icons/crossed-round.svg") calc(100% - 12px) center/18px 18px no-repeat,
			$white;
		padding-right: 38px;
		position: relative;
		z-index: 5;

		&.success {
			background:
				url("../img/icons/arrow-big-up.svg") calc(100% - 12px) center/18px 18px no-repeat,
				$white;
			border-color: $success-600;
			border-color: $success-600;
			box-shadow:
				2px 2px 0px 0px rgba($success, 0.3),
				-2px -2px 0px 0px rgba($success, 0.3);

			&:hover {
				border-color: $success-600;
			}

			&:focus {
				border-color: $success-600;
				box-shadow:
					2px 2px 0px 0px rgba($success, 0.3),
					-2px -2px 0px 0px rgba($success, 0.3);
			}
		}

		&.danger {
			background:
				url("../img/icons/arrow-big-down.svg") calc(100% - 12px) center/18px 18px no-repeat,
				$white;
			border-color: $danger-600;
			box-shadow:
				2px 2px 0px 0px rgba($danger, 0.3),
				-2px -2px 0px 0px rgba($danger, 0.3);
			border-color: $danger-600;

			&:hover {
				border-color: $danger-600;
			}

			&:focus {
				border-color: $danger-600;
				box-shadow:
					2px 2px 0px 0px rgba($danger, 0.3),
					-2px -2px 0px 0px rgba($danger, 0.3);
			}
		}

		&.active {
			box-shadow:
				2px 2px 0px 0px rgba(145, 136, 255, 0.3),
				-2px -2px 0px 0px rgba(145, 136, 255, 0.3);
		}
	}
}
