.qela-select-inner {
	display: grid;
	grid-template-columns: auto repeat(6, 1fr);
	align-items: center;
	gap: rem(24);
	> * {
		width: 100%;
	}
	.multiselect {
		flex: 0 1 215px;
	}
}
.qela-multiselect {
	position: relative;
	> .btn-close {
		position: absolute;
		z-index: 2;
		right: 30px;
		top: 3px;
		padding: rem(8);
	}
	&.qela-popover {
		display: block;
	}
}
.multiselect {
	cursor: pointer;
	min-height: 38px;
	&__option {
		font-size: 14px;
	}
	&.multiselect--disabled {
		opacity: $btn-close-opacity;

		.multiselect__select {
			background: transparent;
			border-color: $input-disabled-border-color;
			color: $input-disabled-color;
		}

		.multiselect__tags {
			background-color: $input-disabled-bg;
			border-color: $input-disabled-border-color;
			color: $input-disabled-color;
		}

		.multiselect__single {
			background-color: $input-disabled-bg;
		}
	}
}
.multiselect--active {
	.multiselect__tags {
		border-color: $secondary;

		// border-bottom-color: $input-bg;

		@media (any-hover: hover) {
			&:hover {
				border-color: $secondary;
				// border-bottom-color: $input-bg;
			}
		}
	}
}
.multiselect__tags {
	padding: 0px rem(42) 0 $input-padding-x;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-radius: $input-border-radius;
	border: 1px solid $input-border-color;
	background-color: $input-bg;
	min-height: 38px;
	transition: border-color 0.2s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			border-color: $gray-600;
		}
	}
}

.multiselect__tags-wrap {
	margin: 4px 0px 3px -12px;
}

.multiselect__tag {
	padding: 5px 28px 5px 6px;
	border-radius: 6px;
	margin-right: 2px;
	margin-bottom: 2px;
	color: $black;
	line-height: 120%;
	background: $secondary-100;
	display: inline-flex;
	white-space: wrap;
}

.multiselect__tag-icon {
	top: 2px;
	right: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
	padding: 4px;
	border-radius: 4px;
	background-color: $secondary-100;

	&:focus {
		background-color: $secondary-400;

		&::after {
			color: $black;
		}
	}

	&:hover {
		background-color: $secondary-400;

		&::after {
			color: $black;
		}
	}

	&::after {
		content: "\e906";
		font-family: "icons";
		font-size: 16px;
		color: $black;
	}
}

.multiselect__select {
	right: 0;
	top: 0;
	padding: 0;
	&:before {
		content: "\e903";
		font-family: "icons";
		font-size: 16px;
		color: $input-color;
		position: absolute;
		top: 50%;
		right: auto;
		left: 50%;
		margin-top: 0;
		transform: translate(-50%, -50%);
		border: none;
	}
}

.multiselect__input {
	margin: 0;
	padding: 5px 0;

	&::placeholder {
		color: $input-placeholder-color;
		font-weight: 500;
		font-size: $input-font-size;
	}
}

.multiselect__placeholder {
	color: $input-placeholder-color;
	margin-bottom: 0px;
	padding-top: 0px;
	font-size: $input-font-size;
}

.multiselect__content-wrapper {
	border-color: $secondary;
	border-top-color: transparent;
	border-radius: 0 0 rem(10) rem(10);
	overflow-x: hidden;
	// max-height: unset !important;
}
.multiselect__content {
	min-width: unset;
	width: 100%;
}
.multiselect__element {
	width: 100%;
}
.multiselect__option--highlight {
	background: $white;
	color: $black;
}

.multiselect__option {
	color: $black;
	line-height: 17px;
	padding: rem(12) $input-padding-x rem(12) $input-padding-x;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	@media (any-hover: hover) {
		&:hover {
			background-color: $gray-100;
		}
	}

	&::after {
		content: "";
		display: none;
	}
}

.multiselect__option--selected {
	background: $secondary-100;
	color: $black;
	font-weight: 400;

	&.multiselect__option--highlight {
		background: $secondary-100;
		color: $black;
		font-weight: 400;
	}
}

.multiselect__single {
	margin: 0;
	padding-left: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: $input-font-size;
}

.is-invalid {
	.multiselect--active {
		.multiselect__tags {
			border-color: $danger;
			border-bottom-color: $white;

			@media (any-hover: hover) {
				&:hover {
					border-color: $danger-600;
					border-bottom-color: $white;
				}
			}
		}
	}

	.multiselect__content-wrapper {
		border-color: $danger;
		border-top-color: transparent;
		@media (any-hover: hover) {
			&:hover {
				border-color: $danger-600;
			}
		}
	}

	& ~ .helper-text {
		display: none;
	}
}
