<div class="modal fade" id="modalOff" tabindex="-1" aria-labelledby="modalOffLabel" aria-hidden="true">
	<div class="modal-dialog modal-md modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body p-4 text-center">
				<h5 class="fs-18 fw-medium pb-2">Ви впевнені, що хочете вимкнути товар(и)?</h5>
				<div class="pt-1">Увага, будуть вимкнені лише ті товари, які мають статус “Активний”</div>
			</div>
			<div class="modal-footer justify-content-center p-3 border-top-0 gap-2">
				<button type="button" class="btn btn-info m-0" data-bs-dismiss="modal">Скасувати</button>
				<button type="button" class="btn btn-primary m-0">Підтвердити</button>
			</div>
		</div>
	</div>
</div>