{% import "html/data/_btnsData.njk" as data %}
{% import "html/data/shop/_productInfoData.njk" as dataInfo %}
{% from "html/includes/btns/_btn.njk" import btns %}
{% from "html/includes/shop/tables/_product-info.njk" import productInfo %}

<div class="modal fade" id="modalOrder" tabindex="-1" aria-labelledby="modalOrderLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered" style="--bs-modal-width: 1336px;">
		<!-- !!!modal-content +  class visibility--modal = modal cancel order !!!-->
		<div class="modal-content position-relative">
			<div class="modal-header">
				<h2 class="modal-title fs-5" id="exampleModalLabel3">Замовлення 0123456789</h2>
				<button type="button" class="btn-close ic-cloze" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body p-0">
				<div class="p-3">
					<div class="fw-bold mb-3">Змінити статус</div>
					<div class="d-flex align-items-center gap-4">
						<div class="d-flex align-items-center gap-3">
							{% for item in data.btnsStatus %}
								{{btns(item)}}
							{% endfor %}
						</div>
						<div class="d-flex align-items-center gap-2">
							<small>Підтвердити зміну статусу?</small>
							{% for item in data.btnsSwichStatus %}
								{{btns(item)}}
							{% endfor %}
						</div>
						{{btns(data.btnChat)}}
					</div>
					<div class="text-danger-600 mt-3">Будь ласка, підвердіть зміни статусу</div>
				</div>
				<div class="p-3">
					<div class="row gy-0 gx-3">
						<!-- left -->
						<div class="col-8 d-grid gap-3">
							<!-- info 1 -->
							<div class="border rounded-3 p-3 d-grid gap-3">
								<div class="fw-bold">Загальна інформація</div>
								<div class="d-flex gap-3">
									{% for info in dataInfo.productsData %}
										{{productInfo(info)}}
									{% endfor %}
								</div>
								{{productInfo(dataInfo.productComentsData)}}
							</div>
							<!-- info eddit 1 -->
							<div class="border rounded-3 p-3 d-grid gap-3">
								<div class="fw-bold">Загальна інформація створення</div>
								<div class="d-flex gap-3">
									<div class="flex-grow-1">
										<label for="inputTextUser" class="sm form-label">Замовник</label>
										<input id="inputTextUser" type="text" class="form-control form-control-sm" placeholder="Замовник">
									</div>
									<div class="flex-grow-1">
										<label for="inputEmail" class="sm form-label">Електронна пошта</label>
										<input id="inputEmail" type="email" class="form-control form-control-sm" placeholder="Електронна пошта">
									</div>
									<div class="flex-grow-1">
										<label for="inputContact" class="sm form-label">Контактний номер</label>
										<input id="inputContact" type="number" class="form-control form-control-sm" placeholder="Контактний номер">
									</div>
								</div>
							</div>
							<!-- info eddit 2 -->
							<div class="border rounded-3 p-3 d-grid gap-3">
								<div class="fw-bold">Загальна інформація створення v2</div>
								<div class="d-flex gap-3">
									{% for info in dataInfo.productAllInfo %}
										{{productInfo(info)}}
									{% endfor %}
								</div>
								<div class="d-flex gap-3">
									<div class="flex-grow-1 w-50">
										<label for="inputEmail" class="sm form-label">Електронна пошта</label>
										<input id="inputEmail" type="email" class="form-control form-control-sm" placeholder="Електронна пошта">
									</div>
									<div class="flex-grow-1 w-50">
										<label for="inputContact" class="sm form-label">Контактний номер</label>
										<input id="inputContact" type="number" class="form-control form-control-sm" placeholder="Контактний номер">
									</div>
								</div>
							</div>
							<!-- Product 1 -->
							<div class="border rounded-3 p-3 d-grid gap-2">
								<div class="fw-bold">Товар</div>
								<div class="d-flex gap-3 align-items-start">
									<div>
										<div class="qela-previews qela-ibg" style="--img-size:54px"><img src="img/table-img-1.jpg" alt=""></div>
									</div>
									<div class="d-grid gap-2 flex-grow-1" style="max-width: 242px;">
										<small class="text-info-700 text-nowrap fw-semibold">Назва</small>
										<small class="qela-clamp text-break" style="--clamp-line: 2;" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-offset="0, 5" data-bs-title="Книга “Українське військове лідерство. Як командують українці”">Книга “Українське військове лідерство. Як командують українці”</small>
									</div>
									{% for info in dataInfo.productsProduct %}
										{{productInfo(info)}}
									{% endfor %}
								</div>
							</div>
							<!-- details 2 -->
							<div class="border rounded-3">
								<div class="fw-bold p-3 mb-2">Деталі</div>
								<div class="p-3 pt-0 d-flex gap-3 align-items-start">
									<div>
										<div class="qela-previews qela-icon qela-lg ic-img" style="--img-size:54px"></div>
									</div>
									<div class="d-grid gap-2 flex-grow-1" style="width: 300px;">
										<span class="text-nowrap fw-semibold">Оберіть товар</span>
										<div>
											<v-multi-select v-model="value9" :searchable="true" open-direction="auto" :options="options" :multiple="true" :close-on-select="true" :max-height="350" placeholder="Всі статуси" class="multiselect-sm"></v-multi-select>
										</div>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Тип</small>
										<small>-</small>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Доставка</small>
										<small>-</small>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Ціна</small>
										<small>-</small>
									</div>
									<div class="d-grid gap-2" style="width: 80px;">
										<small class="text-info-700 text-nowrap fw-semibold">Кількість</small>
										<input type="number" class="form-control form-control-sm" placeholder="" aria-label="Поле для введення кількості">
									</div>
								</div>
							</div>
							<!-- delivery  -->
							<div class="border rounded-3">
								<div class="p-3 d-grid gap-3">
									<div class="fw-bold">Доставка</div>
									<div class="fw-semibold d-flex align-items-center gap-1">
										<i class="text-info-600 ic-user1"></i>
										<span>Одержувач</span>
									</div>
									<div class="d-flex gap-4">
										{% for info in dataInfo.productsDeliveryPerson %}
											{{productInfo(info)}}
										{% endfor %}
									</div>
									{{productInfo(dataInfo.productComentsData)}}
								</div>
								<div class="border-top p-3">
									<div class="fw-semibold d-flex align-items-center gap-1">
										<i class="text-info-600 ic-mark"></i>
										<span>Адреса</span>
									</div>
									<div class="d-grid gap-4 mt-3">
										<div class="d-flex gap-4">
											{% for info in dataInfo.productsDeliveryInfo1 %}
												{{productInfo(info)}}
											{% endfor %}
										</div>
										<div class="d-flex gap-4">
											{% for info in dataInfo.productsDeliveryInfo2 %}
												{{productInfo(info)}}
											{% endfor %}
										</div>
										<div class="d-flex gap-4">
											{% for info in dataInfo.productsDeliveryInfo3 %}
												{{productInfo(info)}}
											{% endfor %}
										</div>
									</div>

								</div>
							</div>
							<!-- delivery create -->
							<div class="border rounded-3">
								<div class="p-3 d-grid gap-3">
									<div class="fw-bold">Доставка</div>
									<div class="fw-semibold d-flex align-items-center gap-1">
										<i class="text-info-600 ic-user1"></i>
										<span>Одержувач</span>
									</div>
									<div class="d-flex gap-4">
										<div class="form-check">
											<input name="radioDeliveri" type="radio" class="form-check-input" id="radioDeliveri" checked>
											<label class="form-check-label fs-7 text-info-900" for="radioDeliveri">Той самий що й замовник </label>
										</div>
										<div class="form-check">
											<input name="radioDeliveri" type="radio" class="form-check-input" id="radioDeliveri2">
											<label class="form-check-label fs-7 text-info-900" for="radioDeliveri2">Інша особа</label>
										</div>
									</div>
									<!-- row 1 -->
									<div class="row g-4">
										<div class="col-5">
											<div>
												<label for="deliveriName" class="form-label sm required">Імʼя</label>
												<input type="text" class="form-control form-control-sm" id="deliveriName" placeholder="Імʼя">
												<div class="invalid-feedback">Error text</div>
												<div class="helper-text fs-7">Вкажіть імʼя одержувача так, як у документі</div>
											</div>
										</div>
										<div class="col-5">
											<div>
												<label for="deliveriLastName" class="form-label sm required">Прізвище</label>
												<input type="text" class="form-control form-control-sm" id="deliveriLastName" placeholder="Прізвище">
												<div class="invalid-feedback">Error text</div>
											</div>
										</div>
										<div class="col-5">
											<div>
												<label for="deliveriMail" class="form-label sm required">Електронна пошта</label>
												<input type="email" class="form-control form-control-sm" id="deliveriMail" placeholder="Введіть пошту">
												<div class="invalid-feedback">Error text</div>
											</div>
										</div>
										<div class="col-5">
											<div>
												<label for="deliveriPhone" class="form-label fs-14 required">Номер телефону </label>
												<input type="number" class="form-control form-control-sm" id="deliveriPhone" placeholder="+49">
												<div class="invalid-feedback">Error text</div>
												<div class="helper-text fs-7">Вкажіть код країни</div>
											</div>
										</div>
									</div>
								</div>
								<div class="border-top p-3 d-grid gap-3">
									<div class="fw-semibold d-flex align-items-center gap-1">
										<i class="text-info-600 ic-mark"></i>
										<span>Адреса</span>
									</div>
									<!-- row 2 -->
									<div class="row g-4">
										<div class="col-5">
											<div>
												<label for="deliveriCountry" class="form-label sm">Країна</label>
												<input type="text" class="form-control form-control-sm" id="deliveriCountry" placeholder="Оберіть країну">
												<div class="invalid-feedback">Error text</div>
											</div>
										</div>
										<div class="col-5">
											<div>
												<label for="deliveriCity" class="form-label sm">Місто</label>
												<input type="text" class="form-control form-control-sm" id="deliveriCity" placeholder="Оберіть місто">
												<div class="invalid-feedback">Error text</div>
											</div>
										</div>
										<div class="col-2">
											<div>
												<label for="deliveriIndex" class="form-label sm">Індекс</label>
												<input type="number" class="form-control form-control-sm" id="deliveriIndex" placeholder="42500">
												<div class="invalid-feedback">Error text</div>
											</div>
										</div>
										<div class="col-5">
											<div>
												<label for="deliveriAddress1" class="form-label sm">Вулиця або пункт видачі</label>
												<input type="text" class="form-control form-control-sm" id="deliveriAddress1" placeholder="Введіть адресу">
												<div class="invalid-feedback">Error text</div>
												<div class="helper-text fs-7">Назва вулиці та номер будинку або назва пункту видачі / поштомату</div>
											</div>
										</div>
										<div class="col-5">
											<div>
												<div class="d-flex align-items-start gap-1">
													<label for="deliveriAddress2" class="form-label sm">Додаткові дані адреси (необовʼязково)</label>
													<button type="button" class="btn btn-sm qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-offset="0, 10" data-bs-title="Для доставки у відділення або поштомат служба доставки може вимагати вказати фактичну адресу проживання."></button>
												</div>
												<input type="text" class="form-control form-control-sm" id="deliveriAddress2" placeholder="Введіть адресу">
												<div class="invalid-feedback">Error text</div>
												<div class="helper-text fs-7">Примітки для доставки або фактична адреса проживання, якщо цього вимагає служба доставки</div>
											</div>
										</div>
										<div class="col-10">
											<label for="deliveriTextarea" class="form-label sm">Коментар для курʼєра (необовʼязково)</label>
											<textarea class="form-control form-control-sm" placeholder="Коментар" id="deliveriTextarea" rows="1"></textarea>
											<div class="invalid-feedback">Error text</div>
											<div class="helper-text fs-7">Корисні інструкції для курʼєра (наприклад: зателефонувати перед доставкою)</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- right -->
						<div class="col-4">
							<div class="border rounded-3 overflow-hidden">
								<div class="fw-bold p-3 mb-2">Історія змін</div>
								<!-- Table -->
								<div class="table-responsive qela-table position-relative">
									<table class="table table-borderless qela-no--hover">
										<thead class="table-light" style="--bs-table-bg:var(--bs-gray-100)">
											<tr>
												<th>
													<small class="text-info-700 fw-semibold">Статус</small>
												</th>
												<th>
													<small class="text-info-700 fw-semibold">Створив(ла)</small>
												</th>
												<th>
													<small class="text-info-700 fw-semibold">Дата та час</small>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<small class="text-success-800">Отримано</small>
													<!-- <small class="text-info-900 fw-semibold">Відправлено</small>
															<small class="text-danger-600 fw-semibold">Скасовано</small>
															<small class="text-warning-600 fw-semibold">В роботі</small> -->
												</td>
												<td class="text-wrap">
													<small>Василь Контрольний</small>
												</td>
												<td>
													<small>14.11.2025 - 12:07</small>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
				<div class="modal-footer justify-content-end p-3 gap-2">
					{% for item in data.btnOrderFooter %}
						{{btns(item)}}
					{% endfor %}
				</div>
			</div>
			<!-- modal cancel order (blur) -->
			{% include "html/includes/shop/modals/_modalCancelOrder.njk" %}
		</div>
	</div>