<div class="modal fade" id="modalCancel" tabindex="-1" aria-labelledby="modalCancelLabel" aria-hidden="true">
	<div class="modal-dialog modal-md modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-body p-4 text-center">
				<h5 class="fs-18 fw-medium pb-2">Зберегти зміни?</h5>
				<div class="pt-1">Якщо ви вийдете, зміни не будуть збережені</div>
			</div>
			<div class="modal-footer justify-content-center p-3 border-top-0 gap-2">
				<button type="button" class="btn btn-info m-0 me-auto" data-bs-dismiss="modal">Назад</button>
				<button type="button" class="btn btn-info m-0">Не зберігати</button>
				<button type="button" class="btn btn-primary m-0">Зберегти</button>
			</div>
		</div>
	</div>
</div>