{% macro inputSearch(props) %}
	<div class="qela-search">
		<button type="button" class="ic-search"></button>
		<input type="search" class="form-control" placeholder="Search"/>
		<button type="button" class="text-black ic-cloze"></button>
	</div>
{% endmacro %}