@import "form/buttons";
@import "form/input";
@import "form/multyselect";
@import "form/checkbox";
@import "form/datapiker";

.server-error {
	color: var(--bs-danger);
}
.form-label {
	color: var(--bs-ql-info-700);
	&.sm {
		font-size: rem(14);
		margin-bottom: rem(6);
	}
}
