{# Toltips component #}
{% set tooltipsComponent = [
	{
		classes: 'ic-help-circle-filled',
		offset: '0,8',
		placement:'bottom',
		customClass: "custom-tooltip",
		title:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum it nulla accumsan sodales ornare.'
	},
	{
		classes: 'btn-sm ic-help-circle-filled',
		offset: '0,8',
		placement:'bottom',
		customClass: "custom-tooltip",
		title:'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum it nulla accumsan sodales ornare.'
	}
] %}

{% set tooltipsAdminComponent = [
	{
		classes: 'qela-admin secondary ic-key',
		offset: '0,
			7',
		placement:'bottom',
		customClass: "custom-tooltip",
		title:'Branch super admin',
		comment: "Tooltip super-admin"
	},
	{
		classes: 'qela-admin success ic-diamond',
		offset: '0, 7',
		placement:'bottom',
		customClass: "custom-tooltip",
		title:'Branch quests admin',
		comment: "Tooltip quests-admin"
	},
	{
		classes: 'qela-admin warning ic-eye',
		offset: '0, 7',
		placement:'bottom',
		customClass: "custom-tooltip",
		title:'Branch reader',
		comment: "Branch reader"
	},
	{
		classes: 'qela-admin success ic-voting',
		offset: '0, 7',
		placement:'bottom',
		customClass: "custom-tooltip",
		title:'Branch voting admin',
		comment: "Tooltip voting-admin"
	},
	{
		classes: 'qela-admin success ic-people',
		offset: '0, 7',
		placement:'bottom',
		customClass: "custom-tooltip",
		title:'Branch users admin',
		comment: "Tooltip users-admin"
	},
	{
		classes: 'qela-admin secondary ic-branch',
		offset: '0, 7',
		placement:'bottom',
		customClass: "custom-tooltip",
		title:'Branch super admin',
		comment: "Tooltip branch-super-admin"
	}
] %}

{% set tooltipsAdminComponentSm = [
	{
		classes: 'btn-sm qela-admin secondary ic-key',
		offset: '0,
			7',
		placement:'bottom',
		customClass: "custom-tooltip",
		title:'Branch super admin',
		comment: "Tooltip super-admin"
	},
	{
		classes: 'btn-sm qela-admin success ic-diamond',
		offset: '0, 7',
		placement:'bottom',
		customClass: "custom-tooltip",
		title:'Branch quests admin',
		comment: "Tooltip quests-admin"
	},
	{
		classes: 'btn-sm qela-admin warning ic-eye',
		offset: '0, 7',
		placement:'bottom',
		customClass: "custom-tooltip",
		title:'Branch reader',
		comment: "Branch reader"
	},
	{
		classes: 'btn-sm qela-admin success ic-voting',
		offset: '0, 7',
		placement:'bottom',
		customClass: "custom-tooltip",
		title:'Branch voting admin',
		comment: "Tooltip voting-admin"
	},
	{
		classes: 'btn-sm qela-admin success ic-people',
		offset: '0, 7',
		placement:'bottom',
		customClass: "custom-tooltip",
		title:'Branch users admin',
		comment: "Tooltip users-admin"
	},
	{
		classes: 'btn-sm qela-admin secondary ic-branch',
		offset: '0, 7',
		placement:'bottom',
		customClass: "custom-tooltip",
		title:'Branch super admin',
		comment: "Tooltip branch-super-admin"
	}
] %}

{% set tooltipTextComponent = {
	classes: '',
	offset: '0, 7',
	placement:'bottom',
	customClass:"custom-tooltip",
	title:'Share invite to the Climate Unity March! Climate Unity March!',
	text:'Share invite to the Climate Unity March! Climate Unity March!',
	style:'width: 265px;'
} %}
{# Toltips component #}