<div class="col-12">
	<ul class="nav nav-tabs">
		<li class="nav-item" role="presentation">
			<button class="nav-link ">Campaign master</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link ">Quest list</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link ">Campaign list</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link ">Quest Chain list</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link ">Guide</button>
		</li>
	</ul>
</div>