<!-- Pagination  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Pagination</h2>
	<!-- Pagination  default -->
	<h4>Pagination default</h4>
	{% set paginationsData = [
		{	
			sizeClass:'',
			typeBtn: 'text',
			table: false
		},
		{	
			sizeClass:'',
			typeBtn: 'icon',
			table: false
		} 
	]%}
	{% from "html/includes/pagination/_pagination.njk" import pagination %}
	{% for item in paginationsData %}
		{{pagination(item)}}
	{% endfor %}
	<!-- Pagination small -->
	<h4>Pagination small</h4>
	{% set paginationsData = [
		{	
			sizeClass:'pagination-sm',
			typeBtn: 'text',
			table: false
		},
		{	
			sizeClass:'pagination-sm',
			typeBtn: 'icon',
			table: false
		},{	
			sizeClass:'pagination-sm',
			typeBtn: 'icon',
			table: true
		} 
	]%}
	{% from "html/includes/pagination/_pagination.njk" import pagination %}
	{% for item in paginationsData %}
		{{pagination(item)}}
	{% endfor %}
</section>