<!-- menu -->
<aside class="qela-menu">
	<!-- buttons -->
	<button type="button" class="ic-chevrons-left qela-btn-menu"></button>
	<nav class="qela-nav qela-scroll-custom">
		<!-- nav wrapper -->
		<div class="qela-nav-wrapper">
			{% set navLinks = [
					{
						text: 'Організація',
						iconClass: 'ic-city',
						linkActive:false
					},
					{
						text: 'Покроковий ґайд',
						iconClass: 'ic-box-arrow',
						linkActive:false
					},
					{
						text: 'Користувачі',
						iconClass: 'ic-people',
						linkActive:false
					},
					{
						text: 'Задачі адміна',
						iconClass: 'ic-task',
						linkActive:false
					},
					{
						text: 'Квести',
						iconClass: 'ic-diamond',
						linkActive: quests == 'active'
					},
					{
						text: 'Голосування',
						iconClass: 'ic-voting',
						linkActive:false
					},
					{
						text: 'Новини',
						iconClass: 'ic-notes',
						linkActive:false
					},
					{
						text: 'Теги',
						iconClass: 'ic-tag',
						linkActive:false
					},
					{
						text: 'Винагороди',
						iconClass: 'ic-trophy',
						linkActive: rewards == 'active'
					},
					{
						text: 'Донати',
						iconClass: 'ic-donation-outlined',
						linkActive: false
					},
					{
						text: 'Дашборд',
						iconClass: 'ic-chart-pie',
						linkActive: false
					},
					{
						text: 'Обговорення',
						iconClass: 'ic-message-circle',
						linkActive: chat == 'active',
						counter: '<span class="qela-counter">50</span>'
					},
					{
						text: 'Магазин',
						iconClass: 'ic-tent',
						linkActive: shop == 'active'
					}
				] %}
			<ul class="nav">
				{% for link in navLinks %}
					<li class="nav-item">
						<a href="#" class="nav-link {{ 'active' if link.linkActive }}" aria-current="page">
							{{ link.counter | safe }}
							<i class="{{link.iconClass}}" data-bs-trigger="hover" data-bs-offset="0, 12" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip" data-bs-title="{{link.text}}"></i>
							<div>{{link.text}}</div>
						</a>
					</li>
				{% endfor %}
			</ul>
			<ul class="nav">
				<li class="nav-item">
					<a href="#" class="nav-link" aria-current="page">
						<i class="ic-settings" data-bs-trigger="hover" data-bs-offset="0, 12" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip settings" data-bs-title="Налаштування"></i>
						<div>Налаштування</div>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</aside>