<!--  Card  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Cards</h2>
	<!-- Card modal -->
	<h4>Card modal</h4>
	<div class="d-flex flex-wrap gap-2">
		<a href="#" class="card qela-card" style="width: 13.625rem">
			<div class="qela-ibg card-img-top">
				<img src="img/table-img-1.jpg" class="card-img-top" alt="img" />
			</div>
			<div class="card-body pt-2">
				<div class="text-end pb-2">
					<span class="badge qela-badge-success">Published</span>
				</div>
				<h5 class="card-title h6">Share invite to the Climate Unity March!</h5>
			</div>
		</a>
		<a href="#" class="card qela-card" style="width: 13.625rem">
			<div class="qela-ibg qela-noimg bg-info-100">
				<span class="ic-img text-info"></span>
			</div>
			<div class="card-body pt-2">
				<div class="text-end pb-2">
					<span class="badge qela-badge-success">Published</span>
				</div>
				<h5 class="card-title h6">Share invite to the Climate Unity March!</h5>
			</div>
		</a>
	</div>
	<!--  Card Verification -->
	<h4 class="mt-4">Card verification</h4>
	<div class="card p-3 border-0 rounded-0" style="width: 244px">
		<div class="form-check pe-2 mb-2">
			<input type="checkbox" class="form-check-input" id="Check1" />
		</div>
		<a href="#" class="qela-ibg qela-img1x1 ic-arrows-maximize">
			<img src="img/img-ver2.jpg" alt="img" />
		</a>
		<div class="card-body p-0 pt-2">
			<div class="d-flex align-items-center w-100">
				<button type="button" class="btn btn-danger me-1 flex-grow-1">
					Decline
				</button>
				<button type="button" class="btn btn-success ic-check-big ico-right flex-grow-1">
					Verify
				</button>
			</div>
			<div class="pt-3">
				<div class="mb-1 h6">Босик Ждана</div>
				<div class="text-info-600">example@gmail.com</div>
			</div>
			<div class="pt-3">
				<div class="text-info-600"><small>20/20/2023 12:02:23</small></div>
				<div class="text-info-600"><small>ID: 02344</small></div>
			</div>
		</div>
	</div>
	<!--  Card shop -->
	<h4 class="mt-4">Card shop</h4>
	<div class="d-flex gap-2">
		<!-- default -->
		<div class="qela-card-shop">
			<img src="img/cards/shop-img.png" class="img-fluid" alt="photo product">
			<div class="qela-card-actions px-2">
				<button type="button" class="btn btn-sm btn-danger ic-delete ico-right w-100"> Видалити </button>
				<button type="button" class="btn btn-sm btn-info ic-refresh ico-right w-100"> Оновити </button>
			</div>
		</div>
		<!-- no img -->
		<div class="qela-card-shop empty">
			<div class="d-flex flex-column justify-content-center align-items-center h-100 gap-2 ">
				<i class="ic-img-plus text-info-600"></i>
				<div class="text-center px-1">
					<div class="text-secondary text-decoration-underline text-nowrap">Клікніть щоб загрузити</div>
					<div class="text-info-700 mt-1">або перетягніть сюди</div>
				</div>
			</div>
		</div>
		<!-- eddit -->
		<div class="qela-card-shop eddit">
			<img src="img/cards/shop-img.png" class="img-fluid" alt="photo product">
			<span class="qela-list-num bg-white border">1</span>
			<div class="position-relative mt-auto py-1 px-2 bg-white text-center border-top">
				<i class="ic-dots-2 text-info-600 d-inline-block"></i>
			</div>
		</div>
		<!-- eddit drag-->
		<div class="qela-card-shop eddit opacity-50" style="cursor: grab;">
			<img src="img/cards/shop-img.png" class="img-fluid" alt="photo product">
			<span class="qela-list-num bg-white border">1</span>
			<div class="position-relative mt-auto py-1 px-2 bg-white text-center border-top">
				<i class="ic-dots-2 text-info-600 d-inline-block"></i>
			</div>
		</div>
	</div>
</section>