input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}
.form-control {
	--input-number-width: 56px;
	min-height: 38px;
	color: var(--bs-ql-input-color);
	border-color: var(--bs-ql-input-border-color);
	background-color: var(--bs-ql-input-bg-color);
	&::placeholder {
		color: var(--bs-ql-input-placeholder-color);
	}
	@media (any-hover: hover) {
		&:hover {
			border-color: var(--bs-ql-input-hover-border-color);
		}
	}
	&:focus {
		color: var(--bs-ql-input-focus-color);
		border-color: var(--bs-ql-input-focus-border-color);
		background-color: var(--bs-ql-input-focus-bg-color);
		box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width
			color-mix(in srgb, var(--bs-ql-input-focus-box-shadow), transparent 70%);
		@media (any-hover: hover) {
			&:hover {
				border-color: var(--bs-ql-input-focus-border-color);
			}
		}
	}
	&:disabled {
		color: var(--bs-ql-input-disabled-color);
		background-color: var(--bs-ql-input-disabled-bg-color);
		border-color: var(--bs-ql-input-disabled-border-color);
		@media (any-hover: hover) {
			&:hover {
				border-color: var(--bs-ql-input-disabled-border-color);
			}
		}
	}

	&.is-invalid {
		background-image: none;
		padding-right: 1rem;

		&:hover {
			border-color: var(--bs-ql-input-ivalid-border-color);
		}

		& ~ .btn-input {
			&:hover {
				color: var(--bs-black);
				border-color: var(--bs-ql-info-400);
			}

			&:active {
				color: var(--bs-black) !important;
				border-color: var(--bs-ql-info-400) !important;
			}
		}

		& ~ .helper-text {
			display: none;
		}
	}
}
// start search
.qela-search {
	position: relative;
	.form-control {
		padding-left: rem(36);
		padding-right: rem(32);
		border-radius: rem(30);
	}
	button {
		padding: 0;
		border: none;
		background-color: transparent;
		color: var(--bs-info);
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		&:first-child {
			left: 12px;
		}
		&:last-child {
			right: 12px;
		}
		&::before {
			font-size: rem(20);
		}
	}
}
// end search

.form-control-sm {
	min-height: 31px;
}
.input-group
	> :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(
		.invalid-feedback
	) {
	margin-left: 0px;
}
.input-group {
	&.is-invalid {
		.invalid-feedback {
			display: block;
		}
	}
}
.input-group-sm {
	.form-control {
		min-height: 31px;
		padding: rem(5) rem(8);
	}
	.qela-input-inner {
		&.right {
			.form-control {
				padding-right: rem(30);
			}
		}
		.btn {
			&::before {
				font-size: rem(16);
			}
		}
	}
}

.qela-input-inner {
	width: 100%;
	position: relative;
	&.right {
		.form-control {
			padding-right: rem(36);
		}
		.btn {
			right: 12px;
		}
	}
	.form-control {
		@media (any-hover: hover) {
			&:hover {
				~ .btn {
					&:not(:disabled) {
						&::before {
							color: var(--bs-black);
						}
					}
				}
			}
		}
		&:focus {
			~ .btn {
				&:not(:disabled) {
					&::before {
						color: var(--bs-black);
					}
				}
			}
		}
		&:disabled {
			~ .btn {
				&::before {
					color: var(--bs-black);
				}
			}
		}
	}
	.btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		border: none !important;
		background-color: transparent;
		padding: 0;
		&::before {
			color: var(--bs-ql-info-600);
			font-size: 20px;
		}

		&:hover {
			background: transparent;
			border-color: none;
			&::before {
				color: var(--bs-black);
			}
		}

		&:active {
			color: var(--bs-black) !important;
			background: transparent !important;
			border-color: none;
			&::before {
				color: var(--bs-black);
			}
		}

		&:disabled {
			&::before {
				color: var(--bs-ql-info-600);
			}
		}
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

textarea {
	color: var(--bs-ql-info-700);
}

.helper-text {
	display: block;
	color: var(--bs-ql-info-600);
	margin-top: rem(4);
	width: 100%;
	font-size: rem(14);
}

.invalid-feedback {
	font-size: $font-size-sm;
}

.btn-input {
	padding: rem(4) rem(8);
	border-color: var(--bs-ql-info-400);
	background: var(--bs-white);

	&::before {
		font-size: rem(18);
	}

	&:hover {
		background: var(--bs-white);
		border-color: var(--bs-ql-info-600);
		color: var(--bs-ql-info-600);
	}

	&:active {
		color: var(--bs-ql-info-600) !important;
		border-color: var(--bs-ql-info-600) !important;
		background: var(--bs-white) !important;
	}

	&:disabled {
		border-color: var(--bs-ql-info-400);
	}
}

.has-validation {
	&.is-invalid {
		& ~ .helper-text {
			display: none;
		}
	}
}

.required {
	&.form-label::after {
		content: "*";
		color: var(--bs-danger);
		padding-left: rem(4);
	}
}

.qela-form-labels {
	display: flex;
	justify-content: space-between;

	> div {
		display: flex;
		align-items: baseline;
		margin-right: rem(8);
		.qela-btn-tooltip {
			margin-left: rem(8);
			margin-bottom: rem(8);
			margin-top: rem(8);
		}
	}

	.form-label {
		&:last-child {
			color: var(--bs-ql-info-700);
			font-weight: 400;
		}
	}
}

.form-range {
	&::-webkit-slider-runnable-track {
		background: var(--bs-secondary);
	}
	&::-moz-range-track {
		background: var(--bs-secondary);
	}
	&::-ms-track {
		background: var(--bs-secondary);
	}
	&::-webkit-slider-thumb {
		background: var(--bs-secondary);
	}
	&::-moz-range-thumb {
		background: var(--bs-secondary);
	}
	&::-ms-thumb {
		background: var(--bs-secondary);
	}
	&:active {
		&::-webkit-slider-thumb {
			background-color: var(--bs-secondary);
			box-shadow:
				0 0 0 1px var(--bs-secondary),
				$input-focus-box-shadow;
		}
		&::-moz-range-thumb {
			background-color: var(--bs-secondary);
			box-shadow:
				0 0 0 1px var(--bs-secondary),
				$input-focus-box-shadow;
		}
		&::-ms-thumb {
			background-color: var(--bs-secondary);
			box-shadow:
				0 0 0 1px var(--bs-secondary),
				$input-focus-box-shadow;
		}
	}
	&:focus {
		&::-webkit-slider-thumb {
			box-shadow:
				0 0 0 1px var(--bs-ql-secondary-600),
				$input-focus-box-shadow;
		}
		&::-moz-range-thumb {
			box-shadow:
				0 0 0 1px var(--bs-ql-secondary-600),
				$input-focus-box-shadow;
		}
		&::-ms-thumb {
			box-shadow:
				0 0 0 1px var(--bs-ql-secondary-600),
				$input-focus-box-shadow;
		}
	}
	&:disabled {
		&::-webkit-slider-runnable-track {
			background: $input-disabled-bg;
		}

		&::-moz-range-track {
			background: $input-disabled-bg;
		}

		&::-ms-track {
			background: $input-disabled-bg;
		}

		&::-ms-fill-lower {
			background: $input-disabled-bg;
		}

		&::-ms-fill-upper {
			background: $input-disabled-bg;
		}
	}
}

.qela-file {
	font-size: rem(14);

	label {
		height: 140px;
		width: 100%;
		background-color: var(--bs-ql-input-bg-color);
		padding: 0.75rem $input-padding-x;
		border-radius: $input-border-radius;
		border: $input-border-width solid var(--bs-ql-input-border-color);
		margin: 0;
		transition: border-color 0.2s ease 0s;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
	}

	.form-control {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		font-size: 0;
		z-index: 1;

		&:hover {
			& ~ label {
				border-color: var(--bs-ql-input-hover-border-color);
				box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width
					color-mix(in srgb, var(--bs-ql-input-hover-border-color), transparent 70%);
			}
		}

		&:focus {
			& ~ label {
				border-color: var(--bs-ql-input-focus-border-color);
				box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width
					color-mix(in srgb, var(--bs-ql-input-focus-box-shadow), transparent 70%);
			}
		}

		&:disabled {
			cursor: auto;

			& ~ label {
				color: var(--bs-ql-input-disabled-color);
				background-color: var(--bs-ql-input-disabled-bg-color);
				border-color: var(--bs-ql-input-disabled-border-color);
				opacity: 1;
			}
			&:hover {
				& ~ label {
					box-shadow: none;
				}
			}
		}

		&.is-invalid {
			& ~ label {
				border-color: var(--bs-ql-input-ivalid-border-color);
			}

			&:focus {
				& ~ label {
					box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width
						color-mix(in srgb, var(--bs-ql-input-ivalid-border-color), transparent 70%);
				}
			}
			&:hover {
				& ~ label {
					box-shadow: 0 0 $input-btn-focus-blur $input-btn-focus-width
						color-mix(in srgb, var(--bs-ql-input-ivalid-border-color), transparent 70%);
				}
			}
		}
	}

	&.has-validation {
		.helper-text {
			display: none;
		}

		.invalid-feedback {
			display: block;
		}
	}

	&.filled {
		display: none;

		& ~ .qela-preview {
			display: flex;
		}
	}

	&.small {
		font-size: 14px;

		div {
			&:first-child {
				position: relative;
				display: inline-block;
			}
		}

		label {
			flex-direction: row;
			background-color: var(--bs-body-bg);
			height: auto;
			width: auto;
			gap: 0.25rem;
			padding: 0.25rem 0.5rem;
		}

		[class^="ic-"],
		[class*="ic-"] {
			color: var(--bs-black);
		}

		small {
			font-weight: 500;
			color: var(--bs-black);
		}
	}

	&.add-img {
		label {
			padding: 0;
			border: none;
			background-color: transparent;
			border-radius: 50%;
			height: auto;
		}

		.qela-avatar {
			margin-right: 0;
			background-color: var(--bs-white);
			border: 1px solid var(--bs-ql-info-200);
		}
	}
}

.qela-preview {
	display: none;
	gap: 0.5rem;
	font-size: rem(14);

	@include media-breakpoint-down(sm) {
		flex-direction: column;
	}

	> div {
		height: 70px;

		&:first-child {
			display: flex;
			background-color: var(--bs-white);
			border-radius: 0.375rem;
			overflow: hidden;
			border: 1px solid var(--bs-ql-info-400);

			[class*="ic-"] {
				width: 70px;
				height: 100%;
				border-right: 1px solid var(--bs-ql-info-400);
				font-size: 24px;
				color: var(--bs-ql-info-400);
				display: flex;
				align-items: center;
				justify-content: center;
			}

			img {
				aspect-ratio: 1/1;
				max-width: 100%;
				object-fit: cover;
			}
		}
	}

	.btn {
		&.ico-left {
			padding-top: rem(7.5);
			padding-bottom: rem(7.5);
		}
	}
}

.qela-input-group {
	.form-control {
		text-align: right;
		background:
			url("../img/icons/crossed-round.svg") calc(100% - 12px) center/18px 18px no-repeat,
			var(--bs-white);
		padding-right: 38px;
		position: relative;
		z-index: 5;

		&.success {
			background:
				url("../img/icons/arrow-big-up.svg") calc(100% - 12px) center/18px 18px no-repeat,
				var(--bs-white);
			border-color: var(--bs-ql-success-600);
			border-color: var(--bs-ql-success-600);
			box-shadow:
				2px 2px 0px 0px color-mix(in srgb, var(--bs-secondary), transparent 70%),
				-2px -2px 0px 0px color-mix(in srgb, var(--bs-secondary), transparent 70%);

			&:hover {
				border-color: var(--bs-ql-success-600);
			}

			&:focus {
				border-color: var(--bs-ql-success-600);
				box-shadow:
					2px 2px 0px 0px color-mix(in srgb, var(--bs-secondary), transparent 70%),
					-2px -2px 0px 0px color-mix(in srgb, var(--bs-secondary), transparent 70%);
			}
		}

		&.danger {
			background:
				url("../img/icons/arrow-big-down.svg") calc(100% - 12px) center/18px 18px no-repeat,
				var(--bs-white);
			border-color: var(--bs-ql-danger-600);
			box-shadow:
				2px 2px 0px 0px color-mix(in srgb, var(--bs-danger), transparent 70%),
				-2px -2px 0px 0px color-mix(in srgb, var(--bs-danger), transparent 70%);
			border-color: var(--bs-ql-danger-600);

			&:hover {
				border-color: var(--bs-ql-danger-600);
			}

			&:focus {
				border-color: var(--bs-ql-danger-600);
				box-shadow:
					2px 2px 0px 0px color-mix(in srgb, var(--bs-danger), transparent 70%),
					-2px -2px 0px 0px color-mix(in srgb, var(--bs-danger), transparent 70%);
			}
		}

		&.active {
			box-shadow:
				2px 2px 0px 0px color-mix(in srgb, var(--bs-secondary), transparent 70%),
				-2px -2px 0px 0px color-mix(in srgb, var(--bs-secondary), transparent 70%);
		}
	}
}
