.qela-select-inner {
	display: grid;
	grid-template-columns: auto repeat(6, 1fr);
	align-items: center;
	gap: rem(24);
	> * {
		width: 100%;
	}
	.multiselect {
		flex: 0 1 215px;
	}
}
.qela-multiselect {
	position: relative;
	> .btn-close {
		position: absolute;
		z-index: 2;
		right: 30px;
		top: 3px;
		padding: rem(8);
	}
	&.qela-popover {
		display: block;
	}
}
.multiselect {
	cursor: pointer;
	min-height: 38px;
	&__option {
		font-size: rem(14);
	}
	@media (any-hover: hover) {
		&:hover {
			.multiselect__tags {
				border-color: var(--bs-ql-input-hover-border-color);
			}
		}
	}

	&.multiselect--disabled {
		opacity: $btn-close-opacity;

		.multiselect__select {
			background: transparent;
			border-color: var(--bs-ql-input-disabled-border-color);
			color: var(--bs-ql-input-disabled-color);
		}

		.multiselect__tags {
			background-color: var(--bs-ql-input-disabled-bg-color);
			border-color: var(--bs-ql-input-disabled-border-color);
			color: var(--bs-ql-input-disabled-color);
		}

		.multiselect__single {
			background-color: var(--bs-ql-input-disabled-bg-color);
		}
	}
}
.multiselect--active {
	.multiselect__tags {
		border-color: var(--bs-ql-input-focus-border-color);

		// border-bottom-color: $input-bg;

		@media (any-hover: hover) {
			&:hover {
				border-color: var(--bs-ql-input-focus-border-color);
				// border-bottom-color: $input-bg;
			}
		}
	}
}
.multiselect__tags {
	padding: 0px rem(42) 0 $input-padding-x;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-radius: $input-border-radius;
	border: 1px solid var(--bs-ql-input-border-color);
	background-color: var(--bs-ql-input-bg-color);
	min-height: 38px;
	transition: border-color 0.2s ease 0s;
}

.multiselect__tags-wrap {
	margin: 4px 0px 3px -8px;
}

.multiselect__tag {
	padding: 5px 28px 5px 6px;
	border-radius: 6px;
	margin-right: 2px;
	margin-bottom: 2px;
	color: var(--bs-ql-info-800);
	line-height: 120%;
	background: var(--bs-ql-info-100);
	display: inline-flex;
	white-space: wrap;
}

.multiselect__tag-icon {
	top: 2px;
	right: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 22px;
	height: 22px;
	padding: 4px;
	border-radius: 4px;
	background-color: var(--bs-ql-secondary-100);
	&:focus {
		background-color: var(--bs-ql-secondary-400);
		&::after {
			color: var(--bs-ql-info-800);
		}
	}

	&:hover {
		background-color: var(--bs-ql-secondary-400);
		&::after {
			color: var(--bs-ql-info-800);
		}
	}

	&::after {
		content: "\e906";
		font-family: "icons";
		font-size: rem(16);
	}
}

.multiselect__select {
	right: 0;
	top: 0;
	padding: 0;
	&:before {
		content: "\e903";
		font-family: "icons";
		font-size: rem(24);
		color: var(--bs-ql-info-600);
		position: absolute;
		top: 50%;
		right: auto;
		left: 50%;
		margin-top: 0;
		transform: translate(-50%, -50%);
		border: none;
	}
}

.multiselect__input {
	margin: 0;
	padding: rem(5) 0;

	&::placeholder {
		color: var(--bs-ql-input-placeholder-color);
		font-size: $input-font-size;
		font-weight: normal;
	}
}

.multiselect__placeholder {
	color: var(--bs-ql-input-placeholder-color);
	margin-bottom: 0px;
	padding-top: 0px;
	font-size: $input-font-size;
	font-weight: normal;
}

.multiselect__content-wrapper {
	border-color: var(--bs-ql-input-focus-border-color);
	border-top-color: transparent;
	border-radius: 0 0 rem(10) rem(10);
	overflow-x: hidden;
	// max-height: unset !important;
}
.multiselect__content {
	min-width: unset;
	width: 100%;
}
.multiselect__element {
	width: 100%;
}
.multiselect__option--highlight {
	color: var(--bs-ql-input-color);
	background-color: var(--bs-ql-secondary-100);
}

.multiselect__option {
	color: var(--bs-ql-input-color);
	line-height: 17px;
	padding: rem(12) $input-padding-x rem(12) $input-padding-x;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--bs-ql-secondary-100);
		}
	}

	&::after {
		content: "";
		display: none;
	}
}

.multiselect__option--selected {
	background-color: var(--bs-ql-secondary-200);
	color: var(--bs-ql-input-color);
	font-weight: 400;

	&.multiselect__option--highlight {
		background-color: var(--bs-ql-secondary-200);
		color: var(--bs-ql-input-color);
		font-weight: 400;
	}
}

.multiselect__single {
	margin: 0;
	padding-left: 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: $input-font-size;
}

.is-invalid {
	@media (any-hover: hover) {
		&:hover {
			.multiselect__tags {
				border-color: var(--bs-ql-input-ivalid-border-color);
			}
		}
	}
	.multiselect__tags {
		border-color: var(--bs-ql-input-ivalid-border-color);
	}
	.multiselect--active {
		.multiselect__tags {
			border-color: var(--bs-ql-input-ivalid-border-color);
			@media (any-hover: hover) {
				&:hover {
					border-color: var(--bs-ql-input-ivalid-border-color);
				}
			}
		}
	}

	.multiselect__content-wrapper {
		border-color: var(--bs-ql-input-ivalid-border-color);
		border-top-color: transparent;
		@media (any-hover: hover) {
			&:hover {
				border-color: var(--bs-ql-input-ivalid-border-color);
			}
		}
	}

	& ~ .helper-text {
		display: none;
	}
}
