<!DOCTYPE html>
<html lang="ua">
	{% set title = "Billing success" %}
	{% include "_head.njk" %}
	<body class="bg-white ps-0">
		<main class="qela-main py-3">
			<div class="container-xxl">
				<div class="row justify-content-center">
					<div class="col-4 text-center">
						<div class="d-flex align-items-center gap-2">
							<button type="button"
							class="btn btn-sm btn-outline-info ic-chevron-left ico-left px-1 py-2"></button>
							<small class="p-2 flex-grow-1 text-info-600">оплата успішна</small>
						</div>
						<div class="pt-5 pb-4">
							<img src="img/icons/success-ic.svg" alt=""/>
						</div>
						<h4 class="pb-3 text-info-800">Дякуємо за оплату!</h4>
						<p class="text-info-600">
						Ваше поповнення балансу організації "Назва організації" буде
						відображено в розділі
						<a href="#" class="text-decoration-none">Оплата</a>
						</p>
						<div class="py-6">
							<span class="h1 text-info-800">55.0$</span>
							<div class="d-flex align-items-center justify-content-center gap-2">
								<img src="img/credits-logo/Mastercard.svg" width="40" alt=""/>
								<span>...3644</span>
							</div>
						</div>
						<div class="d-grid gap-2 px-3">
							<button class="btn btn-lg btn-info ico-right ic-print" type="button">
							Друк квитанції
						</button>
							<button class="btn btn-lg btn-info ico-right ic-share-2" type="button">
							Друк квитанції
						</button>
							<a href="#" class="btn btn-lg btn-secondary ico-left ic-arrow-left" type="button">Назад</a>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- =========================== -->
		{% include "_js.html" %}
	</body>

</html>