<!DOCTYPE html>
<html lang="ua">
	{% set title = "Chat" %}
	{% include "_head.njk" %}
	<body class="qela-body" id="app">
		{% set header = {title:"Discussions", logo:"img/logo-sm.svg"} %}
		{% include "./components/_header.njk" %}
		<main class="flex-grow-1">
			{% set chat = "active" %}
			{% include "./components/_aside.njk" %}
			<!-- ====================================== Chat ====================================-->
			<div class="container-fluid h-100">
				<div class="qela-page qela-scroll-custom">
					<ul class="nav nav-tabs bg-white rounded-top px-4 pt-3">
						<li id="campaigns-tab" class="nav-item">
							<a class="nav-link " href="#">General</a>
						</li>
						<li id="chains-tab" class="nav-item">
							<a class="nav-link active" href="#">Comments</a>
							<span class="qela-counter">2</span>
						</li>
					</ul>
					<div class="qela-chat-inner">
						<!-- block 1 -->
						<div style="--flex-width:270px">
							<div class="flex-grow-1 overflow-auto" style="height:var(--height-scroll)">
								<ul class="list-group list-group-flush qela-list-menu">
									<li class="list-group-item">
										<button type="button" class="current">
											<div class="qela-avatar info-400 qela-ibg">
												<i class="text-info-600 ic-diamond"></i>
											</div>
											<div class="qela-clamp">Quests</div>
											<span class="qela-list-num bg-info-400">5</span>
										</button>
									</li>
									<li class="list-group-item">
										<button type="button">
											<div class="qela-avatar info-400 qela-ibg">
												<i class="text-info-600 ic-voting"></i>
											</div>
											<div class="qela-clamp">Voting</div>
											<span class="qela-list-num bg-info-400">5</span>
										</button>
									</li>
									<li class="list-group-item">
										<button type="button">
											<div class="qela-avatar info-400 qela-ibg">
												<i class="text-info-600 ic-notes"></i>
											</div>
											<div class="qela-clamp">News</div>
											<div class="d-flex align-items-center gap-2px">
												<span class="qela-list-num bg-info-400">40</span>
												<span class="text-danger-600">(4)</span>
												<i class="ic-report text-danger-600"></i>
											</div>
										</button>
									</li>
								</ul>
							</div>
						</div>
						<!-- block 2 -->
						<div style="--flex-width:300px">
							<div class="px-3 py-1 border-bottom">
								<div class="qela-search">
									<button type="button" class="ic-search"></button>
									<input type="search" class="form-control" placeholder="Search">
									<button type="button" class="text-black ic-cloze"></button>
								</div>
							</div>
							<div class="flex-grow-1 overflow-auto" style="height:var(--height-scroll)">
								<ul class="list-group list-group-flush qela-list-menu sm">
									<li class="list-group-item">
										<button type="button" class="current">
											<div class="qela-avatar qela-ibg"><img src="img/type-logo.svg" alt="#"></div>
											<div class="qela-clamp">Branch name</div>
											<span class=" qela-list-num bg-info-400">5</span>
										</button>
									</li>
									<li class="qela-chat-spacer">
									Branches
								</li>
									<li class="list-group-item">
										<button type="button">
											<div class="qela-avatar qela-ibg"><img src="img/type-logo.svg" alt="#"></div>
											<div class="qela-clamp">Quest name 4 with very long name Quest name 4 with very
											long name</div>
											<span class="qela-list-num bg-info-400">5</span>
										</button>
									</li>
									<li class="list-group-item">
										<button type="button">
											<div class="qela-avatar qela-ibg"><img src="img/type-logo.svg" alt="#"></div>
											<div class="qela-clamp">Quests name 4 with very long name Quest name 4name 4
											with very long name Quest name 4</div>
											<div class="d-flex align-items-center gap-2px">
												<span class="qela-list-num bg-info-400">40</span>
												<span class="text-danger-600">(4)</span>
												<i class="ic-report text-danger-600"></i>
											</div>
										</button>
									</li>
								</ul>
							</div>
						</div>
						<!-- block chat 3 -->
						<div>
							<div class="qela-chat-head">
								<div class="px-3 py-2">
									<div class="d-flex align-items-center gap-2 h-100">
										<div class="h6 me-auto qela-clamp">Quest name 3Quest name 3Quest name 3Quest name
										3Quest name 3Quest name 3Quest name 3Quest name 3Quest name 3Quest name 3Quest
										name 3Quest name 3Quest name 3</div>
										<div class="d-flex align-items-center gap-3">
											<button type="button" class="qela-btn-ic ic-search"></button>
											<div class="dropdown qela-dropdown">
												<button class="qela-btn-ic ic-dots" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
												<ul class="dropdown-menu dropdown-menu-end qela-shadow">
													<li>
														<button type="button" class="dropdown-item ic-stop danger px-3 py-2">
														Stop chat
													</button>
													</li>
													<li>
														<button type="button" class="dropdown-item ic-check-big success px-3 py-2">
														Launch chat
													</button>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<div class="px-3 py-2 d-flex align-items-center gap-3">
									<div class="position-relative lh-1">
										<button type="button" class="qela-btn-ic ic-calendar"></button>
										<v-date-picker uid="datapiker-2" v-model="date" placeholder="" position="center" :enable-time-picker="false"/>
									</div>
									<div class="qela-search flex-grow-1">
										<button type="button" class="ic-search"></button>
										<input type="search" class="form-control" placeholder="Search">
										<button type="button" class="text-black ic-cloze"></button>
									</div>
									<div>1 of 8</div>
									<div class="d-flex gap-1">
										<button type="button" class="btn btn-sm btn-info ico ic-chevron-up"></button>
										<button type="button" class="btn btn-sm btn-info ico ic-chevron" disabled></button>
									</div>
									<button type="button" class="btn btn-sm btn-outline-secondary"> Done </button>
								</div>
							</div>
							<div class="qela-chat">
								<!-- messages-->
								<span class="badge qela-chat-badge">17 Feb 2025</span>
								<div class="qela-chat-mess my-mess">
									<div>I just have a question about this quest. When should I send you the screenshot? I
									just have a question about this quest. When should I send you the screenshot?</div>
									<div class="d-flex align-items-center gap-2">
										<span class="qela-chat-time">13:13</span>
									</div>
								</div>
								<div class="qela-chat-mess my-mess">
									<div>Hello!</div>
									<div class="d-flex align-items-center gap-2">
										<span class="qela-chat-time">13:13</span>
									</div>
								</div>
								<div class="qela-chat-mess mt-2 reported">
									<div class="qela-chat-reply">
										<div class="qela-chat-top">
											<span class="fw-semibold">Green Forest</span>
										</div>
										<div class="qela-clamp" style="--clamp-line: 1">I also have a question if I can take
										the quest again?</div>
									</div>
									<div class="qela-chat-top">
										<span class="fw-semibold">Green Forest</span>
										<span class="text-danger-600 display-7 align-self-start">Failed</span>
									</div>
									<div>I also have a question if I can take the quest again?
								</div>
									<div class="d-flex align-items-center gap-2">
										<div class="qela-chat-like">
											<button type="button" class="btn current">
												<i class="ic-like"></i>
												<i class="ic-like-filled"></i>
												<span>90</span>
											</button>
											<button type="button" class="btn ">
												<i class="ic-dislike"></i>
												<i class="ic-dislike-filled"></i>
												<span>90</span>
											</button>
										</div>
										<span class="qela-chat-time">13:13</span>
									</div>
									<button type="button" class="qela-btn-ic ic-report p-1 text-danger-600" data-bs-toggle="modal" data-bs-target="#modalReporedtMess"></button>
								</div>
								<div class="qela-chat-mess">
									<div>I also have a question if I can take the quest again? I also have a question if
								</div>
									<div class="d-flex align-items-center gap-2">
										<span class="qela-chat-time">13:13</span>
									</div>
									<div class="qela-avatar qela-ibg fs-6" style="--img-size: 30px;">
										<small>
											<small>MT</small>
										</small>
									</div>
								</div>
								<div class="qela-chat-mess mt-2">
									<div class="qela-chat-reply">
										<div class="qela-chat-top">
											<span class="fw-semibold">Green Forest</span>
										</div>
										<div class="qela-clamp" style="--clamp-line: 1">I also have a question if I can take
										the quest again?</div>
									</div>
									<div>Sure!</div>
									<div class="d-flex align-items-center gap-2">
										<span class="qela-chat-time">13:13</span>
									</div>
								</div>
								<div class="qela-chat-mess">
									<div>I just have a question about this quest. When should I send you the screenshot? I
									just have a question about this quest. When should I send you the screenshot?</div>
									<div class="d-flex align-items-center gap-2">
										<span class="qela-chat-time">13:13</span>
									</div>
								</div>
								<!-- no messages-->
								<!-- <div class="qela-chat-info">
                                <i class="ic-message-circle"></i>
                                <span>No messages</span>
                            </div> -->
							</div>
							<div class="p-2 position-relative border-top">
								<div class="qela-chat-reply mb-1">
									<div class="qela-chat-top">
										<span class="fw-semibold">Green Forest</span></div>
									<div class="qela-clamp" style="--clamp-line: 1;">I also have a question if I can take
									the quest again? I also have a question if I can take the quest again?I also have a
									question if I can take the quest again?</div>
								</div>
								<div class="qela-chat-input qela-scroll-custom">
									<button type="button" class="btn ic-send"></button>
									<textarea type="message" rows="1" class="form-control" data-max-height="5" placeholder="Type here"></textarea>
								</div>
								<!-- button  chat  -->
								<button type="button" class="qela-chat-btn ic-arrow-down"></button>
							</div>
							<!-- Drobdawn chat -->
							<!-- <div class="dropdown qela-dropdown">
                            <ul class="dropdown-menu qela-shadow show">
                                <li>
                                    <button type="button" class="dropdown-item ic-reply px-3 py-2">
                                        Reply
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="dropdown-item ic-like px-3 py-2">
                                        Like
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="dropdown-item ic-dislike px-3 py-2">
                                        DisLike
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="dropdown-item ic-file-copy px-3 py-2">
                                        Copy
                                    </button>
                                </li>
                                <li>
                                    <hr class="my-1">
                                </li>
                                <li>
                                    <button type="button" class="dropdown-item ic-report danger px-3 py-2">
                                        Ban user
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="dropdown-item ic-delete danger px-3 py-2">
                                        Delete
                                    </button>
                                </li>
                            </ul>
                        </div> -->
						</div>
					</div>
				</div>
			</div>
			<!-- chat modal -->
			<div class="modal fade" id="modalReporedtMess" tabindex="-1" aria-labelledby="modalReporedtMessLabel" aria-hidden="true">
				<div class="modal-dialog modal-md modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header border-0">
							<h2 class="h6" id="modalReporedtMessLabel">Reported</h2>
							<button type="button" class="qela-btn-ic text-black ic-cloze" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body d-grid gap-3 pt-0">
							<div class="d-grid gap-2">
								<span class="display-7 text-info-600">What is wrong with this message.</span>
								<div class="p-12px bg-info-100 rounded">Violence</div>
							</div>
							<div class="d-grid gap-2">
								<span class="display-7 text-info-600">Reported by</span>
								<div class="d-flex align-items-center gap-2">
									<small class="qela-clamp">Green Forest, John McBoris, Mike Literus, Ligma Balls,
									Mike</small>
									<span class="badge bg-info-100 text-info-700">+25</span>
								</div>
							</div>
							<div class="d-grid gap-2">
								<span class="display-7 text-info-600">Last reported</span>
								<small class="qela-clamp">07/03/2025</small>
							</div>
							<div class="d-grid gap-2">
								<span class="display-7 text-info-600">What to do?</span>
							</div>
						</div>
						<div class="modal-footer justify-content-between pt-0 gap-1 border-0">
							<button type="button" class="btn btn-warning m-0 ic-delete ico-right"> Delete </button>
							<button type="button" class="btn btn-danger m-0 ic-report ico-right">Ban user</button>
							<button type="button" class="btn btn-success m-0 ic-success-2 ico-right" data-bs-dismiss="modal">Dismiss</button>
						</div>
					</div>
				</div>
			</div>
		</main>

		<script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js" type="text/javascript"></script>
		<script type="text/javascript" src="https://www.unpkg.com/vue-multiselect@3.0.0-beta.1/dist/vue-multiselect.js"></script>
		<script src="https://unpkg.com/@vuepic/vue-datepicker@latest"></script>
		<script type="text/javascript">
			let app = Vue.createApp({
				components: {
					"v-date-picker": VueDatePicker,
					"v-multi-select": VueMultiselect.default
				},
				data() {
					return {
						date: new Date(),
						value1: "",
						value2: "",
						value3: "",
						value4: "",
						options: [
							"Пункт 1",
							"Пункт 2",
							"Пункт 3",
							"Пункт 4",
							"Пункт 1",
							"Пункт 2sades",
							"Пункт 3sd",
							"Пункт 4sd"
						]
					};
				},
				methods: {
					click() {
						alert(1);
						this.message += " clicked!";
					}
				}
			});
			// console.dir(app);
			app.mount("#app");
		</script>
		<!-- =========================== -->
		{% include "_js.html" %}
	</body>

</html>