<!DOCTYPE html>
<html lang="ua">
	{% set title = "shopTab" %}
	{% include "_head.njk" %}

	<body class="qela-body theme--strichka" id="app">
		{% set header = {title:"Магазин", logo:"img/logo-strichka.svg"} %}
		{% include "html/components/_header.njk" %}
		<main class="flex-grow-1">
			{% set shop = "active" %}
			{% include "html/components/_aside.njk" %}
			<!-- ====================================== shop start====================================-->
			<div class="container-fluid h-100">
				<div class="bg-white rounded-3 border mb-2">
					<!-- Tabs -->
					<ul class="nav nav-tabs rounded-top px-3 pt-3" id="shopTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="products-tab" data-bs-toggle="tab" data-bs-target="#products-tab-pane" type="button" role="tab" aria-controls="products-tab-pane" aria-selected="true">
							Товари
						</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="order-tab" data-bs-toggle="tab" data-bs-target="#order-tab-pane" type="button" role="tab" aria-controls="order-tab-pane" aria-selected="true">
							Замовлення
						</button>
						</li>
					</ul>
					<!--Tab content -->
					<div class="tab-content">
						<!-- Products -->
						<div class="tab-pane active" id="products-tab-pane" role="tabpanel" aria-labelledby="products-tab" tabindex="0">
							<!-- 1 row: search, filters, actions-->
							<div class="border-bottom px-3 py-4">
								<div class="d-flex gap-4 align-items-center">
									<div class="qela-search" style="width: 188px;">
										<button type="button" class="ic-search"></button>
										<input type="search" class="form-control" placeholder="Пошук по назві">
									</div>
									<div class="d-flex align-items-center gap-3">
										<span class="text-info-600 h6">Фільтр:</span>
										<div style="width: 175px;">
											<div>
												<v-multi-select v-model="value1" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="Всі статуси"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>
										<div style="width: 175px;">
											<div>
												<v-multi-select v-model="value2" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="Всі типи"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>
										<div style="width: 175px;">
											<div>
												<v-multi-select v-model="value3" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="Всі категорії"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>
										<div style="width: 140px;">
											<div>
												<v-multi-select v-model="value4" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="🔥Топ - Всі"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>

									</div>
									<button type="button" class="btn btn-primary ic-plus ico-right ms-auto" data-bs-toggle="modal" data-bs-target="#modalAddProduct">Додати товар</button>
								</div>
							</div>
							<!-- 2 row: applied filters -->
							<div class="p-3 border-bottom">
								<div class="d-flex gap-2 flex-wrap">
									<span class="text-info-600 h6 text-nowrap">Застосовані фільтри:</span>
									<span class="badge qela-badge-danger ic-cloze">Danger</span>
									<span class="badge qela-badge-danger ic-cloze">Danger</span>
									<span class="badge qela-badge-info ic-cloze">📚 Книги та культура</span>
									<span class="badge qela-badge-danger ic-cloze">Danger</span>
									<span class="badge qela-badge-secondary ic-cloze">secondary</span>
									<button type="button" class="badge border-1 qela-badge-light">Clear All</button>
								</div>
							</div>
							<!-- 3 row: buttons and add category -->
							<div class="border-bottom p-3">
								<div class="d-flex gap-3">
									<button type="button" class="btn btn-info ic-plus ico-right">Додати категорію</button>
									<button type="button" class="btn btn-info ic-edit ico-right">Редагувати категорії</button>
									<button type="button" class="btn btn-info ic-menu-order ico-right">Змінити порядок товарів</button>
								</div>
								<!-- + -->
								<div class="d-flex gap-3">
									<div class="text-info-900 h4">Додати категорію</div>
									<div style="width: 320px">
										<input type="text" class="form-control" id="addCategory" placeholder="Придумайте назву категорії">
									</div>
									<div class="d-flex gap-2">
										<button type="button" class="btn btn-info btn-md ic-cloze ico-right" data-bs-toggle="modal" data-bs-target="#modalCancel">Скасувати</button>
										<button type="button" class="btn btn-primary btn-md ic-check-big ico-right" data-bs-toggle="modal" data-bs-target="#modalSave">Зберегти</button>
									</div>
								</div>
							</div>
							<!-- Add Category -->
							<div class="px-3 py-2 bg-secondary-300">
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center gap-4">
										<span>2 з 10 вибрано</span>
										<div class="form-check form-switch form-switch-sm">
											<label class="form-check-label" for="SwitchShopProducts">
												<small>Обрати всі</small>
											</label>
											<input class="form-check-input" type="checkbox" role="switch" id="SwitchShopProducts">
										</div>
									</div>
									<div class="d-flex gap-2">
										<div style="width: 268px;">
											<div>
												<v-multi-select v-model="value8" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="Всі статуси"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>
										<div class="p-1 d-flex gap-2">
											<button type="button" class="qela-btn-ic ic-cloze text-info-900"></button>
											<button type="button" class="qela-btn-ic ic-check-big text-info-900"></button>
										</div>
										<div class="d-flex gap-1 align-items-center">
											<button type="button" class="btn btn-warning ic-mute ico-right" data-bs-toggle="modal" data-bs-target="#modalOff"> Вимкнути </button>
											<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-offset="0, 8" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Вимикає товар, міняє статус та видаляє зі списку юзера."></button>
										</div>
										<div class="d-flex gap-1 align-items-center">
											<button type="button" class="btn btn-danger ic-delete ico-right" data-bs-toggle="modal" data-bs-target="#modalDelete"> Видалити </button>
											<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-offset="0, 8" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Видаляє товар з  активного списку в магазині. Його видно тільки за фільтром"></button>
										</div>
									</div>
								</div>
							</div>
							<!-- Table -->
							<div class="table-responsive qela-table position-relative">
								<table class="table table-hover">
									<thead class="table-light">
										<tr>
											<th width="72px">
												<div class="form-check form-check-inline m-0"><input type="checkbox" autocomplete="off" class="form-check-input"></div>
											</th>
											<th width="282px">
												<button type="button" class="btn ico-right ic-arrows-down-up">Назва</button>
											</th>
											<th>
												<button type="button" class="btn ico-right ic-arrows-down-up">Категорія</button>
											</th>
											<th width="64px">
												<button type="button" class="btn ico-right ic-arrows-down-up">🔥Топ </button>
											</th>
											<th width="128px">Тип</th>
											<th>
												<button type="button" class="btn ico-right ic-arrows-down-up">Статус</button>
											</th>
											<th width="92px">
												<button type="button" class="btn ico-right ic-arrows-down-up">Ціна, бали</button>
											</th>
											<th width="94px">
												<button type="button" class="btn ico-right ic-arrows-down-up">В наявності </button>
											</th>
											<th width="24px"></th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<div class="d-flex gap-1 align-items-center">
													<div class="form-check form-check-inline m-0"><input type="checkbox" autocomplete="off" class="form-check-input"></div>
													<div class="qela-previews qela-ibg">
														<img src="img/table-img-1.jpg" alt="">
													</div>
												</div>
											</td>
											<td width="282px" class="text-wrap">
												<button type="button" class="p-0 bg-transparent border-0 text-start" data-bs-offset="0, 4" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Вимикає товар, міняє статус та видаляє зі списку юзера."> «Я бачу, вас цікавить пітьма», Ілларіон Павлюк </button>
											</td>
											<td>
											📚 Книги та культура
										</td>
											<td>
												<div class="text-center">Так</div>
											</td>
											<td width="128px" class="text-wrap">Електронний (з опрацюванням)</td>
											<td>
												<span class="text-danger-700">Вимкнений</span>
												<!-- <span class="text-warning-600">Чернетка</span>
											<span>Розпродано</span>
											<span class="text-warning-600">Чернетка</span>
											<span class="text-success-800">Активний</span>
											<span class="text-info-700">Видалений</span> -->
											</td>
											<td>
												<div class="text-end">75</div>
											</td>
											<td>
												<div class="text-end">Необмежено</div>
											</td>
											<td>
												<button type="button" class="qela-btn-ic text-info-600 h-100 ic-edit"></button>
											</td>
										</tr>
										<tr class="checked">
											<td>
												<div class="d-flex gap-1 align-items-center">
													<div class="form-check form-check-inline m-0"><input type="checkbox" autocomplete="off" class="form-check-input" checked></div>
													<div class="qela-previews qela-ibg">
														<img src="img/table-img-1.jpg" alt="">
													</div>
												</div>
											</td>
											<td width="156px" class="text-wrap">
												<button type="button" class="p-0 bg-transparent border-0 text-start" data-bs-offset="0, 4" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Вимикає товар, міняє статус та видаляє зі списку юзера."> «Я бачу, вас цікавить пітьма», Ілларіон Павлюк </button>
											</td>
											<td>
											📚 Книги та культура
										</td>
											<td>
												<div class="text-center">Так</div>
											</td>
											<td width="128px" class="text-wrap">Електронний (з опрацюванням)</td>
											<td>
												<span class="text-danger-700">Вимкнений</span>
												<!-- <span class="text-warning-600">Чернетка</span>
											<span>Розпродано</span>
											<span class="text-warning-600">Чернетка</span>
											<span class="text-success-800">Активний</span>
											<span class="text-info-700">Видалений</span> -->
											</td>
											<td>
												<div class="text-end">75</div>
											</td>
											<td>
												<div class="text-end">Необмежено</div>
											</td>
											<td>
												<button type="button" class="qela-btn-ic text-info-600 h-100 ic-edit"></button>
											</td>
										</tr>
										<!-- <tr>
										<td>
											<div v-if="loadingData" class="qela-loader">
												<div class="mb-4">
													<svg class="spinner" width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
														<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30">
														</circle>
													</svg>
												</div>
												<span>@loc["LoadingText"]</span>
											</div>
										</td>
									</tr> -->
									</tbody>
								</table>
							</div>
							<!-- Table navigation -->
							<div class="px-4 py-3">
								<nav aria-label="Page navigation" class="d-flex justify-content-end">
									<div class="d-flex flex-wrap align-items-baseline gap-3">
										<select class="form-control w-auto">
											<option value="10">10</option>
											<option value="25">25</option>
											<option value="50">50</option>
										</select>
										<span style="flex: 0 0 auto;">1 - 10 from 62</span>
										<ul class="pagination pagination-sm">
											<li class="page-item disabled">
												<button class="page-link" aria-label="Previous page">Prev</button>
											</li>
											<li class="page-item active">
												<button class="page-link">1</button>
											</li>
											<li class="page-item ">
												<button class="page-link">2</button>
											</li>
											<li class="page-item ">
												<button class="page-link">3</button>
											</li>
											<li class="page-item ">
												<button class="page-link">4</button>
											</li>
											<li class="page-item ">
												<button class="page-link">5</button>
											</li>
											<li class="page-item ">
												<button class="page-link">6</button>
											</li>
											<li class="page-item ">
												<button class="page-link">7</button>
											</li>
											<li class="page-item ">
												<button class="page-link" aria-label="Next Page">Next</button>
											</li>
										</ul>
									</div>
								</nav>
							</div>
						</div>
						<!-- Order -->
						<div class="tab-pane" id="order-tab-pane" role="tabpanel" aria-labelledby="order-tab" tabindex="0">
							<!-- 1 row: search, filters, actions-->
							<div class="border-bottom px-3 py-4">
								<div class="d-flex gap-4 align-items-center">
									<div class="qela-search" style="width: 298px;">
										<button type="button" class="ic-search"></button>
										<input type="search" class="form-control" placeholder="Пошук по назві, замовнику, №">
									</div>
									<div class="d-flex align-items-center gap-3">
										<span class="text-info-600 h6">Фільтр:</span>
										<div style="width: 175px;">
											<div>
												<v-multi-select v-model="value6" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="Всі статуси"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>
										<div style="width: 175px;">
											<div>
												<v-multi-select v-model="value7" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="Всі типи"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>
									</div>
									<button type="button" class="btn btn-primary ic-plus ico-right ms-auto" data-bs-toggle="modal" data-bs-target="#modalOrder">Створити нове</button>
								</div>
							</div>
							<!-- 2 row: applied filters -->
							<!-- Add Category -->
							<div class="px-3 py-2 bg-secondary-300">
								<div class="d-flex align-items-center justify-content-between gap-2">
									<div class="d-flex align-items-center gap-4">
										<span>2 з 10 вибрано</span>
										<div class="form-check form-switch form-switch-sm">
											<label class="form-check-label" for="SwitchShopProducts">
												<small>Обрати всі</small>
											</label>
											<input class="form-check-input" type="checkbox" role="switch" id="SwitchShopProducts">
										</div>
									</div>
									<div class="d-flex gap-3">
										<div class="d-flex gap-1 align-items-center">
											<button type="button" class="btn btn-warning"> В роботі </button>
											<button type="button" class="btn btn-info"> Відправлено </button>
											<button type="button" class="btn btn-success"> Виконано </button>
											<button type="button" class="btn btn-danger"> Скасувати замовлення </button>
											<button type="button" class="btn btn-danger ic-delete ico-right"> Видалити </button>
										</div>
									</div>
								</div>
							</div>
							<!-- Add Category -->
							<!-- Table -->
							<div class="table-responsive qela-table position-relative">
								<table class="table table-hover">
									<thead class="table-light">
										<tr>
											<th width="72px">
												<div class="form-check form-check-inline m-0"><input type="checkbox" autocomplete="off" class="form-check-input"></div>
											</th>
											<th width="156px">
												<button type="button" class="btn ico-right ic-arrows-down-up">Назва</button>
											</th>
											<th>
												<button type="button" class="btn ico-right ic-arrows-down-up">№</button>
											</th>
											<th>
												<button type="button" class="btn ico-right ic-arrows-down-up">Замовник</button>
											</th>
											<th width="112px">
												<button type="button" class="btn ico-right ic-arrows-down-up">Дата</button>
											</th>
											<th>Тип</th>
											<th>
												<button type="button" class="btn ico-right ic-arrows-down-up">Статус</button>
											</th>
											<th width="92px">
												<button type="button" class="btn ico-right ic-arrows-down-up">Ціна, бали</button>
											</th>
											<th width="94px">
												<button type="button" class="btn ico-right ic-arrows-down-up">Кількість</button>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>
												<div class="d-flex gap-1 align-items-center">
													<div class="form-check form-check-inline m-0"><input type="checkbox" autocomplete="off" class="form-check-input"></div>
													<div class="qela-previews qela-ibg">
														<img src="img/table-img-1.jpg" alt="">
													</div>
												</div>
											</td>
											<td class="text-wrap">
												<button type="button" class="p-0 bg-transparent border-0 text-start qela-clamp" style="--clamp-line:2" data-bs-offset="0, 4" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="«Я бачу, вас цікавить пітьма», Ілларіон Павлюк"> «Я бачу, вас цікавить пітьма», Ілларіон Павлюк </button>
											</td>
											<td>
											0123456789
										</td>
											<td>
												<div class="d-flex gap-3">
													<div class="qela-email-copy">
														<span>bohdan@email.com</span>
														<button type="button" class="btn ic-file-copy" aria-label="Copy" data-faitracker-form-bind="true"></button>
													</div>
												</div>
											</td>
											<td>16.11.2025 21:01</td>
											<td class="text-wrap">Електронний (з опрацюванням)</td>
											<td>
												<span class="text-danger-700">Вимкнений</span>
												<!-- <span class="text-warning-600">Чернетка</span>
											<span>Розпродано</span>
											<span class="text-warning-600">Чернетка</span>
											<span class="text-success-800">Активний</span>
											<span class="text-info-700">Видалений</span> -->
											</td>
											<td>
												<div class="text-end">75</div>
											</td>
											<td>
												<div class="text-end">3</div>
											</td>
										</tr>
										<tr class="checked">
											<td>
												<div class="d-flex gap-1 align-items-center">
													<div class="form-check form-check-inline m-0"><input type="checkbox" autocomplete="off" class="form-check-input" checked></div>
													<div class="qela-previews qela-ibg">
														<img src="img/table-img-1.jpg" alt="">
													</div>
												</div>
											</td>
											<td class="text-wrap">
												<button type="button" class="p-0 bg-transparent border-0 text-start qela-clamp" style="--clamp-line:2" data-bs-offset="0, 4" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Книга “Українське військове лідерство. Як командують українці”"> Книга “Українське військове лідерство. Як командують українці” </button>
											</td>
											<td>
											0123456789
										</td>
											<td>
												<div class="d-flex gap-3">
													<div class="qela-email-copy">
														<span>bohdan@email.com</span>
														<button type="button" class="btn ic-file-copy" aria-label="Copy" data-faitracker-form-bind="true"></button>
													</div>
												</div>
											</td>
											<td>16.11.2025 21:01</td>
											<td class="text-wrap">Електронний (з опрацюванням)</td>
											<td>
												<span class="text-danger-700">Вимкнений</span>
												<!-- <span class="text-warning-600">Чернетка</span>
											<span>Розпродано</span>
											<span class="text-warning-600">Чернетка</span>
											<span class="text-success-800">Активний</span>
											<span class="text-info-700">Видалений</span> -->
											</td>
											<td>
												<div class="text-end">75</div>
											</td>
											<td>
												<div class="text-end">3</div>
											</td>
										</tr>

										<!-- <tr>
										<td>
											<div v-if="loadingData" class="qela-loader">
												<div class="mb-4">
													<svg class="spinner" width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
														<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30">
														</circle>
													</svg>
												</div>
												<span>@loc["LoadingText"]</span>
											</div>
										</td>
									</tr> -->
									</tbody>
								</table>
							</div>
							<!-- Table navigation -->
							<div class="px-4 py-3">
								<nav aria-label="Page navigation" class="d-flex justify-content-end">
									<div class="d-flex flex-wrap align-items-baseline gap-3">
										<select class="form-control w-auto">
											<option value="10">10</option>
											<option value="25">25</option>
											<option value="50">50</option>
										</select>
										<span style="flex: 0 0 auto;">1 - 10 from 62</span>
										<ul class="pagination pagination-sm">
											<li class="page-item disabled">
												<button class="page-link" aria-label="Previous page">Prev</button>
											</li>
											<li class="page-item active">
												<button class="page-link">1</button>
											</li>
											<li class="page-item ">
												<button class="page-link">2</button>
											</li>
											<li class="page-item ">
												<button class="page-link">3</button>
											</li>
											<li class="page-item ">
												<button class="page-link">4</button>
											</li>
											<li class="page-item ">
												<button class="page-link">5</button>
											</li>
											<li class="page-item ">
												<button class="page-link">6</button>
											</li>
											<li class="page-item ">
												<button class="page-link">7</button>
											</li>
											<li class="page-item ">
												<button class="page-link" aria-label="Next Page">Next</button>
											</li>
										</ul>
									</div>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ====================================== shop end====================================-->
			<!-- modals start-->
			<!-- modal delete -->
			<div class="modal fade" id="modalDelete" tabindex="-1" aria-labelledby="modalDeleteLabel" aria-hidden="true">
				<div class="modal-dialog modal-md modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body p-4 text-center">
							<h5 class="fs-18 fw-medium pb-2">Ви впевнені що хочете видалити товаp(и)?</h5>
							<div class="pt-1">Увага, на замовлення, які в роботі або виконані, видалення товару не вплине. </div>
						</div>
						<div class="modal-footer justify-content-center p-3 border-top-0 gap-2">
							<button type="button" class="btn btn-info m-0" data-bs-dismiss="modal">Скасувати</button>
							<button type="button" class="btn btn-primary m-0">Підтвердити</button>
						</div>
					</div>
				</div>
			</div>
			<!-- modal off -->
			<div class="modal fade" id="modalOff" tabindex="-1" aria-labelledby="modalOffLabel" aria-hidden="true">
				<div class="modal-dialog modal-md modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body p-4 text-center">
							<h5 class="fs-18 fw-medium pb-2">Ви впевнені, що хочете вимкнути товар(и)?</h5>
							<div class="pt-1">Увага, будуть вимкнені лише ті товари, які мають статус “Активний”</div>
						</div>
						<div class="modal-footer justify-content-center p-3 border-top-0 gap-2">
							<button type="button" class="btn btn-info m-0" data-bs-dismiss="modal">Скасувати</button>
							<button type="button" class="btn btn-primary m-0">Підтвердити</button>
						</div>
					</div>
				</div>
			</div>
			<!-- modal cancel -->
			<div class="modal fade" id="modalCancel" tabindex="-1" aria-labelledby="modalCancelLabel" aria-hidden="true">
				<div class="modal-dialog modal-md modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body p-4 text-center">
							<h5 class="fs-18 fw-medium pb-2">Зберегти зміни?</h5>
							<div class="pt-1">Якщо ви вийдете, зміни не будуть збережені</div>
						</div>
						<div class="modal-footer justify-content-center p-3 border-top-0 gap-2">
							<button type="button" class="btn btn-info m-0 me-auto" data-bs-dismiss="modal">Назад</button>
							<button type="button" class="btn btn-info m-0">Не зберігати</button>
							<button type="button" class="btn btn-primary m-0">Зберегти</button>
						</div>
					</div>
				</div>
			</div>
			<!-- modal Save -->
			<div class="modal fade" id="modalSave" tabindex="-1" aria-labelledby="modalSaveLabel" aria-hidden="true">
				<div class="modal-dialog modal-md modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-body p-4 text-center">
							<h5 class="fs-18 fw-medium pb-2">Хвилинку уваги!</h5>
							<div class="pt-1">Видалення категорій також видалить і всі товари в ній</div>
						</div>
						<div class="modal-footer justify-content-center p-3 border-top-0 gap-2">
							<button type="button" class="btn btn-info m-0" data-bs-dismiss="modal">Скасувати</button>
							<button type="button" class="btn btn-danger ico-right ic-delete m-0">Видалити</button>
						</div>
					</div>
				</div>
			</div>
			<!-- modal Add Item -->
			<div class="modal fade" id="modalAddProduct" tabindex="-1" aria-labelledby="modalAddProductLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg modal-dialog-centered" style="--bs-modal-width:896px">
					<div class="modal-content">
						<div class="modal-header py-4">
							<h2 class="modal-title fs-5" id="modalAddProductLabel">Створення товару</h2>
						</div>
						<div class="modal-body p-0">
							<div class="row g-0">
								<!-- Left (imgs) -->
								<div class="col-auto border-end" style="flex-basis: 302px;">
									<div class="p-3 d-flex justify-content-between align-content-center border-bottom">
										<h3 class="fs-5 text-info-700">Фото</h3>
										<button type="button" class="qela-btn-ic ic-menu-order text-info" data-bs-offset="0, 5" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="custom-tooltip" data-bs-title="Змінити порядок"></button>
									</div>
									<div class="p-3 d-flex gap-2 flex-wrap">
										{% set cards = ['default', 'empty','eddit','eddit-drag','empty-disable'] %}
										{% from "html/includes/cards/_card-shop.njk" import  cardShop %}
										{% for card in cards %}
											{{cardShop(card)}}
										{% endfor %}
										<div class="display-7 text-danger-600 w-100">Додайте фото товару</div>
									</div>
								</div>
								<!-- Right (inputs) -->
								<div class="col">
									<div class="border-bottom p-3">
										<h3 class="fs-5 text-info-700">Опис</h3>
									</div>
									<div class="p-3 d-grid gap-4">
										<div>
											<div class="qela-form-labels">
												<label for="textareaName" class="form-label">Назва</label>
												<label class="form-label">0/<span>200</span></label>
											</div>
											<textarea class="form-control" placeholder="Введіть назву товару" id="textareaName" rows="1"></textarea>
											<div class="invalid-feedback">Error text</div>
										</div>
										<!-- + -->
										<div>
											<div class="qela-form-labels">
												<label for="textareaDescription" class="form-label">Опис</label>
												<label class="form-label">0/<span>200</span></label>
											</div>
											<textarea class="form-control" placeholder="Опишіть товар" id="textareaDescription" rows="1"></textarea>
											<div class="invalid-feedback">Error text</div>
										</div>
										<!-- + -->
										<div>
											<div class="qela-form-labels">
												<label for="textareaFormat" class="form-label">Формат</label>
												<label class="form-label">0/<span>200</span></label>
											</div>
											<textarea class="form-control" placeholder="Фізичний товар, доставка поштою" id="textareaFormat" rows="1"></textarea>
											<div class="invalid-feedback">Error text</div>
										</div>
										<!-- + -->
										<div>
											<label class="form-label">Тип товару</label>
											<div class="row gx-3 gy-2">
												<div class="col-auto">
													<div class="form-check">
														<input type="radio" class="form-check-input" id="radioProd1" name="product">
														<label class="form-check-label" for="radioProd1">Електронний (автоматичний)</label>
													</div>
												</div>
												<div class="col-auto">
													<div class="form-check">
														<input type="radio" class="form-check-input" id="radioProd2" name="product">
														<label class="form-check-label" for="radioProd2">Електронний (з опрацюванням)</label>
													</div>
												</div>
												<div class="col-auto">
													<div class="form-check">
														<input type="radio" class="form-check-input" id="radioProd3" name="product" checked>
														<label class="form-check-label" for="radioProd3">Фізичний</label>
													</div>
												</div>
											</div>
										</div>
										<!-- + -->
										<div>
											<div class="form-check form-switch form-switch-sm">
												<div class="d-flex gap-2 align-items-center">
													<label class="form-check-label display-7 text-black lh-1" for="SwitchCheck">Написати в обговореннях</label>
													<button type="button" class="btn btn-sm qela-btn-tooltip mb-0 ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-offset="0, 8" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Цей текст нижче буде автоматично відправлено користувачу, після замовлення"></button>
												</div>
												<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck" checked>
											</div>
											<div class="pt-3">
												<div class="qela-form-labels">
													<label for="textareaText" class="form-label">Формат</label>
													<label class="form-label">0/<span>200</span></label>
												</div>
												<textarea class="form-control" placeholder="Текст повідомлення" id="textareaText" rows="1"></textarea>
												<div class="invalid-feedback">Error text</div>
											</div>
										</div>
										<!-- + -->
										<div>
											<div class="qela-form-labels">
												<label for="textareaProvider" class="form-label">Постачальник</label>
												<label class="form-label">0/<span>200</span></label>
											</div>
											<textarea class="form-control" placeholder="Вкажіть постачальника" id="textareaProvider" rows="1"></textarea>
											<div class="invalid-feedback">Error text</div>
										</div>
										<!-- + -->
										<div>
											<div class="qela-form-labels">
												<label for="textareaInclude" class="form-label">Що включено</label>
												<label class="form-label">0/<span>200</span></label>
											</div>
											<textarea class="form-control" placeholder="Наприклад футболка чи книжка" id="textareaInclude" rows="1"></textarea>
											<div class="invalid-feedback">Error text</div>
										</div>
										<!-- + select-->
										<div>
											<label class="form-label">Категорія</label>
											<div>
												<v-multi-select v-model="value5" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="Всі статуси"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>
										<!-- or input -->
										<div class="d-flex flex-wrap">
											<div class="w-100">
												<label class="form-label" for="addCategory2">Категорія</label>
											</div>
											<div style="width: 320px">
												<input type="text" class="form-control" id="addCategory2" placeholder="Придумайте назву категорії">
											</div>
											<div class="p-1 d-flex gap-2 ms-3">
												<button type="button" class="qela-btn-ic ic-cloze text-info-900"></button>
												<button type="button" class="qela-btn-ic ic-check-big text-info-900"></button>
											</div>
										</div>
										<!-- +  switch -->
										<div class="form-check form-switch">
											<div class="d-flex gap-2">
												<label class="form-check-label" for="SwitchCheck">Відображати в розділі “🔥Топ-пропозиції”</label>
												<button type="button" class="btn btn-sm qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-offset="0, 8" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Товар відображатиметьсяна початку сторінки"></button>
											</div>
											<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck" checked>
										</div>
									</div>
									<!-- + -->
									<div class="p-3">
										<label for="inputText" class="form-label">Ціна, бали</label>
										<input type="text" class="form-control" id="inputText" placeholder="Вкажіть ціну у балах">
										<div class="invalid-feedback">Error text</div>
									</div>
									<!-- + -->
									<div class="p-3">
										<div class="d-flex gap-2 mb-2">
											<div class=" fs-5 fw-medium" id="modalAddProductLabel">Час публікації</div>
											<button type="button" class="btn btn-sm qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-offset="0, 8" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Оберіть час публікації товару та його завершення"></button>
										</div>
										<div class="row gx-3 gy-1 align-items-center mb-2">
											<div class="col-12">
												<label for="inputText2" class="form-label text-info-600 mb-0">Початок</label>
											</div>
											<div class="col-auto" style="flex-basis: 275px;">
												<input type="text" class="form-control" id="inputText2" placeholder="Datapiker" disabled>
												<div class="invalid-feedback">Error text</div>
											</div>
											<div class="col">
												<div class="form-check form-switch form-switch-sm">
													<div class="d-flex gap-2 align-items-center">
														<label class="form-check-label display-7 text-black lh-1" for="SwitchCheck2">Одразу</label>
														<button type="button" class="btn btn-sm mb-0 qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-offset="0, 8" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="До повного розпродажу"></button>
													</div>
													<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck2" checked="">
												</div>
											</div>
										</div>
										<div class="row gx-3 gy-1 align-items-center mb-2">
											<div class="col-12">
												<label for="inputText3" class="form-label text-info-600 mb-0">Кінець</label>
											</div>
											<div class="col-auto" style="flex-basis: 275px;">
												<input type="text" class="form-control" id="inputText3" placeholder="Datapiker" disabled>
												<div class="invalid-feedback">Error text</div>
											</div>
											<div class="col">
												<div class="form-check form-switch form-switch-sm">
													<div class="d-flex gap-2 align-items-center">
														<label class="form-check-label display-7 text-black lh-1" for="SwitchCheck3">Весь час</label>
														<button type="button" class="btn btn-sm mb-0 qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-offset="0, 8" data-bs-placement="right" data-bs-custom-class="custom-tooltip" data-bs-title="Одразу після збереження"></button>
													</div>
													<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck3" checked="">
												</div>
											</div>
										</div>
									</div>
									<!-- + -->
									<div class="px-3 py-2">
										<div class="row gx-3 gy-1 align-items-center">
											<div class="col-12">
												<div class="fs-5 fw-medium mb-2" id="modalAddProductLabel">Кількість</div>
											</div>
											<div class="col-12">
												<label for="inputText4" class="form-label text-info-600 mb-0">В наявності</label>
											</div>
											<div class="col-auto" style="flex-basis: 275px;">
												<input type="text" class="form-control" id="inputText4" placeholder="Вкажіть наявну кількість">
												<div class="invalid-feedback">Error text</div>
											</div>
											<div class="col">
												<div class="d-flex gap-3">
													<div class="form-check form-switch form-switch-sm">
														<label class="form-check-label display-7 text-black" for="SwitchCheck4">Необмежено</label>
														<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck4">
													</div>
												</div>
											</div>
										</div>
									</div>
									<!-- + -->
									<div class="px-3 py-2 mb-3">
										<div class="row gx-3 gy-1 align-items-center">
											<div class="col-12">
												<label for="inputText45" class="form-label text-info-600 mb-0">На особу</label>
											</div>
											<div class="col-auto" style="flex-basis: 275px;">
												<input type="text" class="form-control" id="inputText45" placeholder="Вкажіть наявну кількість">
												<div class="invalid-feedback">Error text</div>
											</div>
											<div class="col">
												<div class="d-flex gap-3">
													<div class="form-check form-switch form-switch-sm">
														<label class="form-check-label display-7 text-black" for="SwitchCheck5">Необмежено</label>
														<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck5">
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Alert -->
								<div class="col-12 px-3">
									{% set alertsData = [
										{
											class: "danger",
											ic: "text-danger ic-error-warning-fill",
											text: "Будь ласка, заповніть необхідні поля",
											btnClose: true
										}
									] %}
									{% from "html/includes/alert/_alert.njk" import alerts %}
									{% for alert in alertsData %}
										{{alerts(alert)}}
									{% endfor %}
								</div>
							</div>
						</div>
						<div class="modal-footer p-3 gap-2">
							<div class="d-flex gap-2">
								<div class="d-flex gap-1 align-items-center">
									<button type="button" class="btn btn-warning ic-mute ico-right" data-bs-toggle="modal" data-bs-target="#modalOff"> Вимкнути </button>
									<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-offset="0, 8" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Вимикає товар, міняє статус та видаляє зі списку юзера."></button>
								</div>
								<div class="d-flex gap-1 align-items-center">
									<button type="button" class="btn btn-danger ic-delete ico-right" data-bs-toggle="modal" data-bs-target="#modalDelete"> Видалити </button>
									<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-offset="0, 8" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Видаляє товар з  активного списку в магазині. Його видно тільки за фільтром"></button>
								</div>
							</div>
							<div class="d-flex gap-2 ms-auto">
								<button type="button" class="btn btn-info btn-md ic-cloze ico-right" data-bs-toggle="modal" data-bs-target="#modalCancel">Скасувати</button>
								<button type="button" class="btn btn-info m-0" aria-label="Save as draft">Зберегти як чернетку</button>
								<button type="button" class="btn btn-primary m-0" aria-label="Save">Зберегти</button>
							</div>

						</div>
					</div>
				</div>
			</div>
			<!-- Single Order page (All statuses) -->
			<div class="modal fade" id="modalOrder" tabindex="-1" aria-labelledby="modalOrderLabel" aria-hidden="true">
				<div class="modal-dialog modal-xl modal-dialog-centered" style="--bs-modal-width: 1336px;">
					<div class="modal-content">
						<div class="modal-header">
							<h2 class="modal-title fs-5" id="exampleModalLabel3">Замовлення 0123456789</h2>
							<button type="button" class="btn-close ic-cloze" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body p-0">
							<div class="p-3">
								<div class="fw-bold mb-3">Змінити статус</div>
								<div class="d-flex gap-3">
									<button type="button" class="btn btn-md btn-info current">Нове</button>
									<button type="button" class="btn btn-md btn-warning">В роботі</button>
									<button type="button" class="btn btn-md btn-info">Відправлено</button>
									<button type="button" class="btn btn-md btn-danger">Скасовано</button>
									<button type="button" class="btn btn-md btn-success">Отримано</button>
								</div>
							</div>
							<div class="p-3">
								<div class="row gy-0 gx-3">
									<!-- left -->
									<div class="col-8 d-grid gap-3">
										<!-- info 1 -->
										<div class="border rounded-3">
											<div class="fw-bold p-3 mb-2">Загальна інформація</div>
											<div class="p-3 pt-0 d-flex gap-3">
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Замовлення №</small>
													<small>0123456789</small>
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Замовник</small>
													<small class="qela-clamp">Микола Грім</small>
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Електронна пошта</small>
													<small class="qela-clamp">mykola@mail.com</small>
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Контактний номер</small>
													<small>+38066 128 128 0</small>
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Створено</small>
													<small>12.11.2025 - 21:57</small>
												</div>
											</div>
										</div>
										<!-- info 2 -->
										<div class="border rounded-3">
											<div class="fw-bold p-3 mb-2">Загальна інформація</div>
											<div class="p-3 pt-0 d-flex gap-3">
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Замовлення №</small>
													<small>-</small>
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Замовник</small>
													<input type="text" class="form-control form-control-sm" placeholder="Замовник">
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Електронна пошта</small>
													<input type="text" class="form-control form-control-sm" placeholder="Електронна пошта">
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Контактний номер</small>
													<input type="text" class="form-control form-control-sm" placeholder="Контактний номер">
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Створено</small>
													<small>-</small>
												</div>
											</div>
										</div>
										<!-- details 1 -->
										<div class="border rounded-3">
											<div class="fw-bold p-3 mb-2">Деталі</div>
											<div class="p-3 pt-0 d-flex gap-3 align-items-start">
												<div>
													<div class="qela-previews qela-ibg" style="--img-size:54px"><img src="img/table-img-1.jpg" alt=""></div>
												</div>
												<div class="d-grid gap-2 flex-grow-1" style="max-width: 300px;">
													<small class="text-info-700 text-nowrap fw-semibold">Назва</small>
													<small>Книга “Українське військове лідерство. Як командують українці”</small>
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Тип</small>
													<small>Фізичний</small>
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Доставка</small>
													<small>Поштою</small>
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Ціна</small>
													<small>75</small>
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Кількість</small>
													<small>1</small>
												</div>
											</div>
										</div>
										<!-- details 2 -->
										<div class="border rounded-3">
											<div class="fw-bold p-3 mb-2">Деталі</div>
											<div class="p-3 pt-0 d-flex gap-3 align-items-start">
												<div>
													<div class="qela-previews qela-icon qela-lg ic-img" style="--img-size:54px"></div>
												</div>
												<div class="d-grid gap-2 flex-grow-1" style="width: 300px;">
													<span class="text-nowrap fw-semibold">Оберіть товар</span>
													<div>
														<v-multi-select v-model="value9" :searchable="true" open-direction="auto" :options="options" :multiple="false" :close-on-select="true" :max-height="350" placeholder="Всі статуси" class="multiselect-sm"></v-multi-select>
													</div>
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Тип</small>
													<small>-</small>
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Доставка</small>
													<small>-</small>
												</div>
												<div class="d-grid gap-2 flex-grow-1">
													<small class="text-info-700 text-nowrap fw-semibold">Ціна</small>
													<small>-</small>
												</div>
												<div class="d-grid gap-2" style="width: 80px;">
													<small class="text-info-700 text-nowrap fw-semibold">Кількість</small>
													<input type="number" class="form-control form-control-sm" placeholder="" aria-label="Поле для введення кількості">
												</div>
											</div>
										</div>
									</div>
									<!-- right -->
									<div class="col-4">
										<div class="border rounded-3 overflow-hidden">
											<div class="fw-bold p-3 mb-2">Історія змін</div>
											<!-- Table -->
											<div class="table-responsive qela-table position-relative">
												<table class="table table-borderless qela-no--hover">
													<thead class="table-light" style="--bs-table-bg:var(--bs-gray-100)">
														<tr>
															<th>
																<small class="text-info-700 fw-semibold">Статус</small>
															</th>
															<th>
																<small class="text-info-700 fw-semibold">Створив(ла)</small>
															</th>
															<th>
																<small class="text-info-700 fw-semibold">Дата та час</small>
															</th>
														</tr>
													</thead>
													<tbody>
														<tr>
															<td>
																<small class="text-success-800">Отримано</small>
																<!-- <small class="text-info-900 fw-semibold">Відправлено</small>
															<small class="text-danger-600 fw-semibold">Скасовано</small>
															<small class="text-warning-600 fw-semibold">В роботі</small> -->
															</td>
															<td class="text-wrap">
																<small>Василь Контрольний</small>
															</td>
															<td>
																<small>14.11.2025 - 12:07</small>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>

							</div>
						</div>
						<div class="modal-footer justify-content-end p-3 gap-2">
							<button type="button" class="btn btn-md btn-danger ico-right ic-delete m-0">Видалити</button>
							<button type="button" class="btn btn-md btn-info m-0">Скасувати</button>
							<button type="button" class="btn btn-md btn-primary m-0">Редагувати</button>
						</div>
					</div>
				</div>
			</div>
			<!-- modals end-->
		</main>

		<script src="https://unpkg.com/vue@latest"></script>
		<script type="text/javascript" src="https://www.unpkg.com/vue-multiselect@3.0.0-beta.1/dist/vue-multiselect.js"></script>
		<script>
			const app = Vue.createApp({
				components: {
					"v-multi-select": VueMultiselect.default
				},
				data() {
					return {
						date: null,
						value1: null,
						value2: null,
						value3: null,
						value4: null,
						value5: null,
						value7: null,
						value6: null,
						value8: null,
						value9: null,
						options: [
							"🪖 Сувеніри від військових 🇺🇦",
							"Пункт 2",
							"Пункт 3",
							"Пункт 4",
							"Пункт 1",
							"Пункт 2sades",
							"Пункт 3sd",
							"Пункт 4sd"
						]
					};
				}
			});
			app.mount("#app");
		</script>
		<!-- =========================== -->
		{% include "_js.njk" %}
	</body>

</html>