<div class="modal fade" id="modalOrder" tabindex="-1" aria-labelledby="modalOrderLabel" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered" style="--bs-modal-width: 1336px;">
		<div class="modal-content">
			<div class="modal-header">
				<h2 class="modal-title fs-5" id="exampleModalLabel3">Замовлення 0123456789</h2>
				<button type="button" class="btn-close ic-cloze" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body p-0">
				<div class="p-3">
					<div class="fw-bold mb-3">Змінити статус</div>
					<div class="d-flex gap-3">
						<button type="button" class="btn btn-md btn-info current">Нове</button>
						<button type="button" class="btn btn-md btn-warning">В роботі</button>
						<button type="button" class="btn btn-md btn-info">Відправлено</button>
						<button type="button" class="btn btn-md btn-danger">Скасовано</button>
						<button type="button" class="btn btn-md btn-success">Отримано</button>
					</div>
				</div>
				<div class="p-3">
					<div class="row gy-0 gx-3">
						<!-- left -->
						<div class="col-8 d-grid gap-3">
							<!-- info 1 -->
							<div class="border rounded-3">
								<div class="fw-bold p-3 mb-2">Загальна інформація</div>
								<div class="p-3 pt-0 d-flex gap-3">
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Замовлення №</small>
										<small>0123456789</small>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Замовник</small>
										<small class="qela-clamp">Микола Грім</small>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Електронна пошта</small>
										<small class="qela-clamp">mykola@mail.com</small>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Контактний номер</small>
										<small>+38066 128 128 0</small>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Створено</small>
										<small>12.11.2025 - 21:57</small>
									</div>
								</div>
							</div>
							<!-- info 2 -->
							<div class="border rounded-3">
								<div class="fw-bold p-3 mb-2">Загальна інформація</div>
								<div class="p-3 pt-0 d-flex gap-3">
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Замовлення №</small>
										<small>-</small>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Замовник</small>
										<input type="text" class="form-control form-control-sm" placeholder="Замовник">
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Електронна пошта</small>
										<input type="text" class="form-control form-control-sm" placeholder="Електронна пошта">
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Контактний номер</small>
										<input type="text" class="form-control form-control-sm" placeholder="Контактний номер">
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Створено</small>
										<small>-</small>
									</div>
								</div>
							</div>
							<!-- details 1 -->
							<div class="border rounded-3">
								<div class="fw-bold p-3 mb-2">Деталі</div>
								<div class="p-3 pt-0 d-flex gap-3 align-items-start">
									<div>
										<div class="qela-previews qela-ibg" style="--img-size:54px"><img src="img/table-img-1.jpg" alt=""></div>
									</div>
									<div class="d-grid gap-2 flex-grow-1" style="max-width: 300px;">
										<small class="text-info-700 text-nowrap fw-semibold">Назва</small>
										<small>Книга “Українське військове лідерство. Як командують українці”</small>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Тип</small>
										<small>Фізичний</small>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Доставка</small>
										<small>Поштою</small>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Ціна</small>
										<small>75</small>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Кількість</small>
										<small>1</small>
									</div>
								</div>
							</div>
							<!-- details 2 -->
							<div class="border rounded-3">
								<div class="fw-bold p-3 mb-2">Деталі</div>
								<div class="p-3 pt-0 d-flex gap-3 align-items-start">
									<div>
										<div class="qela-previews qela-icon qela-lg ic-img" style="--img-size:54px"></div>
									</div>
									<div class="d-grid gap-2 flex-grow-1" style="width: 300px;">
										<span class="text-nowrap fw-semibold">Оберіть товар</span>
										<div>
											<v-multi-select v-model="value9" :searchable="true" open-direction="auto" :options="options" :multiple="false" :close-on-select="true" :max-height="350" placeholder="Всі статуси" class="multiselect-sm"></v-multi-select>
										</div>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Тип</small>
										<small>-</small>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Доставка</small>
										<small>-</small>
									</div>
									<div class="d-grid gap-2 flex-grow-1">
										<small class="text-info-700 text-nowrap fw-semibold">Ціна</small>
										<small>-</small>
									</div>
									<div class="d-grid gap-2" style="width: 80px;">
										<small class="text-info-700 text-nowrap fw-semibold">Кількість</small>
										<input type="number" class="form-control form-control-sm" placeholder="" aria-label="Поле для введення кількості">
									</div>
								</div>
							</div>
						</div>
						<!-- right -->
						<div class="col-4">
							<div class="border rounded-3 overflow-hidden">
								<div class="fw-bold p-3 mb-2">Історія змін</div>
								<!-- Table -->
								<div class="table-responsive qela-table position-relative">
									<table class="table table-borderless qela-no--hover">
										<thead class="table-light" style="--bs-table-bg:var(--bs-gray-100)">
											<tr>
												<th>
													<small class="text-info-700 fw-semibold">Статус</small>
												</th>
												<th>
													<small class="text-info-700 fw-semibold">Створив(ла)</small>
												</th>
												<th>
													<small class="text-info-700 fw-semibold">Дата та час</small>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<small class="text-success-800">Отримано</small>
													<!-- <small class="text-info-900 fw-semibold">Відправлено</small>
															<small class="text-danger-600 fw-semibold">Скасовано</small>
															<small class="text-warning-600 fw-semibold">В роботі</small> -->
												</td>
												<td class="text-wrap">
													<small>Василь Контрольний</small>
												</td>
												<td>
													<small>14.11.2025 - 12:07</small>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="modal-footer justify-content-end p-3 gap-2">
				<button type="button" class="btn btn-md btn-danger ico-right ic-delete m-0">Видалити</button>
				<button type="button" class="btn btn-md btn-info m-0">Скасувати</button>
				<button type="button" class="btn btn-md btn-primary m-0">Редагувати</button>
			</div>
		</div>
	</div>
</div>