.qela-menu {
	height: calc(100% - var(--body-pad-top));
	width: var(--body-aside-pad);
	position: fixed;
	left: 0;
	top: var(--body-pad-top);
	z-index: 3;
	border-right: 1px solid $info-200;
	transition:
		width 0.2s linear 0s,
		left 0.3s linear 0s;

	&.close {
		width: var(--body-aside-pad-close);
		.qela-nav-wrapper {
			.nav-link {
				> small {
					&:not(.small) {
						width: 40px;
						@media (max-width: 1439.98px) {
							width: 100%;
						}
					}
				}
			}
		}
	}
	.qela-nav {
		z-index: 3;
		height: 100%;
		position: relative;
		display: flex;
		flex-direction: column;
		background-color: $white;
	}
	.qela-scroll-custom {
		--scroll-width: 0;
	}
}

.qela-nav-wrapper {
	overflow: auto;
	overflow-x: hidden;
	flex: 1 1 auto;
	background-color: $white;
	position: relative;
	display: flex;
	flex-direction: column;
	.nav {
		padding: rem(8);
		flex-direction: column;
		align-items: start;
		gap: rem(8);
		&:first-child {
			margin-bottom: auto;
		}
		&:not(:first-child) {
			padding-top: 0;
		}
	}

	.nav-link {
		display: block;
		border-radius: 30px;
		padding: 0;
		white-space: nowrap;
		@media (any-hover: hover) {
			&:hover {
				> small {
					&:not(.small) {
						background-color: $primary-300;
					}
				}
			}
		}
		> small {
			&:not(.small) {
				width: 152px;
				height: 40px;
				color: $info-700;
				display: flex;
				align-items: center;
				padding: rem(8) 0;
				border-radius: 30px;
				overflow: hidden;
				transition:
					background-color 0.3s ease 0s,
					width 0.2s linear 0s;
				&::before {
					line-height: 1;
					padding: 0 rem(8);
				}
				@media (max-width: 1439.98px) {
					width: 40px;
				}
			}
			&.sm {
				&:not(.small) {
					font-size: rem(12);
					white-space: wrap;
				}
			}
		}
		.qela-counter {
			position: absolute;
			top: 0;
			left: 24px;
			pointer-events: none;
			transform: translate(0%, 0%);
		}
		&.active {
			> small {
				&:not(.small) {
					background-color: $primary;
					color: $gray-900;
				}
			}
		}
	}
}
