.qela-scroll-custom {
	--scroll-pr: 0px;
	--scroll-width: 8px;
	--scroll-rounded: 50px;
	--scroll-bg-track: var(--bs-ql-info-300);
	--scroll-bg-thumb: var(--bs-ql-info-700);
	> * {
		padding-right: var(--scroll-pr);
	}

	/* Для WebKit-браузеров */
	::-webkit-scrollbar {
		width: var(--scroll-width);
	}
	/* Для Firefox */
	scrollbar {
		width: var(--scroll-width);
	}

	::-webkit-scrollbar-track {
		/* Цвет фона трека скроллбара */
		background: var(--scroll-bg-track);
		border-radius: var(--scroll-rounded);
	}
	scrollbar-track {
		/* Цвет фона трека скроллбара */
		background-color: var(--scroll-bg-track);
		border-radius: var(--scroll-rounded);
	}

	::-webkit-scrollbar-thumb {
		background: var(--scroll-bg-thumb);
		border-radius: var(--scroll-rounded);
		height: 20%;
		border: 2px solid var(--bs-ql-info-300);
	}
	scrollbar-thumb {
		/* Цвет ползунка скроллбара */
		background: var(--scroll-bg-thumb);
		border-radius: var(--scroll-rounded);
		height: 20%;
		border: 2px solid var(--bs-ql-info-300);
	}
}
