.qela-dialog {
	padding: 2rem 1rem;
	border-radius: 0.75rem;
	background-color: var(--bs-white);
	text-align: center;
	border-width: 2px;
	border-style: solid;

	&.primary-outline {
		border-color: var(--bs-primary);
	}

	&.secondary-outline {
		border-color: var(--bs-secondary);
	}

	h2 {
		padding-bottom: 0.5rem;
		font-size: 1.5rem;
	}

	p {
		font-size: 1.125rem;
	}

	&.small {
		padding: 1rem;

		h2 {
			font-size: 1.25rem;
			padding-bottom: 0;

			&:not(:last-child) {
				padding-bottom: 0.5rem;
			}
		}

		p {
			margin-bottom: 0;
		}
	}

	.qela-list {
		p {
			font-size: 1rem;
			text-align: left;
		}

		.list-group-item {
			&:not(:last-child) {
				margin-bottom: 0.25rem;
			}
		}
	}
}
