.modal {
	--bs-modal-color: inherit;
	--bs-modal-bg: var(--bs-white);
	--bs-modal-border-color: var(--bs-ql-info-300);
	--bs-modal-box-shadow: 0 0.125rem 0.25rem color-mix(in srgb, var(--bs-black), transparent 92.5%);
	--bs-modal-header-border-color: var(--bs-border-color);
	--bs-modal-footer-bg: none;
	--bs-modal-footer-border-color: var(--bs-border-color);
	--bs-backdrop-bg: var(--bs-black);
}
.visibility--modal {
	.qela-modal-blur {
		visibility: visible;
		opacity: 1;
		transform: scale(1);
	}
}
.qela-modal {
	&.modal {
		&:has(.card, .table) {
			.qela-modal-empty {
				display: none;
			}
		}
	}

	.modal-body {
		max-height: 565px;
	}
}

.qela-modal-empty {
	margin: 0;
	text-align: center;
	display: block;
}
.qela-quest-template {
	.modal-content,
	.qela-content,
	.qela-tab {
		height: calc(100vh - 104px);
		max-height: 1200px;
	}
	.modal-body {
		padding: 0;
	}
	.qela-tab {
		flex-direction: column;
		align-items: start;
		padding: rem(16);
		border-right: 1px solid var(--bs-ql-info-300);
		border-bottom: none;
		width: 220px;
		flex-wrap: nowrap;
		.nav-link {
			padding: rem(8) 0 rem(8) rem(16);
			&.active {
				text-decoration: underline;
			}
		}
	}
}
.qela-modal-mob {
	position: fixed;
	top: 0;
	left: 0;
	width: 100dvw;
	height: 100dvh;
	background: color-mix(in srgb, var(--bs-black), transparent 30%);
	z-index: 9999;
	.modal-content {
		position: absolute;
		background-color: var(--bs-body-bg);
		border-radius: $modal-content-border-radius;
	}
	.modal-header {
		padding: $modal-header-padding-y $modal-header-padding-x;
		align-items: flex-start;
		border-bottom: 1px solid var(--bs-ql-info-300);
	}
	.modal-title {
		font-weight: 700;
		font-size: rem(16);
		line-height: 120%;
	}
	.modal-body {
		padding: rem(16);
	}
}
.qela-modal-blur {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1050;
	backdrop-filter: blur(8px);
	background: rgba(199, 199, 199, 0.3);
	border-radius: 8px;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	visibility: hidden;
	opacity: 0;
	transform: scale(0.5);
	transition:
		opacity 0.3s ease 0s,
		visibility 0.3s ease 0s,
		transform 0.3s ease 0s;
	.modal-content {
		max-width: 450px;
	}
}
