.qela-toolbar {
	padding: 0.5rem;
	padding-left: 1rem;
	display: flex;
	align-items: center;
	border-radius: 0.5rem;
	border: 1px solid var(--bs-ql-info-400);
	background: var(--bs-white);

	.form-check {
		margin-right: 0.5rem;
	}

	.form-check-input {
		margin-right: 1rem;
	}

	.form-check-label {
		color: var(--bs-ql-info-900);
		font-size: 16px;
	}

	.btn {
		&:not(:last-child) {
			margin-right: 0.25rem;
		}
	}

	&.no-outline {
		border: none;
		background: var(--bs-body-bg);
	}
}
