{% macro btns(props) %}

	{% set tag = "button" if props.button else 
		"a" %}

	<{{ tag }} 
		{% if not props.button %}href="{{ props.url or '#' }}"{% endif %}
		{% if props.button %}type="button"{% endif %}
		class="btn btn-{{ props.type}}{{' ' + props.classes if props.classes}}{{" disabled" if props.disabled and not props.button}}"
		{{ "disabled" if props.disabled and props.button}} 
	>

		{{ props.text }}
		{% if props.counter %}
			<span class="qela-counter position-absolute bottom-50 start-100 translate-middle">
				{{ props.counter }}
			</span>
		{% endif %}
	</{{ tag }}>

{% endmacro %}

{# {% set buttonsData = [
	{
		button: true,
		type: "primary",
		classes: "",
		text: "Primary",
		disabled: false
	}, {
		button: true,
		type: "primary",
		classes: "",
		text: "Primary",
		disabled: true
	}
] %}
{% from "html/includes/btns/_btn.njk" import btns %}
{% for bt in buttonsData %}
	{{btns(bt)}}
{% endfor %} #}