.qela-accordion {
	&.accordion-flush {
		.accordion-item {
			border-radius: 0;
			border: none;
			overflow: visible;
			&:not(:last-child) {
				margin-bottom: 2px;
			}
		}
		.accordion-button {
			border-radius: 0;
			&:hover {
				z-index: 3;
			}
			&:not(.collapsed) {
				border-radius: 0;
			}
		}
	}
	.accordion-item {
		border-top: 1px solid $accordion-border-color;
		overflow: hidden;
		border-radius: 8px;
		&:not(:last-child) {
			margin-bottom: 0.25rem;
		}

		&.success {
			border-top: 1px solid $success-300;
			border-color: $success-300;

			.accordion-button {
				color: $success-600;
				gap: 0.5rem;

				&::after {
					background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{rgba($success-600, 0.99)}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
					background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{rgba($success-600, 0.99)}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
				}

				[class*="ic-"] {
					display: block;
					color: $success;
				}

				@media (any-hover: hover) {
					&:hover {
						color: $success-600;

						&::after {
							background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{rgba($success-600, 0.99)}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
							background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{rgba($success-600, 0.99)}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
						}
					}
				}
				&:focus {
				}
			}
		}
	}

	.accordion-button {
		border-radius: 7px;
		font-weight: 500;
		position: relative;
		align-items: flex-start;
		gap: 8px;
		&::after {
			transition: all 0.25s ease 0s;
		}
		&:focus {
			color: $gray-700;
			&::after {
				background-image: var(--bs-accordion-btn-active-icon);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: $secondary;

				&::after {
					background: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#{rgba($secondary, 0.99)}'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
				}
			}
		}
		&:not(.collapsed) {
			border-radius: 7px 7px 0 0;
			box-shadow: none;
		}
		[class*="ic-"] {
			display: none;

			&::before {
				font-size: 1rem;
			}
		}
		.badge {
			position: absolute;
			left: 9px;
			top: 0;
			transform: translateY(-50%);
			z-index: 3;
		}
	}

	.accordion-body {
	}

	&.small {
		.accordion-button {
			font-size: 14px;
			padding: 8px 8px 8px 16px;
		}
	}
	.qela-tab {
		.nav-tabs {
			flex: 1 1 auto;
			border: none;
			padding: 0;
		}
	}
}
