.qela-avatar {
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	font-weight: 500;
	text-transform: uppercase;
	width: var(--img-size);
	height: var(--img-size);
	flex: 0 0 var(--img-size);
	border-radius: 50%;
	color: var(--bs-secondary);
	border: 1px solid var(--bs-ql-info-200);
	background-color: var(--bs-white);

	img {
		border-radius: 50%;
	}
	&.online,
	&.online-sm {
		position: relative;
		&::before {
			content: "";
			display: block;
			position: absolute;
			z-index: 2;
			background-color: var(--bs-secondary);
			border-radius: 50%;
			border: 1px solid var(--bs-white);
		}
	}
	&.online {
		&::before {
			width: 13px;
			height: 13px;
			right: 8px;
			bottom: 8px;
		}
	}
	&.online-sm {
		&::before {
			width: 10px;
			height: 10px;
			right: 1px;
			bottom: 1px;
		}
	}
}
.qela-users {
	@media (any-hover: hover) {
		&:hover {
			.btn {
				visibility: visible;
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
	.qela-avatar {
		&:not(:first-child) {
			margin-left: -16px;
		}
	}
	.btn {
		border: none !important;
		visibility: hidden;
		opacity: 0;
		pointer-events: none;
		transition: all 0.25s ease 0s;
		&::before {
			font-size: rem(24);
			color: var(--bs-ql-info-600);
		}
	}
}
.qela-qr {
	width: 63.5%;
	display: inline-block;

	img {
		width: 100%;
	}
}
