.badge {
	border: 0px solid transparent;
	&.border-1 {
		border-width: var(--bs-border-width);
	}
	&[class*="ic-"] {
		display: inline-flex;
		align-items: center;
		flex-direction: row-reverse;
		padding-top: rem(2);
		padding-bottom: rem(2);
		gap: 2px;
		&::before {
			font-size: rem(16);
			line-height: 1;
		}
	}
	&.message {
		font-size: rem(11);
		font-weight: 600;
		line-height: 9px;
		padding: rem(4);
		border-radius: 6px;
	}

	&.large {
		padding: rem(5.5) rem(6);
		font-size: rem(14);
		&[class*="ic-"] {
			gap: 5px;
			padding-top: rem(4);
			padding-bottom: rem(4);
		}
	}

	&.large-xl {
		padding: rem(8) rem(12);
		font-size: rem(16);
		border-radius: 8px;
		line-height: 131%;
		&[class*="ic-"] {
			gap: 10px;
			&::before {
				font-size: rem(20);
			}
		}
	}
}
.qela-badge {
	&.small {
		--bs-badge-color: #{var(--bs-white)};
		padding: rem(2) rem(4);
		font-size: rem(10);
		text-align: center;
		min-width: 14px;
	}

	&.item {
		padding: rem(6) rem(4) rem(6) rem(6);
		border-radius: 6px;
		background-color: var(--bs-ql-secondary-200);
		color: var(--bs-ql-info-900);
		font-weight: 400;
		font-size: rem(14);
	}
}

.qela-list-num {
	padding: rem(4);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 24px;
	min-width: 24px;
	line-height: 1;
	border-radius: 30px;
	color: var(--bs-ql-info-900);
}

.qela-counter {
	font-weight: 600;
	font-size: rem(9);
	height: 16px;
	min-width: 16px;
	border-radius: 14px;
	color: var(--bs-white);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: rem(2);
	background-color: var(--bs-danger);
}

.qela-badge-primary {
	background-color: var(--bs-ql-primary-200);
	color: var(--bs-ql-primary-900);
	border-color: var(--bs-ql-primary-600);
}

.qela-badge-secondary {
	background-color: var(--bs-ql-secondary-200);
	color: var(--bs-ql-secondary-900);
	border-color: var(--bs-ql-secondary-600);
}

.qela-badge-danger {
	background-color: var(--bs-ql-danger-200);
	color: var(--bs-ql-danger-900);
	border-color: var(--bs-ql-danger-600);
}

.qela-badge-success {
	background-color: var(--bs-ql-success-200);
	color: var(--bs-ql-success-900);
	border-color: var(--bs-ql-success-600);
}

.qela-badge-warning {
	background-color: var(--bs-ql-warning-200);
	color: var(--bs-ql-warning-900);
	border-color: var(--bs-ql-warning-600);
}
.qela-badge-info {
	background-color: var(--bs-ql-info-200);
	color: var(--bs-ql-info-900);
	border-color: var(--bs-info);
}
.qela-badge-light {
	background-color: var(--bs-white);
	color: var(--bs-ql-info-900);
	border-color: var(--bs-info);
}

.qela-badge-talent {
	color: var(--ql-talent-color);
	background-color: var(--ql-talent-bg);
	border-color: var(--ql-talent-border-color);
	text-decoration: none;
	&:hover {
		color: var(--ql-talent-color);
	}
	i {
		color: var(--ql-talent-border-color);
	}
	// ==========================================
	&.vote {
		color: var(--bs-ql-primary-900);
		background-color: var(--bs-ql-primary-200);
		border-color: var(--bs-ql-primary-700);
		display: inline-flex;
		align-items: center;
		&.large-xl {
			&.img {
				position: relative;
				padding-right: rem(40);
				img {
					width: 28px;
					position: absolute;
					right: 8px;
					top: 50%;
					transform: translateY(-50%);
					margin-left: 0;
				}
			}
		}
	}
}

.qela-status-badge {
	--bs-badge-color: var(--bs-white);
	--ql-badge-bg: var(--bs-primary);
	--ql-badge-color-icon: var(--bs-badge-color);
	--ql-badge-border-color: var(--ql-badge-bg);
	color: var(--bs-badge-color);
	background-color: var(--ql-badge-bg);
	border: 1px solid var(--ql-badge-border-color);
	padding: 0 rem(8);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	font-size: rem(14);
	line-height: 1;
	height: 30px;
	min-width: 30px;
	border-radius: 20px;
	&[class*="ic-"] {
		&::before {
			font-size: 20px;
			margin: 0px rem(4) 0px 0px;
			color: var(--ql-badge-color-icon);
		}
	}
	&.secondary {
		--bs-badge-color: var(--bs-ql-secondary-800);
		--ql-badge-bg: var(--bs-ql-secondary-100);
		--ql-badge-color-icon: var(--bs-secondary);
		--ql-badge-border-color: var(--bs-ql-secondary-400);
	}
	&.success {
		--bs-badge-color: var(--bs-ql-success-900);
		--ql-badge-bg: var(--bs-ql-success-100);
		--ql-badge-color-icon: var(--bs-ql-success-700);
		--ql-badge-border-color: var(--bs-ql-success-700);
	}
	&.warning {
		--bs-badge-color: var(--bs-ql-warning-900);
		--ql-badge-bg: var(--bs-ql-warning-100);
		--ql-badge-color-icon: var(--bs-ql-warning-600);
		--ql-badge-border-color: var(--bs-ql-warning-400);
	}
	&.danger {
		--ql-badge-bg: var(--bs-ql-danger-100);
		--ql-badge-color-icon: var(--bs-danger);
	}
	&.circel {
		padding: 0;
		border-width: 0;
		&[class*="ic-"] {
			&::before {
				margin: 0;
			}
		}
	}
	&.sm {
		height: 24px;
		min-width: 24px;
		border-radius: 20px;
		&::before {
			font-size: rem(16);
		}
	}
}
.qela-referral-counter {
	padding: rem(12) rem(16) rem(12) rem(16);
	background-color: var(--bs-ql-secondary-200);
	border-radius: 8px;
	display: inline-flex;
	align-items: center;
	gap: rem(8);
	.badge {
		padding: rem(4) rem(8);
		font-size: rem(16);
		min-width: 24px;
		border-radius: 8px;
	}
}
