.qela-cookie {
	display: flex;
	flex-direction: column;
	justify-content: end;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 2150;
	.alert {
		width: 100%;
		gap: 8px;
		margin: rem(1);
		background-color: var(--bs-ql-secondary-100);
		border-radius: 0;
		padding: rem(24) rem(32) rem(24) rem(32);
		display: flex;
		gap: 5px;
		border: 1px solid var(--bs-white);
		span {
			&[class*="ic-"] {
				&::before {
					font-size: rem(40);
				}
			}
		}
	}
	.modal-header {
		span {
			&[class*="ic-"] {
				&::before {
					font-size: rem(40);
				}
			}
		}
	}
}
.qela-cookie-overlay {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	height: 100dvh;
	width: 100vw;
	background-color: var(--bs-ql-info-700);
	z-index: -1;
	display: none;
}
#cookie-banner.show .qela-cookie-overlay {
	display: block;
}
