.qela-ibg {
	position: relative;
	img,
	video {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.qela-previews {
	--img-size: 32px;
	font-size: rem(14);
	display: flex;
	width: var(--img-size);
	height: var(--img-size);
	flex: 0 0 var(--img-size);
	font-weight: 500;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	text-decoration: none;
	background-color: $white;
	border: 1px solid $info-300;
	overflow: hidden;
	&::before {
		font-size: rem(24);
		color: $info-600;
	}
	&.qela-lg {
		--img-size: 40px;
	}
}
.qela-img1x1 {
	padding-top: 100%;
	overflow: auto;

	@media (any-hover: hover) {
		&:hover {
			&::after {
				opacity: 1;
			}

			&[class^="ic-"],
			&[class*="ic-"] {
				&::before {
					opacity: 1;
				}
			}
		}
	}

	&[class^="ic-"],
	&[class*="ic-"] {
		&::before {
			color: $white;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 5;
			transform: translate(-50%, -50%);
			opacity: 0;
			transition: opacity 0.3s ease 0s;
		}
	}

	&::after {
		content: "";
		width: 100%;
		height: 100%;
		background-color: rgba($black, 0.3);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		opacity: 0;
		pointer-events: none;
		transition: opacity 0.3s ease 0s;
	}
}

.qela-noimg {
	border-radius: 0.25rem;
	background-color: $info-300;
	[class^="ic-"],
	[class*="ic-"] {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		&:before {
			position: absolute;
			font-size: 32px;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.qela-video {
	.qela-ibg {
		aspect-ratio: 16/9;
		max-width: 170px;
		border-radius: 0.5rem;
		margin: 1.5rem auto 1rem auto;

		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba($black, 0.2);
			pointer-events: none;
			z-index: 1;
			border-radius: 0.5rem;
		}
	}

	video {
		border-radius: 0.5rem;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.qela-play {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 58px;
	height: 58px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
	background: rgba($black, 0.3);
	color: $white;
	border-radius: 1rem;
	cursor: pointer;
}
