.nav {
	--bs-nav-link-color: var(--bs-ql-info-700);
	--bs-nav-link-hover-color: var(--bs-ql-secondary-700);
	--bs-nav-link-disabled-color: var(--bs-ql-info-600);

	--bs-nav-tabs-border-color: var(--bs-ql-info-300);
	--bs-nav-tabs-link-hover-border-color: var(--bs-nav-tabs-border-color) var(--bs-nav-tabs-border-color)
		var(--bs-nav-tabs-border-color);
	--bs-nav-tabs-link-active-color: var(--bs-ql-info-900);
	--bs-nav-tabs-link-active-bg: var(--bs-white);
	--bs-nav-tabs-link-active-border-color: var(--bs-nav-tabs-border-color) var(--bs-nav-tabs-border-color)
		var(--bs-nav-tabs-border-color);
}
.nav-tabs {
}
.nav-item {
	position: relative;

	.qela-counter {
		position: absolute;
		top: 0;
		transform: translate(-100%, -50%);
		left: calc(100% - 6px);
	}
}
.qela-tab {
	display: flex;
	.nav-tabs {
		flex: 0 0 240px;
		border-right: $nav-tabs-border-width solid var(--bs-nav-tabs-border-color);
		border-radius: $nav-tabs-border-radius 0 0 $nav-tabs-border-radius;
		counter-reset: step;
	}

	.nav-item {
		width: 100%;
		&:first-child {
			.line {
				height: 50%;
			}
		}
		&:last-child {
			.line {
				height: 25%;
				top: 0;
			}
		}
	}

	.nav-link {
		text-align: start;
	}
}
.qela-nav-item {
	.nav-link {
		display: flex;
		align-items: center;
		width: 100%;
		position: relative;
		padding: rem(16) rem(48) rem(16) var(--step-pad-start);
		border-radius: 0;
		background-color: var(--bs-white);
		margin-bottom: 0;
		&::before {
			content: counter(step);
			counter-increment: step;
			width: var(--step-diametr);
			height: var(--step-diametr);
			flex: 0 0 var(--step-diametr);
			background-color: var(--bs-ql-info-200);
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			color: var(--bs-ql-secondary-600);
			margin-right: 1rem;
			position: relative;
			z-index: 2;
		}

		&::after {
			content: "";
			position: absolute;
			top: 50%;
			right: 0;
			width: 0;
			height: 0;
			border-top: 9px solid transparent;
			border-right: 9px solid var(--bs-secondary);
			border-bottom: 9px solid transparent;
			border-left: 0 solid transparent;
			transform: translate(0, -50%);
			opacity: 0;
			transition: opacity 0.2s ease 0s;
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: var(--bs-ql-info-100);
			}
		}

		&.active {
			&::after {
				opacity: 1;
			}

			&::before {
				background-color: var(--bs-secondary);
				color: var(--bs-white);
			}
		}

		&.success {
			&::before {
				content: "\e965";
				font-family: "Icons";
				font-size: 16px;
				border: 3px solid var(--bs-ql-secondary-300);
				background-color: var(--bs-ql-secondary-600);
				color: var(--bs-white);
				transition: all 0.2s ease 0s;
				line-height: 1;
			}

			.line {
				background-color: var(--bs-secondary);
			}

			&.active {
				&::before {
					border: 1px solid var(--bs-secondary);
					background-color: var(--bs-secondary);
				}
			}
		}

		&.error {
			color: var(--bs-ql-info-900);

			&::before {
				content: "\e93e";
				font-family: "Icons";
				font-size: rem(16);
				border: 3px solid var(--bs-ql-danger-100);
				background-color: var(--bs-danger);
				color: var(--bs-white);
				transition: all 0.2s ease 0s;
				line-height: 1;
			}

			&::after {
				border-right-color: var(--bs-danger);
			}
		}

		&.disabled {
			color: var(--bs-ql-info-600);

			&::before {
				color: var(--bs-ql-info-600);
			}
		}
	}

	.line {
		position: absolute;
		height: 100%;
		bottom: 0;
		width: 1px;
		background-color: var(--bs-ql-info-400);
		left: calc((var(--step-diametr) / 2) + var(--step-pad-start));
		z-index: 1;
		transition: background-color 0.2s linear 0s;

		// &.line-start {
		//     height: 50%;
		// }

		// &.line-end {
		//     height: 50%;
		//     top: 0;
		// }
	}

	.link-name {
		overflow: hidden;
		-o-text-overflow: ellipsis;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 2;
		white-space: normal;
		display: -webkit-box;
	}
	&.small {
		.nav-link {
			padding: rem(8) rem(32) rem(8) var(--step-pad-start);
			&::before {
				font-size: rem(14);
				margin-right: rem(8);
			}
			&.success {
				&::before {
					font-size: rem(12);
				}
			}
			&.error {
				&::before {
					content: "\e95f";
					font-size: rem(14);
					background-color: var(--bs-ql-danger-200);
					color: var(--bs-danger);
				}
			}
		}
	}
	&.small-light {
		&:first-child {
			margin-top: rem(2);
		}
		.nav-link {
			padding: rem(6) rem(32) rem(6) var(--step-pad-start);
			color: var(--bs-ql-info-600);
			background-color: transparent;
			align-items: flex-start;
			border-radius: 6px 0px 0px 6px;

			&::before {
				font-size: rem(14);
				line-height: 1;
				margin-right: rem(8);
				color: var(--bs-ql-info-600);
				border: 1px solid var(--bs-ql-info-200);
				background-color: var(--bs-ql-info-200);
			}
			@media (any-hover: hover) {
				&:hover {
					color: var(--bs-secondary);
					&::before {
						color: var(--bs-secondary);
					}
				}
			}
			&.active {
				color: var(--bs-secondary);
				background-color: var(--bs-ql-info-100);
				.line {
					background-color: var(--bs-ql-info-200);
				}
				&::before {
					content: counter(step);
					font-size: rem(14);
					color: var(--bs-white);
					background-color: var(--bs-secondary);
				}
			}
			&.success {
				&::before {
					content: "\e934";
					color: var(--bs-success);
					border-color: var(--bs-ql-success-200);
					background-color: var(--bs-ql-success-200);
					font-size: rem(19);
				}
				&::after {
					border-right-color: var(--bs-success);
				}
				@media (any-hover: hover) {
					&:hover {
						color: var(--bs-ql-success-600);
					}
				}
				&.active {
					color: var(--bs-ql-success-600);
					&::after {
						border-right-color: var(--bs-success);
					}
				}
				.line {
					background-color: var(--bs-ql-info-200);
				}
			}
			&.error {
				&::before {
					content: "\e95f";
					font-size: rem(14);
					background-color: var(--bs-ql-danger-200);
					color: var(--bs-danger);
				}
				&.active {
					color: var(--bs-ql-info-600);
				}
				@media (any-hover: hover) {
					&:hover {
						color: var(--bs-ql-info-900);
					}
				}
			}
		}
		.line {
			background-color: var(--bs-ql-info-200);
		}
	}
}
.qela-quest {
	&:not(:last-child) {
		.head {
			border-bottom: 1px solid var(--bs-ql-info-400);
		}
	}

	@media (any-hover: hover) {
		&:hover {
			.head {
				background-color: var(--bs-ql-info-100);
			}

			.btn,
			.badge {
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
		}
	}

	&.active {
		.triangle,
		.btn,
		.badge {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
		}
	}

	.head {
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: background-color 0.3s ease 0s;
		flex-wrap: wrap;
	}

	.btn,
	.triangle,
	.content,
	.badge {
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition:
			opacity 0.3s ease 0s,
			overflow 0.3s ease 0s;
	}

	.triangle {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 0;
		height: 0;
		border-top: 11px solid transparent;
		border-right: 11px solid var(--bs-secondary);
		border-bottom: 11px solid transparent;
		border-left: 0 solid transparent;
	}
}
.qela-content {
	p {
		margin-bottom: 0;
	}
	> div {
		&:first-child {
			padding: rem(23) rem(16);
		}
	}
	transition:
		opacity 0.3s ease 0s,
		visibility 0.2s ease 0s;
	opacity: 0;
	visibility: hidden;
	display: none;

	&.active {
		opacity: 1;
		visibility: visible;
		display: block;
	}
}
.qela-talent-nav {
	flex-direction: column;
	padding: rem(16);
	gap: rem(4);
	flex-wrap: nowrap;
	flex-grow: 1;
	overflow: auto;
	height: 200px;
	.nav-item {
		display: flex;
		align-items: center;
		gap: rem(8);
		> .qela-btn-ic {
			cursor: var(--cursor-icon);
		}
	}

	.nav-link {
		flex-grow: 1;
	}
	.qela-dropdown {
		.dropdown-menu {
			margin-top: rem(7) !important;
		}
	}
}
