<!DOCTYPE html>
<html lang="ua">
	{% set links = {
		indexCss: '<link rel="stylesheet" href="demo-assets/index.css">'
	} %}
	{% set title = "Components" %}
	{% include "html/includes/_head.njk" %}
	<body class="theme--strichka">
		<script src="demo-assets/indexhead.js"></script>

		<div id="app" v-cloak>
			<header class="p-1 h-auto">
				<div class="container">
					<div class="row g-2 align-items-center">
						<div class="col-auto">
							<a class="navbar-brand d-inline-flex" href="https://qela-admin.a2v10.com/" target="_blank">
								<img src="img/logo-sm.svg" alt="Logo" width="57" height="40"/>
							</a>
						</div>
						<div class="col">
							<div class="p-2">
								<input type="search" class="form-control" id="search-nav" placeholder="Search component"/>
							</div>
						</div>
						<div class="col-auto">
							<a href="#" id="toggle-bg" type="button" class="btn btn-info p-1 ico ic-circle --btn"></a>
						</div>
						<div class="col-auto">
							<a href="https://andreywebcoder.github.io/Qela-mob/Qela-mob/" type="button" class="btn btn-info p-1 --btn">
								<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M9 5.00024C9 3.34339 10.3431 2.00024 12 2.00024H28C29.6569 2.00024 31 3.34339 31 5.00024V35.0002C31 36.6571 29.6569 38.0002 28 38.0002H12C10.3431 38.0002 9 36.6571 9 35.0002V5.00024ZM12 4.00024C11.4477 4.00024 11 4.44796 11 5.00024V35.0002C11 35.5525 11.4477 36.0002 12 36.0002H28C28.5523 36.0002 29 35.5525 29 35.0002V5.00024C29 4.44796 28.5523 4.00024 28 4.00024H12Z" fill="#4F4F4F"/>
									<path d="M22 33.0002C22 34.1048 21.1046 35.0002 20 35.0002C18.8954 35.0002 18 34.1048 18 33.0002C18 31.8957 18.8954 31.0002 20 31.0002C21.1046 31.0002 22 31.8957 22 33.0002Z" fill="#4F4F4F"/>
									<path d="M17 6.00024C17 5.44796 17.4477 5.00024 18 5.00024H22C22.5523 5.00024 23 5.44796 23 6.00024C23 6.55253 22.5523 7.00024 22 7.00024H18C17.4477 7.00024 17 6.55253 17 6.00024Z" fill="#4F4F4F"/>
								</svg>
							</a>
						</div>
						<div class="col-auto">
							<button class="btn --burger">
								<span></span>
								<span></span>
								<span></span>
							</button>
						</div>
					</div>
				</div>
			</header>
			<main class="qela-body">
				<!-- Навигация (якоря)-->
				<aside class="fixed-top --aside">
					<h4 class="px-2 my-2">Components</h4>
					<nav class="ps-3">
						<ol class="d-flex flex-column gap-1 ps-0 --elastic">
							<li>
								<a class="--link" href="#">buttons</a>
							</li>
							<li>
								<a class="--link" href="#">text field</a>
							</li>
							<li>
								<a class="--link" href="#">checkbox</a>
							</li>
							<li>
								<a class="--link" href="#">radiobutton</a>
							</li>
							<li>
								<a class="--link" href="#">tooltip</a>
							</li>
							<li>
								<a class="--link" href="#">multi-select</a>
							</li>
							<li>
								<a class="--link" href="#">datapiker</a>
							</li>
							<li>
								<a class="--link" href="#">range</a>
							</li>
							<li>
								<a class="--link" href="#">dropdown</a>
							</li>
							<li>
								<a class="--link" href="#">badge</a>
							</li>
							<li>
								<a class="--link" href="#">pagination</a>
							</li>
							<li>
								<a class="--link" href="#">alert</a>
							</li>
							<li>
								<a class="--link" href="#">logos</a>
							</li>
							<li>
								<a class="--link" href="#">items</a>
							</li>
							<li>
								<a class="--link" href="#">labels</a>
							</li>
							<li>
								<a class="--link" href="#">modals</a>
							</li>
							<li>
								<a class="--link" href="#">map-pin</a>
							</li>
							<li>
								<a class="--link" href="#">progress</a>
							</li>
							<li>
								<a class="--link" href="#">avatars</a>
							</li>
							<li>
								<a class="--link" href="#">lists</a>
							</li>
							<li>
								<a class="--link" href="#">description</a>
							</li>
							<li>
								<a class="--link" href="#">img-preview</a>
							</li>
							<li>
								<a class="--link" href="#">cards</a>
							</li>
							<li>
								<a class="--link" href="#">qr-code</a>
							</li>
							<li>
								<a class="--link" href="#">toasts</a>
							</li>
							<li>
								<a class="--link" href="#">dialog</a>
							</li>
							<li>
								<a class="--link" href="#">talents</a>
							</li>
							<li>
								<a class="--link" href="#">toolbar</a>
							</li>
							<li>
								<a class="--link" href="#">rating</a>
							</li>
							<li>
								<a class="--link" href="#">orden</a>
							</li>
							<li>
								<a class="--link" href="#">icon-svg</a>
							</li>
							<li>
								<a class="--link" href="#">breadcrumb</a>
							</li>
							<li>
								<a class="--link" href="#">under</a>
							</li>
							<li>
								<a class="--link" href="#">subscription</a>
							</li>
							<li>
								<a class="--link" href="#">delimiter</a>
							</li>
							<li>
								<a class="--link" href="#">accordion</a>
							</li>
							<li>
								<a class="--link" href="#">icons</a>
							</li>
							<li>
								<a class="--link" href="#">img</a>
							</li>
							<li>
								<a class="--link" href="#">slider</a>
							</li>
							<li>
								<a class="--link" href="#">tabs</a>
							</li>
							<li>
								<a class="--link" href="#">tables</a>
							</li>
							<li>
								<a class="--link" href="#">popover</a>
							</li>
							<li>
								<a class="--link" href="#">chat</a>
							</li>
						</ol>
					</nav>
					<h4 class="px-2 my-2">Pages</h4>
					<nav class="ps-3">
						<ol class="d-flex flex-column gap-1 ps-0 --elastic">
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/alert">alert</a>
							</li>
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/chat">chat</a>
							</li>
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/billing-success">billing-success</a>
							</li>
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/colors">colors</a>
							</li>
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/email">email</a>
							</li>
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/list-party">list-party</a>
							</li>
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/list-verification">list-verification</a>
							</li>
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/log-in">log-in</a>
							</li>
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/master">master</a>
							</li>
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/quests">quests</a>
							</li>
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/reg">registration</a>
							</li>
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/talents">talents</a>
							</li>
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/subscription">subscription</a>
							</li>
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/shop">shop</a>
							</li>
							<li>
								<a class="--link" href="https://andreywebcoder.github.io/Qela-bootstrap/Qela/shop-items">shop-items</a>
							</li>
						</ol>
					</nav>
				</aside>
				<!-- Навигация (якоря) -->
				<div style="max-width: 1024px" class="mx-auto px-3 w-100">
					<div class="mt-3 pb-3 d-flex flex-column gap-3">
						{% include "html/components/_buttons.njk" %}
						{% include "html/components/_text-fild.njk" %}
						{% include "html/components/_multi-select.njk" %}
						{% include "html/components/_datapiker.njk" %}
						{% include "html/components/_chat.njk" %}
						{% include "html/components/_checkbox.njk" %}
						{% include "html/components/_radiobutton.njk" %}
						{% include "html/components/_range.njk" %}
						{% include "html/components/_accordion.njk" %}
						{% include "html/components/_alert.njk" %}
						{% include "html/components/_avatars.njk" %}
						{% include "html/components/_badge.njk" %}
						{% include "html/components/_breadcrumb.njk" %}
						{% include "html/components/_card.njk" %}
						{% include "html/components/_delimiter.njk" %}
						{% include "html/components/_description.njk" %}
						{% include "html/components/_dialog.njk" %}
						{% include "html/components/_dropdown.njk" %}
						{% include "html/components/_icons.njk" %}
						{% include "html/components/_icon-svg.njk" %}
						{% include "html/components/_img.njk" %}
						{% include "html/components/_img-preview.njk" %}
						{% include "html/components/_items.njk" %}
						{% include "html/components/_labels.njk" %}
						{% include "html/components/_list.njk" %}
						{% include "html/components/_logo.njk" %}
						{% include "html/components/_map.njk" %}
						{% include "html/components/_modals.njk" %}
						{% include "html/components/_orden.njk" %}
						{% include "html/components/_pagination.njk" %}
						{% include "html/components/_progress.njk" %}
						{% include "html/components/_popover.njk" %}
						{% include "html/components/_qr.njk" %}
						{% include "html/components/_rating.njk" %}
						{% include "html/components/_slider.njk" %}
						{% include "html/components/_subscription.njk" %}
						{% include "html/components/_tables.njk" %}
						{% include "html/components/_tabs.njk" %}
						{% include "html/components/_talents.njk" %}
						{% include "html/components/_toasts.njk" %}
						{% include "html/components/_toolbar.njk" %}
						{% include "html/components/_tooltip.njk" %}
						{% include "html/components/_under.njk" %}
					</div>
				</div>
			</main>
		</div>

		<script src="https://unpkg.com/vue@latest"></script>
		<script type="text/javascript" src="https://www.unpkg.com/vue-multiselect@3.0.0-beta.1/dist/vue-multiselect.js"></script>
		<!-- <script src="https://unpkg.com/@vuepic/vue-datepicker@latest"></script> -->
		<script type="text/javascript">

			let app = Vue.createApp({
				components: {
					// 'v-date-picker': VueDatePicker,
					"v-multi-select": VueMultiselect.default
				},
				data() {
					return {
						date: null,
						value1: [],
						value2: [],
						value3: [],
						value4: null,
						value5: [],
						value6: [],
						value7: [],
						options: [
							"Пункт 1",
							"Пункт 2",
							"Пункт 3",
							"Пункт 4",
							"Пункт 1",
							"Пункт 2sades",
							"Пункт 3sd",
							"Пункт 4sd"
						]
					};
				},
				methods: {
					click() {
						alert(1);
						this.message += " clicked!";
					}
				}
			});
			// console.dir(app);
			app.mount("#app");
		</script>
		<!-- Search -->
		<script defer type="text/javascript">
			// ==================================================

			const burgerBtn = document.querySelector(".--burger");
			const asideMenu = document.querySelector(".--aside");
			burgerBtn.addEventListener("click", () => {
				burgerBtn
					.classList
					.toggle("active");
				asideMenu
					.classList
					.toggle("active");
			});
			// ==================================================

			document
				.querySelector("#search-nav")
				.oninput = function () {
					let val = this
						.value
						.trim();
					let elasticItems = document.querySelectorAll(".--elastic li");
					if (val != "") {
						asideMenu
							.classList
							.add("active");
						elasticItems.forEach(function (elem) {
							if (elem.innerText.search(val) == -1) {
								elem
									.classList
									.add("--hide");
							} else {
								elem
									.classList
									.remove("--hide");
							}
						});
					} else {
						elasticItems.forEach(function (elem) {
							elem
								.classList
								.remove("--hide");
						});
						asideMenu
							.classList
							.remove("active");
					}
				};
			// ===============================================
			let togButton = document.querySelector("#toggle-bg");
			togButton.addEventListener("click", (event) => {
				event.preventDefault();
				if (localStorage.getItem("theme") === "night-theme") {
					localStorage.removeItem("theme");
				} else {
					localStorage.setItem("theme", "night-theme");
				}
				addDarkClass();
			});
			// ==================================================
			let title = document.querySelectorAll("h2.h1");
			let ul = document.querySelector(".--elastic");
			let li = ul.querySelectorAll("a");

			let sections = document.querySelectorAll("section");
			function ulSorted(type = "a") {
				let res = [];
				let res2 = [];
				for (let i = 0; i < li.length; i++) {
					res[i] = li[i].textContent;
					switch (type) {
						case "a":
							res.sort(function (e1, e2) {
								return e1 < e2
									? -1
									: 1;
							});
							break;
						case "z":
							res.sort(function (e1, e2) {
								return e1 > e2
									? -1
									: 1;
							});
							break;
					}
				}
				for (let i = 0; i < res.length; i++) {
					li[i].innerText = res[i];
					li[i].href = `#${res[i]
						.replace(/\W|_/g, "")
						.trim()
						.toLowerCase()}`;
				}
				for (let i = 0; i < title.length; i++) {
					res2[i] = title[i].textContent;
				}
				for (let i = 0; i < sections.length; i++) {
					sections[i].id = `${res2[i]
						.replace(/\W|_/g, "")
						.trim()
						.toLowerCase()}`;
				}
			}
			ulSorted("a");
			if (li.length > 0 && sections.length > 0) {
				const observer = new IntersectionObserver((entries) => {
					entries.forEach((entry) => {
						if (entry.isIntersecting) {
							li.forEach((link) => {
								link
									.classList
									.toggle("link--active", link.getAttribute("href").replace("#", "") === entry.target.id);
							});
						}
					});
				}, {threshold: 0.33});

				sections.forEach((section) => observer.observe(section));
			}
			ul.addEventListener("click", (event) => {
				if (event.target.classList.contains("--link")) {
					event.preventDefault();
					const id = event
						.target
						.getAttribute("href")
						.replace("#", "");
					window.scrollTo({
						top: document
							.getElementById(id)
							.offsetTop - document
							.querySelector("header")
							.offsetHeight,
						behavior: "smooth"
					});
				}
			});
		</script>
		<!-- =========================== -->
		<script src="filesIndex/index.js"></script>
		{% include "html/includes/_js.njk" %}
	</body>

</html>