<!DOCTYPE html>
<html lang="ua">
	{% set title = "shopTab" %}
	{% include "html/includes/_head.njk" %}
	<body class="qela-body theme--strichka" id="app">
		{% set header = {title:"Магазин", logo:"img/logo-strichka.svg"} %}
		{% include "html/components/_header.njk" %}
		<main class="flex-grow-1">
			{% set shop = "active" %}
			{% include "html/components/_aside.njk" %}
			<!-- ====================================== shop start====================================-->
			<div class="container-fluid h-100">
				<div class="bg-white rounded-3 border mb-2">
					<!-- Tabs -->
					<ul class="nav nav-tabs rounded-top px-3 pt-3" id="shopTab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link active" id="products-tab" data-bs-toggle="tab" data-bs-target="#products-tab-pane" type="button" role="tab" aria-controls="products-tab-pane" aria-selected="true">
							Товари
						</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link" id="order-tab" data-bs-toggle="tab" data-bs-target="#order-tab-pane" type="button" role="tab" aria-controls="order-tab-pane" aria-selected="true">
							Замовлення
						</button>
						</li>
					</ul>
					<!--Tab content -->
					<div class="tab-content">
						<!-- Products -->
						<div class="tab-pane active" id="products-tab-pane" role="tabpanel" aria-labelledby="products-tab" tabindex="0">
							<!-- 1 row: search, filters, actions-->
							<div class="border-bottom px-3 py-4">
								<div class="d-flex gap-4 align-items-center">
									<div class="qela-search" style="width: 188px;">
										<button type="button" class="ic-search"></button>
										<input type="search" class="form-control" placeholder="Пошук по назві">
									</div>
									<div class="d-flex align-items-center gap-3">
										<span class="text-info-600 h6">Фільтр:</span>
										<div style="width: 175px;">
											<div>
												<v-multi-select v-model="value1" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="Всі статуси"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>
										<div style="width: 175px;">
											<div>
												<v-multi-select v-model="value2" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="Всі типи"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>
										<div style="width: 175px;">
											<div>
												<v-multi-select v-model="value3" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="Всі категорії"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>
										<div style="width: 140px;">
											<div>
												<v-multi-select v-model="value4" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="🔥Топ - Всі"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>

									</div>
									<button type="button" class="btn btn-primary ic-plus ico-right ms-auto" data-bs-toggle="modal" data-bs-target="#modalAddProduct">Додати товар</button>
								</div>
							</div>
							<!-- 2 row: applied filters -->
							<div class="p-3 border-bottom">
								<div class="d-flex gap-2 flex-wrap">
									<span class="text-info-600 h6 text-nowrap">Застосовані фільтри:</span>
									<span class="badge qela-badge-danger ic-cloze">Danger</span>
									<span class="badge qela-badge-danger ic-cloze">Danger</span>
									<span class="badge qela-badge-info ic-cloze">📚 Книги та культура</span>
									<span class="badge qela-badge-danger ic-cloze">Danger</span>
									<span class="badge qela-badge-secondary ic-cloze">secondary</span>
									<button type="button" class="badge border-1 qela-badge-light">Clear All</button>
								</div>
							</div>
							<!-- 3 row: buttons and add category -->
							<div class="border-bottom p-3">
								<div class="d-flex gap-3">
									<button type="button" class="btn btn-info ic-plus ico-right">Додати категорію</button>
									<button type="button" class="btn btn-info ic-edit ico-right">Редагувати категорії</button>
									<button type="button" class="btn btn-info ic-menu-order ico-right">Змінити порядок товарів</button>
								</div>
								<!-- + -->
								<div class="d-flex gap-3">
									<div class="text-info-900 h4">Додати категорію</div>
									<div style="width: 320px">
										<input type="text" class="form-control" id="addCategory" placeholder="Придумайте назву категорії">
									</div>
									<div class="d-flex gap-2">
										<button type="button" class="btn btn-info btn-md ic-cloze ico-right" data-bs-toggle="modal" data-bs-target="#modalCancel">Скасувати</button>
										<button type="button" class="btn btn-primary btn-md ic-check-big ico-right" data-bs-toggle="modal" data-bs-target="#modalSave">Зберегти</button>
									</div>
								</div>
							</div>
							<!-- Add Category -->
							<div class="px-3 py-2 bg-secondary-300">
								<div class="d-flex align-items-center justify-content-between">
									<div class="d-flex align-items-center gap-4">
										<span>2 з 10 вибрано</span>
										<div class="form-check form-switch form-switch-sm">
											<label class="form-check-label" for="SwitchShopProducts">
												<small>Обрати всі</small>
											</label>
											<input class="form-check-input" type="checkbox" role="switch" id="SwitchShopProducts">
										</div>
									</div>
									<div class="d-flex gap-2">
										<div style="width: 268px;">
											<div>
												<v-multi-select v-model="value8" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="Всі статуси"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>
										<div class="p-1 d-flex gap-2">
											<button type="button" class="qela-btn-ic ic-cloze text-info-900"></button>
											<button type="button" class="qela-btn-ic ic-check-big text-info-900"></button>
										</div>
										<div class="d-flex gap-1 align-items-center">
											<button type="button" class="btn btn-warning ic-mute ico-right" data-bs-toggle="modal" data-bs-target="#modalOff"> Вимкнути </button>
											<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-offset="0, 8" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Вимикає товар, міняє статус та видаляє зі списку юзера."></button>
										</div>
										<div class="d-flex gap-1 align-items-center">
											<button type="button" class="btn btn-success ic-bell ico-right"> Увімкнути </button>
											<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-offset="0, 8" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Вимикає товар, міняє статус та видаляє зі списку юзера."></button>
										</div>
										<div class="d-flex gap-1 align-items-center">
											<button type="button" class="btn btn-danger ic-delete ico-right" data-bs-toggle="modal" data-bs-target="#modalDelete"> Видалити </button>
											<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-offset="0, 8" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Видаляє товар з  активного списку в магазині. Його видно тільки за фільтром"></button>
										</div>
									</div>
								</div>
							</div>
							<!-- Table -->
							{% include "html/includes/shop/tables/_table-products.njk" %}
							<!-- Table navigation -->
							<div class="px-4 py-3">
								{% set paginationData = {	
										sizeClass:'pagination-sm',
										typeBtn: 'icon',
										table: true
									} 
								%}
								{% from "html/includes/pagination/_pagination.njk" import pagination %}
								{{pagination(paginationData)}}
							</div>
						</div>
						<!-- Order -->
						<div class="tab-pane show" id="order-tab-pane" role="tabpanel" aria-labelledby="order-tab" tabindex="0">
							<!-- 1 row: search, filters, actions-->
							<div class="border-bottom px-3 py-4">
								<div class="d-flex gap-4 align-items-center">
									<div class="qela-search" style="width: 298px;">
										<button type="button" class="ic-search"></button>
										<input type="search" class="form-control" placeholder="Пошук по назві, замовнику, №">
									</div>
									<div class="d-flex align-items-center gap-3">
										<span class="text-info-600 h6">Фільтр:</span>
										<div style="width: 175px;">
											<div>
												<v-multi-select v-model="value6" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="Всі статуси"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>
										<div style="width: 175px;">
											<div>
												<v-multi-select v-model="value7" :searchable="true" open-direction="bottom" :options="options" :multiple="false" :close-on-select="true" placeholder="Всі типи"></v-multi-select>
											</div>
											<div class="invalid-feedback">Error text</div>
										</div>
									</div>
									<button type="button" class="btn btn-primary ic-plus ico-right ms-auto" data-bs-toggle="modal" data-bs-target="#modalOrder">Створити нове</button>
								</div>
							</div>
							<!-- 2 row: applied filters -->
							<!-- Add Category -->
							<div class="px-3 py-2 bg-secondary-300">
								<div class="d-flex align-items-center justify-content-between gap-2">
									<div class="d-flex align-items-center gap-4">
										<span>2 з 10 вибрано</span>
										<div class="form-check form-switch form-switch-sm">
											<label class="form-check-label" for="SwitchShopProducts">
												<small>Обрати всі</small>
											</label>
											<input class="form-check-input" type="checkbox" role="switch" id="SwitchShopProducts">
										</div>
									</div>
									<div class="d-flex gap-3">
										<div class="d-flex gap-1 align-items-center">
											<!-- button with tooltip -->
											<button type="button" class="btn btn-warning" disabled > В роботі </button>
											<button type="button" class="btn btn-info"> Відправлено </button>
											<span class="d-inline-block" tabindex="0" data-bs-toggle="tooltip" data-bs-custom-class="custom-tooltip" data-bs-placement="top" data-bs-offset="0, -5" data-bs-title="Дія недоступна для всіх вибраних замовлень">
												<button type="button" class="btn btn-success" disabled> Отримано </button>
											</span>
											<button type="button" class="btn btn-danger"> Скасувати замовлення </button>
											<button type="button" class="btn btn-danger ic-delete ico-right"> Видалити </button>
										</div>
									</div>
								</div>
							</div>
							<!-- Add Category -->
							<!-- Table -->
							{% include "html/includes/shop/tables/_table-orders.njk" %}
							<!-- Table navigation -->
							<div class="px-4 py-3">
								{% set paginationData = {	
										sizeClass:'pagination-sm',
										typeBtn: 'icon',
										table: true
									} 
								%}
								{% from "html/includes/pagination/_pagination.njk" import pagination %}
								{{pagination(paginationData)}}
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ====================================== shop end====================================-->
			<!-- modals start-->
			<!-- modal delete -->
			{% include "html/includes/shop/modals/_modalDelete.njk" %}
			<!-- modal off -->
			{% include "html/includes/shop/modals/_modalOff.njk" %}
			<!-- modal cancel -->
			{% include "html/includes/shop/modals/_modalCancel.njk" %}
			<!-- modal Save -->
			{% include "html/includes/shop/modals/_modalSave.njk" %}
			<!-- modal Add product -->
			{% include "html/includes/shop/modals/_modalProduct.njk" %}
			<!-- Single Order page (All statuses) -->
			{% include "html/includes/shop/modals/_modalOrder.njk" %}
			<!-- modals end-->
		</main>

		<script src="https://unpkg.com/vue@latest"></script>
		<script type="text/javascript" src="https://www.unpkg.com/vue-multiselect@3.0.0-beta.1/dist/vue-multiselect.js"></script>
		<script>
			const app = Vue.createApp({
				components: {
					"v-multi-select": VueMultiselect.default
				},
				data() {
					return {
						date: null,
						value1: null,
						value2: null,
						value3: null,
						value4: null,
						value5: null,
						value7: null,
						value6: null,
						value8: null,
						value9: null,
						options: [
							"🪖 Сувеніри від військових 🇺🇦",
							"Пункт 2",
							"Пункт 3",
							"Пункт 4",
							"Пункт 1",
							"Пункт 2sades",
							"Пункт 3sd",
							"Пункт 4sd"
						]
					};
				}
			});
			app.mount("#app");
		</script>
		<!-- =========================== -->
		{% include "html/includes/_js.njk" %}
	</body>

</html>