<!DOCTYPE html>
<html lang="ua">
	{% set title = "Quests master" %}
	{% include "html/includes/_head.njk" %}
	<body class="qela-body">
		{% set header = {title:"Quests > Campaign master", logo:"img/logo-sm.svg"} %}
		{% include "html/components/_header.njk" %}
		<main class="qela-main">
			{% include "html/components/_aside.njk" %}
			<!-- =====================Список користувачів==================== -->
			<div class="container-fluid">
				<div class="qela-page" id="app" v-cloak>
					<div class="row">
						{% include "html/components/quest/_nav.njk" %}
					</div>
					<div class="row row-grow">
						<div class="col-12 col-lg-4 child-mb">
							<!-- item dropdown and button -->
							<div class="qela-actions">
								<div class="dropdown">
									<button class="btn btn-info ic-chevron ico-right" type="button" data-bs-toggle="dropdown" aria-expanded="false">
									Choose another campaign
								</button>
									<ul class="dropdown-menu">
										<li>
											<button type="button" class="dropdown-item">
											Stop global warming
										</button>
										</li>
										<li>
											<button type="button" class="dropdown-item">
											Millions Trees for millions peoplefor
										</button>
										</li>
										<li>
											<hr class="dropdown-divider"/>
										</li>
										<li>
											<button type="button" class="dropdown-item">
											Stop global warming
										</button>
										</li>
										<li>
											<button type="button" class="dropdown-item">
											Stop global warming
										</button>
										</li>
									</ul>
								</div>
								<button type="button" class="btn btn-info ico ic-edit"></button>
							</div>
							<!-- Heading h2-->
							<h2>Stop global warming</h2>
							<!-- item whith video and text -->
							<div class="qela-video">
								<div class="qela-ibg">
									<div class="qela-play ic-play"></div>
									<video class="ic-arrow-left" muted="" poster="img/table-img-1.jpg">
										<source src="videos/nature.mp4" type="video/mp4"/>
									</video>
								</div>
								<p class="qela-clamp qela-clamp3">
								Be a part of the volunteer team determined to tackle plastic
								pollution head-on. Through beach cleanups, community
								education, and sustainable practices, we aim to liberate our
								environment from the grip of plastic waste. Let's unite to
								create a cleaner, greener future for generations to come.
								Together, we can turn the tide against plastic pollution and
								make a lasting impact. #OperationPlasticFree #CleanOcean
								#Sustainability" 🌱🌊
							</p>
							</div>
							<!-- button -->
							<div class="btns-center">
								<button type="button" class="btn btn-primary">
								Save as draft and continue
							</button>
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="card child-mb-2">
								<!-- Heading h2-->
								<div class="qela-actions">
									<h2>Quests out of Chain</h2>
									<button type="button" class="btn btn-info ic-plus ico-right">
									Add New Quest
								</button>
								</div>
								<!-- toolbar -->
								<div class="qela-toolbar">
									<div class="form-check">
										<input type="checkbox" class="form-check-input" id="Check5x"/>
										<label class="form-check-label" for="Check5x">select all</label>
									</div>
									<button type="button" class="btn btn-info ic-link ico-right">
									Chain
								</button>
								</div>
								<!-- list group -->
								<ul class="list-group qela-list no-outline">
									<li class="list-group-item">
										<a href="#">
											<div class="qela-ibg qela-previews" style="--img-size: 40px">
												<img class="rounded" src="img/table-img-1.jpg" alt=""/>
											</div>
											<p class="qela-clamp">
											Share invite to the Climate Unity March!
										</p>
											<span class="badge bg-secondary message">Just Added</span>
										</a>
									</li>
									<li class="list-group-item">
										<a href="#">
											<div class="qela-ibg qela-previews" style="--img-size: 40px">
												<img class="rounded" src="img/table-img-1.jpg" alt=""/>
											</div>
											<p class="qela-clamp">
											Share invite to the Climate Unity March!
										</p>
											<span class="badge bg-secondary message">Just Added</span>
										</a>
									</li>
								</ul>
								<!-- dialog -->
								<div class="qela-dialog secondary-outline">
									<h2>Add your first Quest</h2>
									<p>
									Quest is a supporter's practical action that helps the
									organization reach its goals.
								</p>
									<div class="btns-center">
										<button type="button" class="btn btn-primary">
										Add Guest
									</button>
										<button type="button" class="btn btn-primary">
										Add more Quests
									</button>
									</div>
								</div>
								<!-- empty -->
								<p class="card-text empty">There are no off-chain quests</p>
								<div class="qela-dialog secondary-outline">
									<h2>Add another quest 👇</h2>
									<p>Your campaign needs more actions.</p>
									<div class="btns-inline">
										<button type="button" class="btn btn-outline-dark custom">
										Attend an assembly
									</button>
										<button type="button" class="btn btn-outline-dark custom">
										Vigils
									</button>
										<button type="button" class="btn btn-outline-dark custom">
										Motorcades attendance
									</button>
										<button type="button" class="btn btn-outline-dark custom">
										Rally attendance
									</button>
										<button type="button" class="btn btn-secondary custom">
										View all Templates
									</button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-lg-4">
							<div class="card child-mb-2">
								<!-- Heading h2-->
								<div class="qela-actions">
									<h2>Quests out of Chain</h2>
									<button type="button" class="btn btn-info ic-plus ico-right">
									Add New Quest
								</button>
								</div>
								<!-- text -->
								<p class="card-text info">
								A quest chain is a sequence of connected actions in any
								campaign. Any chain has core and supporting quests.
							</p>
								<!-- img + btn -->
								<div class="p-lg-3 p-0">
									<div class="btns-center mb-2 mb-lg-5">
										<button type="button" class="btn btn-sm btn-secondary">
										Add Quest Chain
									</button>
									</div>
									<img class="img-fluid" src="img/items.svg" alt=""/>
								</div>
								<!-- Chain list -->
								<div class="qela-chain">
									<div class="qela-actions">
										<h2>Climate Unity March</h2>
										<button type="button" class="btn btn-sm btn-info ico ic-edit"></button>
									</div>
									<hr/>
									<div class="qela-actions bg-info-100">
										<p>Quests in Chain</p>
									</div>
									<ul class="list-group qela-list no-outline no-rounded">
										<li class="list-group-item">
											<a href="#">
												<div class="qela-ibg qela-previews" style="--img-size: 40px">
													<img class="rounded" src="img/table-img-1.jpg" alt=""/>
												</div>
												<p class="qela-clamp">
												Share invite to the Climate Unity March!
											</p>
											</a>
										</li>
										<li class="list-group-item">
											<a href="#">
												<div class="qela-ibg qela-previews img" style="--img-size: 40px">
													<img class="rounded" src="img/table-img-1.jpg" alt=""/>
												</div>
												<p class="qela-clamp">
												Share invite to the Climate Unity March!
											</p>
											</a>
										</li>
									</ul>
								</div>
								<!-- Chain list -->
								<div class="qela-chain">
									<div class="qela-actions">
										<h2>Climate Unity March</h2>
										<button type="button" class="btn btn-sm btn-info ico ic-edit"></button>
									</div>
									<hr/>
									<div class="qela-actions bg-info-100">
										<p>Quests in Chain</p>
									</div>
									<ul class="list-group qela-list no-outline no-rounded">
										<li class="list-group-item">
											<a href="#">
												<div class="qela-ibg qela-previews img" style="--img-size: 40px">
													<img class="rounded" src="img/table-img-1.jpg" alt=""/>
												</div>
												<p class="qela-clamp">
												Share invite to the Climate Unity March!
											</p>
											</a>
										</li>
										<li class="list-group-item">
											<a href="#">
												<div class="qela-ibg qela-previews img" style="--img-size: 40px">
													<img class="rounded" src="img/table-img-1.jpg" alt=""/>
												</div>
												<p class="qela-clamp">
												Share invite to the Climate Unity March!
											</p>
											</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js" type="text/javascript"></script>
		<script type="text/javascript" src="https://www.unpkg.com/vue-multiselect@3.0.0-beta.1/dist/vue-multiselect.js"></script>
		<script src="https://unpkg.com/@vuepic/vue-datepicker@latest"></script>
		<script type="text/javascript">
			let app = Vue.createApp({
				components: {
					"v-date-picker": VueDatePicker,
					"v-multi-select": VueMultiselect.default
				},
				data() {
					return {
						date: [
							new Date(), new Date()
						],
						value1: "",
						value2: "",
						value3: "",
						value4: "",
						options: [
							"Пункт 1 sadafdf",
							"Пункт 2",
							"Пункт 3",
							"Пункт 4",
							"Пункт 1 assadafdf",
							"Пункт 2sades",
							"Пункт 3sd",
							"Пункт 4sd"
						]
					};
				},
				methods: {
					click() {
						alert(1);
						this.message += " clicked!";
					}
				}
			});
			console.dir(app);
			app.mount("#app");
		</script>
		<!-- =========================== -->
		{% include "html/includes/_js.njk" %}
	</body>

</html>