<!-- FIX Accordion  -->
<section class="d-grid gap-3">
    <h2 class="h1 mt-4">Accordion</h2>
    <!-- FIX Accordion-->
    <h4>Accordion default</h4>
    <div class="accordion qela-accordion" id="accordion-1">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1"><span class="ic-check-filled"></span> Heading1</button>
            </h2>
            <div id="collapse-1" class="accordion-collapse collapse show" aria-labelledby="heading-1">
                <div class="accordion-body">Content1</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-2" aria-expanded="false" aria-controls="collapse-2"><span class="ic-check-filled"></span> Heading2</button>
            </h2>
            <div id="collapse-2" class="accordion-collapse collapse" aria-labelledby="heading-2">
                <div class="accordion-body">Content2</div>
            </div>
        </div>
        <div class="accordion-item success">
            <h2 class="accordion-header" id="heading-3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-3" aria-expanded="false" aria-controls="collapse-3"><span class="ic-check-filled"></span> Heading3</button>
            </h2>
            <div id="collapse-3" class="accordion-collapse collapse" aria-labelledby="heading-3">
                <div class="accordion-body">Content3</div>
            </div>
        </div>
    </div>
    <!-- FIX Accordion small-->
    <h4 class="mt-4">Accordion small</h4>
    <div class="accordion qela-accordion small" id="accordion-sm-1">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-sm-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-sm-1" aria-expanded="true" aria-controls="collapse-sm-1"><span class="ic-check-filled"></span> Heading1</button>
            </h2>
            <div id="collapse-sm-1" class="accordion-collapse collapse show" aria-labelledby="heading-sm-1">
                <div class="accordion-body">Content1</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-sm-2">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-sm-2" aria-expanded="false" aria-controls="collapse-sm-2"><span class="ic-check-filled"></span> Heading2</button>
            </h2>
            <div id="collapse-sm-2" class="accordion-collapse collapse" aria-labelledby="heading-sm-2">
                <div class="accordion-body">Content2</div>
            </div>
        </div>
        <div class="accordion-item success">
            <h2 class="accordion-header" id="heading-sm-3">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-sm-3" aria-expanded="false" aria-controls="collapse-sm-3"><span class="ic-check-filled"></span> Heading3</button>
            </h2>
            <div id="collapse-sm-3" class="accordion-collapse collapse" aria-labelledby="heading-sm-3">
                <div class="accordion-body">Content3</div>
            </div>
        </div>
    </div>
    <!-- FIX Accordion small-->
    <h4 class="mt-4">Accordion small</h4>
    <div class="accordion accordion-flush qela-accordion small" id="accordion-sm-2">
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-sm-4">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-sm-4" aria-expanded="true" aria-controls="collapse-sm-4"><span class="ic-check-filled"></span> Heading1</button>
            </h2>
            <div id="collapse-sm-4" class="accordion-collapse collapse show" aria-labelledby="heading-sm-4">
                <div class="accordion-body">Content1</div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="heading-sm-5">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-sm-5" aria-expanded="false" aria-controls="collapse-sm-5"><span class="ic-check-filled"></span> Heading2</button>
            </h2>
            <div id="collapse-sm-5" class="accordion-collapse collapse" aria-labelledby="heading-sm-5">
                <div class="accordion-body">Content2</div>
            </div>
        </div>
        <div class="accordion-item success">
            <h2 class="accordion-header" id="heading-sm-6">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-sm-6" aria-expanded="false" aria-controls="collapse-sm-6"><span class="ic-check-filled"></span> Heading3</button>
            </h2>
            <div id="collapse-sm-6" class="accordion-collapse collapse" aria-labelledby="heading-sm-6">
                <div class="accordion-body">Content3</div>
            </div>
        </div>
    </div>
    <!-- FIX Accordion custom content-->
    <h4 class="mt-4">Accordion custom content</h4>
    <div class="accordion qela-accordion" id="accordionStart">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStart-headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStart1" aria-expanded="true" aria-controls="panelsStart1"><span class="ic-check-filled"></span> Створіть свою першу кампанію</button>
            </h2>
            <div id="panelsStart1" class="accordion-collapse collapse show" aria-labelledby="panelsStart-headingOne">
                <div class="accordion-body p-0">
                    <div class="list-group-item qela-list-item">
                        <div class="d-flex gap-2 flex-grow-1">
                            <div class="qela-icon">
                                <span class="ic-maps-global"></span>
                            </div>
                            <div class="d-grid gap-3 flex-grow-1">
                                <div class="d-grid gap-2">
                                    <span class="h6">Створіть свою першу кампанію. </span>
                                    <small class="text-info-600">Сплануйте перші кроки в кампанії, далі додайте назву, опис та обкладинку</small>
                                </div>
                                <div class="d-flex align-items-center gap-3 flex-wrap flex-md-nowrap">
                                    <a href="#" class="text-decoration-none"><small>Детально про кампанії тут</small></a>
                                    <button class="btn btn-info btm-sm ico-right ic-player-play" type="button">Відео про кампанії</button>
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2 flex-lg-grow-0 flex-grow-1">
                            <button class="btn btn-secondary btm-sm ico-right ic-chevron-right" type="button">Створити кампанію</button>
                            <button class="btn btn-info btm-sm" type="button">Пропустити</button>
                        </div>
                    </div>
                    <div class="list-group-item qela-list-item">
                        <div class="d-flex gap-2 flex-grow-1">
                            <div class="qela-icon">
                                <span class="ic-maps-global"></span>
                            </div>
                            <div class="d-grid gap-3 flex-grow-1">
                                <div class="d-grid gap-2">
                                    <span class="h6">Створіть свою першу кампанію. </span>
                                    <small class="text-info-600">Сплануйте перші кроки в кампанії, далі додайте назву, опис та обкладинку</small>
                                </div>
                                <div class="d-flex align-items-center gap-3 flex-wrap flex-md-nowrap">
                                    <a href="#" class="text-decoration-none"><small>Детально про кампанії тут</small></a>
                                    <button class="btn btn-info btm-sm ico-right ic-player-play" type="button">Відео про кампанії</button>
                                </div>
                            </div>
                        </div>

                        <div class="d-grid gap-2 flex-lg-grow-0 flex-grow-1">
                            <button class="btn btn-secondary btm-sm ico-right ic-chevron-right" type="button">Створити кампанію</button>
                            <button class="btn btn-info btm-sm" type="button">Пропустити</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>