<!-- FIX Alert  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Alert</h2>
	<!-- FIX Alert row -->
	<h4 class="mt-4">Alert row</h4>
	<h5>Alert row max variant</h5>
	<!-- =========== secondary-->
	<div class="alert alert-secondary qela-alert fade show" role="alert">
		<div>
			<span class="ic-alert-triangle text-secondary"></span>
			<div>Увага! Підписка тільки на місяць</div>
			<a href="#" class="d-block mt-2">Підтвердити</a>
			<button type="button" class="btn btn-secondary btn-sm mt-2">Upgrade now</button>
		</div>
		<button type="button" class="btn btn-secondary btn-sm">Upgrade now</button>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<!-- =========== danger-->
	<div class="alert alert-danger qela-alert fade show" role="alert">
		<div>
			<span class="ic-error-warning-fill text-danger"></span>
			<div>Увага! Підписка тільки на місяць</div>
			<a href="#" class="d-block text-danger mt-2">Підтвердити</a>
			<button type="button" class="btn btn-danger btn-sm mt-2">Upgrade now</button>
		</div>
		<button type="button" class="btn btn-danger btn-sm">Upgrade now</button>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<!-- =========== warning-->
	<div class="alert alert-warning qela-alert fade show" role="alert">
		<div>
			<span class="ic-error-warning-fill text-warning"></span>
			<div>Увага! Підписка тільки на місяць</div>
			<a href="#" class="d-block text-warning mt-2">Підтвердити</a>
			<button type="button" class="btn btn-warning btn-sm mt-2">Upgrade now</button>
		</div>
		<button type="button" class="btn btn-warning btn-sm">Upgrade now</button>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<!-- =========== info-->
	<div class="alert alert-info qela-alert fade show" role="alert">
		<div>
			<span class="ic-alert-triangle text-secondary"></span>
			<div>Увага! Підписка тільки на місяць</div>
			<a href="#" class="d-block mt-2">Підтвердити</a>
			<button type="button" class="btn btn-secondary btn-sm mt-2">Upgrade now</button>
		</div>
		<button type="button" class="btn btn-secondary btn-sm">Upgrade now</button>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<!-- =========== success-->
	<div class="alert alert-success qela-alert fade show" role="alert">
		<div>
			<span class="ic-check-filled text-success"></span>
			<div>Увага! Підписка тільки на місяць</div>
			<a href="#" class="d-block text-success-700 mt-2">Підтвердити</a>
			<button type="button" class="btn btn-success btn-sm mt-2">Upgrade now</button>
		</div>
		<button type="button" class="btn btn-success btn-sm">Upgrade now</button>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<h5>Alert row min variant</h5>
	<!-- =========== secondary-->
	<div class="alert alert-secondary qela-alert px-3 fade show" role="alert">
		<div>
			<div>Увага! Підписка тільки на місяць</div>
		</div>
	</div>
	<!-- =========== danger-->
	<div class="alert alert-danger qela-alert px-3 fade show" role="alert">
		<div>
			<div>Увага! Підписка тільки на місяць</div>
		</div>
	</div>
	<!-- =========== warning-->
	<div class="alert alert-warning qela-alert px-3 fade show" role="alert">
		<div>
			<div>Увага! Підписка тільки на місяць</div>
		</div>
	</div>
	<!-- =========== info-->
	<div class="alert alert-info qela-alert px-3 fade show" role="alert">
		<div>
			<div>Увага! Підписка тільки на місяць</div>
		</div>
	</div>
	<!-- =========== success-->
	<div class="alert alert-success qela-alert px-3 fade show" role="alert">
		<div>
			<div>Увага! Підписка тільки на місяць</div>
		</div>
	</div>
	<!-- FIX Alert column -->
	<h4 class="mt-4">Alert column</h4>
	<h5>Alert column max variant</h5>
	<!-- =========== secondary-->
	<div class="alert alert-secondary qela-alert column fade show" role="alert">
		<div>
			<span class="ic-alert-triangle text-secondary"></span>
			<div>Увага! Підписка тільки на місяць</div>
			<a href="#" class="d-block mt-2">Підтвердити</a>
			<button type="button" class="btn btn-secondary btn-sm mt-2">Upgrade now</button>
		</div>
		<button type="button" class="btn btn-secondary btn-sm">Upgrade now</button>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<!-- =========== danger-->
	<div class="alert alert-danger qela-alert column fade show" role="alert">
		<div>
			<span class="ic-error-warning-fill text-danger"></span>
			<div>Увага! Підписка тільки на місяць</div>
			<a href="#" class="d-block text-danger mt-2">Підтвердити</a>
			<button type="button" class="btn btn-danger btn-sm mt-2">Upgrade now</button>
		</div>
		<button type="button" class="btn btn-danger btn-sm">Upgrade now</button>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<!-- =========== warning-->
	<div class="alert alert-warning qela-alert column fade show" role="alert">
		<div>
			<span class="ic-error-warning-fill text-warning"></span>
			<div>Увага! Підписка тільки на місяць</div>
			<a href="#" class="d-block text-warning mt-2">Підтвердити</a>
			<button type="button" class="btn btn-warning btn-sm mt-2">Upgrade now</button>
		</div>
		<button type="button" class="btn btn-warning btn-sm">Upgrade now</button>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<!-- =========== info-->
	<div class="alert alert-info qela-alert column fade show" role="alert">
		<div>
			<span class="ic-alert-triangle text-secondary"></span>
			<div>Увага! Підписка тільки на місяць</div>
			<a href="#" class="d-block mt-2">Підтвердити</a>
			<button type="button" class="btn btn-secondary btn-sm mt-2">Upgrade now</button>
		</div>
		<button type="button" class="btn btn-secondary btn-sm">Upgrade now</button>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<!-- =========== success-->
	<div class="alert alert-success qela-alert column fade show" role="alert">
		<div>
			<span class="ic-check-filled text-success"></span>
			<div>Увага! Підписка тільки на місяць</div>
			<a href="#" class="d-block text-success-700 mt-2">Підтвердити</a>
			<button type="button" class="btn btn-success btn-sm mt-2">Upgrade now</button>
		</div>
		<button type="button" class="btn btn-success btn-sm">Upgrade now</button>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<h5>Alert column min variant</h5>
	<!-- =========== secondary-->
	<div class="alert alert-secondary qela-alert column px-3 fade show" role="alert">
		<div>
			<div>Увага! Підписка тільки на місяць</div>
		</div>
	</div>
	<!-- =========== danger-->
	<div class="alert alert-danger qela-alert column px-3 fade show" role="alert">
		<div>
			<div>Увага! Підписка тільки на місяць</div>
		</div>
	</div>
	<!-- =========== warning-->
	<div class="alert alert-warning qela-alert column px-3 fade show" role="alert">
		<div>
			<div>Увага! Підписка тільки на місяць</div>
		</div>
	</div>
	<!-- =========== info-->
	<div class="alert alert-info qela-alert column px-3 fade show" role="alert">
		<div>
			<div>Увага! Підписка тільки на місяць</div>
		</div>
	</div>
	<!-- =========== success-->
	<div class="alert alert-success qela-alert column px-3 fade show" role="alert">
		<div>
			<div>Увага! Підписка тільки на місяць</div>
		</div>
	</div>
	<!-- FIX Alert small -->
	<h4 class="mt-4">Alert small</h4>
	<div class="alert alert-secondary qela-alert fade show small" role="alert">
		<span class="ic-alert-triangle text-secondary"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#">Підтвердити</a>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="alert alert-danger qela-alert fade show small" role="alert">
		<span class="ic-error-warning-fill text-danger"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#" class="text-danger">Підтвердити</a>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="alert alert-warning qela-alert fade show small" role="alert">
		<span class="ic-error-warning-fill text-warning"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#" class="text-warning">Підтвердити</a>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
	<div class="alert alert-info qela-alert fade show small" role="alert">
		<span class="ic-error-warning-fill text-secondary"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#">Підтвердити</a>
		<button type="button" class="btn-close bg-transparent small ic-cloze" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>

	<h4 class="mt-4">Alert custom</h4>
	<!-- =========== secondary custom-->
	<div class="alert alert-secondary qela-alert custom fade show" role="alert">
		<span class="ic-success text-secondary"></span>
		<div class="mb-2">Увага! Підписка тільки на місяць</div>
		<a href="#">Підтвердити</a>
	</div>
	<!-- ===============info custom-->
	<div class="alert alert-info qela-alert p-3 fade show" role="alert">
		<div>
			<p>☝️Official Address of checkpoint</p>
			<p class="m-0">
				<small>Displayed to users on quest Quest conditions screen lake official recognizable name of location</small>
			</p>
		</div>
	</div>
</section>
