<!--FIX menu -->
<aside class="qela-menu">
	<!--FIX buttons -->
	<button type="button" class="ic-chevrons-left qela-btn-menu"></button>
	<!-- <button type="button" class="ic-cloze p-2 border-0 position-absolute qela-btn-close" aria-label="Close"></button> -->
	<nav class="qela-nav qela-scroll-custom">
		<!--FIX nav wrapper -->
		<div class="qela-nav-wrapper">
			<ul class="nav">
				<li class="nav-item qela-clamp">
					<a href="#" class="nav-link active" aria-current="page">
						<small class="ic-spead" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip" data-bs-title="Дашборд">
							Дашборд
						</small>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" aria-current="page">
						<small class="ic-people" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip" data-bs-title="Користувачі">
							Користувачі
						</small>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" aria-current="page">
						<small class="ic-box-arrow" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip" data-bs-title="Покроковий ґайд">
							Покроковий ґайд
						</small>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" aria-current="page">
						<small class="ic-notes" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip" data-bs-title="Новини">
							Новини
						</small>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" aria-current="page">
						<small class="ic-calendar" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip" data-bs-title="Квести">Квести</small>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" aria-current="page">
						<small class="ic-dollar" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip" data-bs-title="Донати">
							Донати
						</small>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" aria-current="page">
						<small class="ic-lattice" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip" data-bs-title="Теги">Теги</small>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" aria-current="page">
						<small class="ic-speaker" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip" data-bs-title="Маркетинг">Маркетинг</small>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" aria-current="page">
						<small class="ic-jostik" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip" data-bs-title="Гейміфікація">Гейміфікація</small>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" aria-current="page">
						<small class="ic-city" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip" data-bs-title="Організація">Організація</small>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" aria-current="page">
						<small class="ic-tent" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip" data-bs-title="Магазин">Магазин</small>
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link" aria-current="page">
						<span class="qela-counter">50</span>
						<small class="ic-message-circle" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip" data-bs-title="Чат">Чат</small>
					</a>
				</li>
			</ul>
			<ul class="nav">
				<li class="nav-item">
					<a href="#" class="nav-link" aria-current="page">
						<small class="ic-settings" data-bs-trigger="hover" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="qela-sidebar-tooltip settings" data-bs-title="Налаштування">Налаштування</small>
					</a>
				</li>
			</ul>
		</div>
	</nav>
</aside>