<!-- FIX Badges  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Badge</h2>
	<!-- FIX Badges small  -->
	<h4>Badges small</h4>
	<!-- Badges small -->
	<h6>Light</h6>
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge qela-badge-primary">Primary</span>
		<span class="badge qela-badge-secondary">Secondary</span>
		<span class="badge qela-badge-danger">Danger</span>
		<span class="badge qela-badge-success">Success</span>
		<span class="badge qela-badge-warning">Warning</span>
		<span class="badge qela-badge-info">Info</span>
		<span class="badge qela-badge-light">Light</span>
	</div>
	<!-- Badges small with icon -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge qela-badge-primary ic-cloze">Primary</span>
		<span class="badge qela-badge-secondary ic-cloze">Secondary</span>
		<span class="badge qela-badge-danger ic-cloze">Danger</span>
		<span class="badge qela-badge-success ic-cloze">Success</span>
		<span class="badge qela-badge-warning ic-cloze">Warning</span>
		<span class="badge qela-badge-info">Info</span>
		<span class="badge qela-badge-light ic-cloze">Light</span>
	</div>
	<h6>Highlighted</h6>
	<!-- Badges small -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge border-1 qela-badge-primary">Primary</span>
		<span class="badge border-1 qela-badge-secondary">Secondary</span>
		<span class="badge border-1 qela-badge-danger">Danger</span>
		<span class="badge border-1 qela-badge-success">Success</span>
		<span class="badge border-1 qela-badge-warning">Warning</span>
		<span class="badge border-1 qela-badge-info">Info</span>
		<span class="badge border-1 qela-badge-light">Light</span>
	</div>
	<!-- Badges small with icon -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge border-1 qela-badge-primary ic-cloze">Primary</span>
		<span class="badge border-1 qela-badge-secondary ic-cloze">Secondary</span>
		<span class="badge border-1 qela-badge-danger ic-cloze">Danger</span>
		<span class="badge border-1 qela-badge-success ic-cloze">Success</span>
		<span class="badge border-1 qela-badge-warning ic-cloze">Warning</span>
		<span class="badge border-1 qela-badge-info ic-cloze">Info</span>
		<span class="badge border-1 qela-badge-light ic-cloze">Light</span>
	</div>
	<!-- Middle badges -->
	<h4>Middle badges</h4>
	<h6>Light</h6>
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge qela-badge-primary large">Primary</span>
		<span class="badge qela-badge-secondary large">Secondary</span>
		<span class="badge qela-badge-danger large">Danger</span>
		<span class="badge qela-badge-success large">Success</span>
		<span class="badge qela-badge-warning large">Warning</span>
		<span class="badge qela-badge-info large">Info</span>
		<span class="badge  qela-badge-light large">Light</span>
	</div>
	<!-- Middle badges with icon -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge qela-badge-primary large ic-cloze">Primary</span>
		<span class="badge qela-badge-secondary large ic-cloze">Secondary</span>
		<span class="badge qela-badge-danger large ic-cloze">Danger</span>
		<span class="badge qela-badge-success large ic-cloze">Success</span>
		<span class="badge qela-badge-warning large ic-cloze">Warning</span>
		<span class="badge qela-badge-info large ic-cloze">Info</span>
		<span class="badge  qela-badge-light large ic-cloze">Light</span>
	</div>
	<h6>Highlighted</h6>
	<!-- Middle badges + border -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge border-1 qela-badge-primary large">Primary</span>
		<span class="badge border-1 qela-badge-secondary large">Secondary</span>
		<span class="badge border-1 qela-badge-danger large">Danger</span>
		<span class="badge border-1 qela-badge-success large">Success</span>
		<span class="badge border-1 qela-badge-warning large">Warning</span>
		<span class="badge border-1 qela-badge-info large">Info</span>
		<span class="badge border-1  qela-badge-light large">Light</span>
	</div>
	<!-- Middle badges with icon -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge border-1 qela-badge-primary large ic-cloze">Primary</span>
		<span class="badge border-1 qela-badge-secondary large ic-cloze">Secondary</span>
		<span class="badge border-1 qela-badge-danger large ic-cloze">Danger</span>
		<span class="badge border-1 qela-badge-success large ic-cloze">Success</span>
		<span class="badge border-1 qela-badge-warning large ic-cloze">Warning</span>
		<span class="badge border-1 qela-badge-info large ic-cloze">Info</span>
		<span class="badge border-1 qela-badge-light large ic-cloze">Light</span>
	</div>
	<!-- Large -->
	<h4>Large badges</h4>
	<h6>Light</h6>
	<!-- Large-xl badges -->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge qela-badge-primary large-xl">Primary</span>
		<span class="badge qela-badge-secondary large-xl">Secondary</span>
		<span class="badge qela-badge-danger large-xl">Danger</span>
		<span class="badge qela-badge-success large-xl">Success</span>
		<span class="badge qela-badge-warning large-xl">Warning</span>
		<span class="badge qela-badge-info large-xl">Info</span>
		<span class="badge qela-badge-light large-xl">Light</span>
	</div>
	<!-- Large-xl badges whith icon-->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge qela-badge-primary large-xl ic-success">Primary</span>
		<span class="badge qela-badge-secondary large-xl ic-success">Secondary</span>
		<span class="badge qela-badge-danger large-xl ic-success">Danger</span>
		<span class="badge qela-badge-success large-xl ic-success">Success</span>
		<span class="badge qela-badge-warning large-xl ic-success">Warning</span>
		<span class="badge qela-badge-info large-xl ic-success">Info</span>
		<span class="badge qela-badge-light large-xl ic-success">Light</span>
	</div>
	<h6>Highlighted</h6>
	<!-- Large-xl badges + border-->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge border-1 qela-badge-primary large-xl">Primary</span>
		<span class="badge border-1 qela-badge-secondary large-xl">Secondary</span>
		<span class="badge border-1 qela-badge-danger large-xl">Danger</span>
		<span class="badge border-1 qela-badge-success large-xl">Success</span>
		<span class="badge border-1 qela-badge-warning large-xl">Warning</span>
		<span class="badge border-1 qela-badge-info large-xl">Info</span>
		<span class="badge border-1 qela-badge-light large-xl">Light</span>
	</div>
	<!-- Large-xl badges whith icon-->
	<div class="d-flex gap-2 flex-wrap">
		<span class="badge border-1 qela-badge-primary large-xl ic-success">Primary</span>
		<span class="badge border-1 qela-badge-secondary large-xl ic-success">Secondary</span>
		<span class="badge border-1 qela-badge-danger large-xl ic-success">Danger</span>
		<span class="badge border-1 qela-badge-success large-xl ic-success">Success</span>
		<span class="badge border-1 qela-badge-warning large-xl ic-success">Warning</span>
		<span class="badge border-1 qela-badge-info large-xl ic-success">Info</span>
		<span class="badge border-1 qela-badge-light large-xl ic-success">Light</span>
	</div>
	<h4>Talents badges filled small</h4>
	<div class="d-flex gap-2 flex-wrap align-items-start">
		<!--Talents badges filled  -->
		<span class="badge qela-badge-talent" style="--ql-talent-color: #921c14;--ql-talent-bg: #ffcccc;">10 000. 0</span>
		<!--Talents badges filled + icon-->
		<span class="badge qela-badge-talent ic-edit" style="--ql-talent-color: #921c14;--ql-talent-bg: #ffcccc;">10 000. 0</span>
	</div>
	<h4>Talents badges filled middle</h4>
	<div class="d-flex gap-2 flex-wrap align-items-start">
		<!--Talents badges filled large -->
		<span class="badge qela-badge-talent large" style="--ql-talent-color: #921c14;--ql-talent-bg: #ffcccc;">10 000. 0</span>
		<!--Talents badges filled large + icon-->
		<span class="badge qela-badge-talent large ic-edit" style="--ql-talent-color: #921c14;--ql-talent-bg: #ffcccc;">10 000. 0</span>
	</div>
	<h4>Talents badges filled large</h4>
	<div class="d-flex gap-2 flex-wrap align-items-start">
		<!--Talents badges filled large-xl -->
		<span class="badge qela-badge-talent large-xl" style="--ql-talent-color: #921c14;--ql-talent-bg: #ffcccc;">10 000. 0</span>
		<span class="badge qela-badge-talent border-1 large-xl" style="--ql-talent-color: #921c14;--ql-talent-bg: #ffcccc; --ql-talent-border-color: #d92525">10 000. 0</span>
		<!--Talents badges filled large-xl -->
		<span class=" badge qela-badge-talent large-xl ic-edit" style="--ql-talent-color: #921c14;--ql-talent-bg: #ffcccc; --ql-talent-border-color: #d92525">10 000. 0</span>
		<span class="badge qela-badge-talent border-1 large-xl ic-edit" style="--ql-talent-color: #921c14;--ql-talent-bg: #ffcccc;">10 000. 0</span>
		<span class="badge border-1 qela-badge-talent large-xl vote">10 000. 0</span>
		<span class="badge qela-badge-talent large-xl vote img"> 10 000. 0 <img src="img/orden-red.svg" alt="orden-red" width="28" height="28"></span>
		<span class="badge border-1 qela-badge-talent large-xl vote img"> 10 000. 0 <img src="img/orden-red.svg" alt="orden-red" width="28" height="28"></span>
	</div>

	<h4> Badges awards</h4>
	<div class="d-flex gap-3 py-2 align-items-center flex-wrap">
		<div class="qela-awards" style="--ql-talent-color: #921c14;--ql-talent-bg: #ffcccc; --ql-talent-border-color: #ffcccc">
			<span class="number">+2</span>
			<span class="qela-badge-talent badge small">
				<span>Fundraising</span>
			</span>
		</div>
		<!-- ==== -->
		<div class="qela-awards orden"><span class="number">+4</span>
			<span class="qela-badge-talent badge small">
				<span>Vote weight</span>
				<img src="img/orden-red.svg" alt="orden-red">
			</span>
		</div>
		<!-- ===== -->
		<div class="qela-voice">
			<div class="body-voice"><img src="img/orden-red.svg" width="18" height="18" alt="coin"><small>105</small></div>
		</div>
	</div>
	<div class="d-flex gap-3 py-2 align-items-center flex-wrap">
		<div class="qela-awards red light-type" style="--ql-talent-color: #d92525;--ql-talent-bg: #ffcccc;">
			<span class="qela-badge small"><span class="badge">Fundraising</span></span>
		</div>
	</div>
	<h4> Badges awards large variant</h4>
	<div class="d-flex gap-3 py-2 align-items-center flex-wrap">
		<span class="badge qela-badge-talent large-xl fw-semibold px-2 text-start" style="--ql-talent-color: #921c14;--ql-talent-bg: #ffcccc; --ql-talent-border-color: #d92525">
			<span class="d-flex gap-2" style="min-width: 160px;">
				<i class="ic-achievement-filled"></i>
				<span class="flex-grow-1">2</span>
				<span class="ic-send"></span>
			</span>
			<span>Fundraising</span>
		</span>
	</div>
	<!-- FIX Pill badges small -->
	<h4>Custom badges small</h4>
	<div class="d-flex gap-2 flex-wrap align-items-start">
		<span class="badge bg-primary px-2 py-1 text-info-900 fs-6 fw-normal"><small>Primary</small></span>
		<span class="badge bg-info-200 px-2 py-1 text-info-900 fs-6 fw-normal"><small>Info</small></span>
		<span class="badge bg-secondary message">Just Added</span>
		<span class="badge qela-badge item">Branch #1</span>
	</div>
	<!-- FIX Pill badges small -->
	<h4>Pill badges small</h4>
	<div>
		<span class="badge rounded-pill bg-danger qela-badge small">Danger</span>
	</div>
	<!-- FIX referral-counter -->
	<h4>Referral-counter</h4>
	<div class="qela-referral-counter">
		<span>1 invited user =</span>
		<span class="badge bg-white text-black large">1</span>
		<span>Vote weight</span>
		<span class="badge bg-white text-black large">1</span>
		<span>Recruiting talent</span>
	</div>
	<h4>Status</h4>
	<small class="tetx-info">Status: <span class="text-warning">Draft</span></small>
	<small class="tetx-info">Status: <span class="text-success">Published</span></small>
	<small class="tetx-info">Status: <span class="text-info-900">New</span></small>
	<h4>Status badge</h4>
	<div class="d-flex gap-2 flex-wrap">
		<span class="qela-status-badge secondary circel ic-key"></span>
		<span class="qela-status-badge secondary ic-key">superadmin</span>
		<span class="qela-status-badge success circel ic-diamond"></span>
		<span class="qela-status-badge success ic-diamond">quests-admin</span>
		<span class="qela-status-badge warning circel ic-eye"></span>
		<span class="qela-status-badge warning ic-eye">branch-super-admin</span>
		<span class="qela-status-badge success circel ic-voting"></span>
		<span class="qela-status-badge success ic-voting">voting-admin</span>
		<span class="qela-status-badge success circel ic-people"></span>
		<span class="qela-status-badge success ic-people">users-admin</span>
		<span class="qela-status-badge secondary circel ic-branch"></span>
		<span class="qela-status-badge secondary ic-branch">branch-superadmin</span>
	</div>
	<h4>Status badge small</h4>
	<div class="d-flex gap-2 flex-wrap">
		<span class="qela-status-badge success circel sm ic-success"></span>
		<span class="qela-status-badge danger circel sm ic-no-success"></span>
		<span class="qela-status-badge danger circel sm ic-stop"></span>
		<span class="qela-status-badge warning circel sm ic-hexagon-plus-24"></span>
	</div>
</section>