<!-- FIX Breadcrumb  -->
<section class="d-grid gap-3">
  <h2 class="h1 mt-4">Breadcrumb</h2>
  <div class="qela-breadcrumb">
    <a class="qela-clamp"
      >asdsadasdasd sadasdasdsad asdasdsadasd asdasdsadasd</a
    >
    <span class="ic-chevron-left"></span>
    <a class="qela-clamp word-break">asdasdasd</a>
    <span class="ic-chevron-left"></span>
    <a class="qela-clamp word-break">asdadasda</a>
    <span class="ic-chevron-left"></span>
    <span class="qela-clamp">sadasdasdsad sadasdasdsad</span>
  </div>
</section>
