<!-- FIX Buttons  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Buttons</h2>
	<!-- FIX Large buttons  -->
	<h4>Large buttons</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-primary">Primary</button>
		<button type="button" class="btn btn-primary" disabled>Primary</button>
		<button type="button" class="btn btn-primary ic-plus ico-left">
			Primary
		</button>
		<button type="button" class="btn btn-primary ic-plus ico-left" disabled>
			Primary
		</button>
		<button type="button" class="btn btn-primary ic-plus ico-right">
			Primary
		</button>
		<button type="button" class="btn btn-primary ic-plus ico-right" disabled>
			Primary
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-secondary">Secondary</button>
		<button type="button" class="btn btn-secondary" disabled>Secondary</button>
		<button type="button" class="btn btn-secondary ic-plus ico-left">
			Secondary
		</button>
		<button type="button" class="btn btn-secondary ic-plus ico-left" disabled>
			Secondary
		</button>
		<button type="button" class="btn btn-secondary ic-plus ico-right">
			Secondary
		</button>
		<button type="button" class="btn btn-secondary ic-plus ico-right" disabled>
			Secondary
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-success">Success</button>
		<button type="button" class="btn btn-success" disabled>Success</button>
		<button type="button" class="btn btn-success ic-plus ico-left">
			Success
		</button>
		<button type="button" class="btn btn-success ic-plus ico-left" disabled>
			Success
		</button>
		<button type="button" class="btn btn-success ic-plus ico-right">
			Success
		</button>
		<button type="button" class="btn btn-success ic-plus ico-right" disabled>
			Success
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-danger">Danger</button>
		<button type="button" class="btn btn-danger" disabled>Danger</button>
		<button type="button" class="btn btn-danger ic-plus ico-left">
			Danger
		</button>
		<button type="button" class="btn btn-danger ic-plus ico-left" disabled>
			Danger
		</button>
		<button type="button" class="btn btn-danger ic-plus ico-right">
			Danger
		</button>
		<button type="button" class="btn btn-danger ic-plus ico-right" disabled>
			Danger
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-warning">Warning</button>
		<button type="button" class="btn btn-warning" disabled>Warning</button>
		<button type="button" class="btn btn-warning ic-plus ico-left">
			Warning
		</button>
		<button type="button" class="btn btn-warning ic-plus ico-left" disabled>
			Warning
		</button>
		<button type="button" class="btn btn-warning ic-plus ico-right">
			Warning
		</button>
		<button type="button" class="btn btn-warning ic-plus ico-right" disabled>
			Warning
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-info">Info</button>
		<button type="button" class="btn btn-info" disabled>Info</button>
		<button type="button" class="btn btn-info ic-plus ico-left">Info</button>
		<button type="button" class="btn btn-info ic-plus ico-left" disabled>
			Info
		</button>
		<button type="button" class="btn btn-info ic-plus ico-right">Info</button>
		<button type="button" class="btn btn-info ic-plus ico-right" disabled>
			Info
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-custom">Info-custom-text</button>
		<button type="button" class="btn btn-custom" disabled>
			Info-custom-text
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-link">Link</button>
		<button type="button" class="btn btn-link" disabled>Link</button>
	</div>
	<!-- FIX Small buttons  -->
	<h4 class="mt-4">Small buttons</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-primary">Primary</button>
		<button type="button" class="btn btn-sm btn-primary" disabled>
			Primary
		</button>
		<button type="button" class="btn btn-sm btn-primary ic-plus ico-left">
			Primary
		</button>
		<button type="button" class="btn btn-sm btn-primary ic-plus ico-left" disabled>
			Primary
		</button>
		<button type="button" class="btn btn-sm btn-primary ic-plus ico-right">
			Primary
		</button>
		<button type="button" class="btn btn-sm btn-primary ic-plus ico-right" disabled>
			Primary
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-secondary">Secondary</button>
		<button type="button" class="btn btn-sm btn-secondary" disabled>
			Secondary
		</button>
		<button type="button" class="btn btn-sm btn-secondary ic-plus ico-left">
			Secondary
		</button>
		<button type="button" class="btn btn-sm btn-secondary ic-plus ico-left" disabled>
			Secondary
		</button>
		<button type="button" class="btn btn-sm btn-secondary ic-plus ico-right">
			Secondary
		</button>
		<button type="button" class="btn btn-sm btn-secondary ic-plus ico-right" disabled>
			Secondary
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-success">Success</button>
		<button type="button" class="btn btn-sm btn-success" disabled>
			Success
		</button>
		<button type="button" class="btn btn-sm btn-success ic-plus ico-left">
			Success
		</button>
		<button type="button" class="btn btn-sm btn-success ic-plus ico-left" disabled>
			Success
		</button>
		<button type="button" class="btn btn-sm btn-success ic-plus ico-right">
			Success
		</button>
		<button type="button" class="btn btn-sm btn-success ic-plus ico-right" disabled>
			Success
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-danger">Danger</button>
		<button type="button" class="btn btn-sm btn-danger" disabled>Danger</button>
		<button type="button" class="btn btn-sm btn-danger ic-plus ico-left">
			Danger
		</button>
		<button type="button" class="btn btn-sm btn-danger ic-plus ico-left" disabled>
			Danger
		</button>
		<button type="button" class="btn btn-sm btn-danger ic-plus ico-right">
			Danger
		</button>
		<button type="button" class="btn btn-sm btn-danger ic-plus ico-right" disabled>
			Danger
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-warning">Warning</button>
		<button type="button" class="btn btn-sm btn-warning" disabled>
			Warning
		</button>
		<button type="button" class="btn btn-sm btn-warning ic-plus ico-left">
			Warning
		</button>
		<button type="button" class="btn btn-sm btn-warning ic-plus ico-left" disabled>
			Warning
		</button>
		<button type="button" class="btn btn-sm btn-warning ic-plus ico-right">
			Warning
		</button>
		<button type="button" class="btn btn-sm btn-warning ic-plus ico-right" disabled>
			Warning
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-info">Info</button>
		<button type="button" class="btn btn-sm btn-info" disabled>Info</button>
		<button type="button" class="btn btn-sm btn-info ic-plus ico-left">
			Info
		</button>
		<button type="button" class="btn btn-sm btn-info ic-plus ico-left" disabled>
			Info
		</button>
		<button type="button" class="btn btn-sm btn-info ic-plus ico-right">
			Info
		</button>
		<button type="button" class="btn btn-sm btn-info ic-plus ico-right" disabled>
			Info
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-custom">
			Info-custom-text
		</button>
		<button type="button" class="btn btn-sm btn-custom" disabled>
			Info-custom-text
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-link">Link</button>
		<button type="button" class="btn btn-sm btn-link" disabled>Link</button>
	</div>
	<!-- FIX Large outlined buttons -->
	<h4 class="mt-4">Large outlined buttons</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-outline-primary">Primary</button>
		<button type="button" class="btn btn-outline-primary" disabled>
			Primary
		</button>
		<button type="button" class="btn btn-outline-primary ic-plus ico-left">
			Primary
		</button>
		<button type="button" class="btn btn-outline-primary ic-plus ico-left" disabled>
			Primary
		</button>
		<button type="button" class="btn btn-outline-primary ic-plus ico-right">
			Primary
		</button>
		<button type="button" class="btn btn-outline-primary ic-plus ico-right" disabled>
			Primary
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-outline-secondary">Secondary</button>
		<button type="button" class="btn btn-outline-secondary" disabled>
			Secondary
		</button>
		<button type="button" class="btn btn-outline-secondary ic-plus ico-left">
			Secondary
		</button>
		<button type="button" class="btn btn-outline-secondary ic-plus ico-left" disabled>
			Secondary
		</button>
		<button type="button" class="btn btn-outline-secondary ic-plus ico-right">
			Secondary
		</button>
		<button type="button" class="btn btn-outline-secondary ic-plus ico-right" disabled>
			Secondary
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-outline-success">Success</button>
		<button type="button" class="btn btn-outline-success" disabled>
			Success
		</button>
		<button type="button" class="btn btn-outline-success ic-plus ico-left">
			Success
		</button>
		<button type="button" class="btn btn-outline-success ic-plus ico-left" disabled>
			Success
		</button>
		<button type="button" class="btn btn-outline-success ic-plus ico-right">
			Success
		</button>
		<button type="button" class="btn btn-outline-success ic-plus ico-right" disabled>
			Success
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-outline-danger">Danger</button>
		<button type="button" class="btn btn-outline-danger" disabled>
			Danger
		</button>
		<button type="button" class="btn btn-outline-danger ic-plus ico-left">
			Danger
		</button>
		<button type="button" class="btn btn-outline-danger ic-plus ico-left" disabled>
			Danger
		</button>
		<button type="button" class="btn btn-outline-danger ic-plus ico-right">
			Danger
		</button>
		<button type="button" class="btn btn-outline-danger ic-plus ico-right" disabled>
			Danger
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-outline-warning">Warning</button>
		<button type="button" class="btn btn-outline-warning" disabled>
			Warning
		</button>
		<button type="button" class="btn btn-outline-warning ic-plus ico-left">
			Warning
		</button>
		<button type="button" class="btn btn-outline-warning ic-plus ico-left" disabled>
			Warning
		</button>
		<button type="button" class="btn btn-outline-warning ic-plus ico-right">
			Warning
		</button>
		<button type="button" class="btn btn-outline-warning ic-plus ico-right" disabled>
			Warning
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-outline-info">Info</button>
		<button type="button" class="btn btn-outline-info" disabled>Info</button>
		<button type="button" class="btn btn-outline-info ic-plus ico-left">
			Info
		</button>
		<button type="button" class="btn btn-outline-info ic-plus ico-left" disabled>
			Info
		</button>
		<button type="button" class="btn btn-outline-info ic-plus ico-right">
			Info
		</button>
		<button type="button" class="btn btn-outline-info ic-plus ico-right" disabled>
			Info
		</button>
	</div>
	<!-- FIX Small outlined  buttons -->
	<h4 class="mt-4">Small outlined buttons</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-outline-primary">
			Primary
		</button>
		<button type="button" class="btn btn-sm btn-outline-primary" disabled>
			Primary
		</button>
		<button type="button" class="btn btn-sm btn-outline-primary ic-plus ico-left">
			Primary
		</button>
		<button type="button" class="btn btn-sm btn-outline-primary ic-plus ico-left" disabled>
			Primary
		</button>
		<button type="button" class="btn btn-sm btn-outline-primary ic-plus ico-right">
			Primary
		</button>
		<button type="button" class="btn btn-sm btn-outline-primary ic-plus ico-right" disabled>
			Primary
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-outline-secondary">
			Secondary
		</button>
		<button type="button" class="btn btn-sm btn-outline-secondary" disabled>
			Secondary
		</button>
		<button type="button" class="btn btn-sm btn-outline-secondary ic-plus ico-left">
			Secondary
		</button>
		<button type="button" class="btn btn-sm btn-outline-secondary ic-plus ico-left" disabled>
			Secondary
		</button>
		<button type="button" class="btn btn-sm btn-outline-secondary ic-plus ico-right">
			Secondary
		</button>
		<button type="button" class="btn btn-sm btn-outline-secondary ic-plus ico-right" disabled>
			Secondary
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-outline-success">
			Success
		</button>
		<button type="button" class="btn btn-sm btn-outline-success" disabled>
			Success
		</button>
		<button type="button" class="btn btn-sm btn-outline-success ic-plus ico-left">
			Success
		</button>
		<button type="button" class="btn btn-sm btn-outline-success ic-plus ico-left" disabled>
			Success
		</button>
		<button type="button" class="btn btn-sm btn-outline-success ic-plus ico-right">
			Success
		</button>
		<button type="button" class="btn btn-sm btn-outline-success ic-plus ico-right" disabled>
			Success
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-outline-danger">Danger</button>
		<button type="button" class="btn btn-sm btn-outline-danger" disabled>
			Danger
		</button>
		<button type="button" class="btn btn-sm btn-outline-danger ic-plus ico-left">
			Danger
		</button>
		<button type="button" class="btn btn-sm btn-outline-danger ic-plus ico-left" disabled>
			Danger
		</button>
		<button type="button" class="btn btn-sm btn-outline-danger ic-plus ico-right">
			Danger
		</button>
		<button type="button" class="btn btn-sm btn-outline-danger ic-plus ico-right" disabled>
			Danger
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-outline-warning">
			Warning
		</button>
		<button type="button" class="btn btn-sm btn-outline-warning" disabled>
			Warning
		</button>
		<button type="button" class="btn btn-sm btn-outline-warning ic-plus ico-left">
			Warning
		</button>
		<button type="button" class="btn btn-sm btn-outline-warning ic-plus ico-left" disabled>
			Warning
		</button>
		<button type="button" class="btn btn-sm btn-outline-warning ic-plus ico-right">
			Warning
		</button>
		<button type="button" class="btn btn-sm btn-outline-warning ic-plus ico-right" disabled>
			Warning
		</button>
	</div>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-outline-info">Info</button>
		<button type="button" class="btn btn-sm btn-outline-info" disabled>
			Info
		</button>
		<button type="button" class="btn btn-sm btn-outline-info ic-plus ico-left">
			Info
		</button>
		<button type="button" class="btn btn-sm btn-outline-info ic-plus ico-left" disabled>
			Info
		</button>
		<button type="button" class="btn btn-sm btn-outline-info ic-plus ico-right">
			Info
		</button>
		<button type="button" class="btn btn-sm btn-outline-info ic-plus ico-right" disabled>
			Info
		</button>
	</div>
	<!-- FIX Custom ico-right -->
	<h4 class="mt-4">Custom ico-right</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-custom ic-plus ico-right">
			Info-custom-text
		</button>
		<button type="button" class="btn btn-sm btn-custom ic-plus ico-right" disabled>
			Info-custom-text
		</button>
	</div>
	<!-- FIX Button-close -->
	<h4 class="mt-4">Button-close</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn-close ic-cloze" aria-label="Close"></button>
		<button type="button" class="btn-close ic-cloze" disabled aria-label="Close"></button>
	</div>
	<!-- FIX Button-close small-->
	<h4 class="mt-4">Button-close small</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn-close  ic-cloze" aria-label="Close"></button>
		<button type="button" class="btn-close  ic-cloze" disabled aria-label="Close"></button>
	</div>
	<!-- FIX Button-icon -->
	<h4 class="mt-4">Button-icon</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="qela-btn-ic ic-search"></button>
		<button type="button" class="qela-btn-ic ic-search" disabled></button>
	</div>
	<!-- FIX Icon buttons -->
	<h4 class="mt-4">Icon buttons</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-primary ico ic-plus"></button>
		<button type="button" class="btn btn-secondary ico ic-plus"></button>
		<button type="button" class="btn btn-warning ico ic-plus"></button>
		<button type="button" class="btn btn-success ico ic-plus"></button>
		<button type="button" class="btn btn-danger ico ic-plus"></button>
		<button type="button" class="btn btn-info ico ic-plus"></button>
	</div>
	<!-- FIX Icon buttons  small-->
	<h4 class="mt-4">Icon buttons small</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-sm btn-primary ico ic-plus"></button>
		<button type="button" class="btn btn-sm btn-secondary ico ic-plus"></button>
		<button type="button" class="btn btn-sm btn-warning ico ic-plus"></button>
		<button type="button" class="btn btn-sm btn-success ico ic-plus"></button>
		<button type="button" class="btn btn-sm btn-danger ico ic-plus"></button>
		<button type="button" class="btn btn-sm btn-info ico ic-plus"></button>
	</div>
	<!-- FIX Buttons group-->
	<h4 class="mt-4">Buttons group</h4>
	<div>
		<div class="btn-group qela-btn-group" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-info ico ic-plus"></button>
			<button type="button" class="btn btn-info ico ic-plus"></button>
			<button type="button" class="btn btn-info ico ic-plus"></button>
			<button type="button" class="btn btn-info ico ic-plus"></button>
			<button type="button" class="btn btn-info danger ico ic-plus"></button>
		</div>
	</div>
	<div>
		<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
			<button type="button" class="btn btn-outline-info py-0 ico ic-triangle-small"></button>
			<button type="button" class="btn btn-outline-info py-0 ico ic-triangle-inverted-small"></button>
		</div>
	</div>
	<!-- FIX Map buttons  -->
	<h4 class="mt-4">Map buttons</h4>
	<div>
		<div class="btn-group-vertical qela-btn-map position-static" role="group" aria-label="Vertical button group">
			<button type="button" class="btn border-0 ico ic-plus" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="qela-tooltip-black" data-bs-title="Zoom Out"></button>
			<button type="button" class="btn border-0 ico ic-minus" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="qela-tooltip-black" data-bs-title="Zoom In"></button>
			<button type="button" class="btn border-0 ico ic-arrow-autofit-content" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="qela-tooltip-black" data-bs-title="Fit to all poins"></button>
		</div>
	</div>
	<!-- FIX Slide buttons  -->
	<h4 class="mt-4">Slide buttons</h4>
	<div>
		<div class="btn-group qela-btn-slide" role="group">
			<button type="button" class="btn ico ic-chevron-left" disabled></button>
			<button type="button" class="btn ico ic-chevron-right"></button>
		</div>
	</div>
	<!-- FIX Buttons custom  -->
	<h4 class="mt-4">Buttons custom</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-secondary custom">Secondary</button>
		<button type="button" class="btn btn-outline-dark custom">Dark</button>
	</div>
	<!-- FIX Buttons custom  -->
	<h4 class="mt-4">Buttons appstor, googleplay</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-apple"><img src="/img/appstore.svg" alt=""></button>
		<button type="button" class="btn btn-google"><img src="/img/googleplay.svg" alt=""> </button>
	</div>
</section>