<!-- FIX Checkbox  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Checkbox</h2>
	<!-- FIX Checkbox-->
	<h4>Checkbox</h4>
	<div>
		<div class="form-check form-check-inline">
			<input type="checkbox" class="form-check-input" id="Check1">
		</div>
		<div class="form-check form-check-inline">
			<input type="checkbox" class="form-check-input" id="Check2" disabled>
		</div>
	</div>
	<div>
		<div class="form-check form-check-inline">
			<input type="checkbox" class="form-check-input" id="Check3" checked>
		</div>
		<div class="form-check form-check-inline">
			<input type="checkbox" class="form-check-input" id="Check4" checked disabled>
		</div>
	</div>
	<!-- FIX Checkbox-label-->
	<h4>Checkbox whith label</h4>
	<div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="Check5">
			<label class="form-check-label" for="Check5">Checkbox-label</label>
		</div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="Check6" disabled>
			<label class="form-check-label" for="Check6">Checkbox-label</label>
		</div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input is-invalid" id="Check5Error">
			<label class="form-check-label" for="Check5Error">Checkbox-label</label>
			<div class="invalid-feedback">
				Error
			</div>
		</div>
	</div>
	<div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="Check7" checked>
			<label class="form-check-label" for="Check7">Checkbox-label</label>
		</div>
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="Check8" checked disabled>
			<label class="form-check-label" for="Check8">Checkbox-label</label>
		</div>
	</div>
	<div>
		<div class="form-check">
			<label class="form-check-label" for="Check8">Checkbox-label with <a href="#" target="_blank">link</a></label>
			<input type="checkbox" class="form-check-input" id="Check8">
		</div>
	</div>
	<!-- FIX Checkbox-label small-->
	<h4>Checkbox whith label small</h4>
	<div>
		<div class="form-check qela-sm">
			<input type="checkbox" class="form-check-input" id="Check-sm5">
			<label class="form-check-label" for="Check-sm5">Checkbox-label</label>
		</div>
		<div class="form-check qela-sm">
			<input type="checkbox" class="form-check-input" id="Check-sm6" disabled>
			<label class="form-check-label" for="Check-sm6">Checkbox-label</label>
		</div>
		<div class="form-check qela-sm">
			<input type="checkbox" class="form-check-input is-invalid" id="Check5Error-sm">
			<label class="form-check-label" for="Check5Error-sm">Checkbox-label</label>
			<div class="invalid-feedback">
				Error
			</div>
		</div>
	</div>
	<div>
		<div class="form-check qela-sm">
			<input type="checkbox" class="form-check-input" id="Check-sm7" checked>
			<label class="form-check-label" for="Check-sm7">Checkbox-label</label>
		</div>
		<div class="form-check qela-sm">
			<input type="checkbox" class="form-check-input" id="Check-sm8" checked disabled>
			<label class="form-check-label" for="Check-sm8">Checkbox-label</label>
		</div>
	</div>
	<div>
		<div class="form-check qela-sm">
			<label class="form-check-label" for="Check-sm8">Checkbox-label with <a href="#" target="_blank">link</a></label>
			<input type="checkbox" class="form-check-input" id="Check-sm8">
		</div>
	</div>
	<!-- FIX Switch custom-->
	<h4>Switch custom</h4>
	<div>
		<div class="form-check form-check-inline form-switch">
			<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck5">
		</div>
		<div class="form-check form-check-inline form-switch">
			<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck6" disabled>
		</div>
	</div>
	<div>
		<div class="form-check form-check-inline form-switch">
			<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck7" checked>
		</div>
		<div class="form-check form-check-inline form-switch">
			<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck8" checked disabled>
		</div>
	</div>
	<!-- FIX Switch custom sm-->
	<h4>Switch custom sm</h4>
	<div>
		<div class="form-check form-check-inline form-switch form-switch-sm">
			<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck5">
		</div>
		<div class="form-check form-check-inline form-switch form-switch-sm">
			<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck6" disabled>
		</div>
	</div>
	<div>
		<div class="form-check form-check-inline form-switch form-switch-sm">
			<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck7" checked>
		</div>
		<div class="form-check form-check-inline form-switch form-switch-sm">
			<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck8" checked disabled>
		</div>
	</div>
	<!-- FIX Switch label-->
	<h4>Switch label</h4>
	<div class="form-check form-switch">
		<label class="form-check-label" for="SwitchCheck1">Default switch checkbox input</label>
		<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck1">
	</div>
	<div class="form-check form-switch">
		<label class="form-check-label" for="SwitchCheck2">Default switch checkbox input</label>
		<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck2" disabled>
	</div>
	<div class="form-check form-switch">
		<label class="form-check-label" for="SwitchCheck3">Default switch checkbox input</label>
		<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck3" checked>
	</div>
	<div class="form-check form-switch">
		<label class="form-check-label" for="SwitchCheck4">Default switch checkbox input</label>
		<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck4" checked disabled>
	</div>
</section>