<!-- FIX Datapiker  -->
<section class="d-grid gap-3">
    <h2 class="h1 mt-4">Datapiker</h2>
    <div>
        <div class="qela-form-labels">
            <div>
                <label class="form-label required">Datapiker</label>
                <button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
            </div>
            <label class="form-label">hint text</label>
        </div>
        <div>
            <!-- <v-date-picker v-model="date" range multi-calendars /> -->
            <v-date-picker uid="datapiker-2" v-model="date" placeholder="Select Date" position="right" />
        </div>
        <span class="invalid-feedback">Set start date and time</span>
    </div>
</section>