<!-- FIX Description  -->
<section class="d-grid gap-3">
  <h2 class="h1 mt-4">Description</h2>
  <div class="px-4 py-3">
    <h3 class="h6 text-info-600 pb-2">Description</h3>
    <div id="#text-more" class="qela-description mb-3">
      "Unity for Planet" is a non-profit organization dedicated to protecting
      the environment through community involvement and volunteerism. Our
      mission is to inspire and empower individuals to take action to preserve
      and protect the planet for future generations. We believe that everyone
      has a role to play in creating a sustainable future, and that small
      actions taken by individuals can lead to significant positive changes for
      the environment. Through various initiatives such as beach cleanups, tree
      planting campaigns, and educational programs, we work to engage and
      educate people about the importance of environmental conservation. Join us
      in our efforts to create a greener and healthier planet by volunteering
      with Unity for Planet today!"
    </div>
    <div class="text-end">
      <button
        type="button"
        class="btn btn-sm btn-link"
        data-qela-target="#text-more"
      >
        Reed more
      </button>
    </div>
  </div>
</section>
