<!-- FIX с  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Dropdown</h2>
	<div class="dropdown">
		<button class="btn btn-info ic-chevron ico-right" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			View all types
		</button>
		<ul class="dropdown-menu shadow">
			<li>
				<button type="button" class="dropdown-item">Змінити статус</button>
			</li>
			<li>
				<button type="button" class="dropdown-item">Відправити Email</button>
			</li>
			<li>
				<hr class="dropdown-divider" />
			</li>
			<li><button type="button" class="dropdown-item">Заблокувати</button></li>
			<li><button type="button" class="dropdown-item">Видалити</button></li>
		</ul>
	</div>
	<div class="dropdown">
		<button class="btn btn-sm btn-info ic-chevron ico-right" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			Дії з обраним
		</button>
		<ul class="dropdown-menu shadow">
			<li>
				<button type="button" class="dropdown-item">Змінити статус</button>
			</li>
			<li>
				<button type="button" class="dropdown-item">Відправити Email</button>
			</li>
			<li>
				<hr class="dropdown-divider" />
			</li>
			<li><button type="button" class="dropdown-item">Заблокувати</button></li>
			<li><button type="button" class="dropdown-item">Видалити</button></li>
		</ul>
	</div>
	<!--FIX user -->
	<div class="dropdown qela-dropdown">
		<button type="button" class="btn p-0 border-0" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
			<span class="qela-avatar qela-ibg online-sm" style="--img-size: 40px">
				<img src="img/header/user.jpg" alt="">
			</span>
		</button>
		<ul class="dropdown-menu shadow" style="width:350px">
			<li>
				<div class="qela-item-user">
					<span class="qela-avatar qela-ibg online-sm" style="--img-size: 40px">
						<img src="img/header/user.jpg" alt="">
					</span>
					<div class="flex-grow-1">
						<div class="h3 mb-1"></div>
						<span>qelatesting1+1800@gmail.com</span>
						<div class="text-info-600">
							<small>Власник</small>
						</div>
					</div>
				</div>
			</li>
			<li>
				<hr class="dropdown-divider" />
			</li>
			<li>
				<a class="dropdown-item ic-user-24" href="#">Профіль</a>

			</li>
			<li><a class="dropdown-item ic-bill" href="#">Оплата</a></li>
			<li><a class="dropdown-item ic-dollar" href="#">Підписка</a></li>
			<li>
				<hr class="dropdown-divider" />
			</li>
			<li><a class="dropdown-item ic-log-out" href="#">вийти</a></li>
		</ul>
	</div>
	<!-- Dropdown no icons -->
	<div class="dropdown qela-dropdown">
		<button class="btn btn-sm btn-info ic-chevron ico-right" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			Dropdown
		</button>
		<ul class="dropdown-menu shadow">
			<li>
				<button type="button" class="dropdown-item">Change status</button>
			</li>
			<li>
				<button type="button" class="dropdown-item">Change status</button>
			</li>
			<li>
				<button type="button" class="dropdown-item active">
					Change status
				</button>
			</li>
			<li>
				<button type="button" class="dropdown-item danger">
					Change status
				</button>
			</li>
			<li>
				<button type="button" class="dropdown-item success">
					Change status
				</button>
			</li>
			<li>
				<button type="button" class="dropdown-item warning">
					Change status
				</button>
			</li>
		</ul>
	</div>
	<!-- Dropdown  icons -->
	<div class="dropdown qela-dropdown">
		<button class="btn btn-sm btn-info ic-chevron ico-right" type="button" data-bs-toggle="dropdown" aria-expanded="false">
			Dropdown icons
		</button>
		<ul class="dropdown-menu shadow">
			<li>
				<button type="button" class="dropdown-item ic-edit">Edit user</button>
			</li>
			<li>
				<button type="button" class="dropdown-item ic-edit">
					Edit user
					<span class="qela-counter">25</span>
				</button>
			</li>
			<li>
				<button type="button" class="dropdown-item ic-stop">Block user</button>
			</li>
			<li>
				<button type="button" class="dropdown-item active ic-success-2">
					Unblock user
				</button>
			</li>
			<li>
				<button type="button" class="dropdown-item ic-delete danger">
					Delete user
				</button>
			</li>
			<li>
				<button type="button" class="dropdown-item ic-success-2 success">
					Change status
				</button>
			</li>
			<li>
				<button type="button" class="dropdown-item ic-success-2 warning">
					Change status
				</button>
			</li>
		</ul>
	</div>
	<!-- Dropdown chat -->
	<h4>Dropdown chat</h4>
	<div class="dropdown qela-dropdown">
		<button class="qela-btn-ic ic-dots" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
		<ul class="dropdown-menu shadow">
			<li>
				<button type="button" class="dropdown-item ic-stop danger px-3 py-2">
					Stop chat
				</button>
			</li>
			<li>
				<button type="button" class="dropdown-item ic-check-big success px-3 py-2">
					Launch chat
				</button>
			</li>
		</ul>
	</div>

	<!-- Dropdown hover -->
	<h4>Dropdown hover</h4>
	<div class="dropdown-center qela-hover-dropdown ">
		<button class="btn btn-outline-info p-0 rounded-1 check-readonly ic-dots-row" type="button" aria-expanded="false"></button>
		<div class="dropdown-menu">
			<span class="qela-dropdown-arrow"></span>
			<div class="d-grid gap-1 justify-content-start">
				<span class="badge text-wrap qela-badge-talent" style="--ql-talent-color: #5B5500; --ql-talent-bg: #FFF9A6;">Eloquence Beginner </span>
				<span class="badge text-wrap qela-badge-talent" style="--ql-talent-color: #723900; --ql-talent-bg: #FFDCB9;">Endurance Beginner</span>
				<span class="badge text-wrap qela-badge-talent" style="--ql-talent-color: #723900; --ql-talent-bg: #FFDCB9;">Endurance Beginner</span>
				<span class="badge text-wrap qela-badge-talent" style="--ql-talent-color: #723900; --ql-talent-bg: #FFDCB9;">Endurance Beginner</span>
			</div>
		</div>
	</div>
</section>