<header class="bg-white w-100 position-fixed top-0 start-0 qela-shadow ps-0">
	<div class="container-fluid h-100">
		<div class="row h-100 position-relative gx-0">
			<div class="col-auto d-flex align-items-center gap-2">
				<button type="button" class="btn btn-sm btn-info ico ic-chevron-left d-md-none"></button>
				<button type="button" class="btn btn-sm btn-outline-info ic-chevron-left ico-left d-none d-md-inline-flex">
					Back
				</button>
				<h1 class="h6">Quest templates</h1>
			</div>
			<div class="col d-flex align-items-center gap-2 justify-content-end">
				<button type="button" class="btn btn-info ico ic-cloze border-0" aria-label="Close"></button>
			</div>
		</div>
	</div>
</header>