<header class="ps-3 ps-md-0">
	<div class="container-fluid">
		<div class="row">
			<div class="col-10 col-xl-auto col-md-8 ps-0 ps-md-1">
				<a class="navbar-brand qela-logo d-none d-md-block" href="#"><img src="img/logo-2.svg" alt="Logo" width="40" height="40" /></a>
				<button type="button" class="btn btn-sm btn-outline-info ic-chevron-left ico-left"></button>
				<h1 class="h6 qela-clamp flex-grow-1 flex-shrink-1">@@title</h1>
			</div>
			<div class="col-2 col-xl col-md-4">
				<!--FIX form search -->
				<form class="qela-search" role="search">
					<div class="qela-search__wrapper">
						<div class="input-group">
							<button class="btn btn-input ic-search" type="button" id="button-search"></button>
							<input type="search" class="form-control" placeholder="Пошук" aria-label="Search" aria-describedby="button-search" />
						</div>
					</div>
					<button class="btn ic-search p-2 qela-search-btn" type="button"></button>
				</form>
				<!--FIX badge -->
				<button type="button" class="btn ic-bell p-2 qela-notification active">
					<span class="badge rounded-pill text-bg-danger qela-badge small">25</span>
				</button>
				<!--FIX user -->
				<div class="dropdown qela-user">
					<button type="button" class="btn p-0 border-0 ic-chevron position-relative" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
						<img class="rounded-circle" src="img/header/user.jpg" width="32" height="32" alt="user" />
					</button>
					<div class="dropdown-menu dropdown-caret dropdown-menu-end shadow">
						<form class="gy-5 p-2">
							<div class="mb-3">
								<label for="UserEmail" class="form-label">Email</label>
								<input type="email" class="form-control form-control-sm" id="UserEmail" placeholder="Email" />
								<div class="invalid-feedback">Error text</div>
							</div>
							<div class="mb-3">
								<label for="inputPassword1" class="form-label">Password</label>
								<div class="input-group input-group-sm has-validation">
									<input type="password" class="form-control" placeholder="Password" aria-label="Password" id="inputPassword1" aria-describedby="button-addon1" />
									<button class="btn btn-input ic-eye-close" type="button" id="button-addon1"></button>
									<div class="invalid-feedback">Error text</div>
								</div>
							</div>
							<div class="mb-3">
								<div class="form-check">
									<input type="checkbox" class="form-check-input" id="Check" />
									<label class="form-check-label" for="Check">Запамятати мене</label>
								</div>
							</div>
							<button type="submit" class="btn btn-primary w-100">
								Відправити
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>