<section class="d-grid gap-3">
	<!-- Icons -->
	<h2 class="h1 mt-4">Icons</h2>
	<div class="d-flex gap-3 py-3 flex-wrap">
		<i class="ic-bell"></i>
		<i class="ic-box-arrow"></i>
		<i class="ic-calendar"></i>
		<i class="ic-city"></i>
		<i class="ic-clock"></i>
		<i class="ic-cloze"></i>
		<i class="ic-commit"></i>
		<i class="ic-delete"></i>
		<i class="ic-dollar"></i>
		<i class="ic-dots"></i>
		<i class="ic-dots-2"></i>
		<i class="ic-grip-horizontal"></i>
		<i class="ic-dots-row"></i>
		<i class="ic-download"></i>
		<i class="ic-files"></i>
		<i class="ic-jostik"></i>
		<i class="ic-latter"></i>
		<i class="ic-lattice"></i>
		<i class="ic-map"></i>
		<i class="ic-mark"></i>
		<i class="ic-no-success"></i>
		<i class="ic-notes"></i>
		<i class="ic-people"></i>
		<i class="ic-phone"></i>
		<i class="ic-plus"></i>
		<i class="ic-print"></i>
		<i class="ic-search"></i>
		<i class="ic-settings"></i>
		<i class="ic-speaker"></i>
		<i class="ic-stop"></i>
		<i class="ic-stop-2"></i>
		<i class="ic-success"></i>
		<i class="ic-success-2"></i>
		<i class="ic-tent"></i>
		<i class="ic-arrow-down"></i>
		<i class="ic-arrow-left"></i>
		<i class="ic-send"></i>
		<i class="ic-arrow"></i>
		<i class="ic-eye-close"></i>
		<i class="ic-donats"></i>
		<i class="ic-error-warning-fill"></i>
		<i class="ic-alert-triangle"></i>
		<i class="ic-eye"></i>
		<i class="ic-chevron-right"></i>
		<i class="ic-chevron-left"></i>
		<i class="ic-chevron-up"></i>
		<i class="ic-chevron"></i>
		<i class="ic-check"></i>
		<i class="ic-check-big"></i>
		<i class="ic-check-filled"></i>
		<i class="ic-add"></i>
		<i class="ic-info"></i>
		<i class="ic-file-copy"></i>
		<i class="ic-circle"></i>
		<i class="ic-flame"></i>
		<i class="ic-exclamation-mark"></i>
		<i class="ic-chart-pie"></i>
		<i class="ic-bulb"></i>
		<i class="ic-camera-plus"></i>
		<i class="ic-checkmark-starburst-filled"></i>
		<i class="ic-donation"></i>
		<i class="ic-img"></i>
		<i class="ic-img-plus"></i>
		<i class="ic-log-out"></i>
		<i class="ic-upload"></i>
		<i class="ic-text-doc"></i>
		<i class="ic-share-2"></i>
		<i class="ic-mobile-message"></i>
		<i class="ic-message-square"></i>
		<i class="ic-lock"></i>
		<i class="ic-loader"></i>
		<i class="ic-info-filled"></i>
		<i class="ic-alert-filled"></i>
		<i class="ic-help-circle-filled"></i>
		<i class="ic-help-circle"></i>
		<i class="ic-alert-triangle-2"></i>
		<i class="ic-alert-starburst-filled"></i>
		<i class="ic-article"></i>
		<i class="ic-award"></i>
		<i class="ic-layout-grid"></i>
		<i class="ic-layout-kanban"></i>
		<i class="ic-list-check"></i>
		<i class="ic-notebook"></i>
		<i class="ic-swipe"></i>
		<i class="ic-trophy"></i>
		<i class="ic-wallpaper"></i>
		<i class="ic-equal"></i>
		<i class="ic-hand-click"></i>
		<i class="ic-letter-c"></i>
		<i class="ic-link"></i>
		<i class="ic-link-2"></i>
		<i class="ic-refresh"></i>
		<i class="ic-triangle-default"></i>
		<i class="ic-triangle-filled"></i>
		<i class="ic-triangle-inverted-default"></i>
		<i class="ic-triangle-inverted-filled"></i>
		<i class="ic-triangle-inverted-small"></i>
		<i class="ic-triangle-small"></i>
		<i class="ic-arrows-minimize"></i>
		<i class="ic-arrows-maximize"></i>
		<i class="ic-arrow-move"></i>
		<i class="ic-arrow-autofit-content"></i>
		<i class="ic-branch"></i>
		<i class="ic-edit"></i>
		<i class="ic-key"></i>
		<i class="ic-minus"></i>
		<i class="ic-redo"></i>
		<i class="ic-undo"></i>
		<i class="ic-triangle-left-small"></i>
		<i class="ic-triangle-right-small"></i>
		<i class="ic-un-link"></i>
		<i class="ic-location"></i>
		<i class="ic-google-map"></i>
		<i class="ic-img-32"></i>
		<i class="ic-play"></i>
		<i class="ic-img-plus-40"></i>
		<i class="ic-fb"></i>
		<i class="ic-inst"></i>
		<i class="ic-teleg"></i>
		<i class="ic-twit"></i>
		<i class="ic-youtube"></i>
		<i class="ic-twit-new"></i>
		<i class="ic-adjustments-h-24"></i>
		<i class="ic-arrow-big-down"></i>
		<i class="ic-arrow-big-up"></i>
		<i class="ic-arrows-down-up"></i>
		<i class="ic-video-40"></i>
		<i class="ic-hexagon-plus-24"></i>
		<i class="ic-bill"></i>
		<i class="ic-chevron-down-right"></i>
		<i class="ic-inkedin"></i>
		<i class="ic-triangle-2-down"></i>
		<i class="ic-triangle-2-down-right"></i>
		<i class="ic-triangle-2-up"></i>
		<i class="ic-web-site"></i>
		<i class="ic-world"></i>
		<i class="ic-credit-card"></i>
		<i class="ic-tag"></i>
		<i class="ic-hand"></i>
		<i class="ic-maps-global-28"></i>
		<i class="ic-message-circle"></i>
		<i class="ic-message-circle-filled-28"></i>
		<i class="ic-player-play"></i>
		<i class="ic-radiobutton"></i>
		<i class="ic-scroll"></i>
		<i class="ic-square-check"></i>
		<i class="ic-star"></i>
		<i class="ic-trophy-1"></i>
		<i class="ic-trophy-2"></i>
		<i class="ic-trophy-3"></i>
		<i class="ic-calendar-time"></i>
		<i class="ic-hour-glass"></i>
		<i class="ic-chevrons-right"></i>
		<i class="ic-chevrons-left"></i>
		<i class="ic-donation-outlined"></i>
		<i class="ic-diamond"></i>
		<i class="ic-diamond-filled"></i>
		<i class="ic-voting"></i>
		<i class="ic-voting-filled"></i>
		<i class="ic-user"></i>
		<i class="ic-user-filled"></i>
		<i class="ic-bell-filled"></i>
		<i class="ic-qela"></i>
		<i class="ic-qela-filled"></i>
		<i class="ic-dislike-filled"></i>
		<i class="ic-dislike"></i>
		<i class="ic-like-filled"></i>
		<i class="ic-like"></i>
		<i class="ic-archive"></i>
		<i class="ic-mute"></i>
		<i class="ic-report"></i>
		<i class="ic-task"></i>
		<i class="ic-reply"></i>
		<i class="ic-book"></i>
		<i class="ic-gift"></i>
		<i class="ic-unpin"></i>
		<i class="ic-pin"></i>
		<i class="ic-cookie"></i>
		<i class="ic-achievement-filled"></i>
		<i class="ic-menu-order"></i>
		<i class="ic-rules"></i>
		<i class="ic-exit"></i>
		<i class="ic-users-arrow"></i>
		<i class="ic-at"></i>
		<i class="ic-progress"></i>
		<i class="ic-emptylist"></i>
	</div>
</section>