<!-- FIX Img-preview  -->
<section class="d-grid gap-3">
    <h2 class="h1 mt-4">Img-preview</h2>
    <h4>Large</h4>
    <div class="d-flex gap-2">
        <div class="qela-previews qela-ibg qela-lg">
            <img src="img/table-img-1.jpg" alt="" />
        </div>
        <div class="qela-previews qela-ibg qela-lg current">
            <img src="img/table-img-1.jpg" alt="" />
        </div>
        <div class="qela-previews qela-ibg qela-lg disabled">
            <img src="img/table-img-1.jpg" alt="" />
        </div>
        <div class="qela-previews qela-icon qela-lg ic-text-doc"></div>
        <div class="qela-previews qela-icon qela-lg ic-text-doc current"></div>
        <div class="qela-previews qela-icon qela-lg ic-text-doc disabled"></div>
        <div class="qela-previews qela-text qela-lg">+2</div>
        <div class="qela-previews qela-text qela-lg current">+2</div>
        <div class="qela-previews qela-text qela-lg disabled">+2</div>
    </div>
    <h4>Default</h4>
    <div class="d-flex gap-2">
        <div class="qela-previews qela-ibg">
            <img src="img/table-img-1.jpg" alt="" />
        </div>
        <div class="qela-previews qela-ibg current">
            <img src="img/table-img-1.jpg" alt="" />
        </div>
        <div class="qela-previews qela-ibg disabled">
            <img src="img/table-img-1.jpg" alt="" />
        </div>
        <div class="qela-previews qela-icon ic-text-doc"></div>
        <div class="qela-previews qela-icon ic-text-doc current"></div>
        <div class="qela-previews qela-icon ic-text-doc disabled"></div>
        <div class="qela-previews qela-text">+2</div>
        <div class="qela-previews qela-text current">+2</div>
        <div class="qela-previews qela-text disabled">+2</div>
    </div>
    <h4>Small</h4>
    <div class="d-flex gap-2">
        <div class="qela-previews qela-ibg qela-sm">
            <img src="img/table-img-1.jpg" alt="" />
        </div>
        <div class="qela-previews qela-ibg qela-sm current">
            <img src="img/table-img-1.jpg" alt="" />
        </div>
        <div class="qela-previews qela-ibg qela-sm disabled">
            <img src="img/table-img-1.jpg" alt="" />
        </div>
        <div class="qela-previews qela-icon qela-sm ic-text-doc"></div>
        <div class="qela-previews qela-icon qela-sm ic-text-doc current"></div>
        <div class="qela-previews qela-icon qela-sm ic-text-doc disabled"></div>
        <div class="qela-previews qela-text qela-sm">+2</div>
        <div class="qela-previews qela-text qela-sm current">+2</div>
        <div class="qela-previews qela-text qela-sm disabled">+2</div>
    </div>
    <h4>layouts</h4>
    <div class="d-flex gap-2 flex-wrap mb-2">
        <a href="#" class="qela-previews qela-ibg">
            <img src="img/table-img-1.jpg" alt="" />
        </a>
        <a href="#" class="qela-previews qela-text">+2</a>
    </div>
    <div class="mb-2">
        <div class="d-inline-flex bg-info-100 p-1 rounded-2">
            <a href="#" class="qela-ibg qela-previews" style="--img-size: 38px">
                <img class="rounded-3" src="img/table-img-1.jpg" width="38" height="38" alt="" />
            </a>
            <a href="#" class="qela-ibg qela-previews" style="--img-size: 38px">
                <img class="rounded-3" src="img/table-img-2.jpg" width="38" height="38" alt="" />
            </a>
            <a href="#" class="qela-previews qela-empty rounded-3" style="--img-size: 38px">
                2+
            </a>
        </div>
    </div>
    <div>
        <div class="d-inline-flex w-100 bg-info-100 p-1 rounded-2">
            <a href="#" class="qela-previews qela-empty rounded-3" style="--img-size: 38px">
                2+
            </a>
        </div>
    </div>
</section>