<!-- FIX Items  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Items</h2>
	<!-- Answer-item-2 -->
	<h4 class="mt-5">Answer-item-2</h4>
	<div class="bg-body qela-pad-l py-2 pe-3">
		<div class="row g-2 align-items-md-baseline">
			<div class="col-auto d-none d-md-block" style="width: 24px">1</div>
			<div class="col-auto">
				<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
					<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button><button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
				</div>
			</div>
			<div class="col">
				<div class="row g-1 g-md-2 align-items-baseline">
					<div class="col">
						<input type="text" class="form-control" placeholder="Placeholder" />
						<div class="invalid-feedback">Error text</div>
					</div>
					<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
						<div class="btn-group" role="group" aria-label="button group">
							<button type="button" class="btn btn-outline-info ico ic-delete"></button>
						</div>
						<div class="form-check form-switch px-0 py-2 px-md-2">
							<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked />
							<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIX Talent-item -->
	<h4 class="mt-5">Talent-item</h4>
	<div class="bg-body border-bottom p-3">
		<div class="row g-2">
			<div class="col-auto">
				<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
					<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
					<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
				</div>
			</div>
			<div class="col">
				<div class="row g-2">
					<div class="col-md">
						<div>
							<v-multi-select v-model="value4" :searchable="false" open-direction="bottom" :options="options" :single="true"></v-multi-select>
						</div>
						<div class="invalid-feedback">Error text</div>
					</div>
					<div class="col-md">
						<input type="text" class="form-control" placeholder="What are some of the challenges of addressing global warming?" />
						<div class="invalid-feedback">Error text</div>
					</div>
					<div class="col-12 col-md-auto d-flex gap-2 align-items-center justify-content-end justify-content-md-center">
						<div class="btn-group" role="group" aria-label="button group">
							<button type="button" class="btn btn-outline-info ico ic-delete"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIX Question-items  -->
	<h4 class="mt-5">Question-item</h4>
	<!-- Question-item default-->
	<div>
		<!-- Question-item header-->
		<div class="bg-body p-2">
			<div class="row g-2 align-items-md-baseline">
				<div class="col-auto d-none d-md-block" style="width: 24px">1</div>
				<div class="col-auto">
					<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
						<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button><button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
					</div>
				</div>
				<div class="col">
					<div class="row g-2">
						<div class="col-md">
							<input type="text" class="form-control" placeholder="What are some of the challenges of addressing global warming?" />
							<div class="invalid-feedback">Error text</div>
						</div>
						<div class="col-12 col-md-auto d-flex gap-2 align-items-start justify-content-end">
							<div class="btn-group" role="group" aria-label="button group">
								<button type="button" class="btn btn-outline-info ico ic-edit"></button>
								<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								<button type="button" class="btn btn-outline-info ico ic-chevron collapsed" data-bs-toggle="collapse" data-bs-target="#collapseItems1" aria-expanded="false" aria-controls="collapseItems1"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Question-item collapsed body-->
		<div class="collapse" id="collapseItems1">
			<div class="card card-body rounded-0 border-0 bg-body p-0">
				<!-- Radiobutton group -->
				<div class="qela-pad-l pe-3 py-4">
					<div class="form-check form-check-inline me-5">
						<input type="radio" class="form-check-input" id="Radio5#" /><label class="form-check-label" for="Radio5#">Single-choice questions</label>
					</div>
					<div class="form-check form-check-inline">
						<input type="radio" class="form-check-input" id="Radio6#" checked /><label class="form-check-label" for="Radio6#">Multiple-choice questions</label>
					</div>
				</div>
				<!-- Labels -->
				<div class="bg-body qela-pad-l pt-2 pe-3 pb-1 d-none d-md-block">
					<div class="row gx-3">
						<div class="form-label mb-0 col">Answer options</div>
						<div class="form-label mb-0 col-auto me-2">Correct</div>
					</div>
				</div>
				<!-- Answer-item-2 -->
				<div class="bg-body qela-pad-l py-2 pe-3">
					<div class="row g-2 align-items-md-baseline">
						<div class="col-auto d-none d-md-block" style="width: 24px">1</div>
						<div class="col-auto">
							<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
								<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button><button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
							</div>
						</div>
						<div class="col">
							<div class="row g-1 g-md-2 align-items-baseline">
								<div class="col">
									<input type="text" class="form-control" placeholder="Placeholder" />
									<div class="invalid-feedback">Error text</div>
								</div>
								<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
									<div class="btn-group" role="group" aria-label="button group">
										<button type="button" class="btn btn-outline-info ico ic-delete"></button>
									</div>
									<div class="form-check form-switch px-0 px-md-2">
										<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked />
										<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Button sm -->
				<div class="bg-info-200 qela-pad-l py-2">
					<button type="button" class="btn btn-sm btn-secondary ic-plus ico-right">
						Add answer
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Question-item disabled-->
	<div>
		<!-- Question-item header-->
		<div class="bg-body p-2">
			<div class="row g-2 align-items-md-baseline">
				<div class="col-auto d-none d-md-block" style="width: 24px">1</div>
				<div class="col-auto">
					<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
						<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button>
						<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
					</div>
				</div>
				<div class="col">
					<div class="row g-2">
						<div class="col-md">
							<input type="text" class="form-control" disabled placeholder="What are some of the challenges of addressing global warming?" />
							<div class="invalid-feedback">Error text</div>
						</div>
						<div class="col-12 col-md-auto d-flex gap-2 align-items-start justify-content-end">
							<div class="btn-group" role="group" aria-label="button group">
								<button type="button" class="btn btn-outline-info ico ic-edit"></button>
								<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								<button type="button" class="btn btn-outline-info ico ic-chevron collapsed" data-bs-toggle="collapse" data-bs-target="#collapseItems2" aria-expanded="false" aria-controls="collapseItems2"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Question-item collapsed body-->
		<div class="collapse" id="collapseItems2">
			<div class="card card-body rounded-0 border-0 bg-body p-0">
				<!-- Radiobutton group -->
				<div class="qela-pad-l pe-3 py-4">
					<div class="form-check form-check-inline me-5">
						<input type="radio" class="form-check-input" id="Radio5#" /><label class="form-check-label" for="Radio5#">Single-choice questions</label>
					</div>
					<div class="form-check form-check-inline">
						<input type="radio" class="form-check-input" id="Radio6#" checked /><label class="form-check-label" for="Radio6#">Multiple-choice questions</label>
					</div>
				</div>
				<!-- Labels -->
				<div class="bg-body qela-pad-l pt-2 pe-3 pb-1 d-none d-md-block">
					<div class="row gx-3">
						<div class="form-label mb-0 col">Answer options</div>
						<div class="form-label mb-0 col-auto me-2">Correct</div>
					</div>
				</div>
				<!-- Answer-item-2 -->
				<div class="bg-body qela-pad-l py-2 pe-3">
					<div class="row g-2 align-items-md-baseline">
						<div class="col-auto d-none d-md-block" style="width: 24px">1</div>
						<div class="col-auto">
							<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
								<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button><button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
							</div>
						</div>
						<div class="col">
							<div class="row g-1 g-md-2 align-items-baseline">
								<div class="col">
									<input type="text" class="form-control" placeholder="Placeholder" />
									<div class="invalid-feedback">Error text</div>
								</div>
								<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
									<div class="btn-group" role="group" aria-label="button group">
										<button type="button" class="btn btn-outline-info ico ic-delete"></button>
									</div>
									<div class="form-check form-switch px-0 px-md-2">
										<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked />
										<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Button sm -->
				<div class="bg-info-200 qela-pad-l py-2">
					<button type="button" class="btn btn-sm btn-secondary ic-plus ico-right">
						Add answer
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Question-item error-->
	<div>
		<!-- Question-item header-->
		<div class="bg-body p-2">
			<div class="row g-2 align-items-md-baseline">
				<div class="col-auto d-none d-md-block" style="width: 24px">1</div>
				<div class="col-auto">
					<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
						<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button><button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
					</div>
				</div>
				<div class="col">
					<div class="row g-2">
						<div class="col-md">
							<input type="text" class="form-control is-invalid" placeholder="What are some of the challenges of addressing global warming?" />
							<div class="invalid-feedback">Error text</div>
						</div>
						<div class="col-12 col-md-auto d-flex gap-2 align-items-start justify-content-end">
							<div class="btn-group" role="group" aria-label="button group">
								<button type="button" class="btn btn-outline-info ico ic-edit"></button>
								<button type="button" class="btn btn-outline-info ico ic-delete"></button>
								<button type="button" class="btn btn-outline-info ico ic-chevron collapsed" data-bs-toggle="collapse" data-bs-target="#collapseItems3" aria-expanded="false" aria-controls="collapseItems3"></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Question-item collapsed body-->
		<div class="collapse" id="collapseItems3">
			<div class="card card-body rounded-0 border-0 bg-body p-0">
				<!-- Radiobutton group -->
				<div class="qela-pad-l pe-3 py-4">
					<div class="form-check form-check-inline me-5">
						<input type="radio" class="form-check-input" id="Radio5#" /><label class="form-check-label" for="Radio5#">Single-choice questions</label>
					</div>
					<div class="form-check form-check-inline">
						<input type="radio" class="form-check-input" id="Radio6#" checked /><label class="form-check-label" for="Radio6#">Multiple-choice questions</label>
					</div>
				</div>
				<!-- Labels -->
				<div class="bg-body qela-pad-l pt-2 pe-3 pb-1 d-none d-md-block">
					<div class="row gx-3">
						<div class="form-label mb-0 col">Answer options</div>
						<div class="form-label mb-0 col-auto me-2">Correct</div>
					</div>
				</div>
				<!-- Answer-item-2 -->
				<div class="bg-body qela-pad-l py-2 pe-3">
					<div class="row g-2 align-items-md-baseline">
						<div class="col-auto d-none d-md-block" style="width: 24px">1</div>
						<div class="col-auto">
							<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
								<button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-small"></button><button type="button" class="btn btn-outline-info py-1 py-md-0 ico ic-triangle-inverted-small"></button>
							</div>
						</div>
						<div class="col">
							<div class="row g-1 g-md-2 align-items-baseline">
								<div class="col">
									<input type="text" class="form-control" placeholder="Placeholder" />
									<div class="invalid-feedback">Error text</div>
								</div>
								<div class="col-12 col-md-auto d-flex gap-3 gap-md-2 align-items-center justify-content-end justify-content-md-center">
									<div class="btn-group" role="group" aria-label="button group">
										<button type="button" class="btn btn-outline-info ico ic-delete"></button>
									</div>
									<div class="form-check form-switch px-0 px-md-2">
										<input class="form-check-input" type="checkbox" role="switch" id="SwitchCheck17" checked />
										<label class="form-check-label d-block d-md-none" for="SwitchCheck17">Correct</label>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Button sm -->
				<div class="bg-info-200 qela-pad-l py-2">
					<button type="button" class="btn btn-sm btn-secondary ic-plus ico-right">
						Add answer
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- FIX Map item checkpoint  -->
	<h4 class="mt-5">Map item checkpoint*</h4>
	<!-- Map item checkpoint -->
	<div class="qela-map-items">
		<div class="row g-0">
			<div class="col-auto">
				<span class="form-label">Order</span>
			</div>
			<div class="col">
				<div class="row g-2">
					<div class="col-lg-6">
						<div class="qela-form-labels">
							<div>
								<span class="form-label"> Official Address of checkpoint</span>
								<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet"></button>
							</div>
						</div>
					</div>
					<div class="col-lg">
						<div class="qela-form-labels">
							<div>
								<span class="form-label"> Radius</span>
								<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet"></button>
							</div>
						</div>
					</div>
					<div class="col-12 col-lg-auto">
						<span class="form-label">Actions</span>
					</div>
				</div>
			</div>
		</div>
		<div class="row g-0">
			<div class="col-auto text-center">
				<div style="width: 42px">1</div>
			</div>
			<div class="col">
				<div class="row g-2">
					<div class="col-lg-6">
						<input type="text" class="form-control" placeholder="Placeholder" />
						<div class="invalid-feedback">Error text</div>
					</div>
					<div class="col-lg">
						<div>
							<v-multi-select v-model="value4" :searchable="false" open-direction="bottom" :options="options" :single="true"></v-multi-select>
						</div>
						<div class="invalid-feedback">Error text</div>
					</div>
					<div class="col-12 col-lg-auto">
						<div class="btns-inline" role="group" aria-label="button group">
							<button type="button" class="btn btn-outline-info ic-mark ico-right">
								Edit coordinates
							</button>
							<button type="button" class="btn btn-outline-info ico ic-delete"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row g-0">
			<div class="col-auto text-center">
				<div style="width: 42px">2</div>
			</div>
			<div class="col">
				<div class="row g-2">
					<div class="col-lg-6">
						<input type="text" class="form-control" placeholder="Placeholder" />
						<div class="invalid-feedback">Error text</div>
					</div>
					<div class="col-lg">
						<div>
							<v-multi-select v-model="value4" :searchable="false" open-direction="bottom" :options="options" :single="true"></v-multi-select>
						</div>
						<div class="invalid-feedback">Error text</div>
					</div>
					<div class="col-12 col-lg-auto">
						<div class="btns-inline" role="group" aria-label="button group">
							<button type="button" class="btn btn-outline-info ic-mark ico-right">
								Edit coordinates
							</button>
							<button type="button" class="btn btn-outline-info ico ic-delete"></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- FIX Organization items  -->
	<h4 class="mt-5">Organization items*</h4>
	<!-- =============== -->
	<div class="qela-organization row g-md-2">
		<div class="col-auto">
			<div class="row g-0 align-items-center">
				<div class="col-auto">
					<div class="qela-avatar qela-ibg" style="--img-size: 100px">
						<img src="img/avatar-100.svg" width="100" height="100" alt="avatar" />
					</div>
				</div>
				<div class="col-auto col-btns">
					<button type="button" class="btn btn-sm btn-outline-secondary ic-refresh ico-left mb-2">
						Change logo
					</button>
					<button type="button" class="btn btn-sm btn-outline-danger ic-delete ico-left">
						Delete
					</button>
				</div>
			</div>
		</div>
		<div class="col-auto">
			<div class="row align-items-center g-2">
				<div class="col-auto text-info-600">Organization key:</div>
				<div class="col-auto">345</div>
			</div>
			<div class="row align-items-center g-2">
				<div class="col-auto text-info-600">Organization user site link:</div>
				<div class="col-auto">
					<button type="button" class="btn btn-outline-info ic-file-copy ico-right word-break">
						www.qela-app
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- === -->
	<div class="qela-organization row g-md-2">
		<div class="col-auto">
			<div class="row g-0 align-items-center">
				<div class="col-auto">
					<div class="qela-avatar qela-ibg" style="--img-size: 100px">
						<img src="img/type-logo.svg" width="100" height="100" alt="#" />
					</div>
				</div>
				<div class="col-auto col-btns">
					<button type="button" class="btn btn-sm btn-outline-secondary ic-refresh ico-left mb-2">
						Change logo
					</button>
					<button type="button" class="btn btn-sm btn-outline-danger ic-delete ico-left">
						Delete
					</button>
				</div>
			</div>
		</div>
		<div class="col-auto">
			<div class="row align-items-center g-2">
				<div class="col-auto text-info-600">Organization user site link:</div>
				<div class="col-auto">
					<button type="button" class="btn btn-outline-info ic-file-copy ico-right word-break">
						www.qela-app
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- =============== -->
	<div class="qela-organization row g-md-2">
		<div class="col-auto">
			<div class="row g-0 align-items-center">
				<div class="col-auto">
					<div class="qela-avatar white" style="--img-size: 100px">
						<span class="ic-img-plus text-info-500"></span>
					</div>
				</div>
				<div class="col-auto">
					<div class="qela-file small">
						<div>
							<input id="inputFile" type="file" class="form-control" />
							<label for="inputFile" class="form-label">
								<span class="ic-upload ico-md"></span>
								<small>Upload logo</small>
							</label>
						</div>
						<div class="helper-text">
							Allowed JPG, GIF or PNG. Max size of 800K
						</div>
						<div class="invalid-feedback">Error text</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- =============== -->
	<div class="qela-organization row g-md-2">
		<div class="col-auto">
			<div class="row g-0 gy-2 align-items-center">
				<div class="col-auto">
					<div class="qela-avatar qela-ibg" style="--img-size: 100px">
						<img src="img/avatar.jpg" width="100" height="100" alt="#" />
					</div>
				</div>
				<div class="col-auto">
					<!-- <div class="form-label">Supervisor Photo (optional)</div> -->
					<div class="col-btns">
						<button type="button" class="btn btn-sm btn-outline-secondary ic-refresh ico-left">
							Change logo
						</button>
						<button type="button" class="btn btn-sm btn-outline-danger ic-delete ico-left">
							Delete
						</button>
					</div>
				</div>
				<div class="col-12"> <small class="py-3 w-100 text-info-800">Formats: png, jpg, gif. Max size: 800 KB</small>
				</div>
			</div>
		</div>
	</div>
	<!-- =============== -->
	<div class="qela-organization row g-md-2">
		<div class="col-auto">
			<div class="row g-0 align-items-center">
				<div class="col-auto">
					<div class="qela-avatar bg-secondary" style="--img-size: 100px">
						<span class="text-white">J</span>
					</div>
				</div>
				<div class="col-auto">
					<div class="form-label">Supervisor Photo (optional)</div>
					<div class="col-btns">
						<div class="qela-file small">
							<div>
								<input id="inputFile" type="file" class="form-control" />
								<label for="inputFile" class="form-label">
									<span class="ic-upload ico-md"></span>
									<small>Upload logo</small>
								</label>
							</div>
							<div class="helper-text">
								Allowed JPG, GIF or PNG. Max size of 800K
							</div>
							<div class="invalid-feedback">Error text</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- ========================= -->
	<div class="qela-organization border-0 py-0">
		<div class="qela-file add-img row gx-3 align-items-center">
			<div class="col-auto position-relative">
				<input id="addImage" accept="image/*" type="file" class="form-control" />
				<label for="addImage">
					<div class="qela-avatar white qela-ibg" style="--img-size: 100px">
						<span class="ic-img-plus text-info-500"></span>
					</div>
				</label>
			</div>
			<div class="col-auto">
				<div class="form-label">Логотип організації</div>
				<div class="helper-text">
					Допустимі типи файлів JPG, GIF or PNG. Максимальний розмір 800K
				</div>
				<div class="invalid-feedback">Error text</div>
			</div>
		</div>
		<div class="row gx-3 align-items-center d-none">
			<div class="col-auto">
				<div class="qela-avatar qela-ibg me-0" style="--img-size: 100px">
					<img src="img/avatar.jpg" width="100" height="100" alt="#" />
				</div>
			</div>
			<div class="col-auto">
				<div class="form-label">Логотип організації</div>
				<div>
					<button type="button" class="btn btn-sm btn-outline-info ic-refresh ico-left me-2">
						Change logo
					</button>
					<button type="button" class="btn btn-sm btn-outline-info ic-delete ico-left">
						Delete
					</button>
				</div>
				<div class="invalid-feedback">Error text</div>
			</div>
		</div>
	</div>
	<!--===============-->
	<!-- soc item Other social media #1 -->
	<h4 class="mt-5">Soc item*</h4>
	<div class="pb-4">
		<div class="row g-4">
			<div class="col-xl-4">
				<div class="row g-2 align-items-baseline">
					<div class="col-auto">
						<img src="img/icons/link-circle.svg" width="38" height="38" alt="#" />
					</div>
					<div class="col">Other social media #1</div>
				</div>
			</div>
			<div class="col-xl-8">
				<div class="input-group has-validation">
					<button class="btn btn-input ic-link" type="button"></button>
					<input type="text" class="form-control" placeholder="Other social media #1" aria-label="Password" />
					<button class="btn btn-input ic-delete" type="button"></button>
					<div class="invalid-feedback">Error text</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Vote-items -->
	<h4 class="mt-5">Vote-items</h4>
	<div class="qela-votes">
		<div class="qela-vote">
			<div class="h2">1 vote weigh</div>
			<div class="h6">of your organization</div>
		</div>
		<div class="h1">=</div>
		<div class="qela-vote">
			<div class="h1">5 USD</div>
		</div>
		<div class="">
			* this parameter could be set by superadmin in Organization directory
		</div>
	</div>
</section>