<!-- FIX Labels  -->
<section class="d-grid gap-3">
  <h2 class="h1 mt-4">Labels</h2>
  <div class="bg-body py-1 qela-pad-l qela-pad-r d-none d-md-block">
    <div class="row gx-3">
      <div class="form-label col-6 mb-0">Talent Type</div>
      <div class="form-label col-6 mb-0">Talent Type</div>
    </div>
  </div>
  <!-- ==== -->
  <div
    class="bg-body qela-pad-l pt-2 pe-3 pb-1 border-bottom d-none d-md-block"
  >
    <div class="row gx-3">
      <div class="form-label col mb-0">Answer options</div>
      <div class="form-label col-auto mb-0 me-2">Correct</div>
    </div>
  </div>
  <!-- ==== -->
  <div
    class="bg-body py-1 qela-pad-l qela-pad-r d-none d-lg-block border-bottom"
  >
    <div class="row gx-3">
      <div class="form-label mb-0 col">Address</div>
      <div class="form-label mb-0 col">Coordinates</div>
      <div class="form-label mb-0 col">Radius</div>
    </div>
  </div>
</section>
