<!-- FIX Lists  -->
<section class="d-grid gap-3">
    <h2 class="h1 mt-4">Lists</h2>
    <!-- FIX Lists whith button -->
    <ul class="list-group list-group-flush qela-flush pb-3">
        <li class="list-group-item">
            <span class="flex-grow-1">Organization user site link:</span>
            <button type="button" class="btn btn-info ic-file-copy ico-right">
                <span class="qela-clamp qela-clamp-btn text-start"> www.qela-appwww.qela-appwww.qela-appwww.qela-appwww.qela-app </span>
            </button>
        </li>
    </ul>
    <!-- FIX Lists whith text -->
    <ul class="list-group list-group-flush qela-flush">
        <li class="list-group-item">
            <span>Address:</span>
            <span>Mykhaila Hrushevskoho St, Kyiv, 01008</span>
        </li>
        <li class="list-group-item">
            <span>Phone Number:</span>
            <span>+38 067 000 00 00</span>
        </li>
        <li class="list-group-item">
            <span>Phone Number:</span>
            <span>+38 067 000 00 00</span>
        </li>
        <li class="list-group-item">
            <span>Email:</span>
            <span>alex.kukhtin@gmail.com</span>
        </li>
        <li class="list-group-item">
            <span>Organization website link</span>
            <a href="#">www.unityforplanet.com</a>
        </li>
    </ul>
    <!-- FIX List item card -->
    <h4 class="mt-4">List item card</h4>
    <ul class="list-group qela-list">
        <li class="list-group-item">
            <a href="#">
                <div class="qela-ibg qela-previews img" style="--img-size: 42px">
                    <img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt="" />
                </div>
                <p class="qela-clamp">Share invite to the Climate Unity March! Share invite to the Climate Unity March!</p>
                <span class="badge bg-secondary message">Just Added</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                <div class="qela-ibg qela-previews img" style="--img-size: 42px">
                    <img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt="" />
                </div>
                <p class="qela-clamp">Share invite to the Climate Unity March! Share invite to the Climate Unity March!</p>
                <span class="badge bg-secondary message">Just Added</span>
            </a>
        </li>
    </ul>
    <ul class="list-group qela-list no-outline no-rounded">
        <li class="list-group-item">
            <a href="#">
                <div class="qela-ibg qela-previews img" style="--img-size: 42px">
                    <img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt="" />
                </div>
                <p class="qela-clamp">Share invite to the Climate Unity March!</p>
                <span class="badge bg-secondary message">Just Added</span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="#">
                <div class="qela-ibg qela-previews img" style="--img-size: 42px">
                    <img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt="" />
                </div>
                <p class="qela-clamp">Share invite to the Climate Unity March!</p>
                <span class="badge bg-secondary message">Just Added</span>
            </a>
        </li>
    </ul>
    <ul class="list-group qela-list primary">
        <li class="list-group-item">
            <a href="#">
                <div class="qela-ibg qela-previews img" style="--img-size: 42px">
                    <img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt="" />
                </div>
                <p class="qela-clamp">Share invite to the Climate Unity March!</p>
            </a>
        </li>
    </ul>
    <ul class="list-group qela-list no-outline info">
        <li class="list-group-item">
            <a href="#">
                <div class="qela-ibg qela-previews img" style="--img-size: 42px">
                    <img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt="" />
                </div>
                <p class="qela-clamp">Share invite to the Climate Unity March!</p>
            </a>
        </li>
    </ul>
    <!-- FIX Chain-item + list-->
    <h4 class="mt-4">Chain-item + list</h4>
    <div class="qela-chain">
        <div class="qela-actions">
            <h2>Climate Unity March</h2>
            <button type="button" class="btn btn-sm btn-info ico ic-edit"></button>
        </div>
        <hr />
        <div class="qela-actions bg-info-100">
            <p>Quests in Chain</p>
        </div>
        <ul class="list-group qela-list no-outline no-rounded">
            <li class="list-group-item">
                <a href="#">
                    <div class="qela-ibg qela-previews img" style="--img-size: 42px">
                        <img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt="" />
                    </div>
                    <p class="qela-clamp">Share invite to the Climate Unity March!</p>
                </a>
            </li>
            <li class="list-group-item">
                <a href="#">
                    <div class="qela-ibg qela-previews img" style="--img-size: 42px">
                        <img class="rounded" src="img/table-img-1.jpg" width="42" height="42" alt="" />
                    </div>
                    <p class="qela-clamp">Share invite to the Climate Unity March!</p>
                </a>
            </li>
        </ul>
    </div>
    <!-- FIX Extended list + button + radiobutton-->
    <h4 class="mt-4">Extended list + button + radiobutton</h4>
    <ul class="list-group qela-extended">
        <li class="list-group-item">
            <div class="form-check">
                <input type="radio" name="ExtendedList" class="form-check-input" id="ExtendedList1" checked />
                <label class="form-check-label" for="ExtendedList1">
                    <div class="d-flex flex-column gap-2 mb-2">
                        <span class="helper-text">За номером телефону.</span>
                        <span class="helper-text">За номером телефону.</span>
                    </div>
                </label>
                <div class="qela-collapse">
                    <div>
                        <div class="qela-form-labels mt-2">
                            <div>
                                <label for="textarea1" class="form-label required">Label</label>
                            </div>
                            <label class="form-label">0/<span>2500</span> </label>
                        </div>
                        <textarea class="form-control" placeholder="Placeholder" id="textarea1" rows="3"></textarea>
                        <div class="invalid-feedback">Error text</div>
                        <div class="helper-text">Helper text</div>
                    </div>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="form-check">
                <input type="radio" name="ExtendedList" class="form-check-input" id="ExtendedList2" />
                <label class="form-check-label" for="ExtendedList2">
                    <span class="helper-text">За номером телефону.</span>
                    <span class="helper-text">За номером телефону.</span>
                </label>
            </div>
        </li>
    </ul>
    <!-- FIX List-items group-->
    <h4 class="mt-4">List-items group</h4>
    <ul class="list-group qela-list-wrap">
        <li class="list-group-item qela-list-item">
            <div class="d-flex gap-2 flex-grow-1">
                <div class="qela-icon">
                    <span class="ic-maps-global"></span>
                </div>
                <div class="d-grid gap-3 flex-grow-1">
                    <div class="d-grid gap-2">
                        <span class="h6">Створіть свою першу кампанію. </span>
                        <small class="text-info-600">Сплануйте перші кроки в кампанії, далі додайте назву, опис та обкладинку</small>
                    </div>
                    <div class="d-flex align-items-center gap-3 flex-wrap flex-md-nowrap">
                        <a href="#" class="text-decoration-none"><small>Детально про кампанії тут</small></a>
                        <button class="btn btn-info btm-sm ico-right ic-player-play" type="button">Відео про кампанії</button>
                        <button class="btn btn-info btm-sm ico-right ic-player-play" type="button">Відео про кампанії</button>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 flex-lg-grow-0 flex-grow-1">
                <button class="btn btn-secondary btm-sm ico-right ic-chevron-right" type="button">Створити кампанію</button>
                <button class="btn btn-info btm-sm" type="button">Пропустити</button>
            </div>
        </li>
        <li class="list-group-item qela-list-item success">
            <div class="d-flex gap-2 flex-grow-1">
                <div class="qela-icon">
                    <span class="ic-success-2"></span>
                </div>
                <div class="d-grid gap-3 flex-grow-1">
                    <div class="d-grid gap-2">
                        <span class="h6">Створіть свою першу кампанію. </span>
                        <small class="text-info-600">Сплануйте перші кроки в кампанії, далі додайте назву, опис та обкладинку</small>
                    </div>
                    <div class="d-flex align-items-center gap-3 flex-wrap flex-md-nowrap">
                        <a href="#" class="text-decoration-none"><small>Детально про кампанії тут</small></a>
                        <button class="btn btn-info btm-sm ico-right ic-player-play" type="button">Відео про кампанії</button>
                        <button class="btn btn-info btm-sm ico-right ic-player-play" type="button">Відео про кампанії</button>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 flex-lg-grow-0 flex-grow-1">
                <button class="btn btn-secondary btm-sm ico-right ic-chevron-right" type="button">Створити кампанію</button>
                <button class="btn btn-info btm-sm" type="button">Пропустити</button>
            </div>
        </li>
    </ul>
    <!-- FIX List-item-->
    <h4 class="mt-4">List-item</h4>
    <li class="list-group-item qela-list-item">
        <div class="d-flex gap-2 flex-grow-1">
            <div class="qela-icon">
                <span class="ic-maps-global"></span>
            </div>
            <div class="d-grid gap-3 flex-grow-1">
                <div class="d-grid gap-2">
                    <span class="h6">Створіть свою першу кампанію. </span>
                    <small class="text-info-600">Сплануйте перші кроки в кампанії, далі додайте назву, опис та обкладинку</small>
                </div>
                <div class="d-flex align-items-center gap-3 flex-wrap flex-md-nowrap">
                    <a href="#" class="text-decoration-none"><small>Детально про кампанії тут</small></a>
                    <button class="btn btn-info btm-sm ico-right ic-player-play" type="button">Відео про кампанії</button>
                    <button class="btn btn-info btm-sm ico-right ic-player-play" type="button">Відео про кампанії</button>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 flex-lg-grow-0 flex-grow-1">
            <button class="btn btn-secondary btm-sm ico-right ic-chevron-right" type="button">Створити кампанію</button>
            <button class="btn btn-info btm-sm" type="button">Пропустити</button>
        </div>
    </li>
    <li class="list-group-item qela-list-item">
        <div class="d-flex gap-2 flex-grow-1">
            <div class="qela-icon">
                <span class="ic-maps-global"></span>
            </div>
            <div class="d-grid gap-3 flex-grow-1">
                <div class="d-grid gap-2">
                    <span class="h6">Створіть свою першу кампанію. </span>
                    <small class="text-info-600">Сплануйте перші кроки в кампанії, далі додайте назву, опис та обкладинку</small>
                </div>
                <div class="d-flex align-items-center gap-3 flex-wrap flex-md-nowrap">
                    <a href="#" class="text-decoration-none"><small>Детально про кампанії тут</small></a>
                    <button class="btn btn-info btm-sm ico-right ic-player-play" type="button">Відео про кампанії</button>
                    <button class="btn btn-info btm-sm ico-right ic-player-play" type="button">Відео про кампанії</button>
                </div>
                <div class="ratio-16x9 ratio">
                    <iframe src="https://www.youtube.com/embed/e-5luAo20ss?controls=0" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 flex-lg-grow-0 flex-grow-1">
            <button class="btn btn-secondary btm-sm ico-right ic-chevron-right" type="button">Створити кампанію</button>
            <button class="btn btn-info btm-sm" type="button">Пропустити</button>
        </div>
    </li>
    <!-- List discussions-->
    <h4 class="mt-4">List discussions</h4>
    <ul class="list-group list-group-flush qela-list-menu">
        <li class="list-group-item">
            <button type="button" class="current">
                <div class="qela-avatar qela-ibg"><img src="img/type-logo.svg" alt="#"></div>
                <div class="qela-clamp">Branch name</div>
                <span class="qela-list-num bg-info-400">5</span>
            </button>
        </li>
        <li class="list-group-item">
            <button type="button">
                <div class="qela-avatar qela-ibg"><img src="img/type-logo.svg" alt="#"></div>
                <div class="qela-clamp">Branch name</div>
                <span class="qela-list-num bg-info-400">5</span>
            </button>
        </li>
        <li class="list-group-item">
            <button type="button">
                <div class="qela-avatar info-400 qela-ibg"><i class="text-info-600 ic-diamond"></i></div>
                <div class="qela-clamp">Quests</div>
                <div class="d-flex align-items-center gap-2px">
                    <span class="qela-list-num bg-info-400">40</span>
                    <span class="text-danger-600">(4)</span>
                    <i class="ic-report text-danger-600"></i>
                </div>
            </button>
        </li>
    </ul>
    <!-- List discussions small-->
    <h4 class="mt-4">List discussions small</h4>
    <ul class="list-group list-group-flush qela-list-menu sm">
        <li class="list-group-item">
            <button type="button" class="current">
                <div class="qela-avatar qela-ibg"><img src="img/type-logo.svg" alt="#"></div>
                <div class="qela-clamp">Branch name</div>
                <span class=" qela-list-num bg-info-400">5</span>
            </button>
        </li>
        <li class="list-group-item">
            <button type="button">
                <div class="qela-avatar qela-ibg"><img src="img/type-logo.svg" alt="#"></div>
                <div class="qela-clamp">Quest name 4 with very long name Quest name 4 with very long name</div>
                <span class="qela-list-num bg-info-400">5</span>
            </button>
        </li>
        <li class="list-group-item">
            <button type="button">
                <div class="qela-avatar qela-ibg"><img src="img/type-logo.svg" alt="#"></div>
                <div class="qela-clamp">Quests name 4 with very long name Quest name 4name 4 with very long name Quest name 4</div>
                <div class="d-flex align-items-center gap-2px">
                    <span class="qela-list-num bg-info-400">40</span>
                    <span class="text-danger-600">(4)</span>
                    <i class="ic-report text-danger-600"></i>
                </div>
            </button>
        </li>
    </ul>
</section>