<!-- Popover -->
<section class="d-grid gap-3" style="margin-bottom: 180px;">
    <h2 class="h1 mt-4">Popover</h2>
    <!-- Popover -->
    <h4 class="mt-4">Popover custom-top</h4>
    <div>
        <!-- qela-popover-overlay класс для затемнения екрана, добавить к qela-popover -->
        <div class="qela-popover">
            <a tabindex="0" class="btn btn-secondary" role="button">Custom popover</a>
            <!-- класс show показивает поповер -->
            <div class="popover bs-popover-bottom fade show" role="tooltip">
                <div class="popover-arrow"></div>
                <button type="button" class="btn-close ic-cloze" aria-label="Close"></button>
                <h3 class="popover-header">Ви ще не створили жодного ланцюжка.</h3>
                <div class="popover-body">
                    <div>
                        AЩоб додати квести до ланцюжка спочатку свторіть сутність ланцюжка в розділі Квести > Ланцюжки
                    </div>
                    <div class="d-sm-flex d-grid gap-2 pt-2 ">
                        <button type="button" class="btn btn-sm btn-info m-0">Перейти до ланцюжків</button>
                        <button type="button" class="btn btn-sm btn-secondary m-0">Відкрити посібник</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>