<!-- FIX Subscription  -->
<section class="d-grid gap-3">
  <h2 class="h1 mt-4">Subscription</h2>
  <!-- FIX Subscription whith numbers -->
  <h4 class="mt-4">Subscription whith numbers</h4>
  <div class="card qela-subscription">
    <div class="card-header px-3">
      <h3 class="h6">101 - 1 000</h3>
      <div><small>users</small></div>
    </div>
    <div class="card-body flex-grow-1">
      <div class="qela-price">
        <span class="fw-normal">$</span><span>350</span>
      </div>
      <div class="text-info-600"><small>month</small></div>
    </div>
    <div class="card-footer">
      <span class="ic-checkmark-starburst-filled d-inline-flex"></span>
      <div class="text-secondary"><small>Current plan</small></div>
    </div>
  </div>
  <!-- ============== -->
  <div class="card qela-subscription">
    <div class="card-header px-3">
      <h3 class="h6">101 - 1 000</h3>
      <div><small>users</small></div>
    </div>
    <div class="card-body flex-grow-1">
      <div class="qela-price">
        <span class="fw-normal">$</span><span>350</span>
      </div>
      <div class="text-info-600"><small>month</small></div>
    </div>
  </div>
  <!-- ============== -->
  <div class="card qela-subscription">
    <div class="card-header px-3">
      <h3 class="h6">101 - 1 000</h3>
      <div><small>users</small></div>
    </div>
    <div class="card-body flex-grow-1">
      <div class="qela-price">
        <span class="fw-normal">$</span><span>350</span>
      </div>
      <div class="text-info-600"><small>month</small></div>
    </div>
    <div class="card-footer">
      <div class="btn btn-secondary btn-sm">Request</div>
    </div>
  </div>
  <!-- FIX Subscription whith text -->
  <h4 class="mt-4">Subscription whith text</h4>
  <div class="card qela-subscription">
    <div class="card-header px-3">
      <h3 class="h6">101 - 1 000</h3>
      <div><small>users</small></div>
    </div>
    <div class="card-body flex-grow-1">
      <small class="text-secondary fw-bolder">let’s talk</small>
    </div>
    <div class="card-footer">
      <span class="ic-checkmark-starburst-filled d-inline-flex"></span>
      <div class="text-secondary"><small>Current plan</small></div>
    </div>
  </div>
  <!-- ============== -->
  <div class="card qela-subscription">
    <div class="card-header px-3">
      <h3 class="h6">101 - 1 000</h3>
      <div><small>users</small></div>
    </div>
    <div class="card-body flex-grow-1">
      <small class="text-secondary fw-bolder">let’s talk</small>
    </div>
  </div>
  <!-- ============== -->
  <div class="card qela-subscription">
    <div class="card-header px-3">
      <h3 class="h6">101 - 1 000</h3>
      <div><small>users</small></div>
    </div>
    <div class="card-body flex-grow-1">
      <small class="text-secondary fw-bolder">let’s talk</small>
    </div>
    <div class="card-footer">
      <div class="btn btn-secondary btn-sm">Request</div>
    </div>
  </div>
  <!-- FIX Subscription whith text (green)-->
  <h4 class="mt-4">Subscription whith text (green)</h4>
  <div class="card qela-subscription">
    <div class="card-header px-3">
      <h3 class="h6">101 - 1 000</h3>
      <div><small>users</small></div>
    </div>
    <div class="card-body flex-grow-1">
      <small class="text-success-600 fw-bolder">free</small>
    </div>
    <div class="card-footer">
      <span class="ic-checkmark-starburst-filled d-inline-flex"></span>
      <div class="text-secondary"><small>Current plan</small></div>
    </div>
  </div>
  <!-- ============== -->
  <div class="card qela-subscription">
    <div class="card-header px-3">
      <h3 class="h6">101 - 1 000</h3>
      <div><small>users</small></div>
    </div>
    <div class="card-body flex-grow-1">
      <div class="qela-price text-success-600">
        <span class="fw-normal">$</span><span>0</span>
      </div>
      <div class="text-info-600"><small>month</small></div>
    </div>
    <div class="card-footer">
      <span class="ic-checkmark-starburst-filled d-inline-flex"></span>
      <div class="text-secondary"><small>Current plan</small></div>
    </div>
  </div>
</section>
