<!-- FIX Tables  -->
<section class="d-grid gap-3">
    <h2 class="h1 mt-4">Tables</h2>
    <!-- FIX Tables custom grid v-1-->
    <h4>Tables custom grid v-1</h4>
    <div class="table-responsive qela-table-responsive">
        <div class="qela-table-grid">
            <!-- Header -->
            <div class="qela-table-row qela-table-head">
                <div class="td-1"></div>
                <div class="td-2">Назва</div>
                <div class="td-3">Для осередків</div>
                <div class="td-4">Вибрані осередки</div>
            </div>
            <!-- Items ==================================================-->
            <div class="qela-table-row">
                <div class="qela-table-line">
                    <hr>
                    <span class="ic-link-2"></span>
                </div>
                <div class="td-1">
                    <a href="#" class="qela-previews qela-ibg qela-sm">
                        <img src="img/table-img-1.jpg" alt="">
                    </a>
                </div>
                <div class="td-2">
                    <a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate Unity March Share invite to
                        the Climate Unity March!</a>
                </div>
                <div class=" fs-6 td-3">
                    <div class="form-check form-check-inline form-switch form-switch-sm my-0 mx-auto">
                        <input class="form-check-input m-0" type="checkbox" role="switch">
                    </div>
                </div>
                <div class="position-relative td-4">
                    <v-multi-select v-model="value1" :searchable="true" open-direction="bottom" :options="options" :multiple="true" :close-on-select="true"></v-multi-select>
                </div>
                <button type="button" class="btn btn-close small ic-chevron collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTable-1" aria-expanded="false" aria-controls="collapseTable-1"></button>
            </div>
            <div class="collapse qela-table-collapse" id="collapseTable-1">
                <div class="qela-table-row subrow">
                    <div class="qela-table-line">
                        <hr>
                        <span class="ic-diamond"></span>
                    </div>
                    <div class="td-1">
                        <a href="#" class="qela-previews qela-ibg qela-sm">
                            <img src="img/table-img-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="td-2">
                        <a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate Unity March Share invite
                            to the Climate Unity March!</a>
                    </div>
                    <div class="fs-6 td-3">
                        <div class="form-check form-check-inline form-switch form-switch-sm my-0 mx-auto">
                            <input class="form-check-input m-0" type="checkbox" role="switch" checked>
                        </div>
                    </div>
                    <div class="position-relative td-4">
                        <v-multi-select v-model="value2" :searchable="true" open-direction="bottom" :options="options" :multiple="true" :close-on-select="true"></v-multi-select>
                    </div>
                </div>
                <div class="qela-table-row subrow">
                    <div class="qela-table-line">
                        <hr>
                        <span class="ic-diamond"></span>
                    </div>
                    <div class="td-1">
                        <a href="#" class="qela-previews qela-ibg qela-sm"><img src="img/table-img-1.jpg" alt=""></a>
                    </div>
                    <div class="td-2">
                        <a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate Unity March Share invite
                            to the Climate Unity March!</a>
                    </div>
                    <div class=" fs-6 td-3">
                        <div class="form-check form-check-inline form-switch form-switch-sm my-0 mx-auto">
                            <input class="form-check-input m-0" type="checkbox" role="switch">
                        </div>
                    </div>
                    <div class="position-relative td-4">
                        <v-multi-select v-model="value3" :searchable="true" open-direction="bottom" :options="options" :multiple="true" :close-on-select="true"></v-multi-select>
                    </div>
                </div>
                <div class="qela-table-row subrow">
                    <div class="qela-table-line">
                        <hr>
                        <span class="ic-diamond"></span>
                    </div>
                    <div class="td-1">
                        <a href="#" class="qela-previews qela-ibg qela-sm"><img src="img/table-img-1.jpg" alt=""></a>
                    </div>
                    <div class="td-2">
                        <a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate Unity March Share invite
                            to the Climate Unity March!</a>
                    </div>
                    <div class=" fs-6 td-3">
                        <div class="form-check form-check-inline form-switch form-switch-sm my-0 mx-auto">
                            <input class="form-check-input m-0" type="checkbox" role="switch">
                        </div>
                    </div>
                    <div class="position-relative td-4">
                        <v-multi-select v-model="value4" :searchable="true" open-direction="bottom" :options="options" :multiple="true" :close-on-select="true"></v-multi-select>
                    </div>
                </div>
            </div>
            <!-- Items ==================================================-->
            <div class="qela-table-row">
                <div class="qela-table-line">
                    <hr>
                    <span class="ic-link-2"></span>
                </div>
                <div class="td-1">
                    <a href="#" class="qela-previews qela-ibg qela-sm">
                        <img src="img/table-img-1.jpg" alt="">
                    </a>
                </div>
                <div class="td-2">
                    <a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate Unity March Share invite to
                        the Climate Unity March!</a>
                </div>
                <div class=" fs-6 td-3">
                    <div class="form-check form-check-inline form-switch form-switch-sm my-0 mx-auto">
                        <input class="form-check-input m-0" type="checkbox" role="switch">
                    </div>
                </div>
                <div class="position-relative td-4">
                    <v-multi-select v-model="value5" :searchable="true" open-direction="bottom" :options="options" :multiple="true" :close-on-select="true"></v-multi-select>
                </div>
                <button type="button" class="btn btn-close small ic-chevron collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTable-2" aria-expanded="false" aria-controls="collapseTable-2"></button>
            </div>
            <div class="collapse qela-table-collapse" id="collapseTable-2">
                <div class="qela-table-row subrow">
                    <div class="qela-table-line">
                        <hr>
                        <span class="ic-diamond"></span>
                    </div>
                    <div class="td-1">
                        <a href="#" class="qela-previews qela-ibg qela-sm">
                            <img src="img/table-img-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="td-2">
                        <a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate Unity March Share invite
                            to the Climate Unity March!</a>
                    </div>
                    <div class="fs-6 td-3">
                        <div class="form-check form-check-inline form-switch form-switch-sm my-0 mx-auto">
                            <input class="form-check-input m-0" type="checkbox" role="switch" checked>
                        </div>
                    </div>
                    <div class="position-relative td-4">
                        <v-multi-select v-model="value6" :searchable="true" open-direction="bottom" :options="options" :multiple="true" :close-on-select="true"></v-multi-select>
                    </div>
                </div>
                <div class="qela-table-row subrow">
                    <div class="qela-table-line">
                        <hr>
                        <span class="ic-diamond"></span>
                    </div>
                    <div class="td-1">
                        <a href="#" class="qela-previews qela-ibg qela-sm"><img src="img/table-img-1.jpg" alt=""></a>
                    </div>
                    <div class="td-2">
                        <a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate Unity March Share invite
                            to the Climate Unity March!</a>
                    </div>
                    <div class=" fs-6 td-3">
                        <div class="form-check form-check-inline form-switch form-switch-sm my-0 mx-auto">
                            <input class="form-check-input m-0" type="checkbox" role="switch">
                        </div>
                    </div>
                    <div class="position-relative td-4">
                        <v-multi-select v-model="value7" :searchable="true" open-direction="bottom" :options="options" :multiple="true" :close-on-select="true"></v-multi-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIX Tables custom grid v-2-->
    <h4>Tables custom grid v-2</h4>
    <div class="table-responsive qela-table-responsive">
        <div class="qela-table-grid">
            <!-- Header -->
            <div class="qela-table-row qela-table-head px-3">
                <div class="td-1"></div>
                <div class="td-2">Назва</div>
                <div class="td-4">Вибрані осередки</div>
            </div>
            <!-- Items ==================================================-->
            <div class="qela-table-collapse">
                <div class="qela-table-row subrow px-3">
                    <div class="td-1">
                        <a href="#" class="qela-previews qela-ibg qela-sm">
                            <img src="img/table-img-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="td-2">
                        <a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate Unity March Share invite
                            to the Climate Unity March!</a>
                    </div>
                    <div class="position-relative td-4">
                        <v-multi-select v-model="value2" :searchable="true" open-direction="bottom" :options="options" :multiple="true" :close-on-select="true"></v-multi-select>
                    </div>
                </div>
                <div class="qela-table-row subrow px-3">
                    <div class="td-1">
                        <a href="#" class="qela-previews qela-ibg qela-sm">
                            <img src="img/table-img-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="td-2">
                        <a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate Unity March Share invite
                            to the Climate Unity March!</a>
                    </div>
                    <div class="position-relative td-4">
                        <v-multi-select v-model="value2" :searchable="true" open-direction="bottom" :options="options" :multiple="true" :close-on-select="true"></v-multi-select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIX Tables custom grid v-3-->
    <h4>Tables custom grid v-3</h4>
    <div class="table-responsive qela-table-responsive">
        <div class="qela-table-grid">
            <!-- Header -->
            <div class="qela-table-row qela-table-head px-3">
                <div class="td-1"></div>
                <div class="td-2 flex-grow-1">Назва</div>
                <div class="td-3">Лише верифіковані</div>
            </div>
            <!-- Items ==================================================-->
            <div class="qela-table-collapse">
                <div class="qela-table-row subrow px-3">
                    <div class="td-1">
                        <a href="#" class="qela-previews qela-ibg qela-sm">
                            <img src="img/table-img-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="td-2 flex-grow-1">
                        <a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate Unity March Share invite
                            to the Climate Unity March!</a>
                    </div>
                    <div class="fs-6 td-3">
                        <div class="form-check form-check-inline form-switch form-switch-sm my-0 mx-auto">
                            <input class="form-check-input m-0" type="checkbox" role="switch" checked>
                        </div>
                    </div>
                </div>
                <div class="qela-table-row subrow px-3">
                    <div class="td-1">
                        <a href="#" class="qela-previews qela-ibg qela-sm">
                            <img src="img/table-img-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="td-2 flex-grow-1">
                        <a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate Unity March Share invite
                            to the Climate Unity March!</a>
                    </div>
                    <div class="fs-6 td-3">
                        <div class="form-check form-check-inline form-switch form-switch-sm my-0 mx-auto">
                            <input class="form-check-input m-0" type="checkbox" role="switch" checked>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIX Tables custom grid v-4-->
    <h4>Tables custom grid v-4</h4>
    <div class="table-responsive qela-table-responsive">
        <div class="qela-table-grid rounded-0 border-end-0 border-start-0">
            <!-- Items ==================================================-->
            <div class="qela-table-collapse">
                <div class="qela-table-row subrow border-top-0">
                    <div class="qela-table-line">
                        <span class="ic-diamond"></span>
                    </div>
                    <div class="td-1">
                        <a href="#" class="qela-previews qela-ibg qela-sm">
                            <img src="img/table-img-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="td-2 flex-grow-1">
                        <a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate Unity March Share invite
                            to the Climate Unity March!</a>
                    </div>
                </div>
                <div class="qela-table-row subrow">
                    <div class="qela-table-line">
                        <span class="ic-diamond"></span>
                    </div>
                    <div class="td-1">
                        <a href="#" class="qela-previews qela-ibg qela-sm">
                            <img src="img/table-img-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="td-2 flex-grow-1">
                        <a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate Unity March Share invite
                            to the Climate Unity March!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FIX Tables custom grid + buttons-->
    <h4>Tables custom grid + buttons</h4>
    <div class="p-0 pt-5 qela-dialog secondary-outline">
        <div class="pb-3">
            <h4 class="mb-4">😊 Ваша кампанія може бути опублікована!</h4>
            <button class="btn btn-primary">Опублікувати кампанію та квести з ланцюжками в ній</button>
        </div>
        <div class="table-responsive qela-table-responsive">
            <div class="qela-table-grid">
                <!-- Items ==================================================-->
                <div class="qela-table-row">
                    <div class="qela-table-line">
                        <hr><span class="ic-link-2"></span>
                    </div>
                    <div class="td-1"><a href="#" class="qela-previews qela-ibg qela-sm"><img src="img/table-img-1.jpg" alt=""></a></div>
                    <div class="td-2 flex-grow-1">
                        <a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate Unity March Share invite
                            to the Climate Unity March!</a>
                    </div>
                    <button type="button" class="btn btn-close small ic-chevron collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTableDialog-1" aria-expanded="false" aria-controls="collapseTableDialog-1"></button>
                </div>
                <div class="collapse qela-table-collapse" id="collapseTableDialog-1">
                    <div class="qela-table-row subrow">
                        <div class="qela-table-line">
                            <hr><span class="ic-diamond"></span>
                        </div>
                        <div class="td-1"><a href="#" class="qela-previews qela-ibg qela-sm"><img src="img/table-img-1.jpg" alt=""></a></div>
                        <div class="td-2 flex-grow-1"><a href="#" class="qela-clamp qela-clamp2">Share invite to the
                                Climate Unity
                                March Share invite to the Climate Unity March!</a></div>
                    </div>
                    <div class="qela-table-row subrow">
                        <div class="qela-table-line">
                            <hr><span class="ic-diamond"></span>
                        </div>
                        <div class="td-1"><a href="#" class="qela-previews qela-ibg qela-sm"><img src="img/table-img-1.jpg" alt=""></a></div>
                        <div class="td-2 flex-grow-1"><a href="#" class="qela-clamp qela-clamp2">Share invite to the
                                Climate Unity
                                March Share invite to the Climate Unity March!</a></div>
                    </div>
                    <div class="qela-table-row subrow">
                        <div class="qela-table-line">
                            <hr><span class="ic-diamond"></span>
                        </div>
                        <div class="td-1"><a href="#" class="qela-previews qela-ibg qela-sm"><img src="img/table-img-1.jpg" alt=""></a></div>
                        <div class="td-2 flex-grow-1"><a href="#" class="qela-clamp qela-clamp2">Share invite to the
                                Climate Unity
                                March Share invite to the Climate Unity March!</a></div>
                    </div>
                </div><!-- Items ==================================================-->
                <div class="qela-table-row">
                    <div class="qela-table-line">
                        <hr><span class="ic-link-2"></span>
                    </div>
                    <div class="td-1"><a href="#" class="qela-previews qela-ibg qela-sm"><img src="img/table-img-1.jpg" alt=""></a></div>
                    <div class="td-2 flex-grow-1"><a href="#" class="qela-clamp qela-clamp2">Share invite to the Climate
                            Unity March
                            Share invite to the Climate Unity March!</a></div>

                    <button type="button" class="btn btn-close small ic-chevron collapsed" data-bs-toggle="collapse" data-bs-target="#collapseTableDialog-2" aria-expanded="false" aria-controls="collapseTableDialog-2"></button>
                </div>
                <div class="collapse qela-table-collapse" id="collapseTableDialog-2">
                    <div class="qela-table-row subrow">
                        <div class="qela-table-line">
                            <hr><span class="ic-diamond"></span>
                        </div>
                        <div class="td-1"><a href="#" class="qela-previews qela-ibg qela-sm"><img src="img/table-img-1.jpg" alt=""></a></div>
                        <div class="td-2 flex-grow-1"><a href="#" class="qela-clamp qela-clamp2">Share invite to the
                                Climate Unity
                                March Share invite to the Climate Unity March!</a>
                        </div>
                    </div>
                    <div class="qela-table-row subrow">
                        <div class="qela-table-line">
                            <hr><span class="ic-diamond"></span>
                        </div>
                        <div class="td-1"><a href="#" class="qela-previews qela-ibg qela-sm"><img src="img/table-img-1.jpg" alt=""></a></div>
                        <div class="td-2 flex-grow-1"><a href="#" class="qela-clamp qela-clamp2">Share invite to the
                                Climate Unity
                                March Share invite to the Climate Unity March!</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="text-center py-3">
            <button class="btn btn-primary">Опублікувати кампанію та квести з ланцюжками в ній</button>
        </div>
    </div>


</section>