<!-- FIX Tabs  -->
<section class="d-grid gap-3">
    <h2 class="h1 mt-4">Tabs</h2>
    <!-- FIX Tabs default-->
    <h4>Tabs default</h4>
    <ul class="nav nav-tabs rounded-top px-4 pt-4">
        <li class="nav-item"><button class="active nav-link">Admins</button></li>
        <li class="nav-item"><button id="branch-tab" class="nav-link">Branches</button></li>
        <li class="nav-item"><button id="rules-tab" class="nav-link">Rules</button></li>
    </ul>
    <!-- FIX Tabs small default-->
    <h4>Tabs small default</h4>
    <ul class="nav nav-tabs rounded-top px-4 pt-4">
        <li class="nav-item"><button class="active nav-link"><small>Admins</small></button></li>
        <li class="nav-item"><button id="branch-tab" class="nav-link"><small>Branches</small></button></li>
        <li class="nav-item"><button id="rules-tab" class="nav-link"><small>Rules</small></button></li>
    </ul>
    <!-- FIX Tabs custom-->
    <h4>Tabs custom</h4>
    <div class="qela-tab">
        <ul class="nav nav-tabs w-auto bg-white flex-md-column py-0 py-md-3" id="myTab" role="tablist">
            <li class="nav-item qela-nav-item" role="presentation" style="--step-diametr: 28px; --step-pad-start: 16px">
                <button class="nav-link border-0 success active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><span class="line line-start"></span><span class="link-name">General</span></button>
            </li>
            <li class="nav-item qela-nav-item" role="presentation" style="--step-diametr: 28px; --step-pad-start: 16px">
                <button class="nav-link border-0 success" id="map-tab" data-bs-toggle="tab" data-bs-target="#map-tab-pane" type="button" role="tab" aria-controls="map-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Map</span></button>
            </li>
            <li class="nav-item qela-nav-item" role="presentation" style="--step-diametr: 28px; --step-pad-start: 16px">
                <button class="nav-link border-0" id="targeting-tab" data-bs-toggle="tab" data-bs-target="#targeting-tab-pane" type="button" role="tab" aria-controls="targeting-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Targeting</span></button>
            </li>
            <li class="nav-item qela-nav-item" role="presentation" style="--step-diametr: 28px; --step-pad-start: 16px">
                <button class="nav-link border-0" id="conditions-tab" data-bs-toggle="tab" data-bs-target="#conditions-tab-pane" type="button" role="tab" aria-controls="conditions-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Conditions</span></button>
            </li>
            <li class="nav-item qela-nav-item" role="presentation" style="--step-diametr: 28px; --step-pad-start: 16px">
                <button class="nav-link border-0" id="awards-tab" data-bs-toggle="tab" data-bs-target="#awards-tab-pane" type="button" role="tab" aria-controls="awards-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Awards</span></button>
            </li>
            <li class="nav-item qela-nav-item" role="presentation" style="--step-diametr: 28px; --step-pad-start: 16px">
                <button class="nav-link border-0 error" id="notifications-tab" data-bs-toggle="tab" data-bs-target="#notifications-tab-pane" type="button" role="tab" aria-controls="notifications-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Notifications</span></button>
            </li>
            <li class="nav-item qela-nav-item" role="presentation" style="--step-diametr: 28px; --step-pad-start: 16px">
                <button class="nav-link border-0" id="publishing-tab" data-bs-toggle="tab" data-bs-target="#publishing-tab-pane" type="button" role="tab" aria-controls="publishing-tab-pane" aria-selected="false" tabindex="-1"><span class="line line-end"></span><span class="link-name">Publishing</span></button>
            </li>
        </ul>
    </div>
    <!-- FIX Tabs custom small-->
    <h4>Tabs custom small</h4>
    <div class="qela-tab">
        <ul class="nav nav-tabs w-auto bg-white flex-md-column py-0 py-md-3" id="myTab" role="tablist">
            <li class="nav-item qela-nav-item small" role="presentation" style="--step-diametr: 20px; --step-pad-start: 8px">
                <button class="nav-link border-0 success active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><span class="line line-start"></span><span class="link-name">General</span></button>
            </li>
            <li class="nav-item qela-nav-item small" role="presentation" style="--step-diametr: 20px; --step-pad-start: 8px">
                <button class="nav-link border-0 success" id="map-tab" data-bs-toggle="tab" data-bs-target="#map-tab-pane" type="button" role="tab" aria-controls="map-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Map</span></button>
            </li>
            <li class="nav-item qela-nav-item small" role="presentation" style="--step-diametr: 20px; --step-pad-start: 8px">
                <button class="nav-link border-0" id="targeting-tab" data-bs-toggle="tab" data-bs-target="#targeting-tab-pane" type="button" role="tab" aria-controls="targeting-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Targeting</span></button>
            </li>
            <li class="nav-item qela-nav-item small" role="presentation" style="--step-diametr: 20px; --step-pad-start: 8px">
                <button class="nav-link border-0" id="conditions-tab" data-bs-toggle="tab" data-bs-target="#conditions-tab-pane" type="button" role="tab" aria-controls="conditions-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Conditions</span></button>
            </li>
            <li class="nav-item qela-nav-item small" role="presentation" style="--step-diametr: 20px; --step-pad-start: 8px">
                <button class="nav-link border-0" id="awards-tab" data-bs-toggle="tab" data-bs-target="#awards-tab-pane" type="button" role="tab" aria-controls="awards-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Awards</span></button>
            </li>
            <li class="nav-item qela-nav-item small" role="presentation" style="--step-diametr: 20px; --step-pad-start: 8px">
                <button class="nav-link border-0 error" id="notifications-tab" data-bs-toggle="tab" data-bs-target="#notifications-tab-pane" type="button" role="tab" aria-controls="notifications-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Notifications</span></button>
            </li>
            <li class="nav-item qela-nav-item small" role="presentation" style="--step-diametr: 20px; --step-pad-start: 8px">
                <button class="nav-link border-0" id="publishing-tab" data-bs-toggle="tab" data-bs-target="#publishing-tab-pane" type="button" role="tab" aria-controls="publishing-tab-pane" aria-selected="false" tabindex="-1"><span class="line line-end"></span><span class="link-name">Publishing</span></button>
            </li>
        </ul>
    </div>
    <!-- FIX Tabs small-light-->
    <h4>Tabs small-light</h4>
    <div class="qela-tab">
        <ul class="nav nav-tabs w-auto bg-white flex-md-column py-0 py-md-3" id="myTab" role="tablist">
            <li class="nav-item qela-nav-item small-light" role="presentation" style="--step-diametr: 20px; --step-pad-start: 8px">
                <button class="nav-link border-0 success active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><span class="line line-start"></span><span class="link-name">General</span></button>
            </li>
            <li class="nav-item qela-nav-item small-light" role="presentation" style="--step-diametr: 20px; --step-pad-start: 8px">
                <button class="nav-link border-0 success" id="map-tab" data-bs-toggle="tab" data-bs-target="#map-tab-pane" type="button" role="tab" aria-controls="map-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Map</span></button>
            </li>
            <li class="nav-item qela-nav-item small-light" role="presentation" style="--step-diametr: 20px; --step-pad-start: 8px">
                <button class="nav-link border-0" id="targeting-tab" data-bs-toggle="tab" data-bs-target="#targeting-tab-pane" type="button" role="tab" aria-controls="targeting-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Targeting</span></button>
            </li>
            <li class="nav-item qela-nav-item small-light" role="presentation" style="--step-diametr: 20px; --step-pad-start: 8px">
                <button class="nav-link border-0" id="conditions-tab" data-bs-toggle="tab" data-bs-target="#conditions-tab-pane" type="button" role="tab" aria-controls="conditions-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Conditions</span></button>
            </li>
            <li class="nav-item qela-nav-item small-light" role="presentation" style="--step-diametr: 20px; --step-pad-start: 8px">
                <button class="nav-link border-0" id="awards-tab" data-bs-toggle="tab" data-bs-target="#awards-tab-pane" type="button" role="tab" aria-controls="awards-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Awards</span></button>
            </li>
            <li class="nav-item qela-nav-item small-light" role="presentation" style="--step-diametr: 20px; --step-pad-start: 8px">
                <button class="nav-link border-0 error" id="notifications-tab" data-bs-toggle="tab" data-bs-target="#notifications-tab-pane" type="button" role="tab" aria-controls="notifications-tab-pane" aria-selected="false" tabindex="-1"><span class="line"></span><span class="link-name">Notifications</span></button>
            </li>
            <li class="nav-item qela-nav-item small-light" role="presentation" style="--step-diametr: 20px; --step-pad-start: 8px">
                <button class="nav-link border-0" id="publishing-tab" data-bs-toggle="tab" data-bs-target="#publishing-tab-pane" type="button" role="tab" aria-controls="publishing-tab-pane" aria-selected="false" tabindex="-1"><span class="line line-end"></span><span class="link-name">Publishing</span></button>
            </li>
        </ul>
    </div>
</section>