<!-- FIX Talents  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Talents</h2>
	<div class="qela-talent" style="--ql-talent-color: #921c14;--ql-talent-bg: #ffcccc;">Recruiting</div>
	<div class="qela-talent" style="--ql-talent-color: #921c14;--ql-talent-bg: #ffcccc;--ql-talent-border-color:#d92525">Recruiting</div>
	<!-- talent text-->
	<div class="qela-talent-text" style="--ql-talent-color: #921c14;">Originality</div>
	<!-- talents items  -->
	<h4 class="mt-4">Talents items</h4>
	<div class="qela-talent-item" style="--ql-talent-color: #921c14; --ql-talent-bg: #ffcccc; --ql-talent-border-color: #d92525">
		<div class="position-relative">
			<i class="ic-achievement-filled"></i>
			<i class="ic-award"></i>
		</div>
		<span class="flex-grow-1">Fundraising</span>
		<span class="badge qela-badge-talent large-xl">27.0</span>
	</div>

	<div class="qela-talent-item active" style="--ql-talent-color: #921c14; --ql-talent-bg: #ffcccc; --ql-talent-border-color: #d92525">
		<div class="position-relative">
			<i class="ic-achievement-filled"></i>
			<i class="ic-award"></i>
		</div>
		<span class="flex-grow-1">Fundraising</span>
		<span class="badge qela-badge-talent large-xl">27.0</span>
	</div>
	<div class="qela-talent-item disabled" style="--ql-talent-color: #921c14; --ql-talent-border-color: #d92525; --ql-talent-bg: #ffcccc;">
		<div class="position-relative">
			<i class="ic-achievement-filled"></i>
			<i class="ic-award"></i>
		</div>
		<span class="flex-grow-1">Fundraising</span>
		<span class="badge qela-badge-talent large-xl">27.0</span>
	</div>

	<!-- telents list group  -->
	<h4 class="mt-4">Talents list</h4>
	<ul class="list-group qela-list-talents">
		<li class="list-group-item qela-talent-item active" style="--ql-talent-color: #921c14; --ql-talent-border-color: #d92525; --ql-talent-bg: #ffcccc;">
			<div class="position-relative">
				<i class="ic-achievement-filled opacity-100"></i>
			</div>
			<span class="flex-grow-1">Fundraising</span>
			<span class="badge qela-badge-talent large-xl ic-edit">27.0</span>
		</li>
	</ul>
	<!-- telents list group  -->
	<h4 class="mt-4">Talents nav</h4>
	<ul class="nav qela-talent-nav">
		<li class="nav-item">
			<button type="button" class="nav-link qela-talent-item" style="--ql-talent-color: #921c14; --ql-talent-border-color: #d92525; --ql-talent-bg: #ffcccc;" title="">
				<div class="position-relative">
					<i class="ic-achievement-filled"></i>
					<i class="ic-award"></i>
				</div>
				<span class="flex-grow-1">Fundraising</span>
				<span class="badge qela-badge-talent large-xl">27.0</span>
			</button>
			<div class="dropdown qela-dropdown">
				<button type="button" class="text-info-600 qela-btn-ic ic-dots" data-bs-toggle="dropdown" aria-expanded="false"></button>
				<ul class="dropdown-menu dropdown-menu-end qela-shadow">
					<li>
						<div class="display-7 px-3">Default talents are not customizable</div>
					</li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li>
						<button type="button" class="dropdown-item ic-edit px-3 py-2">
							Turn off
						</button>
					</li>
					<li>
						<button type="button" class="dropdown-item ic-stop danger px-3 py-2">
							Edit
						</button>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</section>