<!-- FIX Text field  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Text field</h2>
	<!-- FIX Input outline-->
	<h4>Input outline</h4>
	<!-- default -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputText1" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<input type="text" class="form-control" id="inputText1" placeholder="Name" />
		<div class="invalid-feedback">Error text</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- error -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputText2" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<input type="text" class="form-control is-invalid" id="inputText2" placeholder="Name" />
		<div class="invalid-feedback">Error text</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- disabled -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputText3" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<input type="text" class="form-control" disabled id="inputText3" placeholder="Name" />
		<div class="invalid-feedback">Error text</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- FIX Input outline small-->
	<h4>Input outline small</h4>
	<!-- default -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputTextSm1" class="form-label required">Label</label>
				<button type="button" class="btn btn-sm qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<input type="text" class="form-control form-control-sm" id="inputTextSm1" placeholder="Name" />
		<div class="invalid-feedback">Error text</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- error -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputTextSm2" class="form-label required">Label</label>
				<button type="button" class="btn btn-sm qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<input type="text" class="form-control form-control-sm is-invalid" id="inputTextSm2" placeholder="Name" />
		<div class="invalid-feedback">Error text</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- disabled -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputTextSm3" class="form-label required">Label</label>
				<button type="button" class="btn btn-sm qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<input type="text" class="form-control form-control-sm" disabled id="inputTextSm3" placeholder="Name" />
		<div class="invalid-feedback">Error text</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- Input search custom-->
	<h4>Input search custom</h4>
	<!-- default -->
	<div class="qela-search">
		<button type="button" class="ic-search"></button>
		<input type="search" class="form-control" placeholder="Search" />
		<button type="button" class="text-black ic-cloze"></button>
	</div>
	<!-- FIX Textarea outline-->
	<h4 class="mt-4">Textarea outline</h4>
	<!-- default -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="textarea1" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">0/<span>2500</span></label>
		</div>
		<textarea class="form-control" placeholder="Placeholder" id="textarea1" rows="3"></textarea>
		<div class="invalid-feedback">Error text</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- error -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="textarea2" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">0/<span>2500</span></label>
		</div>
		<textarea class="form-control is-invalid" placeholder="Placeholder" id="textarea2" rows="3"></textarea>
		<div class="invalid-feedback">Error text</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- disabled -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="textarea3" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">0/<span>2500</span></label>
		</div>
		<textarea class="form-control" placeholder="Placeholder" disabled id="textarea3" rows="3"></textarea>
		<div class="invalid-feedback">Error text</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- FIX Input group-->
	<h4 class="mt-4">Input group</h4>
	<!-- default -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputPassword16" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<div class="input-group">
			<div class="qela-input-inner right">
				<input type="password" class="form-control" placeholder="Password" aria-label="Password" id="inputPassword16" aria-describedby="button-addon1" />
				<button class="btn ic-eye-close" type="button" id="button-addon1"></button>
			</div>
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- error -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputPassword2" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<div class="input-group is-invalid">
			<div class="qela-input-inner right">
				<input type="password" class="form-control is-invalid" placeholder="Password" id="inputPassword2" aria-label="Password" aria-describedby="button-addon2" />
				<button class="btn ic-eye" type="button" id="button-addon2"></button>
			</div>
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- disabled -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputText7" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>

		<div class="input-group">
			<div class="qela-input-inner right">
				<input type="text" class="form-control" placeholder="Placeholder" disabled id="inputText7" aria-label="Text" aria-describedby="button-addon5" />
				<button class="btn btn-input ic-delete" type="button" disabled id="button-addon5"></button>
			</div>
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- default btn left-->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputText5" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<div class="input-group has-validation">
			<input type="text" class="form-control" placeholder="Placeholder" aria-label="Text" id="inputText5" aria-describedby="button-addon3" />
			<button class="btn btn-outline-info btn-input ico-right ic-plus" type="button" id="button-addon3">
				Light
			</button>
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- default btn right -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputText6" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<div class="input-group has-validation">
			<button class="btn btn-outline-info btn-input ico-right ic-plus" type="button" id="button-addon4">
				Light
			</button>
			<input type="text" class="form-control" placeholder="Placeholder" aria-label="Text" id="inputText6" aria-describedby="button-addon4" />
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="helper-text">Helper text</div>
	</div>

	<!-- FIX Input group Small-->
	<h4 class="mt-4">Input group Small</h4>
	<!-- default -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputPasswordSm1" class="form-label required">Label</label>
				<button type="button" class="btn btn-sm qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<div class="input-group input-group-sm">
			<div class="qela-input-inner right">
				<input type="password" class="form-control" placeholder="Password" aria-label="Password" id="inputPasswordSm1" aria-describedby="button-addon1" />
				<button class="btn  ic-eye-close" type="button" id="button-addon1"></button>
			</div>
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- error -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputPasswordSm2" class="form-label required">Label</label>
				<button type="button" class="btn btn-sm qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<div class="input-group input-group-sm  is-invalid">
			<div class="qela-input-inner right">
				<input type="password" class="form-control is-invalid" placeholder="Password" id="inputPasswordSm2" aria-label="Password" aria-describedby="button-addon2" />
				<button class="btn ic-eye" type="button" id="button-addon2"></button>
			</div>
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- disabled -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputTextSm7" class="form-label required">Label</label>
				<button type="button" class="btn btn-sm qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<div class="input-group input-group-sm has-validation">
			<div class="qela-input-inner right">
				<input type="text" class="form-control" placeholder="Placeholder" disabled id="inputTextSm7" aria-label="Text" aria-describedby="button-addon5" />
				<button class="btn ic-delete" type="button" disabled id="button-addon5"></button>
			</div>
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- default btn left-->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputTextSm5" class="form-label required">Label</label>
				<button type="button" class="btn btn-sm qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<div class="input-group input-group-sm has-validation">
			<input type="text" class="form-control" placeholder="Placeholder" aria-label="Text" id="inputTextSm5" aria-describedby="button-addon3" />
			<button class="btn btn-outline-info btn-input ico-right ic-plus" type="button" id="button-addon3">
				Light
			</button>
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="helper-text">Helper text</div>
	</div>
	<!-- default btn right -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputTextSm6" class="form-label required">Label</label>
				<button type="button" class="btn btn-sm qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
			<label class="form-label">hint text</label>
		</div>
		<div class="input-group input-group-sm has-validation">
			<button class="btn btn-outline-info btn-input ico-right ic-plus" type="button" id="button-addon4">
				Light
			</button>
			<input type="text" class="form-control" placeholder="Placeholder" aria-label="Text" id="inputTextSm6" aria-describedby="button-addon4" />
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="helper-text">Helper text</div>
	</div>

	<!-- FIX Input group custom-->
	<h4 class="mt-4">Input group custom</h4>
	<!-- default -->
	<div class="input-group qela-input-group">
		<button class="btn btn-outline-info ic-minus" type="button"></button>
		<input type="number" class="form-control" placeholder="0" />
		<button class="btn btn-outline-info ic-plus" type="button"></button>
	</div>
	<!-- success -->
	<div class="input-group qela-input-group">
		<button class="btn btn-outline-info ic-minus" type="button"></button>
		<input type="number" class="form-control success" value="2.2" placeholder="0" />
		<button class="btn btn-outline-info ic-plus" type="button"></button>
	</div>
	<!-- danger -->
	<div class="input-group qela-input-group">
		<button class="btn btn-outline-info ic-minus" type="button"></button>
		<input type="number" class="form-control danger" value="-0.2" placeholder="0" />
		<button class="btn btn-outline-info ic-plus" type="button"></button>
	</div>
	<!-- FIX Input file-->
	<h4 class="mt-4">Input file</h4>
	<!-- default -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputFile" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
		</div>
		<div class="qela-file">
			<div class="position-relative">
				<input id="inputFile" type="file" class="form-control" />
				<label for="2" class="form-label gap-2">
					<span class="ic-img-plus text-info-500"></span>
					<span class="text-info-900">Click to browse for file</span>
					<span class="text-info-600">️Aspect ratio 16/9, max width 1000px, max weight 2 Mb</span>
				</label>
			</div>
			<div class="helper-text">Helper text</div>
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="qela-preview">
			<div class="w-100">
				<img class="img-fluid" src="img/input.jpg" alt="" />
				<div class="p-3">Image-name.jpg</div>
			</div>
			<div class="d-flex flex-column gap-2">
				<button type="button" class="btn btn-sm btn-outline-info ic-refresh ico"></button>
				<button type="button" class="btn btn-sm btn-outline-info ic-delete ico"></button>
			</div>
		</div>
	</div>
	<!-- default -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputFile" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
		</div>
		<div class="qela-file">
			<div class="position-relative">
				<input id="inputFile" type="file" class="form-control" />
				<label for="2" class="form-label gap-2">
					<span class="ic-download text-info-500"></span>
					<span class="text-info-900">Click to browse for file</span>
					<span class="text-info-600">️Aspect ratio 16/9, max width 1000px, max weight 2 Mb</span>
				</label>
			</div>
			<div class="helper-text">Helper text</div>
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="qela-preview">
			<div class="w-100">
				<div class="ic-files"></div>
				<div class="p-3">File-name.psd</div>
			</div>
			<div class="d-flex flex-column gap-2">
				<button type="button" class="btn btn-sm btn-outline-info ic-refresh ico"></button>
				<button type="button" class="btn btn-sm btn-outline-info ic-delete ico"></button>
			</div>
		</div>
	</div>
	<!-- error -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputFile2" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
		</div>
		<div class="qela-file has-validation">
			<div class="position-relative">
				<input id="inputFile2" type="file" class="form-control is-invalid" />
				<label for="inputFile2" class="form-label gap-2">
					<span class="ic-img-plus text-info-500"></span>
					<span class="text-info-900">Click to browse for file</span>
					<span class="text-info-600">️Aspect ratio 16/9, max width 1000px, max weight 2 Mb</span>
				</label>
			</div>
			<div class="helper-text">Helper text</div>
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="qela-preview">
			<div class="w-100">
				<img class="img-fluid" src="img/input.jpg" alt="" />
				<div class="p-3">Image-name.jpg</div>
			</div>
			<div class="d-flex flex-column gap-2">
				<button type="button" class="btn btn-sm btn-outline-info ic-refresh ico"></button>
				<button type="button" class="btn btn-sm btn-outline-info ic-delete ico"></button>
			</div>
		</div>
	</div>
	<!-- disabled -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputFile3" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
		</div>
		<div class="qela-file">
			<div class="position-relative">
				<input id="inputFile3" type="file" class="form-control" disabled />
				<label for="inputFile3" class="form-label gap-2">
					<span class="ic-img-plus text-info-500"></span>
					<span class="text-info-900">Click to browse for file</span>
					<span class="text-info-600">️Aspect ratio 16/9, max width 1000px, max weight 2 Mb</span>
				</label>
			</div>
			<div class="helper-text">Helper text</div>
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="qela-preview">
			<div class="w-100">
				<img class="img-fluid" src="img/input.jpg" alt="" />
				<div class="p-3">Image-name.jpg</div>
			</div>
			<div class="d-flex flex-column gap-2">
				<button type="button" class="btn btn-sm btn-outline-info ic-refresh ico"></button>
				<button type="button" class="btn btn-sm btn-outline-info ic-delete ico"></button>
			</div>
		</div>
	</div>
	<!-- prevue -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputFile" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
		</div>
		<div class="qela-file filled">
			<div class="position-relative">
				<input id="inputFile" type="file" class="form-control" />
				<label for="2" class="form-label gap-2">
					<span class="ic-img-plus text-info-500"></span>
					<span class="text-info-900">Click to browse for file</span>
					<span class="text-info-600">️Aspect ratio 16/9, max width 1000px, max weight 2 Mb</span>
				</label>
			</div>
			<div class="helper-text">Helper text</div>
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="qela-preview">
			<div class="w-100">
				<img class="img-fluid" src="img/input.jpg" alt="" />
				<div class="p-3">Image-name.jpg</div>
			</div>
			<div class="d-flex flex-column gap-2">
				<button type="button" class="btn btn-sm btn-outline-info ic-refresh ico"></button>
				<button type="button" class="btn btn-sm btn-outline-info ic-delete ico"></button>
			</div>
		</div>
	</div>
	<!-- prevue -->
	<div>
		<div class="qela-form-labels">
			<div>
				<label for="inputFile" class="form-label required">Label</label>
				<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
			</div>
		</div>
		<div class="qela-file filled">
			<div class="position-relative">
				<input id="inputFile" type="file" class="form-control" />
				<label for="2" class="form-label gap-2">
					<span class="ic-download text-info-500"></span>
					<span class="text-info-900">Click to browse for file</span>
					<span class="text-info-600">️Aspect ratio 16/9, max width 1000px, max weight 2 Mb</span>
				</label>
			</div>
			<div class="helper-text">Helper text</div>
			<div class="invalid-feedback">Error text</div>
		</div>
		<div class="qela-preview">
			<div class="w-100">
				<div class="ic-files"></div>
				<div class="p-3">File-name.psd</div>
			</div>
			<div class="d-flex flex-column gap-2">
				<button type="button" class="btn btn-sm btn-outline-info ic-refresh ico"></button>
				<button type="button" class="btn btn-sm btn-outline-info ic-delete ico"></button>
			</div>
		</div>
	</div>
	<!-- FIX Input file small-->
	<div>
		<div class="qela-file small">
			<div>
				<input id="inputFile" type="file" class="form-control" />
				<label for="inputFile" class="form-label">
					<span class="ic-upload ico-md"></span>
					<small>Upload logo</small>
				</label>
			</div>
			<div class="helper-text">Allowed JPG, GIF or PNG. Max size of 800K</div>
			<div class="invalid-feedback">Error text</div>
		</div>
	</div>
</section>