<!-- FIX Tooltip  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Tooltip</h2>
	<div>
		<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum sit nulla accumsan sodales ornare."></button>
	</div>
	<div class="qela-form-labels">
		<div>
			<span class="form-label">Tooltip Label</span>
			<button type="button" class="btn qela-btn-tooltip ic-help-circle-filled" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis lobortis nisl cursus bibendum."></button>
		</div>
	</div>
	<!-- Tooltip admin -->
	<h2 class="mt-4">Tooltip admin</h2>
	<div class="d-flex gap-1">
		<!-- Tooltip super-admin -->
		<button type="button" class="btn qela-btn-tooltip qela-admin secondary ic-key" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Branch super admin"></button>
		<!-- Tooltip quests-admin -->
		<button type="button" class="btn qela-btn-tooltip qela-admin success ic-diamond" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Branch quests admin"></button>
		<!-- Tooltip reader -->
		<button type="button" class="btn qela-btn-tooltip qela-admin warning ic-eye" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Branch reader"></button>
		<!-- Tooltip voting-admin -->
		<button type="button" class="btn qela-btn-tooltip qela-admin success ic-voting" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Branch voting admin"></button>
		<!-- Tooltip users-admin -->
		<button type="button" class="btn qela-btn-tooltip qela-admin success ic-people" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Branch users admin"></button>
		<!-- Tooltip branch-super-admin -->
		<button type="button" class="btn qela-btn-tooltip qela-admin secondary ic-branch" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Branch super admin"></button>
	</div>
	<!-- Tooltip admin -->
	<h2 class="mt-4">Tooltip admin small</h2>
	<div class="d-flex gap-1">
		<!-- Tooltip super-admin -->
		<button type="button" class="btn qela-btn-tooltip qela-admin qela-sm secondary ic-key" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Branch super admin"></button>
		<!-- Tooltip quests-admin -->
		<button type="button" class="btn qela-btn-tooltip qela-admin qela-sm success  ic-diamond" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Branch quests admin"></button>
		<!-- Tooltip reader -->
		<button type="button" class="btn qela-btn-tooltip qela-admin qela-sm warning ic-eye" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Branch reader"></button>
		<!-- Tooltip voting-admin -->
		<button type="button" class="btn qela-btn-tooltip qela-admin qela-sm success ic-voting" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Branch voting admin"></button>
		<!-- Tooltip users-admin -->
		<button type="button" class="btn qela-btn-tooltip qela-admin qela-sm success ic-people" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Branch users admin"></button>
		<!-- Tooltip branch-super-admin -->
		<button type="button" class="btn qela-btn-tooltip qela-admin qela-sm secondary ic-branch" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Branch super admin"></button>
	</div>
	<!-- Tooltip text -->
	<h2 class="mt-4">Tooltip text</h2>
	<div class="d-flex gap-1">
		<!-- Tooltip super-admin -->
		<button type="button" class="qela-clamp p-0 bg-transparent border-0" style="width: 265px" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Full name of Campaign">
			Share invite to the Climate Unity March! Climate Unity March!
		</button>
	</div>
</section>