<!-- FIX Toolbar  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Toolbar</h2>
	<div class="qela-toolbar">
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="Check5x" />
			<label class="form-check-label" for="Check5x">select all</label>
		</div>
		<button type="button" class="btn btn-info ic-link ico-right">Chain</button>
		<button type="button" class="btn btn-info ico ic-delete"></button>
	</div>
	<div class="qela-toolbar">
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="Check5x" disabled />
			<label class="form-check-label" for="Check5x">select all</label>
		</div>
		<button type="button" class="btn btn-info ic-link ico-right" disabled>
			Chain
		</button>
		<button type="button" class="btn btn-info ico ic-delete" disabled></button>
	</div>
	<div class="qela-toolbar no-outline">
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="Check5x" />
			<label class="form-check-label" for="Check5x">select all</label>
		</div>
		<button type="button" class="btn btn-info ic-link ico-right">Chain</button>
		<button type="button" class="btn btn-info ico ic-delete"></button>
	</div>
	<div class="qela-toolbar no-outline">
		<div class="form-check">
			<input type="checkbox" class="form-check-input" id="Check5x" disabled />
			<label class="form-check-label" for="Check5x">select all</label>
		</div>
		<button type="button" class="btn btn-info ic-link ico-right" disabled>
			Chain
		</button>
		<button type="button" class="btn btn-info ico ic-delete" disabled></button>
	</div>
</section>