{% set productsData = [
	{
		label: "Замовлення №",
		text: "0123456789",
		width: "0 1 25%"
	}, {
		label: "Замовник",
		text: "Микола Грім",
		width: "0 1 25%"
	}, {
		label: "Електронна пошта",
		text: "mykola@mail.com",
		width: "0 1 25%"
	}, {
		label: "Контактний номер",
		text: "+38066 128 128 0",
		width: "0 1 25%"
	}
] %}
{% set productComentsData = {
	label: "Коментар",
	text: "Розмір X, будь ласка"
} %}
{% set productAllInfo = [
	{
		label: "Замовлення №",
		text: "0123456789",
		width: "0 1 50%"
	}, {
		label: "Замовник",
		text: "Микола Грім",
		width: "0 1 50%"
	}
] %}
{% set productsProduct = [
	{
		label: "Тип",
		text: "Фізичний",
		width: "1 1 auto"
	}, {
		label: "Доставка",
		text: "Поштою",
		width: "1 1 auto"
	}, {
		label: "Ціна",
		text: "75",
		width: "1 1 auto"
	}, {
		label: "Кількість",
		text: "1",
		width: "1 1 auto"
	}
] %}
{% set productsDeliveryPerson = [
	{
		label: "Імʼя",
		text: "Ostap",
		width: "25%"
	}, {
		label: "Прізвище",
		text: "Kovalchuk",
		width: "25%"
	}, {
		label: "Електронна пошта",
		text: "mykola@mail.com",
		width: "25%"
	}, {
		label: "Номер телефону",
		text: "+38066 128 128 0",
		width: "25%"
	}
] %}
{% set productsDeliveryInfo1 = [
	{
		label: "Країна",
		text: "Німеччина",
		width: "0 1 178px"
	}, {
		label: "Місто",
		text: "Solingen",
		width: "0 1 178px"
	}, {
		label: "Індекс",
		text: "42569",
		width: "0 1 178px"
	}
] %}
{% set productsDeliveryInfo2 = [
	{
		label: "Вулиця або пункт видачі",
		text: "DHL Packstation 150, Grünewalder Str. 85",
		width: "0 1 380px"
	}, {
		label: "Додаткові дані адреси",
		text: "Solingen, Zaunkönigweg 4",
		width: "0 1 380px"
	}
] %}
{% set productsDeliveryInfo3 = [
	{
		label: "Коментар для курʼєра",
		text: "Зателефонувати перед доставкою",
		width: "0 1 380px"
	}
] %}