<div class="table-responsive qela-table position-relative">
	<table class="table table-hover">
		<thead class="table-light">
			<tr>
				<th width="72px">
					<div class="form-check form-check-inline m-0"><input type="checkbox" autocomplete="off" class="form-check-input"></div>
				</th>
				<th width="282px">
					<button type="button" class="btn ico-right ic-arrows-down-up">Назва</button>
				</th>
				<th>
					<button type="button" class="btn ico-right ic-arrows-down-up">Категорія</button>
				</th>
				<th width="64px">
					<button type="button" class="btn ico-right ic-arrows-down-up">🔥Топ </button>
				</th>
				<th width="128px">Тип</th>
				<th>
					<button type="button" class="btn ico-right ic-arrows-down-up">Статус</button>
				</th>
				<th width="92px">
					<button type="button" class="btn ico-right ic-arrows-down-up">Ціна, бали</button>
				</th>
				<th width="94px">
					<button type="button" class="btn ico-right ic-arrows-down-up">В наявності </button>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="d-flex gap-1 align-items-center">
						<div class="form-check form-check-inline m-0"><input type="checkbox" autocomplete="off" class="form-check-input"></div>
						<div class="qela-unread-dot">
							<div class="qela-previews qela-ibg">
								<img src="img/table-img-1.jpg" alt="">
							</div>
						</div>
					</div>
				</td>
				<td width="282px" class="text-wrap">
					<button type="button" class="p-0 bg-transparent border-0 text-start" data-bs-offset="0, 4" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Вимикає товар, міняє статус та видаляє зі списку юзера."> «Я бачу, вас цікавить пітьма», Ілларіон Павлюк </button>
				</td>
				<td>
											📚 Книги та культура
										</td>
				<td>
					<div class="text-center">Так</div>
				</td>
				<td width="128px" class="text-wrap">Електронний (з опрацюванням)</td>
				<td>
					<span class="text-danger-700">Вимкнений</span>
					<!-- <span class="text-warning-600">Чернетка</span>
						<span>Розпродано</span>
						<span class="text-warning-600">Чернетка</span>
						<span class="text-success-800">Активний</span>
						<span class="text-info-700">Видалений</span> -->
				</td>
				<td>
					<div class="text-end">75</div>
				</td>
				<td>
					<div class="text-end">Необмежено</div>
				</td>
			</tr>
			<tr class="checked">
				<td>
					<div class="d-flex gap-1 align-items-center">
						<div class="form-check form-check-inline m-0"><input type="checkbox" autocomplete="off" class="form-check-input" checked></div>
						<div class="qela-previews qela-ibg">
							<img src="img/table-img-1.jpg" alt="">
						</div>
					</div>
				</td>
				<td width="156px" class="text-wrap">
					<button type="button" class="p-0 bg-transparent border-0 text-start" data-bs-offset="0, 4" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-custom-class="custom-tooltip" data-bs-title="Вимикає товар, міняє статус та видаляє зі списку юзера."> «Я бачу, вас цікавить пітьма», Ілларіон Павлюк </button>
				</td>
				<td>
											📚 Книги та культура
										</td>
				<td>
					<div class="text-center">Так</div>
				</td>
				<td width="128px" class="text-wrap">Електронний (з опрацюванням)</td>
				<td>
					<span class="text-danger-700">Вимкнений</span>
					<!-- <span class="text-warning-600">Чернетка</span>
						<span>Розпродано</span>
						<span class="text-warning-600">Чернетка</span>
						<span class="text-success-800">Активний</span>
						<span class="text-info-700">Видалений</span> -->
				</td>
				<td>
					<div class="text-end">75</div>
				</td>
				<td>
					<div class="text-end">Необмежено</div>
				</td>
			</tr>
			<!-- <tr>
					<td>
						<div v-if="loadingData" class="qela-loader">
							<div class="mb-4">
								<svg class="spinner" width="40px" height="40px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
									<circle class="path" fill="none" stroke-width="6" cx="33" cy="33" r="30">
									</circle>
								</svg>
							</div>
							<span>@loc["LoadingText"]</span>
						</div>
					</td>
				</tr> -->
		</tbody>
	</table>
</div>