<!-- Buttons  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Buttons</h2>
	<!-- Buttons (default)  -->
	<h4>Buttons (default)</h4>
	<div class="d-flex gap-2 flex-wrap">
		{% set buttonsData = [
			{
				button: true,
				type: "primary",
				classes: "",
				text: "Primary",
				disabled: false
			}, {
				button: true,
				type: "primary",
				classes: "",
				text: "Primary",
				disabled: true
			}, {
				button: true,
				type: "primary",
				classes: "ic-plus ico-left",
				text: "Primary",
				disabled: false
			},{
				button: true,
				type: "primary",
				classes: "ic-plus ico-right",
				text: "Primary",
				disabled: false
			},{
				button: true,
				type: "primary",
				classes: "ic-plus ico-right",
				text: "Primary",
				disabled: true
			}
		] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in buttonsData %}
			{{btns(bt)}}
		{% endfor %}
	</div>
	<div class="d-flex gap-2 flex-wrap">
		{% set buttonsData = [
			{
				button: true,
				type: "secondary",
				classes: "",
				text: "Secondary",
				disabled: false
			}, {
				button: true,
				type: "secondary",
				classes: "",
				text: "Secondary",
				disabled: true
			}, {
				button: true,
				type: "secondary",
				classes: "ic-plus ico-left",
				text: "Secondary",
				disabled: false
			},{
				button: true,
				type: "secondary",
				classes: "ic-plus ico-right",
				text: "Secondary",
				disabled: false
			},{
				button: true,
				type: "secondary",
				classes: "ic-plus ico-right",
				text: "Secondary",
				disabled: true
			}
		] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in buttonsData %}
			{{btns(bt)}}
		{% endfor %}
	</div>
	<div class="d-flex gap-2 flex-wrap">
		{% set buttonsData = [
			{
				button: true,
				type: "success",
				classes: "",
				text: "Success",
				disabled: false
			}, {
				button: true,
				type: "success",
				classes: "",
				text: "Success",
				disabled: true
			}, {
				button: true,
				type: "success",
				classes: "ic-plus ico-left",
				text: "Success",
				disabled: false
			},{
				button: true,
				type: "success",
				classes: "ic-plus ico-right",
				text: "Success",
				disabled: false
			},{
				button: true,
				type: "success",
				classes: "ic-plus ico-right",
				text: "Success",
				disabled: true
			}
		] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in buttonsData %}
			{{btns(bt)}}
		{% endfor %}
	</div>
	<div class="d-flex gap-2 flex-wrap">
		{% set buttonsData = [
			{
				button: true,
				type: "danger",
				classes: "",
				text: "Danger",
				disabled: false
			}, {
				button: true,
				type: "danger",
				classes: "",
				text: "Danger",
				disabled: true
			}, {
				button: true,
				type: "danger",
				classes: "ic-plus ico-left",
				text: "Danger",
				disabled: false
			},{
				button: true,
				type: "danger",
				classes: "ic-plus ico-right",
				text: "Danger",
				disabled: false
			},{
				button: true,
				type: "danger",
				classes: "ic-plus ico-right",
				text: "Danger",
				disabled: true
			}
		] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in buttonsData %}
			{{btns(bt)}}
		{% endfor %}
	</div>
	<div class="d-flex gap-2 flex-wrap">
		{% set buttonsData = [
			{
				button: true,
				type: "warning",
				classes: "",
				text: "Warning",
				disabled: false
			}, {
				button: true,
				type: "warning",
				classes: "",
				text: "Warning",
				disabled: true
			}, {
				button: true,
				type: "warning",
				classes: "ic-plus ico-left",
				text: "Warning",
				disabled: false
			},{
				button: true,
				type: "warning",
				classes: "ic-plus ico-right",
				text: "Warning",
				disabled: false
			},{
				button: true,
				type: "warning",
				classes: "ic-plus ico-right",
				text: "Warning",
				disabled: true
			}
		] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in buttonsData %}
			{{btns(bt)}}
		{% endfor %}
	</div>
	<div class="d-flex gap-2 flex-wrap">
		{% set buttonsData = [
			{
				button: true,
				type: "info",
				classes: "",
				text: "Info",
				disabled: false
			}, {
				button: true,
				type: "info",
				classes: "",
				text: "Info",
				disabled: true
			}, {
				button: true,
				type: "info",
				classes: "ic-plus ico-left",
				text: "Info",
				disabled: false
			},{
				button: true,
				type: "info",
				classes: "ic-plus ico-right",
				text: "Info",
				disabled: false
			},{
				button: true,
				type: "info",
				classes: "ic-plus ico-right",
				text: "Info",
				disabled: true
			}
		] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in buttonsData %}
			{{btns(bt)}}
		{% endfor %}
	</div>
	<!-- Buttons link  -->
	<div class="d-flex gap-2 flex-wrap">
		{% set btnLinksData = [
			{
				button: false,
				type: "link",
				classes: "",
				text: "Link text",
				disabled: false
			}, {
				button: false,
				type: "link",
				classes: "",
				text: "Link text",
				disabled: true
			}
		] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in btnLinksData %}
			{{btns(bt)}}
		{% endfor %}
	</div>

	<!-- Buttons outlined (default) -->
	<h4 class="mt-4">Buttons outlined (default)</h4>
	<div class="d-flex gap-2 flex-wrap">
		{% set buttonsData = [
			{
				button: true,
				type: "outline-primary",
				classes: "",
				text: "Primary",
				disabled: false
			}, {
				button: true,
				type: "outline-primary",
				classes: "",
				text: "Primary",
				disabled: true
			}, {
				button: true,
				type: "outline-primary",
				classes: "ic-plus ico-left",
				text: "Primary",
				disabled: false
			},{
				button: true,
				type: "outline-primary",
				classes: "ic-plus ico-right",
				text: "Primary",
				disabled: false
			},{
				button: true,
				type: "outline-primary",
				classes: "ic-plus ico-right",
				text: "Primary",
				disabled: true
			}
		] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in buttonsData %}
			{{btns(bt)}}
		{% endfor %}
	</div>
	<div class="d-flex gap-2 flex-wrap">
		{% set buttonsData = [
			{
				button: true,
				type: "outline-secondary",
				classes: "",
				text: "Secondary",
				disabled: false
			}, {
				button: true,
				type: "outline-secondary",
				classes: "",
				text: "Secondary",
				disabled: true
			}, {
				button: true,
				type: "outline-secondary",
				classes: "ic-plus ico-left",
				text: "Secondary",
				disabled: false
			},{
				button: true,
				type: "outline-secondary",
				classes: "ic-plus ico-right",
				text: "Secondary",
				disabled: false
			},{
				button: true,
				type: "outline-secondary",
				classes: "ic-plus ico-right",
				text: "Secondary",
				disabled: true
			}
		] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in buttonsData %}
			{{btns(bt)}}
		{% endfor %}
	</div>
	<div class="d-flex gap-2 flex-wrap">
		{% set buttonsData = [
			{
				button: true,
				type: "outline-success",
				classes: "",
				text: "Success",
				disabled: false
			}, {
				button: true,
				type: "outline-success",
				classes: "",
				text: "Success",
				disabled: true
			}, {
				button: true,
				type: "outline-success",
				classes: "ic-plus ico-left",
				text: "Success",
				disabled: false
			},{
				button: true,
				type: "outline-success",
				classes: "ic-plus ico-right",
				text: "Success",
				disabled: false
			},{
				button: true,
				type: "outline-success",
				classes: "ic-plus ico-right",
				text: "Success",
				disabled: true
			}
		] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in buttonsData %}
			{{btns(bt)}}
		{% endfor %}
	</div>
	<div class="d-flex gap-2 flex-wrap">
		{% set buttonsData = [
			{
				button: true,
				type: "outline-danger",
				classes: "",
				text: "Danger",
				disabled: false
			}, {
				button: true,
				type: "outline-danger",
				classes: "",
				text: "Danger",
				disabled: true
			}, {
				button: true,
				type: "outline-danger",
				classes: "ic-plus ico-left",
				text: "Danger",
				disabled: false
			},{
				button: true,
				type: "outline-danger",
				classes: "ic-plus ico-right",
				text: "Danger",
				disabled: false
			},{
				button: true,
				type: "outline-danger",
				classes: "ic-plus ico-right",
				text: "Danger",
				disabled: true
			}
		] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in buttonsData %}
			{{btns(bt)}}
		{% endfor %}
	</div>
	<div class="d-flex gap-2 flex-wrap">
		{% set buttonsData = [
			{
				button: true,
				type: "outline-warning",
				classes: "",
				text: "Warning",
				disabled: false
			}, {
				button: true,
				type: "outline-warning",
				classes: "",
				text: "Warning",
				disabled: true
			}, {
				button: true,
				type: "outline-warning",
				classes: "ic-plus ico-left",
				text: "Warning",
				disabled: false
			},{
				button: true,
				type: "outline-warning",
				classes: "ic-plus ico-right",
				text: "Warning",
				disabled: false
			},{
				button: true,
				type: "outline-warning",
				classes: "ic-plus ico-right",
				text: "Warning",
				disabled: true
			}
			] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in buttonsData %}
			{{btns(bt)}}
		{% endfor %}
	</div>
	<div class="d-flex gap-2 flex-wrap">
		{% set buttonsData = [
			{
				button: true,
				type: "outline-info",
				classes: "",
				text: "Info",
				disabled: false
			}, {
				button: true,
				type: "outline-info",
				classes: "",
				text: "Info",
				disabled: true
			}, {
				button: true,
				type: "outline-info",
				classes: "ic-plus ico-left",
				text: "Info",
				disabled: false
			},{
				button: true,
				type: "outline-info",
				classes: "ic-plus ico-right",
				text: "Info",
				disabled: false
			},{
				button: true,
				type: "outline-info",
				classes: "ic-plus ico-right",
				text: "Info",
				disabled: true
			}
			] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in buttonsData %}
			{{btns(bt)}}
		{% endfor %}
	</div>
	<!-- Buttons size -->
	<h4 class="mt-4">Size buttons large(default), middle, small</h4>
	<div class="d-flex gap-2 flex-wrap align-items-start">
		{% set btnsSize = [
			{
				button: true,
				type: "primary",
				classes: "",
				text: "Primary lg",
				disabled: false
			}, {
				button: true,
				type: "primary",
				classes: "btn-md",
				text: "Primary md",
				disabled: false
			}, {
				button: true,
				type: "primary",
				classes: "btn-sm",
				text: "Primary sm",
				disabled: false
			},			{
				button: false,
				type: "link",
				classes: "",
				text: "Link text",
				disabled: false
			},			{
				button: false,
				type: "link",
				classes: "btn-sm",
				text: "Link small text",
				disabled: false
			}
		] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in btnsSize %}
			{{btns(bt)}}
		{% endfor %}
	</div>
	<!-- Icon buttons -->
	<h4 class="mt-4">Icon buttons</h4>
	<div class="d-flex gap-2 flex-wrap align-items-start">
		{% set buttonsIcData = [
			{
				button: true,
				type: "primary",
				classes: "ico ic-plus",
				disabled: false
			}, {
				button: true,
				type: "secondary",
				classes: "ico ic-plus",
				disabled: false
			},{
				button: true,
				type: "primary",
				classes: "btn-sm ico ic-plus",
				disabled: false
			}, {
				button: true,
				type: "secondary",
				classes: "btn-sm ico ic-plus",
				disabled: false
			},{
				button: false,
				type: "info",
				classes: "ico ic-message-circle ms-auto position-relative",
				disabled: false,
				counter:"+10"
			}
		] %}
		{% from "html/includes/btns/_btn.njk" import btns %}
		{% for bt in buttonsIcData %}
			{{btns(bt)}}
		{% endfor %}
	</div>
	<!-- Button-close -->
	<h4 class="mt-4">Button-close</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn-close ic-cloze" aria-label="Close"></button>
		<button type="button" class="btn-close ic-cloze" disabled aria-label="Close"></button>
	</div>
	<!-- Button-close small-->
	<h4 class="mt-4">Button-close small</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn-close  ic-cloze" aria-label="Close"></button>
		<button type="button" class="btn-close  ic-cloze" disabled aria-label="Close"></button>
	</div>
	<!-- Button-icon -->
	<h4 class="mt-4">Button-icon</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="qela-btn-ic ic-search"></button>
		<button type="button" class="qela-btn-ic ic-search" disabled></button>
	</div>
	<!-- Buttons group-->
	<h4 class="mt-4">Buttons group</h4>
	<div>
		<div class="btn-group qela-btn-group" role="group" aria-label="Basic example">
			<button type="button" class="btn btn-info ico ic-plus"></button>
			<button type="button" class="btn btn-info ico ic-plus"></button>
			<button type="button" class="btn btn-info ico ic-plus"></button>
			<button type="button" class="btn btn-info ico ic-plus"></button>
			<button type="button" class="btn btn-info danger ico ic-plus"></button>
		</div>
	</div>
	<div>
		<div class="btn-group-vertical" role="group" aria-label="Vertical button group">
			<button type="button" class="btn btn-outline-info py-0 ico ic-triangle-small"></button>
			<button type="button" class="btn btn-outline-info py-0 ico ic-triangle-inverted-small"></button>
		</div>
	</div>
	<!-- Map buttons  -->
	<h4 class="mt-4">Map buttons</h4>
	<div>
		<div class="btn-group-vertical qela-btn-map position-static" role="group" aria-label="Vertical button group">
			<button type="button" class="btn border-0 ico ic-plus" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="qela-tooltip-black" data-bs-title="Zoom Out"></button>
			<button type="button" class="btn border-0 ico ic-minus" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="qela-tooltip-black" data-bs-title="Zoom In"></button>
			<button type="button" class="btn border-0 ico ic-arrow-autofit-content" data-bs-toggle="tooltip" data-bs-placement="left" data-bs-custom-class="qela-tooltip-black" data-bs-title="Fit to all poins"></button>
		</div>
	</div>
	<!-- Slide buttons  -->
	<h4 class="mt-4">Slide buttons</h4>
	<div>
		<div class="btn-group qela-btn-slide" role="group">
			<button type="button" class="btn ico ic-chevron-left" disabled></button>
			<button type="button" class="btn ico ic-chevron-right"></button>
		</div>
	</div>
	<!-- Buttons custom  -->
	<h4 class="mt-4">Buttons appstor, googleplay</h4>
	<div class="d-flex gap-2 flex-wrap">
		<button type="button" class="btn btn-apple"><img src="/img/appstore.svg" alt=""></button>
		<button type="button" class="btn btn-google"><img src="/img/googleplay.svg" alt="">
		</button>
	</div>
</section>