<section class="d-grid gap-3">
	<!-- Chat -->
	<h2 class="h1 mt-4">Chat</h2>
	<h4>User status</h4>
	<!-- User status -->
	<div class="d-flex gap-2">
		<span class="text-danger-600 display-7">Failed</span>
		<span class="text-info-800 display-7">Admin</span>
		<span class="text-success-800 display-7">Passed</span>
		<span class="qela-text-blue-600 display-7">Not taken</span>
		<span class="text-warning-600 display-7">In progress</span>
	</div>
	<!-- Like/Dislike counter -->
	<h4>Like/Dislike counter</h4>
	<div>
		<div class="qela-chat-like">
			<button type="button" class="btn current">
				<i class="ic-like"></i>
				<i class="ic-like-filled"></i>
				<span>90</span>
			</button>
			<button type="button" class="btn ">
				<i class="ic-dislike"></i>
				<i class="ic-dislike-filled"></i>
				<span>90</span>
			</button>
		</div>
	</div>
	<!-- Messages  reply-->
	<h4>Messages reply</h4>
	<div class="qela-chat-reply">
		<div class="qela-chat-top">
			<span class="fw-semibold">Green Forest</span>
		</div>
		<div class="qela-clamp" style="--clamp-line: 1">I also have a question if I can take the quest again? I also have a question if I can take the quest again?I also have a question if I can take the quest again?</div>
	</div>
	<!-- ======  Messages  reply- with button close -->
	<div class="d-flex align-items-center gap-3">
		<div class="qela-chat-reply">
			<div class="qela-chat-top">
				<span class="fw-semibold">Green Forest</span>
			</div>
			<div class="qela-clamp" style="--clamp-line: 1">I also have a question if I can take the quest again? I also have a question if I can take the quest again?I also have a question if I can take the quest again?</div>
		</div>
		<button type="button" class="btn p-0 border-0 text-secondary-700 ic-cloze"></button>
	</div>
	<!-- Chat Sections -->
	<h4>Chat Sections</h4>
	<div class="qela-chat h-auto">
		<div class="qela-chat-mess my-mess">
			<div>I just have a question about this quest. When should I send you the screenshot? I just have a question about this quest. When should I send you the screenshot?</div>
			<div class="d-flex align-items-center gap-2">
				<span class="qela-chat-time">13:13</span>
			</div>
		</div>
		<div class="qela-chat-mess my-mess">
			<div>Hello!</div>
			<div class="d-flex align-items-center gap-2">
				<span class="qela-chat-time">13:13</span>
			</div>
		</div>
		<div class="qela-chat-mess reported">
			<div> I also have a question if I can take the quest again? I also have a question ifI also have a question if I can take the quest again? I also have a question if </div>
			<div class="d-flex align-items-center gap-2">
				<span class="qela-chat-time">13:13</span>
			</div>
			<button type="button" class="qela-btn-ic ic-report p-1 text-danger-600" data-bs-toggle="modal" data-bs-target="#modalReporedtMess"></button>
		</div>
		<div class="qela-chat-mess">
			<div>I also have a question if I can take the quest again? I also have a question if </div>
			<div class="d-flex align-items-center gap-2">
				<span class="qela-chat-time">13:13</span>
			</div>
			<div class="qela-avatar qela-ibg fs-6" style="--img-size: 30px;"><small><small>MT</small></small></div>
		</div>
	</div>
	<!-- Chat Input text -->
	<h4>Chat Input text</h4>
	<div class="qela-chat-input qela-scroll-custom">
		<button type="button" class="btn ic-send"></button>
		<textarea type="message" rows="1" class="form-control" data-max-height="5" placeholder="Type here"></textarea>
	</div>
	<!-- Pinned message -->
	<h4>Pinned message</h4>
	<div class="qela-pinned-mess">
		<div class="d-grid gap-2px">
			<div class="text-secondary-700">Pinned message</div>
			<small class="qela-clamp" style="--clamp-line: 1">Hello could you help me to take this quest successfully Hello could you help me to take this quest successfully I just have a question. Hello could you help me to take this quest successfully I just have a question</small>
		</div>
	</div>
	<div class="qela-pinned-mess">
		<div class="d-grid gap-2px">
			<div class="text-secondary-700">Pinned message</div>
			<small class="qela-clamp" style="--clamp-line: 1">Hello could you help me to take this quest successfully Hello could you help me to take this quest successfully I just have a question. Hello could you help me to take this quest successfully I just have a question</small>
		</div>
		<button type="button" class="p-0 border-0 text-secondary-700 bg-transparent ic-cloze"></button>
	</div>
	<!-- Report a message -->
	<h4>Report a message</h4>
	<div class="qela-report-mess">
		<div class="overflow-hidden h-100">
			<div>
				<div class="text-danger-600 fw-semibold mb-2px">Reported message #1</div>
				<div class="qela-clamp display-7">Check out thisCheck out thisCheck out thisCheck out this link! Im naked there!Check out this link! Im naked there!Check out this link! Im naked there!Check out this link! Im naked there!</div>
			</div>
			<div>
				<div class="text-danger-600 fw-semibold mb-2px">Reported message #2</div>
				<div class="qela-clamp display-7">Check out thisCheck out thisCheck out thisCheck out this link! Im naked there!Check out this link! Im naked there!Check out this link! Im naked there!Check out this link! Im naked there!</div>
			</div>
			<div>
				<div class="text-danger-600 fw-semibold mb-2px">Reported message #3</div>
				<div class="qela-clamp display-7">out thisCheck out this link! Im naked there!Check out this link! Im naked there!Check out this link! Im naked there!Check out this link! Im naked there!</div>
			</div>
			<div>
				<div class="text-danger-600 fw-semibold mb-2px">Reported message #4</div>
				<div class="qela-clamp display-7">out thisCheck out this link! Im naked there!Check out this link! Im naked there!Check out this link! Im naked there!Check out this link! Im naked there!</div>
			</div>
			<div>
				<div class="text-danger-600 fw-semibold mb-2px">Reported message #5</div>
				<div class="qela-clamp display-7">out thisCheck out this link! Im naked there!Check out this link! Im naked there!Check out this link! Im naked there!Check out this link! Im naked there!</div>
			</div>
			<div class="indicator">
				<span></span>
				<span class="active"></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
		<div class="d-flex align-items-center">
			<button type="button" class="qela-btn-ic text-info-800 ic-chevron"></button>
			<button type="button" class="qela-btn-ic text-info-800 ic-chevron-up" disabled></button>
			<span class="text-danger-600 fs-6 px-2">2</span>
			<i class="ic-report text-danger-600"></i>
		</div>
	</div>
	<!--  Report popup-->
	<h4>Report popup</h4>
	<div>
		<button type="button" class="qela-btn-ic ic-report p-1 text-danger-600" data-bs-toggle="modal" data-bs-target="#modalReporedtMess"></button>
		<div class="modal fade" id="modalReporedtMess" tabindex="-1" aria-labelledby="modalReporedtMessLabel" aria-hidden="true">
			<div class="modal-dialog modal-md modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header border-0">
						<h2 class="h6" id="modalReporedtMessLabel">Reported</h2>
						<button type="button" class="qela-btn-ic text-black ic-cloze" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body d-grid gap-3 pt-0">
						<div class="d-grid gap-2">
							<span class="display-7 text-info-600">What is wrong with this message.</span>
							<div class="p-12px bg-info-100 rounded">Violence</div>
						</div>
						<div class="d-grid gap-2">
							<span class="display-7 text-info-600">Reported by</span>
							<div class="d-flex align-items-center gap-2">
								<small class="qela-clamp">Green Forest, John McBoris, Mike Literus, Ligma Balls, Mike</small>
								<span class="badge bg-info-100 text-info-700">+25</span>
							</div>
						</div>
						<div class="d-grid gap-2">
							<span class="display-7 text-info-600">Last reported</span>
							<small class="qela-clamp">07/03/2025</small>
						</div>
						<div class="d-grid gap-2">
							<span class="display-7 text-info-600">What to do?</span>
						</div>
					</div>
					<div class="modal-footer justify-content-between pt-0 gap-1 border-0">
						<button type="button" class="btn btn-warning m-0 ic-delete ico-right"> Delete </button>
						<button type="button" class="btn btn-danger m-0 ic-report ico-right">Ban user</button>
						<button type="button" class="btn btn-success m-0 ic-success-2 ico-right" data-bs-dismiss="modal">Dismiss</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- no messages-->
	<h4>No messages</h4>
	<div class="qela-chat-info">
		<i class="ic-message-circle"></i>
		<span>No messages</span>
	</div>
</section>