<!-- FIX Delimiter  -->
<section class="d-grid gap-3">
  <h2 class="h1 mt-4">Delimiter</h2>
  <!-- FIX Delimiter sx -->
  <h4 class="mt-4">Delimiter large</h4>
  <div class="qela-delimiter qela-delimiter-lg">
    <hr />
    <span class="badge bg-white text-info-900 large-xl px-2">or</span>
  </div>
  <h4 class="mt-4">Delimiter middle</h4>
  <div class="qela-delimiter qela-delimiter-md">
    <hr />
    <span class="badge bg-white text-info-900 large-xl px-2">or</span>
  </div>
  <h4 class="mt-4">Delimiter small</h4>
  <div class="qela-delimiter qela-delimiter-sm">
    <hr />
    <span class="badge bg-white text-info-900 large-xl px-2">or</span>
  </div>
  <h4 class="mt-4">Delimiter small x</h4>
  <div class="qela-delimiter qela-delimiter-smx">
    <hr />
    <span class="badge bg-white text-info-900 large-xl px-2 py-1">or</span>
  </div>
</section>
