<!-- FIX Icon svg -->
<section class="d-grid gap-3">
    <h2 class="h1 mt-4">Icon-svg</h2>
    <div class="d-inline-flex gap-2 flex-wrap">
        <img src="img/icons/fb.svg" width="38" height="38" alt="#">
        <img src="img/icons/twitter.svg" width="38" height="38" alt="#">
        <img src="img/icons/inst.svg" width="38" height="38" alt="#">
        <img src="img/icons/link.svg" width="38" height="38" alt="#">
        <img src="img/icons/twitter-new.svg" width="38" height="38" alt="#">
    </div>
    <div class="d-inline-flex gap-2 flex-wrap">
        <img src="img/icons/fb-circle.svg" width="38" height="38" alt="#">
        <img src="img/icons/twitter-circle.svg" width="38" height="38" alt="#">
        <img src="img/icons/inst-circle.svg" width="38" height="38" alt="#">
        <img src="img/icons/link-circle.svg" width="38" height="38" alt="#">
        <img src="img/icons/twitter-new-circle.svg" width="38" height="38" alt="#">
    </div>
</section>