<!-- FIX Img-preview  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Img-preview</h2>
	<h4>Small</h4>
	<div class="d-flex gap-2">
		<div class="qela-previews qela-ibg qela-sm">
			<img src="img/table-img-1.jpg" alt="" />
		</div>
		<div class="qela-previews ic-text-doc qela-sm"></div>
		<div class="qela-previews qela-sm">2</div>
	</div>
	<h4>Default</h4>
	<div class="d-flex gap-2">
		<div class="qela-previews qela-ibg">
			<img src="img/table-img-1.jpg" alt="" />
		</div>
		<div class="qela-previews ic-text-doc"></div>
		<div class="qela-previews">2</div>
	</div>
</section>