<!-- FIX Range  -->
<section class="d-grid gap-3">
    <h2 class="h1 mt-4">Range</h2>
    <div>
        <label for="Range1" class="form-label">Example range</label>
        <input type="range" class="form-range" value="90" min="0" max="100" id="Range1">
    </div>
    <div>
        <label for="Range1" class="form-label">Example range</label>
        <input type="range" class="form-range" value="50" min="0" max="100" id="Range1" disabled>
    </div>
</section>