<!-- FIX Rating  -->
<section class="d-grid gap-3">
  <h2 class="h1 mt-4">Rating*</h2>
  <div class="qela-rating">
    <div>
      <img src="img/rating/rating1.svg" width="50" height="50" alt="" />
      <div>Not satisfied</div>
    </div>
    <div>
      <img src="img/rating/rating2.svg" width="50" height="50" alt="" />
      <div>Somewhat dissatisfied</div>
    </div>
    <div>
      <img src="img/rating/rating3.svg" width="50" height="50" alt="" />
      <div>Neutral</div>
    </div>
    <div>
      <img src="img/rating/rating4.svg" width="50" height="50" alt="" />
      <div>Satisfied</div>
    </div>
    <div>
      <img src="img/rating/rating5.svg" width="50" height="50" alt="" />
      <div>Extremely happy</div>
    </div>
  </div>
</section>
