<!-- Subscription  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Subscription</h2>
	<div class="row g-5 py-4 px-3 ">
		<!-- card -->
		<div class="col-4">
			<div class="qela-subscription current">
				<div class="card">
					<div>
						<div class="fw-bold text-secondary-700">Free</div>
						<span class="badge bg-secondary py-1 px-2 rounded-5 fw-bolder">Up to 100 users</span>
					</div>
					<div class="align-self-center px-3">
						<span class="fw-semibold"></span>
						<span class="h1">$0</span>
					</div>
					<div class="py-5 px-4 text-info-900 fw-semibold">Your community focus only on your agenda</div>
					<div class="fw-bold text-secondary-700 d-flex justify-content-center align-items-center gap-2 py-3">
						<i class="ic-checkmark-starburst-filled"></i>Free
					</div>
					<div class="px-3 py-2">
						<a href="#" class="display-6 text-decoration-none">Learn more</a>
					</div>
				</div>
				<div class="card">
					<div class="border-bottom py-4">
						<div class="fw-bold text-secondary-700">Free</div>
						<small class="text-info-600">Available from 0 users</small>
					</div>
					<div class="px-3 pb-1 flex-grow-1">
						<div class="d-flex display-7 justify-content-between border-bottom py-3">
							<div>Users</div>
							<div>56</div>
						</div>
						<div class="d-flex display-7 justify-content-between border-bottom py-2">
							<div class="text-start">
								<div>Available user plan</div>
								<div class="text-info-600 mt-1">$144/mo x 12 month</div>
							</div>
							<div>0 - 100</div>
						</div>
						<div class="d-flex display-7 justify-content-between py-3">
							<div class="fw-bold">Total</div>
							<div>$0</div>
						</div>
					</div>
					<div class="px-3 pb-3 d-flex gap-2 justify-content-center">
						<button type="button" class="btn btn-sm btn-info ico ic-undo"></button>
						<a href="#" class="btn btn-primary btn-sm flex-grow-1">Subscribe</a>
					</div>
				</div>
			</div>
		</div>
		<!-- card -->
		<div class="col-4">
			<div class="qela-subscription active">
				<div class="card">
					<div>
						<div class="fw-bold text-secondary-700">Standard</div>
					</div>
					<div class="align-self-center position-relative px-3">
						<span class="fw-semibold">from </span>
						<span class="h1">$160/mo</span>
						<span class="text-info-600 display-7 position-absolute top-100 end-0 ">for 100 users</span>
					</div>
					<div class="py-5 px-4 text-info-900 fw-semibold">Your community focus only on your agenda</div>
					<div class="px-3 py-2">
						<a href="#" class="btn btn-primary w-100">Subscribe</a>
					</div>
				</div>
				<div class="card">
					<div class="border-bottom py-4">
						<div class="fw-bold text-secondary-700">Standard</div>
						<small class="text-info-600">Available from 101 users</small>
					</div>
					<div class="px-3 pb-1 flex-grow-1">
						<div class="d-flex display-7 justify-content-between border-bottom py-3">
							<div>Users</div>
							<div>998</div>
						</div>
						<div class="d-flex display-7 justify-content-between border-bottom py-3">
							<div>Available user plan</div>
							<div>501 - 1000</div>
						</div>
						<div class="d-flex display-7 justify-content-between border-bottom py-2">
							<div class="text-start">
								<div>Plan price</div>
								<div class="text-info-600 mt-1">$144/mo x 12 month</div>
							</div>
							<div>$1728/yr</div>
						</div>
						<div class="d-flex display-7 justify-content-between border-bottom py-2">
							<div class="text-start">
								<div>Organization balance</div>
								<div class="text-info-600 mt-1">$144/mo x 12 month</div>
							</div>
							<div>Will be applied</div>
						</div>
						<div class="d-flex display-7 justify-content-between py-3">
							<div class="fw-bold">Total</div>
							<div>$0</div>
						</div>
					</div>
					<div class="px-3 pb-3 d-flex gap-2 justify-content-center">
						<button type="button" class="btn btn-sm btn-info ico ic-undo"></button>
						<a href="#" class="btn btn-primary btn-sm flex-grow-1">Subscribe</a>
					</div>
				</div>
			</div>
		</div>
		<!-- card -->
		<div class="col-4">
			<div class="qela-subscription">
				<div class="card">
					<div>
						<div class="fw-bold text-secondary-700">Premium</div>
						<span class="badge bg-primary text-primary-900 py-1 px-2 rounded-5 fw-bolder">No Ads</span>
					</div>
					<div class="align-self-center position-relative px-3">
						<span class="fw-semibold">from </span>
						<span class="h1">$480/mo</span>
						<span class="text-info-600 display-7 position-absolute top-100 end-0 ">for 100 users</span>
					</div>
					<div class="py-5 px-4 text-info-900 fw-semibold">Your community focus only on your agenda</div>
					<div class="px-3 py-2">
						<a href="#" class="btn btn-primary w-100">Subscribe</a>
					</div>
				</div>
				<div class="card">
					<div class="border-bottom py-4">
						<div class="fw-bold text-secondary-700">Free</div>
						<small class="text-info-600">Available from 0 users</small>
					</div>
					<div class="px-3 pb-1 flex-grow-1">
						<div class="d-flex display-7 justify-content-between border-bottom py-3">
							<div>Users</div>
							<div>56</div>
						</div>
						<div class="d-flex display-7 justify-content-between border-bottom py-2">
							<div class="text-start">
								<div>Available user plan</div>
								<div class="text-info-600 mt-1">$144/mo x 12 month</div>
							</div>
							<div>0 - 100</div>
						</div>
						<div class="d-flex display-7 justify-content-between py-3">
							<div class="fw-bold">Total</div>
							<div>$0</div>
						</div>
					</div>
					<div class="px-3 pb-3 d-flex gap-2 justify-content-center">
						<button type="button" class="btn btn-sm btn-info ico ic-undo"></button>
						<a href="#" class="btn btn-primary btn-sm flex-grow-1">Subscribe</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>