{% from "html/includes/tollip/_tooltip.njk" import tooltip %}
{% import "html/data/_tooltipData.njk" as data %}
<!-- Tooltip  -->
<section class="d-grid gap-3">
	<h2 class="h1 mt-4">Tooltip</h2>
	<div>
		{% for item in data.tooltipsComponent %}
			{{tooltip(item)}}
		{% endfor %}
	</div>
	{% for item in data.tooltipsComponent %}
		<div class="qela-form-labels">
			<div>
				<span class="form-label">Tooltip Label</span>
				{{tooltip(item)}}
			</div>
		</div>
	{% endfor %}
	<!-- Tooltip admin -->
	<h2 class="mt-4">Tooltip admin</h2>
	<div class="d-flex gap-1">
		{% for item in data.tooltipsAdminComponent %}
			{{tooltip(item)}}
		{% endfor %}
	</div>
	<!-- Tooltip admin -->
	<h2 class="mt-4">Tooltip admin small</h2>
	<div class="d-flex gap-1">
		{% for item in data.tooltipsAdminComponentSm %}
			{{tooltip(item)}}
		{% endfor %}
	</div>
	<!-- Tooltip text -->
	<h2 class="mt-4">Tooltip text</h2>
	<div class="d-flex gap-1">
		{{tooltip(data.tooltipTextComponent)}}
	</div>
</section>