<!-- FIX Under  -->
<section class="d-grid gap-3">
  <h2 class="h1 mt-4">Under</h2>
  <div class="qela-under">
    <img src="img/icons/special-ic.svg" alt="" />
    <h2 class="h4">Under Construction!</h2>
    <p>
      <small
        >Sorry for the inconvenience but we're performing some maintenance at
        the moment</small
      >
    </p>
    <button type="button" class="btn btn-secondary">Go back</button>
  </div>
  <div class="qela-under small">
    <img src="img/icons/special-ic.svg" alt="" />
    <h2 class="h5">Under Construction!</h2>
    <p>
      <small
        >Sorry for the inconvenience but we're performing some maintenance at
        the moment</small
      >
    </p>
    <button type="button" class="btn btn-secondary">Go back</button>
  </div>
</section>
